* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
a,p,h1,h2,h3{
    color: #506a85;
}
.navbar-header {
    height: 42px;
    background: #f5f7fb;
    border-bottom: 1px solid #ddd;
}
.topnav {
    padding: 12px 5px;
    color: #ddd;
}

.topnav.navbar-left ul li {
    margin-right: 15px;
}

.topnav.navbar-left ul li a i.fa {
    margin-right: 5px;
}

.topnav.navbar-right ul li {
    padding: 0px 5px;
}
.main-nav {
    padding: 15px 0;
}
.main-nav ul li {
    font-size: 17px;
    text-transform: uppercase;
}