
/******************* Background ********************/

		
	html { 
		background-color:#fff;
	}
	
	

/********************** Fonts **********************/

 	body, button, input[type="submit"], input[type="reset"], input[type="button"],
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: normal;
	}
	
	#menu > ul > li > a {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: normal;
	}
	
	h1 {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h2 {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h3 {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h4 {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h5 {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h6 {
		font-family: Open Sans, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}


/********************** Font sizes **********************/

/* Body */

	body {
		font-size: 13px;
				line-height: 20px;		
	}
	
	#menu > ul > li > a {	
		font-size: 13px;
	}
	
/* Headings */

	h1 { 
		font-size: 43px;
				line-height: 43px;
	}
	
	h2 { 
		font-size: 40px;
				line-height: 40px;
	}
	
	h3 {
		font-size: 28px;
				line-height: 30px;
	}
	
	h4 {
		font-size: 25px;
				line-height: 29px;
	}
	
	h5 {
		font-size: 19px;
				line-height: 24px;
	}
	
	h6 {
		font-size: 15px;
				line-height: 18px;
	}
