@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.row.headerTopItem ul li{
		padding: 5px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
	.servicesItem{
		text-align: center;
	}
	.servicesItemInner img{
		padding: 10px 0;
		margin-top: 0;
		margin-left: 0;
	}
	.servicesItemInner{
		padding: 0px;
	}
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
	.servicesItem{
		text-align: center;
	}
	.servicesItemInner img{
		padding: 10px 0;
		margin-top: 0;
		margin-left: 0;
	}
	.servicesItemInner{
		padding: 0px;
	}
	.d-table-cell h1 {
    font-size: 40pt;
	}
	.col-lg-7.HistoryInnerText{
		margin-top: 40px;
	}
	.col-lg-7.footerMaps::after{
		width: 360px;
		top: 86%;
    	left: 36%;
	}
}
@media only screen and (min-width: 345px) and (max-width: 576px) {
	.d-table-cell h1 {
    font-weight: bold;
    font-size: 35pt;
	}


	.col-lg-7.footerMaps::after {
	    width: 245px;
	    height: 45px;
	    top: 90%;
	    left: 36%;
	    padding-left: 15px;
	    font-size: 11px;
	    padding-top: 15px;

	}
	.manuArea:before{
		opacity: 1;
	}
	.noteAreaImg{
		    min-height: 275px;
    margin-top: 15px;
	}
	.videoPlayButton{
		    top: 80%;
    left: 80%;
    border: 1px solid #fff;
    padding: 0px 5px;
    font-size: 23px;
	}
	.servicesItem{
		text-align: center;
	}
	.servicesItemInner img{
		padding: 10px 0;
		margin-top: 0;
		margin-left: 0;
	}
	.servicesItemInner{
		padding: 0px;
	}
	ul.callToActionItem li img{
		width: 75px;
	}
	.col-lg-12.callToActionImg{
		margin-bottom: 25px;
	}
}