
/********************** Backgrounds **********************/
	
	.the_content, .content-padding {
		background: #ffffff;
	}
	
	.Latest_posts {
		background: #ffffff;
	}
	
	.testimonial {
		background: #DFE3E5;
	}

	#Footer {
		background-color: #2c3e50;			
	}
	

/********************* Colors *********************/

/* Content font */
	body {
		color: #717e8c;
	}
	
/* Links color */
	a {
		color: #2c3e50;
	}
	
	a:hover {
		color: #192938;
	}
	
/* Grey notes */
	.Latest_posts ul li .desc p, .Recent_comments ul li p.author, .wp-caption .wp-caption-text, .post .meta span.sep, .post .meta,
	.post .footer p.tags a, .Twitter ul li > a {
		color: #98a7a8;
	}
	
/* Strong */
	.Twitter ul li span, .widget_calendar caption, blockquote .author h6,
	.single-portfolio .sp-inside .sp-inside-left dd i {
		color: #2ecc71;
	}
	
/* Borders */
	.offer-page .offer-right, code, pre, .post, .post .meta, #comments .commentlist > li, #comments .commentlist > li .photo, 
	#comments .commentlist li .comment-body, .widget_calendar td, .widget_calendar th, .single-portfolio .sp-inside .sp-inside-left {
		border-color: #dfe3e5;
	}

/* Buttons */
	a.button, input[type="submit"], input[type="reset"], input[type="button"] {
		background-color: #1BB852;
		color: #ffffff;
	}
	
	a:hover.button, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
		background-color: #02AE3F;
		color: #ffffff;
	}
	
/* Headings font */
	h1, h1 a, h1 a:hover { color: #2c3e50; }
	h2, h2 a, h2 a:hover { color: #2c3e50; }
	h3, h3 a, h3 a:hover { color: #2c3e50; }
	h4, h4 a, h4 a:hover { color: #2c3e50; }
	h5, h5 a, h5 a:hover { color: #2c3e50; }
	h6, h6 a, h6 a:hover { color: #2c3e50; }
	
/* Header */

	#Header .sixteen, #Header #menu ul {
		background: #2c3e50;
	}
	
	#Header #logo {
		background: #ffffff;
	}
	
	#Top_bar .phone i {
		color: #bac4c5;
		padding: 0 10px;
	}

	#Top_bar .phone a {
		color: #34495e;
	}
	
	#Top_bar .social li a {
		background: #bac4c5;
		color: #dfe3e5 !important;
	}
	
	#Top_bar .social li a:hover {
		background: #2ecc71;
		color: #ffffff !important;
	}
	
/* Subheader */
	#Subheader .sixteen .title {
		background: #ffffff;
		color: #2c3e50;
	}
	
/* Breadcrumbs */
	ul.breadcrumbs li, ul.breadcrumbs li a {
		color: #99AEB0;
	}
	
/* Menu */
	#Header #menu > ul > li > a {
		color: #ffffff;
	}

	#Header #menu > ul > li.current-menu-item > a,
	#Header #menu > ul > li.current_page_item > a,
	#Header #menu > ul > li.current-menu-ancestor > a,
	#Header #menu > ul > li.current_page_ancestor > a {
		background: #2ecc71;
		color: #ffffff;		
	}
	
	#Header #menu > ul > li > a:hover,
	#Header #menu > ul > li.hover > a {
		background: #2ecc71 !important;
		color: #ffffff;
	}

	#Header #menu > ul > li ul {
		background: #2ecc71;
	}
		
	#Header #menu > ul > li ul li a {
		color: #ffffff;
		border-color: #39d67c;
	}
	
	#Header #menu > ul > li ul li a:hover, 
	#Header #menu > ul > li ul li.hover > a {
		background: #27BC66 !important;
		color: #ffffff !important;
	}

/* Info Box */	
	.info_box { 
		background: #2ecc71;
		color: #ffffff;
	}
	.info_box h4 {
		color: #ffffff;
	}
	
/* Captions mask */
	.wp-caption .mask, .da-thumbs li a div,
	.gallery .gallery-item {
		background-color: rgba(32, 132, 198, 0.8);
	}

/* Portfolio */
	.da-thumbs li a div {
		background-color: rgba(32, 132, 198, 0.8);
	}
	.Projects_header .categories ul li a:hover, .Projects_header .categories ul li.current-cat a {
		background: #31be63;
	}
	
/* Get in touch */
	.get_in_touch {
		background: #DFE3E5;
	}
	
/* Recent works */
	.recent_works {
		background: #2c3e50;
	}
	.recent_works .header h3 {
		color: #ffffff;
	}
	.recent_works .desc {
		color: #2abd68;
	}
	
/* Call to action */
	.call_to_action .inner-padding {
		background-color: rgba(32, 132, 198, 0.85);
	}
	.call_to_action h4 {
		color: #ffffff;
	} 
	.call_to_action h4 span {
		color: #BAEFF8;
	}
	
/* Team */
	.team h4 {
		color: #2ecc71;
	}
	
/* Our clients slider */
	.Our_clients_slider {
		background: #c9d0d2;
	}
	
/* Faq & Accordion & Tabs */
	.accordion .question h5,.faq .question h5 {
		background: #2ecc71;
		color: #ffffff;
	}
	.faq .active h5, .accordion .active h5 {
		background: #2ecc71;
		color: #ffffff;
	}
	.accordion .answer, .faq .answer {
		background: #2abd68;
		color: #ffffff;
	}
	
	.ui-tabs .ui-tabs-nav li a {
		background: #bac4c5;
		color: #2c3e50;
	}
	.ui-tabs .ui-tabs-nav li.ui-state-active a {
		background: #ffffff;
		color: #2ecc71;
	}
	.ui-tabs .ui-tabs-panel {
		background: #ffffff;
		color: #717E8C;
	}
	
/* Pricing box */
	.pricing-box {
		border-color: #2ecc71;
		background: #577899;
	}
	
	.pricing-box, .pricing-box h3,
	.pricing-box .plan-header .price sup.period {
		color: #ffffff;
	}

	.pricing-box .plan-header .price {
		color: #2ecc71;
	}
	
	.pricing-box-featured {
		background: #24609b;
	}
	
/* Pager */
	.pager a.page {
		color: #b5bfc0;
	}
	.pager a.active {
		color: #04a448;
	}

/* Posts */
	.post h3 a, .post .meta a {
		color: #2ecc71;
	}

/* widget_archive  */
	.widget_archive {
		background: #2ecc71;
	}
	.widget_archive h3,
	.widget_archive li a  {
		color: #ffffff;
	}
	.widget_archive li a:hover {
		color: #2C3E50;
	}
	
/* widget_mfn_menu, widget_categories */
	.widget_mfn_menu, .widget_categories {
		background: #2c3e50;
	}
	.widget_mfn_menu h3, .widget_categories h3,
	.widget_mfn_menu li a, .widget_categories li a {
		color: #ffffff;
	}
	.widget_mfn_menu li a i.icon-angle-right, .widget_mfn_menu li.current_page_item a, .widget_mfn_menu li a:hover, .widget_categories li a:hover, .widget_categories li.current-cat a {
		color: #2ecc71;
	}

/* Footer headers and text */
	#Footer,
	#Footer .Recent_posts ul li .desc p, #Footer .Recent_comments ul li p.author, #Footer .Twitter ul li > a  {
		color: #dfe3e5;
	}

	#Footer a { 
		color: #2ecc71;
	}

	#Footer a:hover { 
		color: #26ec7a;
	}
	
	#Footer h1, #Footer h1 a, #Footer h1 a:hover,
	#Footer h2, #Footer h2 a, #Footer h2 a:hover,
	#Footer h3, #Footer h3 a, #Footer h3 a:hover,
	#Footer h4, #Footer h4 a, #Footer h4 a:hover,
	#Footer h5, #Footer h5 a, #Footer h5 a:hover,
	#Footer h6, #Footer h6 a, #Footer h6 a:hover,
	#Footer .Twitter ul li span {
		color: #ffffff;
	}
	
	#Footer aside > h4 {
		color: #2ecc71;
	}
	
	#Footer .copyrights p {
		color: #61727b;
	}
	
	#Footer .social li a {
		background: #61727b;
		color: #2c3e50 !important;
	}
	
	#Footer .social li a:hover {
		background: #2ecc71;
		color: #ffffff !important;
	}
