/********************* Colors *********************/

/* Reply button */
	#comments .commentlist > li .reply a.comment-reply-link {
		background-color: #C5C9CB;
		color: #fff !important;
	}
		
/* Inputs */
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
		background: #F9F9F9;
		color: #8C8C8C;
		border-top: 1px solid #D3D3D3;
		border-left: 1px solid #D3D3D3;
		border-bottom: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
	}
	input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
		border: 1px solid #96CCED;
		background: #E9F5FC;
		color: #1477B4;
	}

/* Captions mask */
	.wp-caption .photo .photo_wrapper a i {
		color: #fff;
	}
	
/* Portfolio */
	.da-thumbs li a div h6 {
		color: #fff;
	}
	.Projects_header .categories ul li a {
		background: #eff1f2;
		color: #4f5e6d;
	}
	.Projects_header .categories ul li a:hover, .Projects_header .categories ul li.current-cat a {
		color: #fff;
	}
	
/* Get in touch */
	.get_in_touch ul li i {
		background: #c9d0d2;
		color: #dfe3e5;
	}
	
/* Team */
	.team .links a.link {
		background: #bac4c5;
		color: #F8F8F8 !important;
	}
	.team .links a:hover.link {
		background: #838484;
		color: #fff !important;
	}
	
/* Footer headers and text */	
	/* Borders */
	#Footer .widget_calendar td, #Footer .widget_calendar th, #Footer .widget ul.menu li a, #Footer .widget_categories li a, #Footer .widget_meta li a {
		border-color: rgba(255, 255, 255, 0.10) !important;
	}
	
	/* Get in touch */
	#Footer .get_in_touch ul li i {
		background: #384A5E;
		color: #DFE3E5;
	}


/********************** Responsive **********************/

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	#Header #menu > ul > li.current-menu-item > a,
	#Header #menu > ul > li.current_page_item > a,
	#Header #menu > ul > li.current-menu-ancestor > a,
	#Header #menu > ul > li.current_page_ancestor > a {
		background: #40526A;
	}
	
}

@media only screen and (max-width: 959px) {
	
	#Header .responsive-menu-toggle { 
		background:#eff1f2;
		color: #5b6977;
	}
	
}
		

