						/**Defult CSS**/
*{margin:0px;padding:0px}
body{
	font-family: 'Open San', sans-serif !important;
	
}
p{
	font-size:18px !important;
}
a{
	text-decoration:none !important;
	color:blue;
}
a,a:hover{
	text-decoration:none;
}
ul{
	list-style-type: none !important;
}
p{
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif !important;
	font-weight:bold !important;
	margin-bottom: 40px !important;
}
.clearfix{
	height:100px;
	width:100%;
}

							/*Default CSS END*/

.header {
    padding: 20px;
}
.search-bar{
	float:right;
}
.hero_area{
	background:url(../images/slider2.jpg) no-repeat center center;
	background-size:cover;
	background-position:center;
	min-height:647px;
	height:100%;
	width:100%;
	color:#fff !important;
}
.here_text{
	margin-top: 10%;
}
.here_text h1 {
    font-size: 60pt;
}

.here_text p {
    font-size: 18pt !important;
    line-height: 1.8;
}
.discount{
	background: url(../images/discount.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height: 255px;
    height: 100%;
    width: 100%;
}
.about_area{
	background:url(../images/about_bg.jpg) no-repeat center center;
	background-size:cover;
	background-position:left;
	min-height:647px;
	height:100%;
	width:100%;
}
.heading_style {
    text-align: center;
    padding: 15px;
    margin-bottom: 35px;
}

.heading_style h1 {
    color: #009e30;
    text-transform: uppercase;
}
.about_text h3 {color:  #e84393;}
.amazing_area{
	background:url(../images/amzing_bg.jpg) no-repeat center center;
	background-size:cover;
	background-position:right;
	min-height:647px;
	height:100%;
	width:100%;
}
.amazing_img {
    text-align: center;
    margin-bottom: 35px;
}
.row.work_list {
    text-align: center;
    margin-bottom: 100px;
}

.col-lg-3.single_icon img {
    border: 2px solid #fff;
    padding:  15px;
    margin: 10px 25px 50px 25px;
    box-shadow:  0px 0px 15px 5px #ddd;
    border-radius:  20px;
}

.col-lg-3.single_icon h5 {
    margin-bottom: 15px !important;
    color:  #e84393;
}
.service_area{
	background: url(../images/services_bg.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.row.service_list {
    text-align:  center;
    margin-bottom: 100px;
}

.row.service_list img {
    /* margin: 10px 25px 50px 25px; */
}

.col-lg-3.service_icon {
    background:  #fff;
    border-right: 5px solid #f8f8f8;
    border-left: 5px solid #F8F8F8;
    padding:  35px;
    border-radius:  12px;
    box-shadow: 0px 0px 7px 0px;
        cursor: pointer;
}

.row.service_list img {
    padding: 35px;
}

.row.service_list h5 {
    margin-bottom:  15px !important;
    color:  #E84393;
    text-transform: uppercase;
}

.col-lg-3.service_icon.service_icon_active {
    background:  #E84393;
    color:  #fff;
}

.col-lg-3.service_icon.service_icon_active h5 {
    color: #fff;
}
.no_design_area{
	background:url(../images/expert_bg.jpg) no-repeat center center;
	background-size:cover;
	background-position:right;
	height:100%;
	width:100%;
}
.no_design{
	margin-bottom: 50px;
}
.col-lg-7.no_design_text h1 {
    color: #e84393;
}
.working_area{
	background:url(../images/work_bg.jpg) no-repeat center center;
	background-size:cover;
	background-position:right;
	min-height:647px;
	height:100%;
	width:100%;
}
.row.working_prosses {
    margin: 25px 0px;
    text-align: center;
    position: relative;
}
.row.working_prosses:after {
    position:  absolute;
    top: 95px;
    left:0;
    height: 4px;
    width: 100%;
    border: 2px dotted #E84393;
    content: '';
    z-index:  -1;
}
.row.working_prosses img {
    padding: 35px;
}
.offset-lg-1.col-lg-2.single_theme {
    background: #77A905;
    border-radius: 50%;
    padding: 20px;
}
.offset-lg-1.col-lg-2.single_theme.theme_1 {
    background: #D4F585;
}

.offset-lg-1.col-lg-2.single_theme.theme_2 {
    background:  #C1E078;
}

.offset-lg-1.col-lg-2.single_theme.theme_3 {
    background: #B4DC58;
}

.offset-lg-1.col-lg-2.single_theme.theme_4 {
    background:  #77A905;
    color:  #fff;
}
.row.working_text {
    margin: 35px 0px;
}

.row.working_text h1 {
    color: #E84393;
}
.portfolio_area{
	background:url(../images/port_bg.jpg) no-repeat center center;
	background-size:cover;
	background-position:right;
	min-height:647px;
	height:100%;
	width:100%;
}
.port_item_menu ul li{
	float: left;
}
.row.port_img {
    margin-bottom: 50px;
    margin-top: 50px;
}
.port_row img {
    margin-bottom: 20px;
        cursor: pointer;
}
.blog_area{
	background:url(../images/lastblog_bg.jpg) no-repeat center center;
	background-size:cover;
	background-position:right;
	min-height:647px;
	height:100%;
	width:100%;
}
.blog_text_inner {
    background:  #fff;
    padding:  10px;
    text-align:  center;
    margin: 25px 0px;
}
.footer_area{
	background:linear-gradient(45deg, #e7e7e7, #afafaf);
}
section.footer_area h2 {
    color: #007bff;
    font-size:  25px;
    margin-top:  15px;
}
.col-lg-3.address_link ul li {
    margin-top: 10px;
}

.col-lg-3.address_link ul li a {
    color: #000;
}

.col-lg-3.address_link ul li a i.fa.fa-phone {
    color: #90D586;
}

.col-lg-3.address_link ul li a i.fa {
    margin-right:  10px;
    font-size:  20px;
}

.col-lg-3.address_link ul li a i.fa.fa-envelope-open,.fa-map-marker {
    color: #E84393;
}

.col-lg-3.address_link ul li a i.fa.fa-skype {
    color: #00AAF2;
}
.offset-lg-1.col-lg-2.usefull_link a {
    color:  #000;
}

.offset-lg-1.col-lg-2.usefull_link ul li {
    margin-bottom: 10px;
}

.usefull_link ul li a.active {
    color: #E84393 !important;
}
.offset-md-2.col-lg-4.social_link ul li {
    float:  left;
}

.offset-md-2.col-lg-4.social_link ul li a i.fa {
    font-size: 25px;
    color:  #fff;
    background:  blue;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
}

.offset-md-2.col-lg-4.social_link ul li a i.fa.fa-facebook {
    background: #3B5998;
}

.offset-md-2.col-lg-4.social_link ul li a i.fa.fa-twitter {
    background: #55ACEE;
}

.offset-md-2.col-lg-4.social_link ul li a i.fa.fa-google-plus {
    background: #DC4E41;
}


.offset-md-2.col-lg-4.social_link ul li a i.fa.fa-linkedin {
    background: #0E76A8;
}

.offset-md-2.col-lg-4.social_link ul li a i.fa.fa-skype {
    background: #00AAF2;
}

.offset-md-2.col-lg-4.social_link ul li a i.fa.fa-youtube {
    background: #CB2027;
}
.col-lg-12.copy_write {
    text-align:  center;
}

.col-lg-12.copy_write p {
    margin-bottom: 30px;
    font-size: 14px !important;
}
 /*
    Preloader
    */
    body.preloader-active {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999999;
        overflow: hidden;
    }
    .preloader {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 9999999999;
    }
    .preloader-spinner {
        background: url(../images/big_loader.gif) no-repeat center center;
        width: 100px;
        height: 100px;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
        position: absolute;
    }

#sticky.stick {
margin-top:0;
position: fixed;
top: 0;
left: 0;
z-index: 10000;
padding-left:120px;
width:100%;
}
#sticky.stick::after {
    position:  absolute;
    background:  #ddd;
    width:  100%;
    height:  100%;
    top: 0;
    left:  0;
    content:  '';
    z-index:  -1;
    opacity: 0.9;
}

/*Scroll Up Css*/
#scrollUp{
	    height: 38px;
    width: 38px;
    background: url(../images/top.png) no-repeat;
    bottom: 35px;
    right: 65px;
    text-indent: -99999px;
}						