
.animated1{
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.animated2{
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.animated3{
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.animated4{
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.animated5{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.animated6{
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.animated7{
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.animated8{
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.animated9{
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.animated10{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.animated11{
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.animated12{
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.animated13{
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.animated14{
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.animated15{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.animated16{
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.animated17{
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.animated18{
	-webkit-animation-delay: 1.8s;
	-moz-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
.animated19{
	-webkit-animation-delay: 1.9s;
	-moz-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
.animated20{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.animated21{
	-webkit-animation-delay: 2.1s;
	-moz-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
.animated22{
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
.animated23{
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
.animated24{
	-webkit-animation-delay: 2.4s;
	-moz-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
.animated25{
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.animated26{
	-webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	animation-delay: 2.6s;
}
.animated27{
	-webkit-animation-delay: 2.7s;
	-moz-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
.animated28{
	-webkit-animation-delay: 2.8s;
	-moz-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
.animated29{
	-webkit-animation-delay: 2.9s;
	-moz-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
.animated30{
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}
.animated31{
	-webkit-animation-delay: 3.1s;
	-moz-animation-delay: 3.1s;
	animation-delay: 3.1s;
}
.animated32{
	-webkit-animation-delay: 3.2s;
	-moz-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
.animated33{
	-webkit-animation-delay: 3.3s;
	-moz-animation-delay: 3.3s;
	animation-delay: 3.3s;
}
.animated34{
	-webkit-animation-delay: 3.4s;
	-moz-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
.animated35{
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.animated36{
	-webkit-animation-delay: 3.6s;
	-moz-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
.animated37{
	-webkit-animation-delay: 3.7s;
	-moz-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
.animated38{
	-webkit-animation-delay: 3.8s;
	-moz-animation-delay: 3.8s;
	animation-delay: 3.8s;
}
.animated39{
	-webkit-animation-delay: 3.9s;
	-moz-animation-delay: 3.9s;
	animation-delay: 3.9s;
}
.animated40{
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay: 4s;
}
.animated41{
	-webkit-animation-delay: 4.1s;
	-moz-animation-delay: 4.1s;
	animation-delay: 4.1s;
}
.animated42{
	-webkit-animation-delay: 4.2s;
	-moz-animation-delay: 4.2s;
	animation-delay: 4.2s;
}
.animated43{
	-webkit-animation-delay: 4.3s;
	-moz-animation-delay: 4.3s;
	animation-delay: 4.3s;
}
.animated44{
	-webkit-animation-delay: 4.4s;
	-moz-animation-delay: 4.4s;
	animation-delay: 4.4s;
}
.animated45{
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
.animated46{
	-webkit-animation-delay: 4.6s;
	-moz-animation-delay: 4.6s;
	animation-delay: 4.6s;
}
.animated47{
	-webkit-animation-delay: 4.7s;
	-moz-animation-delay: 4.7s;
	animation-delay: 4.7s;
}
.animated48{
	-webkit-animation-delay: 4.8s;
	-moz-animation-delay: 4.8s;
	animation-delay: 4.8s;
}
.animated49{
	-webkit-animation-delay: 4.9s;
	-moz-animation-delay: 4.9s;
	animation-delay: 4.9s;
}
.animated50{
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

.portfolio_nav { display:none; }
.top_bar.fixed
{
	position: fixed;
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;
	z-index: 999;
	visibility: visible !important;
	top: 0px;
}

.top_bar.fixed #menu_wrapper div .nav
{
	margin-top: 16px;
}

.top_bar.fixed #searchform
{
	margin-top: 8px;
}

.top_bar.fixed .header_cart_wrapper
{
	margin-top: 21px;
}

.top_bar.fixed #menu_wrapper div .nav > li > a
{
	padding-bottom: 24px;
}

.top_bar.fixed .logo_wrapper img
{
	max-height: 40px;
	width: auto;
}


input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input.wpcf7-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, select, textarea
{
    -webkit-box-shadow: 3px 3px 0px -1px #FFFFFF, 3px 3px 0px 0px #CCCCCC, 1px 1px 0px -1px #CCCCCC;
    box-shadow: 3px 3px 0px -1px #FFFFFF, 3px 3px 0px 0px #CCCCCC, 1px 1px 0px -1px #CCCCCC;
}
#option_btn
{
	position: fixed;
	top: 120px;
	right: -2px;
	cursor:pointer;
	z-index: 9999;
	background: #fff;
	border-right: 0;
	width: 45px;
	height: 160px;
	text-align: center;
	border-radius: 5px 0px 0px 5px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

#option_btn i
{
	font-size: 18px;
	line-height: 40px;
	color: #000;
}

#option_wrapper
{
	position: fixed;
	top: 0;
	right:-410px;
	width: 400px;
	height: 100%;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-left: 0;
	z-index: 99999;
	font-size: 13px;
	box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.1);
	overflow: auto;
}

#option_wrapper:hover
{
	overflow-y: auto;
}

#option_wrapper .button.buy
{
	width: 100%;
	box-sizing: border-box;
}

#option_wrapper select
{
	width: 100%;
	margin-top: 5px;
}

#option_wrapper .note_icon
{
	color: #ff3e36;
	margin-right: 5px;
}

strong.label, div.label
{
	font-weight: normal;
	margin-bottom: 5px;
	color: #000;
	display: block;
}

.demo_list
{
	list-style: none;
	display: block;
	margin: 30px 0 0 0;
}

.demo_list li
{
	display: block;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.demo_list li img
{
	max-width: 100%;
	height: auto;
	line-height: 0;
}

.demo_list li:hover img
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	-moz-filter: blur(2px);
}

.demo_list li:hover .demo_thumb_hover_wrapper 
{
	opacity: 1;
}

.demo_thumb_hover_wrapper 
{
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out;
	visibility: visible;
	width: 100%;
	line-height: normal;
}

.demo_thumb_hover_inner
{
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.demo_thumb_desc
{
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding: 0 10% 0 10%;
	box-sizing: border-box;
}

#option_wrapper .inner h6
{
	margin: 10px 0 0 0;
}

.demo_thumb_hover_inner h6
{
	color: #fff !important;
	line-height: 20px;
	font-size: 12px;
}

.demo_thumb_desc .button.white
{
	margin-top: 10px;
	font-size: 12px !important;
}

.demo_thumb_desc .button.white:hover
{
	background: #fff !important;
	color: #000 !important;
	border-color: #fff !important;
}

#option_wrapper .inner
{
	padding: 25px 15px 0 15px;
	box-sizing: border-box;
}

.demotip
{
	display: block;
}

@media only screen and (max-width: 768px) {
	html[data-menu=leftmenu] .mobile_menu_wrapper
	{
		right: 0;
		left: initial;
		
		-webkit-transform: translate(360px, 0px);
		-ms-transform: translate(360px, 0px);
		transform: translate(360px, 0px);
		-o-transform: translate(360px, 0px);
	}
}

a#prevslide:before, a#nextslide:before
{
	font-family: "FontAwesome";
	font-size: 18px;
	line-height: 40px;
	display: block;
	content: '\f104';
	color: #222222;
	margin-top: 0px;
	margin-left: -3px;
}
a#nextslide:before
{
	content: '\f105';
}
body.page-template-gallery a#prevslide, body.single-galleries a#prevslide
{ 
	z-index:9; cursor: pointer; display: block; position: fixed; top: 47%; padding: 0 20px 0 20px; width: initial; height: initial; 
	background: #FFFFFF;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
    box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
	
	border-radius: 250px;
	opacity: 1 !important;
	box-sizing: border-box;
	left: -80px;
}

body.page-template-gallery:hover a#prevslide, body.single-galleries:hover a#prevslide
{
	left: 20px;
}

body.page-template-gallery a#nextslide, body.single-galleries a#nextslide
{ 
	z-index:9; cursor: pointer;  display: block; position: fixed; right: -80px; top: 47%; padding: 0 20px 0 20px; width: initial; height: initial; 
	background: #FFFFFF;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
    box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
	
	border-radius: 250px;
	opacity: 1 !important;
	box-sizing: border-box;
}

body.page-template-gallery:hover a#nextslide, body.single-galleries:hover a#nextslide
{
	right: 20px;
}

body.postid-6282 .three_cols.gallery .element img, body.page-id-6352 .three_cols.gallery .element img
{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
body.postid-6282 .three_cols.gallery .element a:hover img, body.page-id-6352 .three_cols.gallery .element a:hover img
{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.mobile_main_nav li.menu-item-has-children > a:after
{
	font-size: 20px;
	line-height: 30px;
}

#sub_menu .sub-menu li a
{
	font-size: 20px;
	line-height: 2em;
}
.mobile_main_nav li a
{
	line-height: 1.2em;
}

body .mobile_menu_wrapper, html[data-menu=leftmenu] body .mobile_menu_wrapper
{
	left: 0;
}

@media only screen and (min-width: 960px)
{
	.top_bar.scroll
	{
		-webkit-transform: translateY(-100px);
	    -moz-transform: translateY(-100px);
	    -o-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	    transform: translateY(-100px);
	    opacity: 0;
	}
	.top_bar.scroll.scroll_up
	{
		-webkit-transform: translateY(00px);
	    -moz-transform: translateY(0px);
	    -o-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	    transform: translateY(0px);
	    opacity: 1;
	}
	.header_style_wrapper
	{
	    -webkit-transition: opacity 0.5s;
	    -moz-transition: opacity 0.5s;
	    transition: opacity 0.5s;
	}
	.header_style_wrapper.scroll_down
	{
		opacity: 0;
	}
	
	.header_style_wrapper.scroll_up
	{
		opacity: 1;
	}
	
	body.page-template-gallery-archive-fullscreen-php .header_style_wrapper.scroll_down, 
	body.page-template-gallery-archive-fullscreen-php .header_style_wrapper.scroll_down .top_bar.scroll, 
	body.page-template-gallery-archive-split-screen-php .header_style_wrapper.scroll_down, 
	body.page-template-gallery-archive-split-screen-php .header_style_wrapper.scroll_down .top_bar.scroll,
	body.page-template-portfolio-fullscreen-php .header_style_wrapper.scroll_down, 
	body.page-template-portfolio-fullscreen-php .header_style_wrapper.scroll_down .top_bar.scroll, 
	body.page-template-portfolio-fullscreen-split-screen-php .header_style_wrapper.scroll_down, 
	body.page-template-portfolio-fullscreen-split-screen-php .header_style_wrapper.scroll_down .top_bar.scroll
	{
		opacity: 1 !important;
	}
	
	body.page-template-gallery-archive-fullscreen-php .header_style_wrapper.scroll_down .top_bar.scroll,
	body.page-template-gallery-archive-split-screen-php .header_style_wrapper.scroll_down .top_bar.scroll,
	body.page-template-portfolio-fullscreen-php .header_style_wrapper.scroll_down .top_bar.scroll,
	body.page-template-portfolio-fullscreen-split-screen-php .header_style_wrapper.scroll_down .top_bar.scroll
	{
		-webkit-transform: translateY(00px);
	    -moz-transform: translateY(0px);
	    -o-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	    transform: translateY(0px);
	}
	
	body.page-template-gallery-archive-fullscreen-php .header_style_wrapper.nofixed,
	body.page-template-gallery-archive-split-screen-php .header_style_wrapper.nofixed,
	body.page-template-portfolio-fullscreen-php .header_style_wrapper.nofixed,
	body.page-template-portfolio-fullscreen-split-screen-php .header_style_wrapper.nofixed
	{
		display: block;
	}
}

@media only screen and (min-width: 960px)
{
	#logo_normal.logo_container
	{
		margin-left: -23px;
	}
	#logo_transparent.logo_container
	{
		margin-left: -23px;
	}
}



#pp_custom_css
{
 color: #000; 
}
.parallax
{
 z-index: 1; 
}

#add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before
{
       border: 1em solid #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
#pp_custom_cssf
{
 color: #000; 
}}

@media only screen and (max-width: 767px) {
#pp_custom_cssr
{
 color: #000; 
}}

@media only screen and (min-width: 480px) and (max-width: 767px) {
#pp_custom_cssh
{
 color: #000; 
}}
