.eg-tm-projects-01-element-3 {
font-size: 18px;
line-height: 25px;
color: #ffffff;
font-weight: 700;
padding: 25px 25px 23px 25px;
border-radius: 0px 0px 0px 0px;
background-color: rgba(198, 148, 83, 1.00);
z-index: 2 !important;
display: block
}

.eg-tm-projects-01-element-0 {
font-size: 20px !important;
line-height: 20px !important;
color: #ffffff !important;
font-weight: 400 !important;
padding: 17px 17px 17px 17px !important;
border-radius: 60px 60px 60px 60px !important;
background-color: rgba(255, 255, 255, 0) !important;
z-index: 2 !important;
display: block;
border-top-width: 0px !important;
border-right-width: 0px !important;
border-bottom-width: 0px !important;
border-left-width: 0px !important;
border-color: #ffffff !important;
border-style: solid !important
}


.eg-tm-projects-01-element-3:hover {
font-size: 18px;
line-height: 25px;
color: #fff;
font-weight: 700;
border-radius: 0px 0px 0px 0px;
background-color: #f7c51e
}

.eg-tm-projects-01-element-0:hover {
font-size: 20px !important;
line-height: 20px !important;
color: #ffffff !important;
font-weight: 400 !important;
border-radius: 60px 60px 60px 60px !important;
border-top-width: 0px !important;
border-right-width: 0px !important;
border-bottom-width: 0px !important;
border-left-width: 0px !important;
border-color: #ffffff !important;
border-style: solid !important
}


.eg-tm-projects-01-element-3-a {
display: block;
text-align: left;
clear: both;
margin: 0px 0px 0px 0px;
position: relative
}


.eg-tm-projects-01-element-0-a {
display: inline-block !important;
float: none !important;
clear: none !important;
margin: 0px 0px 0px 0px !important;
position: relative !important
}


.eg-tm-projects-01-container {
background-color: rgba(0, 0, 0, 0.65)
}


.eg-tm-projects-01-content {
background-color: #ffffff;
padding: 0px 0px 0px 0px;
border-width: 0px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
border-color: transparent;
border-style: double;
text-align: left
}


.esg-grid .mainul li.eg-tm-projects-01-wrapper {
background-color: #c69453;
padding: 0px 0px 0px 0px;
border-width: 0px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
border-color: transparent;
border-style: none
}



.tm-skin .navigationbuttons,
.tm-skin .esg-pagination,
.tm-skin .esg-filters {
    text-transform: uppercase;
    text-align: center
}

.tm-skin .esg-filterbutton:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: transparent transparent transparent transparent
}

.tm-skin .esg-filterbutton,
.tm-skin .esg-navigationbutton,
.tm-skin .esg-sortbutton,
.tm-skin .esg-cartbutton {
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    text-transform: uppercase;
    border: 2px solid #fff
}

.tm-skin .esg-navigationbutton {
    padding: 2px 12px
}

.tm-skin .esg-navigationbutton * {
    color: #000
}

.tm-skin .esg-pagination-button:last-child {
    margin-right: 0
}

.tm-skin .esg-sortbutton-wrapper,
.tm-skin .esg-cartbutton-wrapper {
    display: inline-block
}

.tm-skin .esg-sortbutton-order,
.tm-skin .esg-cartbutton-order {
    display: inline-block;
    vertical-align: top;
    border: none;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    background: #fff;
    margin-left: 5px
}

.tm-skin .esg-cartbutton {
    color: #fff;
    cursor: default !important
}

.tm-skin .esg-cartbutton .esgicon-basket {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px
}

.tm-skin .esg-cartbutton-wrapper {
    cursor: default !important
}

.tm-skin .esg-sortbutton,
.tm-skin .esg-cartbutton {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.tm-skin .esg-navigationbutton:hover,
.tm-skin .esg-filterbutton:hover,
.tm-skin .esg-sortbutton:hover,
.tm-skin .esg-sortbutton-order:hover,
.tm-skin .esg-cartbutton-order:hover,
.tm-skin .esg-filterbutton.selected {
    background: #f7c51e;
    border-color: #f7c51e;
}

.tm-skin .esg-navigationbutton:hover * {
    color: #fff
}

.tm-skin .esg-sortbutton-order.tp-desc:hover {
    color: #fff
}

.tm-skin .esg-filter-checked {
    padding: 1px 3px;
    color: #cbcbcb;
    background: #cbcbcb;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle;
    display: none
}

.tm-skin .esg-filterbutton.selected .esg-filter-checked,
.tm-skin .esg-filterbutton:hover .esg-filter-checked {
    padding: 1px 3px 1px 3px;
    color: #fff;
    background: #000;
    margin-left: 7px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    vertical-align: middle
}


.eg-tm-projects-01-element-3 {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    padding: 25px 25px 23px 25px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(179, 138, 0);
    z-index: 2 !important;
    display: block
}

.eg-tm-projects-01-element-0 {
    font-size: 20px !important;
    line-height: 20px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    padding: 17px 17px 17px 17px !important;
    border-radius: 60px 60px 60px 60px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    z-index: 2 !important;
    display: block;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-color: #ffffff !important;
    border-style: solid !important
}


.eg-tm-projects-01-element-3:hover {
    font-size: 18px;
    line-height: 25px;
    color: #3e3024;
    font-weight: 700;
    border-radius: 0px 0px 0px 0px;
}

.eg-tm-projects-01-element-0:hover {
    font-size: 20px !important;
    line-height: 20px !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    border-radius: 60px 60px 60px 60px !important;
    background-color: rgba(0, 0, 0, 0.50) !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-color: #ffffff !important;
    border-style: solid !important
}


.eg-tm-projects-01-element-3-a {
    display: block;
    text-align: left;
    clear: both;
    margin: 0px 0px 0px 0px;
    position: relative
}


.eg-tm-projects-01-element-0-a {
    display: inline-block !important;
    float: none !important;
    clear: none !important;
    margin: 0px 0px 0px 0px !important;
    position: relative !important
}


.eg-tm-projects-01-container {
    background-color: rgba(0, 0, 0, 0.65)
}


.eg-tm-projects-01-content {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: transparent;
    border-style: double;
    text-align: left
}


.esg-grid .mainul li.eg-tm-projects-01-wrapper {
    background-color: #c69453;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: transparent;
    border-style: none
}
