@font-face {
    font-family: 'icons';
    src: url('icons4507.eot?mu4ixt');
    src: url('iconsd41d.eot?#iefixmu4ixt') format('embedded-opentype'), 
    	 url('icons4507.woff?mu4ixt') format('woff'), 
    	 url('icons4507.ttf?mu4ixt') format('truetype'), 
    	 url('icons4507.svg?mu4ixt#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icons-"],
[class*=" icons-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icons-number:before {
    content: "\e600";
}

.icons-number2:before {
    content: "\e601";
}

.icons-number3:before {
    content: "\e602";
}

.icons-number4:before {
    content: "\e603";
}

.icons-number5:before {
    content: "\e604";
}

.icons-number6:before {
    content: "\e605";
}

.icons-number7:before {
    content: "\e606";
}

.icons-number8:before {
    content: "\e607";
}

.icons-number9:before {
    content: "\e608";
}

.icons-number10:before {
    content: "\e609";
}

.icons-number11:before {
    content: "\e60a";
}

.icons-number12:before {
    content: "\e60b";
}

.icons-calendar:before {
    content: "\e60c";
}

.icons-calendar2:before {
    content: "\e60d";
}

.icons-cogs:before {
    content: "\e60e";
}

.icons-pictures:before {
    content: "\e60f";
}

.icons-pictures2:before {
    content: "\e610";
}

.icons-chronometer:before {
    content: "\e611";
}

.icons-chart:before {
    content: "\e612";
}

.icons-phone:before {
    content: "\e613";
}

.icons-tie:before {
    content: "\e614";
}

.icons-key:before {
    content: "\e615";
}

.icons-lamp:before {
    content: "\e616";
}

.icons-bomb:before {
    content: "\e617";
}

.icons-archive:before {
    content: "\e618";
}

.icons-megaphone:before {
    content: "\e619";
}

.icons-pil:before {
    content: "\e61a";
}

.icons-lamp2:before {
    content: "\e61b";
}

.icons-moneybag:before {
    content: "\e61c";
}

.icons-tools:before {
    content: "\e61d";
}

.icons-paint:before {
    content: "\e61e";
}

.icons-brush:before {
    content: "\e61f";
}

.icons-pen:before {
    content: "\e620";
}

.icons-comments:before {
    content: "\e621";
}

.icons-equalizer:before {
    content: "\e622";
}

.icons-attachment:before {
    content: "\e623";
}

.icons-pencil:before {
    content: "\e624";
}

.icons-pen2:before {
    content: "\e625";
}

.icons-scissors:before {
    content: "\e626";
}

.icons-dollar:before {
    content: "\e627";
}

.icons-dollar2:before {
    content: "\e628";
}

.icons-envelope:before {
    content: "\e629";
}

.icons-heart:before {
    content: "\e62a";
}

.icons-bike:before {
    content: "\e62b";
}

.icons-paperplane:before {
    content: "\e62c";
}

.icons-cone:before {
    content: "\e62d";
}

.icons-atom:before {
    content: "\e62e";
}

.icons-clipboard:before {
    content: "\e62f";
}

.icons-clipboard2:before {
    content: "\e630";
}

.icons-heart2:before {
    content: "\e631";
}

.icons-cloud:before {
    content: "\e632";
}

.icons-star:before {
    content: "\e633";
}

.icons-user:before {
    content: "\e634";
}

.icons-key2:before {
    content: "\e635";
}

.icons-search:before {
    content: "\e636";
}

.icons-settings:before {
    content: "\e637";
}

.icons-camera:before {
    content: "\e638";
}

.icons-bulb:before {
    content: "\e639";
}

.icons-diamond:before {
    content: "\e63a";
}

.icons-location:before {
    content: "\e63b";
}

.icons-eye:before {
    content: "\e63c";
}

.icons-bubble:before {
    content: "\e63d";
}

.icons-mail:before {
    content: "\e63e";
}

.icons-paperplane2:before {
    content: "\e63f";
}

.icons-params:before {
    content: "\e640";
}

.icons-banknote:before {
    content: "\e641";
}

.icons-data:before {
    content: "\e642";
}

.icons-megaphone2:before {
    content: "\e643";
}

.icons-lab:before {
    content: "\e644";
}

.icons-clip:before {
    content: "\e645";
}

.icons-calendar3:before {
    content: "\e646";
}

.icons-heart3:before {
    content: "\e647";
}

.icons-star2:before {
    content: "\e648";
}

.icons-home:before {
    content: "\e649";
}

.icons-users:before {
    content: "\e64a";
}

.icons-user2:before {
    content: "\e64b";
}

.icons-users2:before {
    content: "\e64c";
}

.icons-user3:before {
    content: "\e64d";
}

.icons-atom2:before {
    content: "\e64e";
}

.icons-bars:before {
    content: "\e64f";
}

.icons-chart2:before {
    content: "\e650";
}

.icons-cart:before {
    content: "\e651";
}

.icons-user4:before {
    content: "\e652";
}

.icons-key3:before {
    content: "\e653";
}

.icons-search2:before {
    content: "\e654";
}

.icons-earth:before {
    content: "\e655";
}

.icons-heart4:before {
    content: "\e656";
}

.icons-cone2:before {
    content: "\e657";
}

.icons-paperclip:before {
    content: "\e658";
}

.icons-atom3:before {
    content: "\e659";
}

.icons-home2:before {
    content: "\e900";
}

.icons-home3:before {
    content: "\e902";
}

.icons-pencil2:before {
    content: "\e906";
}

.icons-quill:before {
    content: "\e907";
}

.icons-droplet:before {
    content: "\e90b";
}

.icons-paint-format:before {
    content: "\e90c";
}

.icons-image:before {
    content: "\e90d";
}

.icons-images:before {
    content: "\e90e";
}

.icons-camera2:before {
    content: "\e90f";
}

.icons-files-empty:before {
    content: "\e925";
}

.icons-copy:before {
    content: "\e92c";
}

.icons-paste:before {
    content: "\e92d";
}

.icons-lifebuoy:before {
    content: "\e941";
}

.icons-location2:before {
    content: "\e947";
}

.icons-map:before {
    content: "\e94b";
}

.icons-map2:before {
    content: "\e94c";
}

.icons-bubbles2:before {
    content: "\e96d";
}

.icons-bubbles4:before {
    content: "\e970";
}

.icons-user5:before {
    content: "\e971";
}

.icons-users3:before {
    content: "\e972";
}

.icons-search3:before {
    content: "\e986";
}

.icons-key4:before {
    content: "\e98d";
}

.icons-hammer:before {
    content: "\e996";
}

.icons-pie-chart:before {
    content: "\e99a";
}

.icons-stats-dots:before {
    content: "\e99b";
}

.icons-stats-bars:before {
    content: "\e99c";
}

.icons-stats-bars2:before {
    content: "\e99d";
}

.icons-star-empty:before {
    content: "\e9d7";
}

.icons-star-full:before {
    content: "\e9d9";
}

.icons-heart5:before {
    content: "\e9da";
}