						/**Defult CSS**/
*{margin:0px;padding:0px}
body{font-family:Georgia,arial;font-size:15px;}
a{text-decoration:none;color:blue;}
a,a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-family:Georgia,arial;font-weight:bload;margin-bottom:15px}
						/*Class CSS*/
.warpper{width:1000px;margin:25px auto;}
.fix{overflow:hidden;}
.floatleft{float:left;}
.floatright{float:right;}

.header_area{background:#27292F;color:#fff}
.header{}
.header_left{margin-left:20px;}
.logo{}
.header_right{margin-right:20px;}
.header_right input[type=text]{padding:5px 10px;background:#1F232C;border-radius:15px;color:#fff}
.header_right input[type=submit]{padding:5px;background:#1F232C;color:#fff}
.header_right input[type=submit]:hover{background:#E6E6E6}
.main_menu{margin-left: 30px;font-size:16px;}
.main_menu ul{margin:0px;padding:0px;text-align:right;list-style:none;}
.main_menu ul li{display:inline;}
.main_menu ul li a{display:inline-block;padding:10px;margin:10px;color:#fff;}
.main_menu ul li a:hover{background:#464646;color:#ddd;border-radius:10px}
.slider_area{}
.slider{margin-top:0px;margin-bottom: 0px;}
.shout_area{}
.shout{background:#E7E7E7;margin-top:0px}
.single_shout_left{margin-right: 20px;width: 550px;padding:30px;}
.single_shout_right{margin-right:20px;padding: 30px;margin-top:6px}
.single_shout_right h2{background:#1F232C;color:#E1DADA;padding: 10px}
.single_shout_right h2:hover{background:#585858;color:#E7B498;}
.service_area{}
.service{}
.service_top{}
.single_service{float:left;width: 320px;margin-right: 20px;}
.img img{width:140px;height:100px;margin-top:7px}
.service_text {width:160px;margin-left:10px;}
.service_text h2{text-decoration:underline;}
.latest_work_area{}
.latest_work{}
.latest_work_top{}
.latest_work_top h2{text-align:center;background:#ddd}
.single_work{margin-bottom: 30px;}
.single_work h2,.single_work p{text-align: left;margin-bottom:0px;background:#EEEEEE;margin-right:30px;padding-top:30px;}
.single_work img{width:300px;height:340px;margin-right:33px;}
.footer_area{background:#EEEEEE}
.footer{}
.single_footer{margin-right: 10px;width: 240px;line-height: 30px;}
.copyright_area{background:#1F232C;color:#fff}
.copyright{}
.copyright_left{}
.copyright_right{}