.shop-items {
  color: #fff;
  background: #41e8a3;
}

ul#navlist > li.current a, ul#navlist li a:hover{
  color: #41e8a3;
}

.sf-menu .sub-menu a:hover {
  color: #41e8a3!important;
}

.coll-text:hover i {
  background: #41e8a3;
  color: #fff;
}

.wishlist:hover {
  color: #41e8a3;
}

.compare:hover {
  color: #41e8a3;
}

.arr-content .low-price {
  color: #41e8a3;
}

.middle-content h1 {
  color: #41e8a3;
}

.blog-img:hover .calendar {
  background: #41e8a3;
}

.trans-header ul#navlist li.current a, ul#navlist li a:hover{
  color: #41e8a3;
}

.middle-content2 a:hover  i{
  background: #41e8a3;
  color: #fff;
}

.price-h {
color: #41e8a3;
}

ul.menu > li > a.active {
    color: #41e8a3;
}

ul.menu > li > a:hover {
    color: #41e8a3;
}

ul.drop-down li a:hover {
    color: #41e8a3;
}

.vertical-cart .shop-items {
background: #41e8a3;
}

.leftmenu-mask .left-price {
color: #41e8a3;
}

.banerfull-content .slider-button2 {
  background: #41e8a3;
  color: #fff;
  border:1px solid #41e8a3;
}

.ui-slider .ui-slider-range,
.ui-slider .ui-slider-range{
background:#41e8a3;
}

.tags a:hover {
background: #41e8a3;
color: #fff;
}

.pagenation li {
float: left;
margin-left: 4px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border: 1px solid #eef0f2;

}

.pagenation li.active a,.pagenation li:hover a {
    color: #41e8a3;
}

.list-midrow .low-price {
  font-family: 'Noticia Text';
  font-size: 20px;
  font-weight: bold;
  color: #41e8a3;
}

.single-price .low-price {
  color: #41e8a3;
}

coupon input[type="submit"] {
  background-color: #41e8a3;
}

.update {
  background-color: #41e8a3;
}


.shipping input[type="submit"] {
  background-color: #41e8a3;
}

.red-check {
  background-color: #41e8a3;
}

.fisrt-row  label span {
  color: #41e8a3;
}

.red-check2 {
  background-color: #41e8a3;
}

.second-row  label span {
color: #41e8a3;
}

.payment-method input[type="submit"] {
  background-color: #41e8a3;
}

.blogsingle-inner blockquote {
  border-left: 5px solid #41e8a3;
}

.blogsingle-inner blockquote span{
  display: block;
  color: #41e8a3;
}

.blog-share i:hover {
  color: #41e8a3;
}

.reply {
  color: #41e8a3;
}

.leave-comment label span {
  color: #41e8a3;
}

.meter > span {
  background-color: #41e8a3;
}

.team-box  i:hover {
  color: #41e8a3;
}

.testimonials2 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.testimonials2 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #41e8a3;
  border: 2px solid transparent !important;
}

.testimonials3 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.testimonials3 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #41e8a3;
  border: 2px solid transparent !important;
}

.touch  i:hover {
color: #41e8a3;
}


#tabs li.ui-tabs-active a {
border-bottom: 3px solid #41e8a3;
text-decoration: none;
}

#tabs li.ui-tabs-active i{
border-bottom: 3px solid #41e8a3;
}

.tabs-widget .tab-links li.active a{
  border-top: 2px solid #41e8a3;
}

.tabs-widget .tab-links li:first-child {
    border-left: 1px solid #e5e5e5;
}

#tabs-titles li.current{
    border-top: 2px solid #41e8a3;
}

.active-header {
  background: url(../images/active-header.png) 100% center #fff;
  background-repeat: no-repeat;  
  color: #41e8a3;
  margin-bottom: 0;

 }

 #accordion .ui-accordion-header-active {
  background: url(../images/active-header2.png) 10px center;
  background-repeat: no-repeat;  
  color: #41e8a3;
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 0;
}

.button-red {
  background-color: #41e8a3;
}

.html-style a {
  color: #41e8a3;
}

.full-drop span{
  background: #41e8a3;
}

.blockquotes blockquote{
  border-left: 5px solid #41e8a3;
}


.blockquotes blockquote span{
  display: block;
  color: #41e8a3;
}

.page404text a {
  color: #41e8a3;
}

.flexslider .flex-next:hover {
  background: #41e8a3;
  border: 1px solid transparent;
  color: #fff;
}
.flexslider .flex-prev:hover {
  background: #41e8a3;
  border: 1px solid transparent;
  color: #fff;
}


.tp-caption .slider-button:hover {
  background: #41e8a3;
  color: #fff;
  border:1px solid #41e8a3;
}
.tp-caption .slider-button2 {
  background: #41e8a3;
  color: #fff;
  border:1px solid #41e8a3;
}

.button-red:hover {
  color: #fff;
  background-color: #35c58a;
}
