* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'PT Sans';
    font-weight: bold;
color: #010101;
}
.section-gap{
    height: 100px;
}
button:focus {
    outline: none;
}

.btn-p {
    background: #fcdb00;
    padding: 7px 25px;
}


/* ============
==Header Area
============= */
section#header {
    height: 100vh;
    background: #fcdb00;
    padding: 25px 0;
}
section#header ul li {
    padding: 0 25px;
    font-size: 22px;
}

section#header ul li a:hover {
    color: #565656;
    transition: .5s;
}

/* ============
==Slider Area
============= */
.slider-left {
    display: flex;
    align-items: center;
    height: 77vh;
}
.slider-content i.fa {
    font-size: 40px;
    margin-top: 20px;
    padding-right: 25px;
}
.slider-right {
    float: right;
}

.slider-right img {
    border-radius: 20px;
    height: 67vh;
    margin-right: 100px;
    margin-top: 35px;
}

/* ============
==Feature Area
============= */
.single-feature h3 {
    font-size: 22px;
    top: 0;
    margin-left: 70px;
    margin-top: -50px;
}

.single-feature i.fa {
    font-size: 30.49pt;
}

.single-feature p {
    margin-left: 70px;
}


/* ==========
==Footer Area
============ */

#footer{
    background: #232527;
}
.get-touch-title p {
    color: #fff;
}

.get-touch-title h1 {
    color: #fcdb00;
}

ul.footer-nav li {
    float: left;
}

ul.footer-nav li a i.fa {
    font-size: 28pt;
    background: #fcdb00;
    padding: 5px;
    border-radius: 15px;
    min-width: 55px;
}

ul.footer-nav {
    list-style: none;
    margin-left: 75px;
}

ul.footer-nav li a {
    margin: 0 3px;
    border-radius: 15px;
}

ul.footer-nav li a:hover {
    color: #d2b600;
    transition: .5s;
}