* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato";
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
a:focus,
button:focus,
a:active,
button:active,
.btn:focus,
.nav-link:focus {
  outline: none;
  box-shadow: none !important;
}
.form-control:hover,
.form-control:active,
.form-control:focus,
.custom-select:focus {
  box-shadow: none !important;
  //   border-color: $mainColor;
}

$mainColor: #734f77;

@mixin phone {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tab {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

.section-gap {
  height: 100px;
  @include phone() {
    height: 50px;
  }
}
body {
  font-family: "Lato";
  width: 100%;
  .shape-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../image/herobg1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include phone() {
      height: 85vh;
    }
  }
}
section#header-area {
  padding: 10px 35px;
  border-bottom: 3px solid #fff;
  position: relative;
  background: linear-gradient(180deg, #f4f4f4, #f4f4f496);
  box-shadow: 0px 13px 20px 8px #f4f4f4;
  @include phone() {
    .navbar-brand img {
      width: 65%;
      margin-left: -23%;
      margin-top: -7%;
    }
    button {
      float: right;
      margin-left: 90%;
      margin-top: -19%;
    }
    ul {
      text-align: right;
    }
  }
  ul {
    li {
      padding: 10px 25px;
      font-size: 17px;
      &.active {
        color: #000 !important;
        font-weight: bold;
        transition: 0.5s;
      }
      a {
        &:hover {
          color: #000 !important;
          font-weight: bold;
          transition: 0.5s;
        }
      }
      a.nav-link.btn.btn-p {
        background: #fff;
        border-radius: 7px;
        box-sizing: border-box;
        box-shadow: 0 2px 20px #dedede;
      }

      a.nav-link.btn.btn-p i.fa {
        color: $mainColor;
        font-size: 18px;
        margin-right: 5px;
      }
    }
    .dropdown-menu {
      margin-top: 20px;
      margin-left: 25px;
      &::before {
        content: "";
        width: 82px;
        height: 8px;
        background: $mainColor;
        position: absolute;
        top: -10px;
      }
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: $mainColor;
        position: absolute;
        top: -7px;
        left: 39px;
        transform: rotate(45deg);
      }
    }
  }
}

section#slider-area {
  position: relative;
  @include phone() {
    margin-top: 10vh;
  }
  margin-top: 30vh;
  .location-area {
    background: #ffffffe3;
    padding-top: 50px;
    text-align: center;
    border-radius: 0.5rem;
    @include phone() {
      h1 {
        font-size: 26px;
      }
    }
    h1 {
      font-weight: 100;
      span {
        font-weight: bold;
      }
    }
    p.loacP {
      padding: 5px 212px;
      @include phone() {
        padding: 5px 10px;
      }
    }
    .shape-2 {
      position: absolute;
      top: -55px;
      right: 45%;
    }
    a.addBtn {
      position: absolute;
      top: 10px;
      right: 35px;
      color: $mainColor;
    }
    .form-control,
    .custom-select {
      height: 55px;
      margin-right: 10px;
      min-width: 155px;
      max-width: 155px;
      @include phone() {
        margin-right: 10px;
        min-width: -moz-available;
        max-width: -moz-available;
      }
    }
    .btn-p {
      background: #734f77;
      color: #fff;
      font-weight: bold;
      box-sizing: border-box;
      box-shadow: 0 0 20px 0px #734f77;
      padding: 0 35px;
      height: 55px;
    }
    .location-form {
      width: 100%;
      background: #fff;
      padding: 45px 0 20px 0;
      position: relative;
    }
    form.form-inline {
      padding-left: 50px;
    }
    .lavel {
      position: absolute;
      top: 10px;
      @include phone() {
        display: none;
      }
    }
  }
}

section#slider-bottom {
  ul {
    list-style: none;
    display: inline-block;
    li {
      display: block;
      float: left;
      padding: 10px 15px;
      letter-spacing: 5px;
      font-weight: 100;
      @include phone() {
        display: inline-block;
        float: left;
        padding: 5px;
        letter-spacing: 4px;
        font-weight: 100;
        font-size: 10px;
      }
      span {
        background: $mainColor;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}
.promo-area {
  @include phone() {
    height: 35vh;
    h2 {
      font-size: 15px;
    }
  }
  display: flex;
  height: 75vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  //   background: url(../image/bigLogo.png);
  //   background-position: center center;
  //   background-repeat: no-repeat;
  position: relative;
  h2 {
    font-weight: 100;
  }
  .shape-3 {
    position: absolute;
    top: 0;
    margin-top: -130px;
    margin-left: 10px;
    @include phone() {
      margin-top: -38px;
      margin-left: 0;
      img {
        width: 100px;
        margin-left: 25%;
      }
    }
  }
  .topLeft {
    position: absolute;
    top: -90px;
    left: -260px;
    max-width: 87px;
    max-height: 48px;
    @include phone() {
      top: -33px;
      left: -73px;
      font-size: 11px;
    }
    span {
      &.line {
        background: $mainColor;
        height: 3px;
        width: 190px;
        display: block;
        position: absolute;
        top: 50%;
        left: 155px;
        @include phone() {
          width: 60px;
          left: 116%;
        }
      }
      &.dot {
        background: $mainColor;
        height: 10px;
        width: 10px;
        display: block;
        position: absolute;
        border-radius: 50%;
        left: 396%;
        top: 41%;
        @include phone() {
          height: 8px;
          width: 8px;
          left: 214%;
          top: 41%;
        }
      }
    }
  }
  .bottomLeft {
    position: absolute;
    bottom: -100px;
    left: -260px;
    max-width: 79px;
    max-height: 48px;

    @include phone() {
      bottom: -40px;
      left: -75px;
      font-size: 11px;
    }
    span {
      &.line {
        background: $mainColor;
        height: 3px;
        width: 190px;
        display: block;
        position: absolute;
        top: 50%;
        left: 155px;
        @include phone() {
          width: 60px;
          left: 130%;
        }
      }
      &.dot {
        background: $mainColor;
        height: 10px;
        width: 10px;
        display: block;
        position: absolute;
        border-radius: 50%;
        left: 425%;
        top: 41%;

        @include phone() {
          height: 8px;
          width: 8px;
          left: 235%;
          top: 41%;
        }
      }
    }
  }
  .topRight {
    position: absolute;
    top: -90px;
    right: -265px;
    max-width: 69px;
    max-height: 72px;
    @include phone() {
      top: -50px;
      right: -73px;
      font-size: 11px;
    }
    span {
      &.line {
        background: $mainColor;
        height: 3px;
        width: 190px;
        display: block;
        position: absolute;
        top: 50%;
        right: 165px;
        @include phone() {
          width: 60px;
          right: 160%;
        }
      }
      &.dot {
        background: $mainColor;
        height: 10px;
        width: 10px;
        display: block;
        position: absolute;
        border-radius: 50%;
        right: 500%;
        top: 43%;

        @include phone() {
          height: 8px;
          width: 8px;
          right: 281%;
          top: 45%;
        }
      }
      &.text {
        margin-right: -60px;
      }
    }
  }
  .bottomRight {
    position: absolute;
    bottom: -100px;
    right: -260px;
    max-width: 65px;
    max-height: 48px;
    @include phone() {
      bottom: -40px;
      right: -70px;
      font-size: 11px;
    }
    span {
      &.line {
        background: $mainColor;
        height: 3px;
        width: 190px;
        display: block;
        position: absolute;
        top: 50%;
        right: 155px;

        @include phone() {
          width: 60px;
          right: 154%;
        }
      }
      &.dot {
        background: $mainColor;
        height: 10px;
        width: 10px;
        display: block;
        position: absolute;
        border-radius: 50%;
        right: 515%;
        top: 41%;

        @include phone() {
          height: 8px;
          width: 8px;
          right: 281%;
          top: 45%;
        }
      }
    }
  }
}
section#presentation {
  position: relative;
  text-align: center;
  .shape-4 {
    background: black;
    height: 2px;
    width: 400px;
    position: absolute;
    top: 42%;
    @include phone() {
      background: #a2a2a2;
      height: 2px;
      width: 174px;
      position: absolute;
      top: 105px;
    }
  }
  .presentation-left {
    h1 {
      font-weight: 100;
      color: $mainColor;
    }
    h2 {
      margin-bottom: 50px;
      font-weight: bold;
    }
    p {
      color: #a1a1a1;
      padding-right: 35px;
      line-height: 22pt;
    }
  }
  .presentation-right {
    margin-left: 30%;
    margin-top: 25%;
    color: #fff;
    @include phone() {
      margin-left: 0 !important;
      margin-top: 25%;
      color: #fff;
      padding-bottom: 20% !important;
      h1 {
        font-size: 18px !important;
      }
      p {
        margin-left: 20px !important;
      }
      a {
        margin-left: 0 !important;
      }
    }
    h1 {
      font-weight: bold;
      font-size: 32px;
      span {
        font-weight: 100;
      }
    }
    p {
      margin-left: 100px;
    }
    a {
      &.btn-p {
        margin-left: 95px;
        background: #fff;
        padding: 5px 20px;
      }
      i.fa {
        margin-right: 7px;
        color: $mainColor;
      }
    }
  }
  .shape-6 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    @include phone() {
      top: 57%;
      img {
        padding-left: 0 !important;
        width: 100% !important;
        height: 450px !important;
      }
    }
    img {
      padding-left: 122px;
      width: 830px;
    }
  }
}
section#calque {
  background: url(../image/calque2.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 65vh;
  @include phone() {
    height: 25vh;
  }
}
section#product-area {
  .col-lg-3 {
    padding: 0;
    .product-content {
      background: $mainColor;
      color: #fff;
      padding: 55px 30px;
      &:hover {
        transform: translateY(-25px);
        transition: 0.5s;
        box-sizing: border-box;
        box-shadow: 0px 8px 20px 0px #929292;
      }
      h1 {
        font-size: 35px;
        font-weight: bold;
        padding-right: 40px;
        margin-bottom: 30px;
        span {
          font-size: 26px;
          font-weight: 100;
        }
      }

      a {
        color: #fff;

        i.fa {
          margin-left: 15px;
        }
        &.btn.btnProduct {
          background: #734f77;
          padding: 10px 30px;
          box-sizing: border-box;
          box-shadow: 0 0 20px #734f77;
        }
      }
      &.light {
        background: #fff !important;
        color: #6a4d6c !important;
        padding: 44px;
        max-height: 332px;
        min-height: 332px;
        padding-top: 95px;
        padding-left: 60px;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 7px;
          background: #cfcdd2;
          left: 0;
          bottom: 0;
        }
      }
      &.dark {
        background: #cfcdd2 !important;
        color: #6a4d6c !important;
        padding: 44px;
        max-height: 332px;
        min-height: 332px;
        padding-top: 95px;
        padding-left: 75px;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 7px;
          background: #b9b5bf;
          left: 0;
          bottom: 0;
        }
      }
      &.darklight {
        background: #e5e3e4 !important;
        color: #6a4d6c !important;
        padding: 44px;
        max-height: 332px;
        min-height: 332px;
        padding-top: 95px;
        padding-left: 60px;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 7px;
          background: #cfcdd2;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}

section#Convention-area {
  position: relative;
  @include phone() {
    text-align: center;
    .shape-img {
      display: none;
    }
    .shape-drop {
      display: none;
    }
    .shape-bg {
      display: none;
    }
    .shape-line {
      width: 200px !important;
      height: 4px !important;
      background: $mainColor;
      right: 0 !important;
      left: 0 !important;
      top: 12% !important;
    }
    h1 {
      font-size: 26px !important;
      line-height: 1.5 !important;
    }
    .pourquo {
      position: unset !important;
      margin-top: 90px;
    }
    .pourquo-logo {
      top: 53%;
    }
  }
  .shape-img {
    position: absolute;
    img {
      width: 85%;
    }
  }
  .shape-drop {
    position: absolute;
    top: -35px;
    left: 22%;
  }
  .shape-line {
    position: absolute;
    width: 500px;
    height: 2px;
    background: #a1a1a1;
    left: 18%;
    top: 22%;
  }
  .pourquo {
    position: absolute;
    right: 0;
    bottom: -135px;
    background: #734f77;
    color: #fff;
    padding: 50px 100px 50px 60px;

    h1 {
      font-weight: 100;
      font-size: 36px;
      line-height: 0.97;
      span {
        font-weight: bold;
      }
    }
    ul {
      padding-left: 20px;
      li {
        padding: 10px 0;
      }
    }
  }
  .shape-bg {
    background: url(../image/conventionBg.png);
    height: 85px;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    z-index: -1;
    background-position: center center;
    background-size: cover;
  }
  .pourquo-logo {
    position: absolute;
    right: 46px;
    bottom: 150px;
    img {
      width: 70%;
    }
  }
  .convention-content {
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 50px;
      line-height: 0.9;
      span {
        font-weight: 100;
        color: $mainColor;
      }
    }
    p {
      font-size: 15px;
      line-height: 22pt;
      color: #a1a1a1;
    }
  }
}

section#Gestion {
  position: relative;
  .shape-line {
    position: absolute;
    width: 380px;
    height: 3px;
    background: #a1a1a1;
    top: 55px;
    left: 0;
    @include phone() {
      position: absolute;
      width: 185px;
      height: 4px;
      background: #734f77;
      top: 55px;
      left: 0;
    }
  }
  .shape-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #cfcdd2;
    width: 62%;
    height: 94%;
    @include phone() {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #cfcdd2;
      width: 100%;
      height: 63%;
    }
  }

  .shape-marker {
    position: absolute;
    right: 50%;
    top: -5%;
    @include phone() {
      position: absolute;
      right: 39%;
      top: 33%;
    }
  }
  ul {
    list-style: none;
    li {
      padding: 5px 0;

      &:hover {
        padding-left: 5px;
        transition: 0.5s;
      }
      span {
        width: 10px;
        height: 10px;
        background: $mainColor;
        display: inline-block;
        margin-right: 9px;
        border-radius: 50%;
      }
      a {
        color: $mainColor;
        display: inline-block;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 0.9;
    span {
      font-weight: 100;
      color: $mainColor;
    }
  }
  p {
    font-size: 15px;
    line-height: 22pt;
    color: #a1a1a1;
  }

  .btn.btn-p {
    background: #734f77;
    color: #fff;
    padding: 10px 30px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #734f77;
  }
  .gestion-right {
    @include phone() {
      margin-top: 150px;
    }
    margin-top: 100px;
    padding-bottom: 30px;
    h5 {
      padding: 25px 0;
      span {
        font-weight: bold;
        color: $mainColor;
      }
    }
  }
}
section#footer-arae {
  background: #2b2929;
  color: #fff;
  padding-top: 40px;
  .footer-logo {
    p {
      margin-top: 30px;
      line-height: 22pt;
    }
  }
  ul {
    list-style: none;
    display: inline-block;
    li {
      padding: 5px 0;
      font-weight: 100;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
          color: $mainColor;
        }
      }
      &:hover {
        color: $mainColor;
        padding-left: 5px;
        font-size: 17px;
        transition: 0.5s;
      }
    }
  }
  .couvrir {
    padding-left: 40px;
    p {
      font-weight: bold;
    }
  }
  .vda {
    p {
      font-weight: bold;
    }
    @include phone() {
      width: 50%;
      float: left;
      margin-top: -225px;
      margin-left: 50%;
    }
  }
  .suivez {
    text-align: center;
  }
  .social {
    ul li {
      float: left;
      padding: 5px 20px !important;
      a i.fa {
        font-size: 28px;
      }
    }
  }
  .partner {
    margin-left: 15px;
    ul {
      li {
        float: left;
        &:hover {
          padding-left: 0 !important;
        }
      }
    }
    img {
      width: 70%;
    }
  }
}









/*Scroll Up Css*/
#scrollUp {
    bottom: 0;
    right: 15px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    background: url('../image/top.png')no-repeat scroll 0 0;
    text-indent: -9999px;

}

#scrollUp:hover {
    margin-bottom: 0;
}


/*Sticky Div CSS*/
#sticky.stick {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    transition: .5s;
    left: 0;
}

#sticky.stick::after {
    position: absolute;
    background: #f5f7fb;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px #bebfbe;
    transition: .5s;
}
#sticky.stick .navbar-brand img {
    width: 150px;
    transition: .5s;
}