* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus,
button:focus,
a:active,
button:active,
.btn:focus,
.nav-link:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-control:hover,
.form-control:active,
.form-control:focus,
.custom-select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.section-gap {
  height: 100px;
}

@media only screen and (max-width: 767px) {
  .section-gap {
    height: 50px;
  }
}

body {
  font-family: "Lato";
  width: 100%;
}

body .shape-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../image/herobg1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  body .shape-1 {
    height: 85vh;
  }
}

section#header-area {
  padding: 10px 35px;
  border-bottom: 3px solid #fff;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f496));
  background: linear-gradient(180deg, #f4f4f4, #f4f4f496);
  -webkit-box-shadow: 0px 13px 20px 8px #f4f4f4;
          box-shadow: 0px 13px 20px 8px #f4f4f4;
}

@media only screen and (max-width: 767px) {
  section#header-area .navbar-brand img {
    width: 65%;
    margin-left: -23%;
    margin-top: -7%;
  }
  section#header-area button {
    float: right;
    margin-left: 90%;
    margin-top: -19%;
  }
  section#header-area ul {
    text-align: right;
  }
}

section#header-area ul li {
  padding: 10px 25px;
  font-size: 17px;
}

section#header-area ul li.active {
  color: #000 !important;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#header-area ul li a:hover {
  color: #000 !important;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#header-area ul li a.nav-link.btn.btn-p {
  background: #fff;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 20px #dedede;
          box-shadow: 0 2px 20px #dedede;
}

section#header-area ul li a.nav-link.btn.btn-p i.fa {
  color: #734f77;
  font-size: 18px;
  margin-right: 5px;
}

section#header-area ul .dropdown-menu {
  margin-top: 20px;
  margin-left: 25px;
}

section#header-area ul .dropdown-menu::before {
  content: "";
  width: 82px;
  height: 8px;
  background: #734f77;
  position: absolute;
  top: -10px;
}

section#header-area ul .dropdown-menu::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #734f77;
  position: absolute;
  top: -7px;
  left: 39px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

section#slider-area {
  position: relative;
  margin-top: 30vh;
}

@media only screen and (max-width: 767px) {
  section#slider-area {
    margin-top: 10vh;
  }
}

section#slider-area .location-area {
  background: #ffffffe3;
  padding-top: 50px;
  text-align: center;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 767px) {
  section#slider-area .location-area h1 {
    font-size: 26px;
  }
}

section#slider-area .location-area h1 {
  font-weight: 100;
}

section#slider-area .location-area h1 span {
  font-weight: bold;
}

section#slider-area .location-area p.loacP {
  padding: 5px 212px;
}

@media only screen and (max-width: 767px) {
  section#slider-area .location-area p.loacP {
    padding: 5px 10px;
  }
}

section#slider-area .location-area .shape-2 {
  position: absolute;
  top: -55px;
  right: 45%;
}

section#slider-area .location-area a.addBtn {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #734f77;
}

section#slider-area .location-area .form-control,
section#slider-area .location-area .custom-select {
  height: 55px;
  margin-right: 10px;
  min-width: 155px;
  max-width: 155px;
}

@media only screen and (max-width: 767px) {
  section#slider-area .location-area .form-control,
  section#slider-area .location-area .custom-select {
    margin-right: 10px;
    min-width: -moz-available;
    max-width: -moz-available;
  }
}

section#slider-area .location-area .btn-p {
  background: #734f77;
  color: #fff;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px 0px #734f77;
          box-shadow: 0 0 20px 0px #734f77;
  padding: 0 35px;
  height: 55px;
}

section#slider-area .location-area .location-form {
  width: 100%;
  background: #fff;
  padding: 45px 0 20px 0;
  position: relative;
}

section#slider-area .location-area form.form-inline {
  padding-left: 50px;
}

section#slider-area .location-area .lavel {
  position: absolute;
  top: 10px;
}

@media only screen and (max-width: 767px) {
  section#slider-area .location-area .lavel {
    display: none;
  }
}

section#slider-bottom ul {
  list-style: none;
  display: inline-block;
}

section#slider-bottom ul li {
  display: block;
  float: left;
  padding: 10px 15px;
  letter-spacing: 5px;
  font-weight: 100;
}

@media only screen and (max-width: 767px) {
  section#slider-bottom ul li {
    display: inline-block;
    float: left;
    padding: 5px;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 10px;
  }
}

section#slider-bottom ul li span {
  background: #734f77;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.promo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .promo-area {
    height: 35vh;
  }
  .promo-area h2 {
    font-size: 15px;
  }
}

.promo-area h2 {
  font-weight: 100;
}

.promo-area .shape-3 {
  position: absolute;
  top: 0;
  margin-top: -130px;
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .promo-area .shape-3 {
    margin-top: -38px;
    margin-left: 0;
  }
  .promo-area .shape-3 img {
    width: 100px;
    margin-left: 25%;
  }
}

.promo-area .topLeft {
  position: absolute;
  top: -90px;
  left: -260px;
}

@media only screen and (max-width: 767px) {
  .promo-area .topLeft {
    top: -33px;
    left: -73px;
    font-size: 11px;
  }
}

.promo-area .topLeft span.line {
  background: #734f77;
  height: 3px;
  width: 190px;
  display: block;
  position: absolute;
  top: 50%;
  left: 155px;
}

@media only screen and (max-width: 767px) {
  .promo-area .topLeft span.line {
    width: 60px;
    left: 116%;
  }
}

.promo-area .topLeft span.dot {
  background: #734f77;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 396%;
  top: 41%;
}

@media only screen and (max-width: 767px) {
  .promo-area .topLeft span.dot {
    height: 8px;
    width: 8px;
    left: 214%;
    top: 41%;
  }
}

.promo-area .bottomLeft {
  position: absolute;
  bottom: -100px;
  left: -260px;
}

@media only screen and (max-width: 767px) {
  .promo-area .bottomLeft {
    bottom: -40px;
    left: -75px;
    font-size: 11px;
  }
}

.promo-area .bottomLeft span.line {
  background: #734f77;
  height: 3px;
  width: 190px;
  display: block;
  position: absolute;
  top: 50%;
  left: 155px;
}

@media only screen and (max-width: 767px) {
  .promo-area .bottomLeft span.line {
    width: 60px;
    left: 130%;
  }
}

.promo-area .bottomLeft span.dot {
  background: #734f77;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 425%;
  top: 41%;
}

@media only screen and (max-width: 767px) {
  .promo-area .bottomLeft span.dot {
    height: 8px;
    width: 8px;
    left: 235%;
    top: 41%;
  }
}

.promo-area .topRight {
  position: absolute;
  top: -90px;
  right: -265px;
}

@media only screen and (max-width: 767px) {
  .promo-area .topRight {
    top: -50px;
    right: -73px;
    font-size: 11px;
  }
}

.promo-area .topRight span.line {
  background: #734f77;
  height: 3px;
  width: 190px;
  display: block;
  position: absolute;
  top: 50%;
  right: 165px;
}

@media only screen and (max-width: 767px) {
  .promo-area .topRight span.line {
    width: 60px;
    right: 160%;
  }
}

.promo-area .topRight span.dot {
  background: #734f77;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  right: 500%;
  top: 43%;
}

@media only screen and (max-width: 767px) {
  .promo-area .topRight span.dot {
    height: 8px;
    width: 8px;
    right: 281%;
    top: 45%;
  }
}

.promo-area .topRight span.text {
  margin-right: -60px;
}

.promo-area .bottomRight {
  position: absolute;
  bottom: -100px;
  right: -260px;
}

@media only screen and (max-width: 767px) {
  .promo-area .bottomRight {
    bottom: -40px;
    right: -70px;
    font-size: 11px;
  }
}

.promo-area .bottomRight span.line {
  background: #734f77;
  height: 3px;
  width: 190px;
  display: block;
  position: absolute;
  top: 50%;
  right: 155px;
}

@media only screen and (max-width: 767px) {
  .promo-area .bottomRight span.line {
    width: 60px;
    right: 154%;
  }
}

.promo-area .bottomRight span.dot {
  background: #734f77;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  right: 515%;
  top: 41%;
}

@media only screen and (max-width: 767px) {
  .promo-area .bottomRight span.dot {
    height: 8px;
    width: 8px;
    right: 281%;
    top: 45%;
  }
}

section#presentation {
  position: relative;
  text-align: center;
}

section#presentation .shape-4 {
  background: black;
  height: 2px;
  width: 400px;
  position: absolute;
  top: 42%;
}

@media only screen and (max-width: 767px) {
  section#presentation .shape-4 {
    background: #a2a2a2;
    height: 2px;
    width: 174px;
    position: absolute;
    top: 105px;
  }
}

section#presentation .presentation-left h1 {
  font-weight: 100;
  color: #734f77;
}

section#presentation .presentation-left h2 {
  margin-bottom: 50px;
  font-weight: bold;
}

section#presentation .presentation-left p {
  color: #a1a1a1;
  padding-right: 35px;
  line-height: 22pt;
}

section#presentation .presentation-right {
  margin-left: 30%;
  margin-top: 25%;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  section#presentation .presentation-right {
    margin-left: 0 !important;
    margin-top: 25%;
    color: #fff;
    padding-bottom: 20% !important;
  }
  section#presentation .presentation-right h1 {
    font-size: 18px !important;
  }
  section#presentation .presentation-right p {
    margin-left: 20px !important;
  }
  section#presentation .presentation-right a {
    margin-left: 0 !important;
  }
}

section#presentation .presentation-right h1 {
  font-weight: bold;
  font-size: 32px;
}

section#presentation .presentation-right h1 span {
  font-weight: 100;
}

section#presentation .presentation-right p {
  margin-left: 100px;
}

section#presentation .presentation-right a.btn-p {
  margin-left: 95px;
  background: #fff;
  padding: 5px 20px;
}

section#presentation .presentation-right a i.fa {
  margin-right: 7px;
  color: #734f77;
}

section#presentation .shape-6 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  section#presentation .shape-6 {
    top: 57%;
  }
  section#presentation .shape-6 img {
    padding-left: 0 !important;
    width: 100% !important;
    height: 450px !important;
  }
}

section#presentation .shape-6 img {
  padding-left: 122px;
  width: 830px;
}

section#calque {
  background: url(../image/calque2.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 65vh;
}

@media only screen and (max-width: 767px) {
  section#calque {
    height: 25vh;
  }
}

section#product-area .col-lg-3 {
  padding: 0;
}

section#product-area .col-lg-3 .product-content {
  background: #734f77;
  color: #fff;
  padding: 55px 30px;
}

section#product-area .col-lg-3 .product-content:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 20px 0px #929292;
          box-shadow: 0px 8px 20px 0px #929292;
}

section#product-area .col-lg-3 .product-content h1 {
  font-size: 35px;
  font-weight: bold;
  padding-right: 40px;
  margin-bottom: 30px;
}

section#product-area .col-lg-3 .product-content h1 span {
  font-size: 26px;
  font-weight: 100;
}

section#product-area .col-lg-3 .product-content a {
  color: #fff;
}

section#product-area .col-lg-3 .product-content a i.fa {
  margin-left: 15px;
}

section#product-area .col-lg-3 .product-content a.btn.btnProduct {
  background: #734f77;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px #734f77;
          box-shadow: 0 0 20px #734f77;
}

section#product-area .col-lg-3 .product-content.light {
  background: #fff !important;
  color: #6a4d6c !important;
  padding: 44px;
  max-height: 332px;
  min-height: 332px;
  padding-top: 95px;
  padding-left: 60px;
}

section#product-area .col-lg-3 .product-content.light::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: #cfcdd2;
  left: 0;
  bottom: 0;
}

section#product-area .col-lg-3 .product-content.dark {
  background: #cfcdd2 !important;
  color: #6a4d6c !important;
  padding: 44px;
  max-height: 332px;
  min-height: 332px;
  padding-top: 95px;
  padding-left: 75px;
}

section#product-area .col-lg-3 .product-content.dark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: #b9b5bf;
  left: 0;
  bottom: 0;
}

section#product-area .col-lg-3 .product-content.darklight {
  background: #e5e3e4 !important;
  color: #6a4d6c !important;
  padding: 44px;
  max-height: 332px;
  min-height: 332px;
  padding-top: 95px;
  padding-left: 60px;
}

section#product-area .col-lg-3 .product-content.darklight::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: #cfcdd2;
  left: 0;
  bottom: 0;
}

section#Convention-area {
  position: relative;
}

@media only screen and (max-width: 767px) {
  section#Convention-area {
    text-align: center;
  }
  section#Convention-area .shape-img {
    display: none;
  }
  section#Convention-area .shape-drop {
    display: none;
  }
  section#Convention-area .shape-bg {
    display: none;
  }
  section#Convention-area .shape-line {
    width: 200px !important;
    height: 4px !important;
    background: #734f77;
    right: 0 !important;
    left: 0 !important;
    top: 12% !important;
  }
  section#Convention-area h1 {
    font-size: 26px !important;
    line-height: 1.5 !important;
  }
  section#Convention-area .pourquo {
    position: unset !important;
    margin-top: 90px;
  }
  section#Convention-area .pourquo-logo {
    top: 53%;
  }
}

section#Convention-area .shape-img {
  position: absolute;
}

section#Convention-area .shape-img img {
  width: 85%;
}

section#Convention-area .shape-drop {
  position: absolute;
  top: -35px;
  left: 22%;
}

section#Convention-area .shape-line {
  position: absolute;
  width: 500px;
  height: 2px;
  background: #a1a1a1;
  left: 18%;
  top: 22%;
}

section#Convention-area .pourquo {
  position: absolute;
  right: 0;
  bottom: -135px;
  background: #734f77;
  color: #fff;
  padding: 50px 100px 50px 60px;
}

section#Convention-area .pourquo h1 {
  font-weight: 100;
  font-size: 36px;
  line-height: 0.97;
}

section#Convention-area .pourquo h1 span {
  font-weight: bold;
}

section#Convention-area .pourquo ul {
  padding-left: 20px;
}

section#Convention-area .pourquo ul li {
  padding: 10px 0;
}

section#Convention-area .shape-bg {
  background: url(../image/conventionBg.png);
  height: 85px;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
}

section#Convention-area .pourquo-logo {
  position: absolute;
  right: 46px;
  bottom: 150px;
}

section#Convention-area .pourquo-logo img {
  width: 70%;
}

section#Convention-area .convention-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 0.9;
}

section#Convention-area .convention-content h1 span {
  font-weight: 100;
  color: #734f77;
}

section#Convention-area .convention-content p {
  font-size: 15px;
  line-height: 22pt;
  color: #a1a1a1;
}

section#Gestion {
  position: relative;
}

section#Gestion .shape-line {
  position: absolute;
  width: 380px;
  height: 3px;
  background: #a1a1a1;
  top: 55px;
  left: 0;
}

@media only screen and (max-width: 767px) {
  section#Gestion .shape-line {
    position: absolute;
    width: 185px;
    height: 4px;
    background: #734f77;
    top: 55px;
    left: 0;
  }
}

section#Gestion .shape-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #cfcdd2;
  width: 62%;
  height: 94%;
}

@media only screen and (max-width: 767px) {
  section#Gestion .shape-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #cfcdd2;
    width: 100%;
    height: 63%;
  }
}

section#Gestion .shape-marker {
  position: absolute;
  right: 50%;
  top: -5%;
}

@media only screen and (max-width: 767px) {
  section#Gestion .shape-marker {
    position: absolute;
    right: 39%;
    top: 33%;
  }
}

section#Gestion ul {
  list-style: none;
}

section#Gestion ul li {
  padding: 5px 0;
}

section#Gestion ul li:hover {
  padding-left: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#Gestion ul li span {
  width: 10px;
  height: 10px;
  background: #734f77;
  display: inline-block;
  margin-right: 9px;
  border-radius: 50%;
}

section#Gestion ul li a {
  color: #734f77;
  display: inline-block;
}

section#Gestion ul li a:hover {
  text-decoration: none;
}

section#Gestion h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 0.9;
}

section#Gestion h1 span {
  font-weight: 100;
  color: #734f77;
}

section#Gestion p {
  font-size: 15px;
  line-height: 22pt;
  color: #a1a1a1;
}

section#Gestion .btn.btn-p {
  background: #734f77;
  color: #fff;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px #734f77;
          box-shadow: 0 0 20px #734f77;
}

section#Gestion .gestion-right {
  margin-top: 100px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  section#Gestion .gestion-right {
    margin-top: 150px;
  }
}

section#Gestion .gestion-right h5 {
  padding: 25px 0;
}

section#Gestion .gestion-right h5 span {
  font-weight: bold;
  color: #734f77;
}

section#footer-arae {
  background: #2b2929;
  color: #fff;
  padding-top: 40px;
}

section#footer-arae .footer-logo p {
  margin-top: 30px;
  line-height: 22pt;
}

section#footer-arae ul {
  list-style: none;
  display: inline-block;
}

section#footer-arae ul li {
  padding: 5px 0;
  font-weight: 100;
}

section#footer-arae ul li a {
  color: #fff;
}

section#footer-arae ul li a:hover {
  text-decoration: none;
  color: #734f77;
}

section#footer-arae ul li:hover {
  color: #734f77;
  padding-left: 5px;
  font-size: 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#footer-arae .couvrir {
  padding-left: 40px;
}

section#footer-arae .couvrir p {
  font-weight: bold;
}

section#footer-arae .vda p {
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  section#footer-arae .vda {
    width: 50%;
    float: left;
    margin-top: -225px;
    margin-left: 50%;
  }
}

section#footer-arae .suivez {
  text-align: center;
}

section#footer-arae .social ul li {
  float: left;
  padding: 5px 20px !important;
}

section#footer-arae .social ul li a i.fa {
  font-size: 28px;
}

section#footer-arae .partner {
  margin-left: 15px;
}

section#footer-arae .partner ul li {
  float: left;
}

section#footer-arae .partner ul li:hover {
  padding-left: 0 !important;
}

section#footer-arae .partner img {
  width: 70%;
}

/*Scroll Up Css*/
#scrollUp {
  bottom: 0;
  right: 15px;
  width: 70px;
  height: 70px;
  margin-bottom: -10px;
  padding: 10px 5px;
  font: 14px/20px sans-serif;
  background: url("../image/top.png") no-repeat scroll 0 0;
  text-indent: -9999px;
}

#scrollUp:hover {
  margin-bottom: 0;
}

/*Sticky Div CSS*/
#sticky.stick {
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
}

#sticky.stick::after {
  position: absolute;
  background: #f5f7fb;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 20px #bebfbe;
          box-shadow: 0px 2px 20px #bebfbe;
  -webkit-transition: .5s;
  transition: .5s;
}

#sticky.stick .navbar-brand img {
  width: 150px;
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=style.css.map */