@font-face {
    font-family: 'Shorif Mitali';
    src: url('../fonts/sharif/ShorifMitali.eot');
    src: url('../fonts/sharif/ShorifMitali.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sharif/ShorifMitali.woff2') format('woff2'),
        url('../fonts/sharif/ShorifMitali.woff') format('woff'),
        url('../fonts/sharif/ShorifMitali.ttf') format('truetype'),
        url('../fonts/sharif/ShorifMitali.svg#ShorifMitali') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto; */
    cursor: url("../images/allah.png"), auto;
    background:url('../images/bg1.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
::-webkit-scrollbar {
    width: 0px;
}
/* .content-inner h2{
    margin-bottom: 0px !important;
} */
.content-inner img {
    width: 200px;
    margin-bottom: 10px;
}
.audioplay-object {
    display: flex;
    justify-content: center;
}
.bangla {
    font-family: 'Shorif Mitali',
    CharuChandan3D,
    sans-serif;
    font-size: 36px;
}
.slimScrollDiv {
    background: #306c93;
}
li.open a {
    text-transform: uppercase;
}
@media only screen and (max-width: 767px){

}