/*
	==============================
			Author Box 		
	==============================

*/
.author-box h4 {
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #3862f5;
    border-bottom: 1px solid #e6e6e6;
}
.author-box .media img { width: 100px; }
.author-box .media .media-body h5 {
    font-size: 20px;
    color: #252525;
    font-weight: 600;
}
.author-box .media .media-body ul li i {
    background-color: #fff;
    padding: 8px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.author-box .media .media-body ul li i.tweet { color: #00b1f4; }
.author-box .media .media-body ul li i.fb { color: #3232b7; }
.author-box .media .media-body ul li i.g-plus { color: #ee3d49; }
.author-box .media .media-body p { color: #757575; }


/*
	==============================
	 		Comments List 		
	==============================
*/
.comments-list h3 {
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #000;
    border-bottom: 1px solid #e9ecef;
}
.comments-list .media { word-break: break-word; }
.comments-list .media img {
	width: 64px;
    margin-right: 6px;
}
.comments-list h4 {
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #3862f5;
    border-bottom: 1px solid #e6e6e6;
}
.comments-list .media .media-body h5 {
    font-size: 19px;
    color: #000;
}
.comments-list .media .media-body .media-notation a {
    color: #e95f2b;
    font-size: 13px;
    font-weight: 600;
}
.comments-list .media .media-body .media-notation a i {
    font-size: 16px;
    color: #b7b7b7;
    margin-left: 5px;
}


/* 		Comment Input Section 	*/

.comments-list .media.comment-input-section textarea {
	resize: none;
	border: none;
	border-bottom: 1px solid #e6e6e6;
	padding: 0;
}
.comments-list .media.comment-input-section textarea::-webkit-input-placeholder {
    color: #888ea8;
    font-size: 14px;
}
.comments-list .media.comment-input-section textarea::-ms-input-placeholder {
    color: #888ea8;
    font-size: 14px;
}
.comments-list .media.comment-input-section textarea::-moz-placeholder {
    color: #888ea8;
    font-size: 14px;
}


/*
	==============================
 			Blog Listing 1
	==============================

*/
.blog-list-1 .post-content img {
	width: 445px;
    height: 293px;
    border-radius: 4px;
}
.blog-list-1 .post-content p.post-category {
	color: #ee3d50;
	font-weight: 600;
}
.blog-list-1 .post-content .post-heading { color: #24ccda; }
.blog-list-1 .post-content .post-text { color: #757575; }
.blog-list-1 .post-content .meta-info strong { color: #010415; }
.blog-list-1 .post-content:nth-child(even) p.post-category { color: #ee3d49; }


/*
	==============================
			Blog Listing 2
	==============================
*/

.blog-list-2 .blog-content .card {
	border: none;
	box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.blog-list-2 .blog-content .card-body strong.card-category { color: #07dabf; }
.blog-list-2 .blog-content .card-body .card-title { color: #3862f5; }
.blog-list-2 .blog-content .card-body .meta-info.meta-time small {
	color: #888ea8;
    font-weight: 600;
}
.blog-list-2 .blog-content .card-body p.card-text { color: #757575; }


/* 	Blog List card 2 	*/
.blog-list-2 .blog-content .card.b-l-card-2 .card-body .media img {
    width: 50px;
    flex: 0 0 auto;
}
.blog-list-2 .blog-content .card.b-l-card-2 .card-body .media .media-body { flex: 1 1 auto; }
.blog-list-2 .blog-content .card.b-l-card-2 .card-body .media .media-body h6.usr-name {
    color: #3b3f5c;
    font-weight: 600;
}

/* 	Blog List card 3 	*/

.blog-list-2 .blog-content .card.b-l-card-3 .card-body div.meta-usr-info img.meta-usr-profile { width: 50px; }
.blog-list-2 .blog-content .card.b-l-card-3 .card-body div.meta-usr-info p.meta-usr-name {
    color: #000;
    font-weight: 600;
}


/*
	==============================
 			Blog Listing 3 	
	==============================
*/
.post-content img.img-fluid.mb-md-0.mb-4 { border-radius: 4px; }
.blog-list-3.post-content p.post-category {
	color: #6156ce;
    font-weight: 600;
}
.blog-list-3.post-content .post-heading { color: #3b3f5c; }
.blog-list-3.post-content .post-text { color: #757575; }
.blog-list-3.post-content .meta-info strong { color: #e95f2b; }
.blog-list-3.post-content .meta-info span.meta-date { color: #000; }
.blog-list-3.post-content:nth-child(even) p.post-category { color: #ee3d49; }


/* 	Blog List card 2 	*/

.blog-list-3.post-content .b-l-card-2 .meta-usr-info img.meta-usr-profile { width: 47px; }
.blog-list-3.post-content .b-l-card-2 .meta-usr-info p.meta-usr-name {
	color: #e95f2b;
    font-weight: 600;
}

/* 	Blog List card 3 	*/

.blog-list-3.post-content .b-l-card-3 ul li i {
    background-color: #fff;
    padding: 8px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.blog-list-3.post-content .b-l-card-3 ul li i.tweet { color: #00b1f4 }
.blog-list-3.post-content .b-l-card-3 ul li i.fb { color: #3862f5 }
.blog-list-3.post-content .b-l-card-3 ul li i.g-plus { color: #ee3d49 }


/*
	==============================
		Masonry Blog Style 
	==============================
*/


.masonry-blog-style .card {
	border: none;
	box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.masonry-blog-style .card-body strong.card-category { color: #e95f2b; }
.masonry-blog-style .card-body .card-title {
	color: #6156ce;
	font-weight: 600;
}
.masonry-blog-style .card-body .meta-info.meta-time small {
	color: #888ea8;
    font-weight: 600;
}
.masonry-blog-style .card-body p.card-text { color: #757575; }


/* 	Masonry Blog 2 	*/

.masonry-blog-style .card.m-b-card-2 .card-body .media img {
    width: 50px;
    flex: 0 0 auto;
}
.masonry-blog-style .card.m-b-card-2 .card-body .media .media-body { flex: 1 1 auto; }
.masonry-blog-style .card.m-b-card-2 .card-body .media .media-body h5.usr-name {
    color: #000;
    font-weight: 600;
}


/* 	Masonry Blog 3 	*/

.masonry-blog-style .card.m-b-card-3 .card-body div.meta-usr-info img.meta-usr-profile { width: 50px; }
.masonry-blog-style .card.m-b-card-3 .card-body div.meta-usr-info p.meta-usr-name {
    color: #000;
    font-weight: 600;
}

/* 	Masonry Blog Blockquote */
.masonry-blog-style .card.m-b-blockquote blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}
.masonry-blog-style .card.m-b-blockquote .blockquote-footer::before { display: none; }
blockquote.blockquote {
	color: #3b3f5c;
	background-color: #ffffff;
	border-left: 5px solid #ee3d50;
}


/* 	Masonry Blog Background Text card */

.masonry-blog-style .m-b-background-text-card {
    background: #fff url(../../../../assets/img/masonry-blog-style-2.jpeg) no-repeat center;
    background-size: cover;
}
.masonry-blog-style .m-b-background-text-card .card-title { color: #fff!important; }
.masonry-blog-style .m-b-background-text-card .card-text { color: #fff!important; }

@media (max-width: 767px) {
	.card-columns {
		-webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1;
	}
}