@font-face {
    font-family: 'Galada';
    src: url('Galada-Regular.eot');
    src: url('Galada-Regular.eot?#iefix') format('embedded-opentype'),
        url('Galada-Regular.woff2') format('woff2'),
        url('Galada-Regular.woff') format('woff'),
        url('Galada-Regular.ttf') format('truetype'),
        url('Galada-Regular.svg#Galada-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

