@font-face {
  font-family: 'ish-fontello';
  src: url('../font/ish-fontello3442.eot?6465854');
  src: url('../font/ish-fontello3442.eot?6465854#iefix') format('embedded-opentype'),
       url('../font/ish-fontello3442.woff?6465854') format('woff'),
       url('../font/ish-fontello3442.ttf?6465854') format('truetype'),
       url('../font/ish-fontello3442.svg?6465854#ish-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ish-fontello';
    src: url('../font/ish-fontello.svg?6465854#ish-fontello') format('svg');
  }
}
*/
 
 [class^="ish-icon-"]:before, [class*=" ish-icon-"]:before {
  font-family: "ish-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ish-icon-home:before { content: '\e800'; } /* '' */
.ish-icon-facebook:before { content: '\e801'; } /* '' */
.ish-icon-twitter:before { content: '\e802'; } /* '' */
.ish-icon-dribbble:before { content: '\e803'; } /* '' */
.ish-icon-linkedin:before { content: '\e804'; } /* '' */
.ish-icon-search:before { content: '\e805'; } /* '' */
.ish-icon-stop:before { content: '\e806'; } /* '' */
.ish-icon-cancel:before { content: '\e807'; } /* '' */
.ish-icon-menu:before { content: '\e808'; } /* '' */
.ish-icon-list-add:before { content: '\e809'; } /* '' */
.ish-icon-cog:before { content: '\e80a'; } /* '' */
.ish-icon-align-left:before { content: '\e80b'; } /* '' */
.ish-icon-align-center:before { content: '\e80c'; } /* '' */
.ish-icon-align-right:before { content: '\e80d'; } /* '' */
.ish-icon-heart:before { content: '\e80e'; } /* '' */
.ish-icon-up-open:before { content: '\e80f'; } /* '' */
.ish-icon-check-empty:before { content: '\e810'; } /* '' */
.ish-icon-check-empty-1:before { content: '\e811'; } /* '' */
.ish-icon-ok:before { content: '\e812'; } /* '' */
.ish-icon-right-open:before { content: '\e813'; } /* '' */
.ish-icon-minus:before { content: '\e814'; } /* '' */
.ish-icon-plus:before { content: '\e815'; } /* '' */
.ish-icon-circle:before { content: '\e816'; } /* '' */
.ish-icon-circle-empty:before { content: '\e817'; } /* '' */
.ish-icon-dot-circled:before { content: '\e818'; } /* '' */
.ish-icon-quote:before { content: '\e819'; } /* '' */
.ish-icon-list:before { content: '\e81a'; } /* '' */
.ish-icon-text-width:before { content: '\e81b'; } /* '' */
.ish-icon-font:before { content: '\e81c'; } /* '' */
.ish-icon-map:before { content: '\e81d'; } /* '' */
.ish-icon-location:before { content: '\e81e'; } /* '' */
.ish-icon-db-shape:before { content: '\e81f'; } /* '' */
.ish-icon-align-justify:before { content: '\e820'; } /* '' */
.ish-icon-indent-right:before { content: '\e821'; } /* '' */
.ish-icon-th-list:before { content: '\e822'; } /* '' */
.ish-icon-video:before { content: '\e823'; } /* '' */
.ish-icon-picture:before { content: '\e824'; } /* '' */
.ish-icon-briefcase:before { content: '\e825'; } /* '' */
.ish-icon-article-alt:before { content: '\e826'; } /* '' */
.ish-icon-easel:before { content: '\e827'; } /* '' */
.ish-icon-comment:before { content: '\e828'; } /* '' */
.ish-icon-table:before { content: '\e829'; } /* '' */
.ish-icon-code:before { content: '\e82a'; } /* '' */
.ish-icon-th-large:before { content: '\e82b'; } /* '' */
.ish-icon-th:before { content: '\e82c'; } /* '' */
.ish-icon-megaphone:before { content: '\e82d'; } /* '' */
.ish-icon-attention:before { content: '\e82e'; } /* '' */
.ish-icon-star:before { content: '\e82f'; } /* '' */
.ish-icon-star-empty:before { content: '\e830'; } /* '' */
.ish-icon-star-half:before { content: '\e831'; } /* '' */
.ish-icon-star-half-alt:before { content: '\e832'; } /* '' */
.ish-icon-arrows-cw:before { content: '\e833'; } /* '' */
.ish-icon-chrome:before { content: '\e834'; } /* '' */
.ish-icon-firefox:before { content: '\e835'; } /* '' */
.ish-icon-opera:before { content: '\e836'; } /* '' */
.ish-icon-ie:before { content: '\e837'; } /* '' */
.ish-icon-android:before { content: '\e838'; } /* '' */
.ish-icon-windows:before { content: '\e839'; } /* '' */
.ish-icon-apple:before { content: '\e83a'; } /* '' */
.ish-icon-css3:before { content: '\e83b'; } /* '' */
.ish-icon-html5:before { content: '\e83c'; } /* '' */
.ish-icon-dropbox:before { content: '\e83d'; } /* '' */
.ish-icon-flickr:before { content: '\e83e'; } /* '' */
.ish-icon-github-circled:before { content: '\e83f'; } /* '' */
.ish-icon-github:before { content: '\e840'; } /* '' */
.ish-icon-github-1:before { content: '\e841'; } /* '' */
.ish-icon-gplus:before { content: '\e842'; } /* '' */
.ish-icon-instagramm:before { content: '\e843'; } /* '' */
.ish-icon-linux:before { content: '\e844'; } /* '' */
.ish-icon-pinterest:before { content: '\e845'; } /* '' */
.ish-icon-renren:before { content: '\e846'; } /* '' */
.ish-icon-skype:before { content: '\e847'; } /* '' */
.ish-icon-tumblr:before { content: '\e848'; } /* '' */
.ish-icon-vimeo:before { content: '\e849'; } /* '' */
.ish-icon-xing:before { content: '\e84a'; } /* '' */
.ish-icon-youtube:before { content: '\e84b'; } /* '' */
.ish-icon-stumbleupon:before { content: '\e84c'; } /* '' */
.ish-icon-lastfm:before { content: '\e84d'; } /* '' */
.ish-icon-evernote:before { content: '\e84e'; } /* '' */
.ish-icon-paypal:before { content: '\e84f'; } /* '' */
.ish-icon-picasa:before { content: '\e850'; } /* '' */
.ish-icon-soundcloud:before { content: '\e851'; } /* '' */
.ish-icon-behance:before { content: '\e852'; } /* '' */
.ish-icon-google-circles:before { content: '\e853'; } /* '' */
.ish-icon-globe:before { content: '\e854'; } /* '' */
.ish-icon-w3c:before { content: '\e855'; } /* '' */
.ish-icon-grooveshark:before { content: '\e856'; } /* '' */
.ish-icon-forrst:before { content: '\e857'; } /* '' */
.ish-icon-digg:before { content: '\e858'; } /* '' */
.ish-icon-spotify:before { content: '\e859'; } /* '' */
.ish-icon-reddit:before { content: '\e85a'; } /* '' */
.ish-icon-blogger:before { content: '\e85b'; } /* '' */
.ish-icon-cc:before { content: '\e85c'; } /* '' */
.ish-icon-disqus:before { content: '\e85d'; } /* '' */
.ish-icon-rss:before { content: '\e85e'; } /* '' */
.ish-icon-yahoo:before { content: '\e85f'; } /* '' */
.ish-icon-email:before { content: '\e860'; } /* '' */
.ish-icon-myspace:before { content: '\e861'; } /* '' */
.ish-icon-amazon:before { content: '\e862'; } /* '' */
.ish-icon-steam:before { content: '\e863'; } /* '' */
.ish-icon-ebay:before { content: '\e864'; } /* '' */
.ish-icon-gmail:before { content: '\e865'; } /* '' */
.ish-icon-wordpress:before { content: '\e866'; } /* '' */
.ish-icon-statusnet:before { content: '\e867'; } /* '' */
.ish-icon-acrobat:before { content: '\e868'; } /* '' */
.ish-icon-drupal:before { content: '\e869'; } /* '' */
.ish-icon-pocket:before { content: '\e86a'; } /* '' */
.ish-icon-bitbucket:before { content: '\e86b'; } /* '' */
.ish-icon-stackoverflow:before { content: '\e86c'; } /* '' */
.ish-icon-yandex:before { content: '\e86d'; } /* '' */
.ish-icon-odnoklassniki:before { content: '\e86e'; } /* '' */
.ish-icon-deviantart:before { content: '\e86f'; } /* '' */
.ish-icon-wordpress-1:before { content: '\e870'; } /* '' */
.ish-icon-diigo:before { content: '\e871'; } /* '' */
.ish-icon-wordpress-2:before { content: '\e872'; } /* '' */
.ish-icon-share:before { content: '\e873'; } /* '' */
.ish-icon-spin5:before { content: '\e874'; } /* '' */
.ish-icon-picture-1:before { content: '\e875'; } /* '' */
.ish-icon-link:before { content: '\e876'; } /* '' */
.ish-icon-chat:before { content: '\e877'; } /* '' */
.ish-icon-headphones:before { content: '\e878'; } /* '' */
.ish-icon-movie:before { content: '\e879'; } /* '' */
.ish-icon-pencil:before { content: '\e87a'; } /* '' */
.ish-icon-left-open:before { content: '\e87b'; } /* '' */
.ish-icon-down-open:before { content: '\e87c'; } /* '' */
.ish-icon-doc-text-inv:before { content: '\e87d'; } /* '' */
.ish-icon-progress-0:before { content: '\e87e'; } /* '' */
.ish-icon-vcard:before { content: '\e87f'; } /* '' */
.ish-icon-ellipsis:before { content: '\e880'; } /* '' */
.ish-icon-ellipsis-vert:before { content: '\e881'; } /* '' */
.ish-icon-progress-3:before { content: '\e882'; } /* '' */
.ish-icon-camera:before { content: '\e883'; } /* '' */
.ish-icon-camera-alt:before { content: '\e884'; } /* '' */
.ish-icon-forward:before { content: '\e885'; } /* '' */
.ish-icon-reply:before { content: '\e886'; } /* '' */
.ish-icon-thumbs-up:before { content: '\e887'; } /* '' */
.ish-icon-thumbs-down:before { content: '\e888'; } /* '' */
.ish-icon-thumbs-up-alt:before { content: '\e889'; } /* '' */
.ish-icon-thumbs-down-alt:before { content: '\e88a'; } /* '' */
.ish-icon-print:before { content: '\e88b'; } /* '' */
.ish-icon-chat-empty:before { content: '\e88c'; } /* '' */
.ish-icon-comment-empty:before { content: '\e88d'; } /* '' */
.ish-icon-comment-1:before { content: '\e88e'; } /* '' */
.ish-icon-location-1:before { content: '\e88f'; } /* '' */
.ish-icon-basket:before { content: '\e890'; } /* '' */
.ish-icon-calendar:before { content: '\e891'; } /* '' */
.ish-icon-down-big:before { content: '\e892'; } /* '' */
.ish-icon-left-big:before { content: '\e893'; } /* '' */
.ish-icon-right-big:before { content: '\e894'; } /* '' */
.ish-icon-up-big:before { content: '\e895'; } /* '' */
.ish-icon-arrows-cw-1:before { content: '\e896'; } /* '' */
.ish-icon-desktop:before { content: '\e897'; } /* '' */
.ish-icon-laptop:before { content: '\e898'; } /* '' */
.ish-icon-tablet:before { content: '\e899'; } /* '' */
.ish-icon-mobile:before { content: '\e89a'; } /* '' */
.ish-icon-leaf:before { content: '\e89b'; } /* '' */
.ish-icon-briefcase-1:before { content: '\e89c'; } /* '' */
.ish-icon-chart-bar:before { content: '\e89d'; } /* '' */
.ish-icon-credit-card:before { content: '\e89e'; } /* '' */
.ish-icon-floppy:before { content: '\e89f'; } /* '' */
.ish-icon-gauge:before { content: '\e8a0'; } /* '' */
.ish-icon-wheelchair:before { content: '\e8a1'; } /* '' */
.ish-icon-users:before { content: '\e8a2'; } /* '' */
.ish-icon-user:before { content: '\e8a3'; } /* '' */
.ish-icon-user-add:before { content: '\e8a4'; } /* '' */
.ish-icon-folder:before { content: '\e8a5'; } /* '' */
.ish-icon-phone:before { content: '\e8a6'; } /* '' */
.ish-icon-tools:before { content: '\e8a7'; } /* '' */
.ish-icon-signal:before { content: '\e8a8'; } /* '' */
.ish-icon-globe-1:before { content: '\e8a9'; } /* '' */
.ish-icon-network:before { content: '\e8aa'; } /* '' */
.ish-icon-brush:before { content: '\e8ab'; } /* '' */
.ish-icon-chart-line:before { content: '\e8ac'; } /* '' */
.ish-icon-chart-bar-1:before { content: '\e8ad'; } /* '' */
.ish-icon-chart-area:before { content: '\e8ae'; } /* '' */
.ish-icon-chart-pie:before { content: '\e8af'; } /* '' */
.ish-icon-basket-1:before { content: '\e8b0'; } /* '' */
.ish-icon-basket-alt:before { content: '\e8b1'; } /* '' */
.ish-icon-dollar:before { content: '\e8b2'; } /* '' */
.ish-icon-fire:before { content: '\e8b3'; } /* '' */
.ish-icon-video-chat:before { content: '\e8b4'; } /* '' */
.ish-icon-picture-2:before { content: '\e8b5'; } /* '' */
.ish-icon-fire-1:before { content: '\e8b6'; } /* '' */
.ish-icon-road:before { content: '\e8b7'; } /* '' */
.ish-icon-hearing-impaired:before { content: '\e8b8'; } /* '' */
.ish-icon-award:before { content: '\e8b9'; } /* '' */
.ish-icon-food:before { content: '\e8ba'; } /* '' */
.ish-icon-coffee:before { content: '\e8bb'; } /* '' */
.ish-icon-music:before { content: '\e8bc'; } /* '' */
.ish-icon-note-beamed:before { content: '\e8bd'; } /* '' */
.ish-icon-note:before { content: '\e8be'; } /* '' */
.ish-icon-volume:before { content: '\e8bf'; } /* '' */
.ish-icon-calendar-inv:before { content: '\e8c0'; } /* '' */
.ish-icon-calendar-1:before { content: '\e8c1'; } /* '' */
.ish-icon-link-1:before { content: '\e8c2'; } /* '' */
.ish-icon-link-2:before { content: '\e8c3'; } /* '' */
.ish-icon-attach:before { content: '\e8c4'; } /* '' */
.ish-icon-cog-alt:before { content: '\e8c5'; } /* '' */
.ish-icon-mic:before { content: '\e8c6'; } /* '' */
.ish-icon-mic-1:before { content: '\e8c7'; } /* '' */
.ish-icon-mute:before { content: '\e8c8'; } /* '' */
.ish-icon-shield:before { content: '\e8c9'; } /* '' */
.ish-icon-thumbs-up-1:before { content: '\e8ca'; } /* '' */
.ish-icon-thumbs-down-1:before { content: '\e8cb'; } /* '' */
.ish-icon-down-open-big:before { content: '\e8cc'; } /* '' */
.ish-icon-left-open-big:before { content: '\e8cd'; } /* '' */
.ish-icon-right-open-big:before { content: '\e8ce'; } /* '' */
.ish-icon-up-open-big:before { content: '\e8cf'; } /* '' */
.ish-icon-down-open-1:before { content: '\e8d0'; } /* '' */
.ish-icon-left-open-1:before { content: '\e8d1'; } /* '' */
.ish-icon-up-open-1:before { content: '\e8d2'; } /* '' */
.ish-icon-right-open-1:before { content: '\e8d3'; } /* '' */
.ish-icon-cubes:before { content: '\e8d4'; } /* '' */
.ish-icon-euro:before { content: '\e8d5'; } /* '' */
.ish-icon-dollar-1:before { content: '\e8d6'; } /* '' */
.ish-icon-pound:before { content: '\e8d7'; } /* '' */
.ish-icon-flight:before { content: '\e8d8'; } /* '' */
.ish-icon-recycle:before { content: '\e8d9'; } /* '' */
.ish-icon-puzzle:before { content: '\e8da'; } /* '' */
.ish-icon-alert:before { content: '\e8db'; } /* '' */
.ish-icon-newspaper:before { content: '\e8dc'; } /* '' */
.ish-icon-strike:before { content: '\e8dd'; } /* '' */
.ish-icon-terminal:before { content: '\e8de'; } /* '' */
.ish-icon-keyboard:before { content: '\e8df'; } /* '' */
.ish-icon-sliders:before { content: '\e8e0'; } /* '' */
.ish-icon-code-1:before { content: '\e8e1'; } /* '' */
.ish-icon-qrcode:before { content: '\e8e2'; } /* '' */
.ish-icon-wrench:before { content: '\e8e3'; } /* '' */
.ish-icon-list-1:before { content: '\e8e4'; } /* '' */
.ish-icon-list-2:before { content: '\e8e5'; } /* '' */
.ish-icon-export-1:before { content: '\e8e6'; } /* '' */
.ish-icon-retweet:before { content: '\e8e7'; } /* '' */
.ish-icon-arrows-ccw:before { content: '\e8e8'; } /* '' */
.ish-icon-tag:before { content: '\e8e9'; } /* '' */
.ish-icon-tags:before { content: '\e8ea'; } /* '' */
.ish-icon-folder-open:before { content: '\e8eb'; } /* '' */
.ish-icon-folder-open-empty:before { content: '\e8ec'; } /* '' */
.ish-icon-quote-right:before { content: '\e8ed'; } /* '' */
.ish-icon-quote-left:before { content: '\e8ee'; } /* '' */
.ish-icon-users-1:before { content: '\e8ef'; } /* '' */
.ish-icon-flag:before { content: '\e8f0'; } /* '' */
.ish-icon-forward-1:before { content: '\e8f1'; } /* '' */
.ish-icon-palette:before { content: '\e8f2'; } /* '' */
.ish-icon-database:before { content: '\e8f3'; } /* '' */
.ish-icon-money:before { content: '\e8f4'; } /* '' */
.ish-icon-blind:before { content: '\e8f5'; } /* '' */
.ish-icon-lightbulb:before { content: '\e8f6'; } /* '' */
.ish-icon-umbrella:before { content: '\e8f7'; } /* '' */
.ish-icon-clock:before { content: '\e8f8'; } /* '' */
.ish-icon-flag-1:before { content: '\e8f9'; } /* '' */
.ish-icon-bell:before { content: '\e8fa'; } /* '' */
.ish-icon-unlink:before { content: '\e8fb'; } /* '' */
.ish-icon-cog-1:before { content: '\e8fc'; } /* '' */
.ish-icon-doc:before { content: '\e8fd'; } /* '' */
.ish-icon-params:before { content: '\e8fe'; } /* '' */
.ish-icon-docs:before { content: '\e8ff'; } /* '' */
.ish-icon-file-code:before { content: '\e900'; } /* '' */
.ish-icon-doc-text:before { content: '\e901'; } /* '' */
.ish-icon-tint:before { content: '\e902'; } /* '' */
.ish-icon-chart-line-1:before { content: '\e903'; } /* '' */
.ish-icon-chart-area-1:before { content: '\e904'; } /* '' */
.ish-icon-chart-pie-1:before { content: '\e905'; } /* '' */
.ish-icon-sitemap:before { content: '\e906'; } /* '' */
.ish-icon-graduation-cap:before { content: '\e907'; } /* '' */
.ish-icon-paw:before { content: '\e908'; } /* '' */
.ish-icon-cc-visa:before { content: '\e909'; } /* '' */
.ish-icon-cc-mastercard:before { content: '\e90a'; } /* '' */
.ish-icon-cc-amex:before { content: '\e90b'; } /* '' */
.ish-icon-cc-discover:before { content: '\e90c'; } /* '' */
.ish-icon-cc-paypal:before { content: '\e90d'; } /* '' */
.ish-icon-pinterest-circled:before { content: '\e90e'; } /* '' */
.ish-icon-jsfiddle:before { content: '\e90f'; } /* '' */
.ish-icon-gwallet:before { content: '\e910'; } /* '' */
.ish-icon-joomla:before { content: '\e911'; } /* '' */
.ish-icon-stackoverflow-1:before { content: '\e912'; } /* '' */