/*
*	Responsive styles for Mega-Menu
*/
@media (max-width: 1200px) {
	.nav > li.menu-item-multicolumn > .sub-menu a {
		min-width: 0;
	}
	.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-5 {
		width: 900px;
	}
	.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-4 {
		width: 900px;
	}
	.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-5 > li {
		width: 20%;
	}
	.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-4 > li {
		width: 25%;
	}
}

/* Mobile menu */
@media (max-width: 1024px)  {
	.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-1 > li,
	.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-1 > .sidebar > li.widget {
		width: 100%;
	}
	.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-2 > li,
	.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-2 > .sidebar > li.widget {
		width: 50%%;
	}
	.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-3 > li,
	.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-3 > .sidebar > li.widget {
		width: 100%;
	}
	.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-4 > li,
	.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-4 > .sidebar > li.widget {
		width: 50%;
	}
	.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-5 > li,
	.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-5 > .sidebar > li.widget {
		width: 100%;
	}
}
@media (max-width: 767px)  {
	.nav li.menu-item-multicolumn .sub-menu .sub-menu, 
	.nav li.menu-item-multicolumn .children .children {
		display: none;
	}
	li:hover > .sub-menu,
	.nav li:hover > .children {
	    display: none;
	}
	.nav > li > .sub-menu > .menu-item-has-children > a {
	    font-weight: 700;
	}
	.navbar li .sub-menu li.menu-item-has-children > a:after, 
	.navbar li .children li.menu-item-has-children > a:after {
		display: none;
	}
	.nav > li > .sub-menu {
		z-index: 10000;
	}
	.nav > li.menu-item-multicolumn {
		position: relative;
	}
	.nav > li > .sub-menu {
		width: 100%!important;
		left: 0;
		position: relative!important;
	}
	.nav > li > .sub-menu > .sidebar > li.widget {
		width: 100%;
	}
	.nav .sub-menu, 
	.nav .children {
		margin-left: 0;
	}
	.nav .sub-menu li.menu-item > a, 
	.nav .children li.menu-item > a {
		padding: 10px 15px;
	}
	.nav > li > .sub-menu> li {
		width: 100%!important;
	}
	.nav > li > .sub-menu > .sidebar > li.widget {
		width: 100%!important;
		margin: 0;
		padding: 0;
		padding-bottom: 20px;
	}
	.nav > li > .sub-menu > .sidebar .widgettitle {
		font-size: 14px;
		font-weight: bold;
	}
	.nav > li > .sub-menu > .sidebar {
		margin: 0;
		padding: 15px;
		padding-top: 0;
	}
	.nav > li.menu-item-multicolumn > .sub-menu > li.menu-item-has-children, 
	.nav > li.menu-item-multicolumn > .sub-menu > .sidebar > li.widget {
		float: none;
	}
	.nav > li > .sub-menu > .sidebar > li.widget.widget_nav_menu .widgettitle {
	    padding-left: 0;
	} 
	.nav > li > .sub-menu > .sidebar > li.widget.widget_nav_menu li.menu-item > a {
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.nav li .sub-menu.mgt-menu-bg-image {
		background: none!important;
	}
}

@media (max-width: 568px)  {
	
}

@media (max-width: 480px)  {
	
}

@media (max-width: 400px)  {
	
}

@media (max-width: 380px)  {
	
}

@media (max-width: 240px)  {
	
}