						/**Defult CSS**/
*{margin:0px;padding:0px}
body{font-family:arial;font-size:15px;}
a{text-decoration:none;color:blue;}
a,a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:bload;margin:15px}
						/*Class CSS*/
.header_area{
	background:url(../images/l2.jpg) fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.header_top {
    position: fixed;
    width: 1140px;
    max-width: 100%;
    margin-left: 105px;
    z-index: 9999;
}
.header_top:after{
	    background: #142514;
    position: absolute;
    opacity: .5;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -1;
    margin-top: -135px;
    border-radius: 15px;
}
.search_book{
	    height: 100%;
    text-align: center;
    padding: 250px;
    color: #fff;
    margin-bottom: 50px;
}
.logo {
    width: 150px;
    margin-bottom: 15px;
}
.main_menu {
    margin-top: -20px;
    margin-left: 155px;
}

/* Main Menu Style Start */
#menu-icon{
    background:url(../images/menu-icon.png) center;
    width:40px;
    height:34px;
    display:hidden;
}
.main_menu ul{
    list-style:none;
}
.main_menu ul li{
    font-family: arial;
    display: inline-block;
    width: 134px;
    height: 30px;
    float:left;
    border-radius: 0px 50px;
    margin-top: 22px;
}
.main_menu ul li a{
    text-decoration:none;
    display:block;
    font-weight:bolder;
    text-align:center;
    text-transform:uppercase;
    color:#000;
    padding:15px;
}
.main_menu ul li a:hover{
    background:#262626;
    color:#ff0000;
    border-radius:15px;
}
/*Meadia Query*/
@media screen and (max-width:768px){
    #menu-icon{
        display:inline-block;
    }
    .main_menu:hover ul{
        display:block;
    }
    .main_menu ul , .main_menu:active ul{
        display:none;
        z-index:9999;
        position: absolute;
        background:#405580;
        width:160px;
        padding:5px 30px;
        border:2px dotted #888;
        border-radius:15px ;
        height:305px;
    }
}
/* Main Menu Style END */
.search_book input[type=text] {
      padding: 15px;
    margin-top: 8px;
    font-size: 24px;
    border: none;
}

.search_book  button {
      padding: 10px 40px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.search_book  button:hover {
  background: #ccc;
}
.about_area {
	margin-bottom: 50px;
}
.about{
    background:url(../images/bg.jpg);
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 645px;
}
.about h1{
	padding: 30px;
    border-bottom: 2px solid #fff;
    text-align: center;
}
.about ol {
    margin-left: 25px;
    margin-top: 40px;
    line-height: 45px;
    padding: 20px;
    color: #fff;
    font-size: 18px;
}
.carousel-inner img{
	width: 100%;
	height: 500px;
}
.booklist{
	float: left;
	margin: 15px;
}
.single_booklist{   
	 width: 280px;
    float: left;
        margin: 30px 40px;
    border: 1px solid #008800;
	cursor:pointer;
	text-align: center;
}
.single_booklist img{
	margin-bottom: 30px;
}
.single_booklist img:hover{
	transform:scale(2,2);
	cursor:pointer;
}
/* Contact CSS */
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
/* Contact CSS */
.footer p {
    padding: 15px;
    font-size: 18px;
    color: #3e423e;
}

.footer {
    background: #000;
    text-align: center;
    margin-top: 25px;

/*Scroll Up Css*/
#scrollUp {
    bottom: 0;
    right:15px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    background:url(../images/top.png) no-repeat scroll 0 0;
    text-indent:-9999px;
    z-index:9999;

}

#scrollUp:hover {
    margin-bottom: 0;
}					