/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91ffa5+0,61c419+50,17b200+100 */
background: #91ffa5; /* Old browsers */
background: -moz-linear-gradient(top,  #91ffa5 0%, #61c419 50%, #17b200 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #91ffa5 0%,#61c419 50%,#17b200 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #91ffa5 0%,#61c419 50%,#17b200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ffa5', endColorstr='#17b200',GradientType=0 ); /* IE6-9 */
............
.header_area{background: #2ac92a; /* Old browsers */
background: -moz-linear-gradient(top,  #2ac92a 0%, #8ceae9 50%, #005e25 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2ac92a 0%,#8ceae9 50%,#005e25 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2ac92a 0%,#8ceae9 50%,#005e25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ac92a', endColorstr='#005e25',GradientType=0 ); /* IE6-9 */}
