
/*		Default Layout:1130px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
.warpper{width:1080px;}
.logo{width:400px;}
.single_promo{width: 210px;}
.single_feature img{width: 187px;}
.single_footer_top{width:155px}
.leatest_post{width: 710px;}
.leatest_post img{width: 200px;}
 #sticky.stick{width:57%;}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.warpper{width:750px;}
.logo{width:400px;}
.single_promo{width: 210px;}
.single_feature img{width: 187px;}
.single_footer_top{width:155px}
.leatest_post{width: 710px;}
.leatest_post img{width: 200px;}
 #sticky.stick{width:57%;}
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.warpper{width:300px;}

}




/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.warpper{width:450px;}

}

