						/**Defult CSS**/
*{margin:0px;padding:0px}
body{font-family:bestloversregular,arial;font-size:15px;background:url("../images/main_bg.png") repeat fixed;}
a{text-decoration:none;color:blue;cursor:pointer;}
a,a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-family:Algerian,Comic Sans MS;font-weight:bold;margin-bottom:15px}
						
.warpper{margin:25px auto;background:url("../images/bg.png") repeat fixed ;position:relative;}	
.floatleft{float:left;}
.floatright{float:right;}
.fix{overflow: hidden;}
			/*social BookMark*/
.fb_right_main
{
    width: 27px;
    height: 100px;
    border: 5px solid #ddd;
    border-radius: 7px;
    box-shadow: 0px 0px 25px #000;
    margin-top: 6%;
    margin-left: -10%;
    cursor: pointer;
    position: fixed;
    z-index: 99999;
}
.fb_right_main img
{
    width: 100%;
    height: 100%;
}
.content
{
    height: 100px;
    width:250px;
    margin-top:-368%;
    margin-left: -1855%;
    transition: transform .5s;
}
.fb_right_main:hover  .content
{
    transform: translateX(530px);
}
/*End*/
						/*Class CSS*/
/*header area*/
.header_area{background: #2ac92a; /* Old browsers */background: -moz-linear-gradient(top,  #2ac92a 0%, #8ceae9 50%, #005e25 100%); /* FF3.6-15 */background: linear-gradient(to bottom,  #2ac92a 0%,#8ceae9 50%,#19747d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ac92a', endColorstr='#005e25',GradientType=0 ); /* IE6-9 */}
.header{margin-top:25px;}
.logo {padding-left: 50px;margin-top:15px}
.logo img{margin-left: 12px;}
.logo h1{color: #000;font-size: 40px;margin-left: -35px;}
.header_right{margin-right:15px;position: absolute;margin-left: 625px;margin-top:15px}
.header_right_social{margin-left: 260px;margin-bottom: 10px;}
.header_right_social img{box-shadow:0px 0px 25px #000;}
.header_right_social img:hover{background:#ddd;opacity:.5;}
        /*Main Menu*/
.main_menu{margin-top:-40px;margin-bottom:15px;}
.main_menu ul{margin:0px;padding:0px;text-align:right;}
.main_menu ul li{display:inline;position:relative;}
.main_menu ul li a{display:inline-block;color:#fff;padding:10px;margin: 10px;border:2px solid #ddd;border-radius:10px;}
.main_menu ul li a:hover,.current{background:#6EE0AE;color:#2DCA30;border:2px solid #252;}
/*End Menu*/
        /*Drop Down Menu*/
.main_menu ul li ul{position:absolute;left:-99999px;}
.main_menu ul li:hover ul{left:0px}
.main_menu ul li ul li{}
.main_menu ul li ul li a{background:#263238}
.main_menu ul li ul li a:hover{}
        /*End Drop Down Menu*/

.header_zigjug{background:url("../images/zigzag_bototm_white.png") repeat-x scroll 0 0;height:5px;margin-bottom: 15px;}
.slider_area{}
.nivoSlider{}
.promo_area{background:url(../images/promo_background.png) repeat-x scroll 0 0;}
.promo{}
.single_promo{background: url("../images/promo_border.png") no-repeat scroll right center;margin-right:20px;margin-left: 5px;margin-top: 25px;margin-bottom: 25px;text-align: center;padding-right: 40px;}
.single_promo h2{}
.single_promo p{}
.promo_one h2{background:url(../images/about.png) no-repeat scroll 0 0;}
.promo_two h2{background:url(../images/contact.png) no-repeat scroll 0 0;}
.promo_three h2 {background:url(../images/elements.png) no-repeat scroll 0 0;}
.promo_four h2{background:url(../images/analytics.png) no-repeat scroll 0 0;}
.top_promo_zigjug{background:url("../images/zigzag.png") repeat-x scroll 0 0;height:5px;}
.bpttom_promo_zigjug{background:url("../images/zigzag_bototm.png") repeat-x scroll 0 0;height:5px;}
.feature_area{background: #19747D;}
.feature{}
.feature h2{padding-top: 20px;padding-left: 20px;font-size: 36px;}
.single_feature{cursor:pointer;}
.single_feature img:hover{background:#000;opacity:0.2;filter:brightness(.6);}
.single_feature img{margin-right:15px;margin-left: 5px;border: 4px solid #9e9e9e;box-shadow:5px 15px 25px #000;margin-bottom:50px;}
.footer_top_area{}
.footer_top{}
.footer_top_menu{}
.footer_top_menu ul{margin:0px;padding:0px;list-style:none;}
.footer_top_menu li{background:url(../images/list.png) no-repeat scroll left;}
.footer_top_menu li a{display:block;margin:10px;padding:10px;border-bottom:2px dotted #ddd;color:#000;font-weight: bold;}
.footer_top_menu li a:hover{background:#2B72C1;color:#E6D3C8;}
.single_footer_top{margin-right:25px;margin-left: 10px;margin-top:30px;}
.leatest_post{float:right;margin-top: -259px;padding-top: 25px;}
.leatest_post img{margin-right: 20px;margin-left: 5px;margin-top: 5px;border: 4px solid #8B8180;border-radius: 15px;cursor: pointer;box-shadow: 5px 15px 25px #8B8180;margin-bottom: 40px;}
.leatest_post img:hover{background:#2e2e2e;opacity:.3;}
.footer_area{background:background: #91ffa5; /* Old browsers */
background: -moz-linear-gradient(top,  #91ffa5 0%, #61c419 50%, #17b200 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #91ffa5 0%,#61c419 50%,#17b200 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #91ffa5 0%,#61c419 50%,#17b200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ffa5', endColorstr='#17b200',GradientType=0 ); /* IE6-9 */}
.footer{padding: 20px;}
.copy_right{color:#fff;font-size:15px;margin:5px;}
.developer{margin-top: 5px;color:#fff;font-weight: bold;}
.developer a{color:#fff;}
.developer a:hover{color:#DEEB95;}
            /*Images Effect*/


/*Stick Div*/

/* stick */


#sticky {
    
}

 #sticky.stick {
 	margin-top: 0 !important;
	position: fixed;
	top: 0;
	z-index: 10000;
	background:#ddd;
	opacity:0.9;
	padding-right: 312px;

}
