.logo_container
{
	position: absolute;
	text-align: center;
	display: inline-block;
	top: 15px;
	left: 50%;
	width: auto;
}

body.admin-bar .top_bar.scroll .logo_container
{
	top: 16px;
}

#nav_wrapper
{
	border-top: 0;
}

#menu_border_wrapper
{
	float: left;
}

#menu_border_wrapper_right
{
	float: right;
}

#logo_wrapper
{
	padding: 0;
}

body #menu_wrapper
{
	padding: 0;
}

#menu_wrapper #menu_border_wrapper .nav > ul > li > a:first-child, #menu_wrapper div > .nav > li > a
{
	padding-left: 0;
	margin-right: 5px;
}

html[data-menu=centeralogo] #logo_right_button
{
	position: relative;
	right: 0;
	float: right;
}

.header_cart_wrapper
{
	margin-left: 5px;
}

.header_cart_wrapper .cart_count
{
	top: -6px;
    right: -6px;
    font-size: 10px;
    width: 14px;
    height: 14px;
    line-height: 15px;
}

.top_bar.scroll #logo_wrapper
{
	display: block;
}

#mobile_nav_icon
{
	display: inline-block !important;
}