/* CMS Carousel */
/* CMS Grid */
.cms-grid-wraper .cms-grid-filter{
	width: 100%;
}
.cms-grid-wraper .cms-grid-filter li{
	list-style: none;
}
.cms-grid-wraper .cms-grid-filter li a{
	display: block;
}
.cms-grid-masonry {
  clear: both;
}
/* CMS Fancybox & Counter */
.cms-fancyboxes-wraper.content-align-left, .cms-counter-wraper.content-align-left{
	text-align: left;
}
.cms-fancyboxes-wraper.content-align-right, .cms-counter-wraper.content-align-right{
	text-align: right;
}
.cms-fancyboxes-wraper.content-align-center, .cms-counter-wraper.content-align-center{
	text-align: center;
}
