a{
	font-family:'Exo 2';
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Exo 2';
	font-weight: bold;
	color: #21346a;
}
p{
	font-family: 'Open Sans';
	font-size: 18px !important;
	color: #21346a;
	line-height: 1.9;
}
.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* COLOR */
.main-bg{
	background:#00b4cc !important;
}
.secound-bg{
	background:#21346a !important;
}
.main-color{
	color:#00b4cc !important;
}
.secound-color{
	color:#21346a !important;
}

/* ===============
Header Area START
=============== */

.headerTop{
	background:#00b4cc; 
	width:100%;
	height: 35px;
}
ul.topNavContact li{
	margin-right:20px;
	margin-top: 5px;
}
ul.topNavContact li a{
	color: #fff !important;
	display: block;
	transition: color 1s;
}
ul.topNavContact li a:hover{
	color: #21346a !important;
	display: block;
	text-decoration: none;
}
ul.topNavContact li a i.fa{
	margin-right: 5px;
}



.mainNav ul li a {
    font-size: 19px;
    color: #21346a !important;
    font-weight: bold;
    transition: color .5s linear;
}

.mainNav ul li a:hover{
	color: #00b4cc !important;
}
.mainNav ul li a.active{
	color: #00b4cc !important;
}
.sliderArea{
margin-top: 10%;
}
.slider-area{
	background:url('../images/slider/1.jpg') no-repeat;
	background-size: cover;
	min-height: 588px;
	height: 100%;
	width: 100%;
	position: relative;
}
.innerSlider{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:.5;
	background:#00b4cc;
}
.slider-area-content{
	margin-top: 70px;
}
.slider-area-content h2,p,li{
	color: #fff;
	/* z-index: 1; */
}
.btn-enroll{
	background:#21346a;
	width:150px;
	border: none;
	border-bottom: 2px solid #fff;
	transition:background .5s linear;
	font-size: 20px;
}
.btn-enroll:hover{
	background:#00b4cc;
	border-bottom:2px solid #21346a;
}
.silder-img {
    margin-top: 70px;
}


/*==================== 
	Tilte 
====================== */
.courses p,h1,h5{
	color: #21346a;
}
.title-container{
	text-align: center;
	margin-bottom: 60px;
}
.title-container.sm{
	margin-bottom: 20px;
}
.title-container.text-left{
	text-align: left;
}
.title-container.text-right{
	text-align: right;
}
.title-wrap {
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 20px;
}
.title-wrap .title {
	margin: 0;
}
.title-wrap .title strong {
	font-weight: 400;
}
.title-wrap .separator {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 44px;
}
.title-container .description {
	padding-left: 18%;
	padding-right: 18%;
}
.title-container.text-left .description {
	padding-left: 0;
}
.title-container.text-right .description {
	padding-right: 0;
}
.title-container .description.size-md {
    font-size: 28px;
    font-weight: 300;
    line-height: 43px;
}

/* Dot Separator */
.title-wrap .separator.dot-separator {
    font-family: dosis;
    font-weight: 600;
}

/* Line Separator */
.title-wrap .separator.line-separator {
    background: #606060 none repeat scroll 0 0;
    bottom: 20px;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 4%;
}
.title-wrap .separator.line-separator::after {
    background-color: #606060;
    bottom: 5px;
    content: "";
    height: 1px;
    left: -20px;
    margin: 0 auto;
    position: absolute;
    right: -20px;
}
.title-container.text-left .title-wrap .separator.line-separator {
	left: 0px;
	right: auto;
}
.title-container.text-left .separator.line-separator:after {
	left: 0;
}
.title-container.text-right .title-wrap .separator.line-separator {
	right: 0px;
	left: auto;
}
.title-container.text-right .separator.line-separator:after {
	right: 0;
}

/* White Title */
.title-container.white *{
	color: #fff;
}
.title-container.white .title-wrap .separator.line-separator,
.title-container.white .title-wrap .separator.line-separator:after{
	background-color: #fff;
}

/* Small Title */
.title-sm{
	margin-top: 25px ;
	margin-bottom: 25px;
}
.title-simple{
	margin: 30px 0;; 
}

/* Title Background With Border Style */
.title-bg-line{
	border-bottom: 2px solid #f1f1f1;
	margin-bottom: 30px;
}	
.title-bg-line > .title {
    display: inline-block;
	margin-bottom: 0;
}
.title-bg-line > .title a{
    background: #f1f1f1;
    color: #fff;
    display: inline-block;
    padding: 8px 13px 6px;
	margin-bottom: 0;
}
.title-bg-line > .title a:hover, .title-bg-line > .title a:focus{
	 color: #fff;
}
.course-wrapper:hover{
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
.course-wrapper{
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.course-banner-wrap {
    position: relative;
}
.course-banner-wrap .cat {
    color: #fff;
    font-weight: 600;
    right: 10px;
    padding: 5px 6px;
    font-size: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    cursor: pointer;
}
.bg-yellow {
    background: #E29C04 !important;
}
.bg-pink {
    background: #E91E63 !important;
}
.bg-green {
    background: #4CAF50 !important;
}
.course-detail-wrap {
    background: #fff;
}
.course-wrapper .teacher-wrap {
    padding: 10px 0 10px 125px;
    margin-bottom: 35px;
    position: relative;
}
.course-wrapper .teacher-wrap img {
    background: #fff;
    border: 2px solid #fff;
    left: 15px;
    padding: 2px;
    height: 100px;
    width: 100px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.course-wrapper .teacher-wrap h5 {
    margin: 0;
}
.course-content {
    padding: 0 20px 25px;
}
.course-content .btn {
    margin-top: 8px;
}
.btn, .btn.dark:hover {
    background-color: #00b4cc;
    color: #fff;
    transition: background .5s linear;
}
.btn:hover, .btn:focus, .btn.active {
    background: #21346a;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* Fact Counter */

.fact-counter{
  position: relative;
  z-index: 11
}
.count-num{
  float: left;
  display: contents;
}
.counting_digit span{
  font-size: 30px;
  margin-left: 5px;
}
.counter h3{
  font-weight: 600;
  letter-spacing: 3px;

}
.fact-counter i{
    font-size: 70px;
    opacity: 0.8;
    margin-bottom: 10px;
    color: inherit;	
}
.services-outer{
	position: relative;
	width:100%;
	height: 40vh;
	background:#fff;
	padding: 0;
	margin: 0;
}
#curve{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#curve path{
	fill: #00b4cc21;
}
.services-inner{
	position: relative;
	width:100%;
	background:#fff;
	padding: 0;
	margin: 0;
}
#curve2{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#curve2 path{
	fill: #fff;
}
.services-bg{
	background: #00b4cc21;
	height:100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
.services-bg-2{
	width: 100%;
	margin: 0;
	padding: 0;
}
.services-bg-3{
	background: #00b4cc21;
	height:60vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
.services-bg ul li,.services-bg-3 ul li,.services-bg-2 ul li{
	list-style: none;
	color: #000;
}

/*=================
=Contact us style
==================*/

.contactUs{
	background: #F3F7FA;
}


.contact-left{
	box-sizing: border-box;
	z-index: 19;
	height: 380px;
	width: 320px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
}
.contact-left img{
	display: block;
	margin: 0px;
	width: 100%;
	height: 100%;
	border-radius: 0px;

}
input.form-control{
    box-sizing: border-box;
    z-index: 17;
    left: 0px;
    top: 0px;
    height: 45px;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0px 20px;
    transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
}
textarea{
	box-sizing: border-box;
    z-index: 5;
    left: 0px;
    top: 0px;
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1;
    padding: 12px 20px;
    transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
}






/*Scroll Up Css*/
#scrollUp {
    bottom: 0;
    right:15px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    background: url('../images/top.png')no-repeat scroll 0 0;
    text-indent:-9999px;

}

#scrollUp:hover {
    margin-bottom: 0;
}

/* Sticky Navigation */
  .shy-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background: #fff;
}

.is-watching {
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

/* Google map */
.mapouter{
    position:relative;
    text-align:right;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
}





@media only screen and (max-width: 567px){
.navbar-brand img{
    width: 135px;
}
ul.topNavContact li a{
    font-size: 13px;
}
.sliderArea {
    margin-top: 30%;
}
.services-img{
    display: none;
}
.slider-area-content {
    margin-bottom: 28px;
}
.title-wrap .title {
    font-size: 25px;
}
.title-container {
    margin-bottom:0px;
}
.services-outer{
    height: 10vh;
}
.services-bg{
    height: 72vh;
}
.contact-right textarea{
        width: 320px;
    height: 145px;
}
.footerArea p{
    font-size: 13px !important;
}
}