/*-------------------------------------------------
 = Table of Content
 1.General                              
 2.Header                         
 4.Home section                              
 5.About section                              
 6.Portfolios section
 7.Services section     
 8.Pricing section                                 
 9.Blog Section                               
 10.Contact Section                          
 11.Blog Sidebar                                                       
 12.Blog Single                                                       
 13.Footer                            
-------------------------------------------------*/


html,body,#container {
	height: 100%;
	background: #f0f2f6;
}

header {
	background: #01080c;
	padding: 50px 0;
	text-align: center;
}

.logo {
	margin-bottom: 20px;
}

header p{
	font-size: 13px;
	font-family: 'Raleway';
	color: #eaeaea;
	margin: 0;
}

.choose h1 {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: normal;
}

.choose {
	text-align: center;
	background: #f0f2f6;
	margin: 80px 0;
	height: 100%;
}



.choose-item {
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	height: 100%;
}

.choose-item img {
	width: 100%;
}

.choose-item  p {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 0;
	margin-top: 20px;
	font-weight: 500;
}

.choose-item:hover p {
	color: #f0454d;
}

.choose-item a:hover {
	text-decoration: none;
}


