@font-face {
  font-family: 'linecons';
  src: url('linecons.eot?17392200');
  src: url('linecons.eot?17392200#iefix') format('embedded-opentype'),
       url('linecons.woff?17392200') format('woff'),
       url('linecons.ttf?17392200') format('truetype'),
       url('linecons.svg?17392200#linecons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'linecons';
    src: url('../font/linecons.svg?17392200#linecons') format('svg');
  }
}
*/
 
 [class^="li-"]:before, [class*=" li-"]:before {
  font-family: "linecons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.li-heart:before{content:"\e000";}	
.li-cloud:before{content:"\e001";}	
.li-star:before{content:"\e002";}	
.li-tv:before{content:"\e003";}	
.li-sound:before{content:"\e004";}	
.li-video:before{content:"\e005";}	
.li-videocam:before{content:"\e005";}
.li-trash:before{content:"\e006";}	
.li-user:before{content:"\e007";}	
.li-key:before{content:"\e008";}	
.li-search:before{content:"\e009";}	
.li-settings:before{content:"\e00a";}	
.li-cog:before{content:"\e00a";}
.li-camera:before{content:"\e00b";}	
.li-tag:before{content:"\e00c";}	
.li-lock:before{content:"\e00d";}	
.li-bulb:before{content:"\e00e";}	
.li-lightbulb:before{content:"\e00e";}
.li-pen:before{content:"\e00f";}	
.li-pencil:before{content:"\e00f";}
.li-diamond:before{content:"\e010";}	
.li-display:before{content:"\e011";}	
.li-desktop:before{content:"\e011";}
.li-location:before{content:"\e012";}	
.li-eye:before{content:"\e013";}	
.li-bubble:before{content:"\e014";}	
.li-comment:before{content:"\e014";}
.li-stack:before{content:"\e015";}	
.li-inbox:before{content:"\e015";}
.li-cup:before{content:"\e016";}	
.li-phone:before{content:"\e017";}	
.li-mobile:before{content:"\e017";}
.li-news:before{content:"\e018";}	
.li-doc:before{content:"\e018";}
.li-mail:before{content:"\e019";}	
.li-like:before{content:"\e01a";}	
.li-thumbs-up:before{content:"\e01a";}
.li-photo:before{content:"\e01b";}	
.li-note:before{content:"\e01c";}	
.li-clock:before{content:"\e01d";}	
.li-paperplane:before{content:"\e01e";}	
.li-paper-plane:before{content:"\e01e";}
.li-params:before{content:"\e01f";}	
.li-banknote:before{content:"\e020";}	
.li-money:before{content:"\e020";}
.li-data:before{content:"\e021";}	
.li-database:before{content:"\e021";}
.li-music:before{content:"\e022";}	
.li-megaphone:before{content:"\e023";}	
.li-study:before{content:"\e024";}	
.li-graduation-cap:before{content:"\e024";}
.li-lab:before{content:"\e025";}	
.li-beaker:before{content:"\e025";}
.li-food:before{content:"\e026";}	
.li-t-shirt:before{content:"\e027";}	
.li-fire:before{content:"\e028";}	
.li-clip:before{content:"\e029";}	
.li-attach:before{content:"\e029";}
.li-shop:before{content:"\e02a";}	
.li-calendar:before{content:"\e02b";}	
.li-vallet:before{content:"\e02c";}	
.li-wallet:before{content:"\e02c";}
.li-vynil:before{content:"\e02d";}	
.li-cd:before{content:"\e02d";}
.li-truck:before {content: "\e02e";}
.li-world:before{content:"\e02f";}	
.li-globe:before{content:"\e02f";}