/*---------Palette Box--------*/
.basic {
    text-align: center;
    padding: 30px 0px 20px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.basic-footer {
    font-size: 14px;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #e4e4e4;
    font-weight: 600;
    text-align: center;
    padding: 8px 0px 0px;
    margin-bottom: 30px
}