@media only screen and (max-width: 1100px) {
	.deco--circle, .slide__inner {
		width: 680px;
		height: 360px;
	}
	.deco--expander {
		margin: -180px 0 0 -340px;
	}
	.navbutton--prev {
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-320px, 127px, 0);
		transform: translate3d(-100%, 0, 0) translate3d(-320px, 127px, 0);
	}
	.navbutton--next {
		-webkit-transform: translate3d(320px, -125px, 0);
		transform: translate3d(320px, -125px, 0);
	}
	.deco--circle-left {
		right: calc(100% - 100px);
	}

	.deco--circle-right {
		left: calc(100% - 100px);
	}
}

@media only screen and (max-width: 860px) {
	.deco--circle, .slide__inner {
		width: 510px;
		height: 270px;
	}
	.deco--expander {
		margin: -135px 0 0 -255px;
	}
	.navbutton--prev {
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-230px, 77px, 0);
		transform: translate3d(-100%, 0, 0) translate3d(-230px, 77px, 0);
	}
	.navbutton--next {
		-webkit-transform: translate3d(230px, -75px, 0);
		transform: translate3d(230px, -75px, 0);
	}
	.deco--circle-left {
		right: calc(100% - 80px);
	}

	.deco--circle-right {
		left: calc(100% - 80px);
	}
	.slide__inner {
		padding: 8px;
	}
	.folio-read-more-button.action--open {
		margin: 0 20px 20px 0;
		padding-top: 2px;
		padding-left: 3px;
	}
	.folio-read-more-button.action {
		line-height: 1;
		width: 30px;
		height: 30px;
	}
	.folio-read-more-button .fa:before {
		font-size: 30px;
	}



}

@media only screen and (max-width: 630px) {
	.deco--circle, .slide__inner {
		width: 340px;
		height: 180px;
	}
	.deco--expander {
		margin: -90px 0 0 -170px;
	}
	.navbutton--prev {
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-150px, 57px, 0);
		transform: translate3d(-100%, 0, 0) translate3d(-150px, 57px, 0);
	}
	.navbutton--next {
		-webkit-transform: translate3d(150px, -45px, 0);
		transform: translate3d(150px, -45px, 0);
	}
	.deco--circle-left {
		right: calc(100% - 40px);
	}

	.deco--circle-right {
		left: calc(100% - 40px);
	}
	.slide__inner {
		padding: 8px;
	}
}

@media only screen and (max-width: 1530px) {
	.vc_altos_team { 
		max-width: 100%; 
	}
	.team-member-single {
		width: 33%;
	}

}



@media only screen and (max-width: 1470px) {
	.header-wrapper .header-inside { 
		padding: 0; 
		width: 1170px; 
		margin: 0 auto; 
	}
}

@media only screen and (max-width: 1200px) {
	.center, .inner-container, .inner-slider-wrap, .vertical-page-title h1, .vertical-page-title .page-title h1, .page-separator, .footer-inner { 
		width: 930px; 
	}
	.inner-container.small-container {
		width: 800px;
	}
	.index-post-wrap {
		width: 650px;
	}
	.index-post-wrap .post-title-link {
		padding-right: 0;
	}
	.index-post-wrap .post-header-wrap, 
	.index-post-wrap .post-content-wrap {
		padding: 0 50px;
	}
	.sidebar {
		width: 250px;
		margin-left: 30px;
	}
	.header-wrapper .header-inside { 
		padding: 0; 
		width: 930px; 
		margin: 0 auto; 
	}
	.vertical-page-title h1 {
		-moz-transform: rotate(90deg) translate(51%, 420px);
		-ms-transform: rotate(90deg) translate(51%, 420px);
		-o-transform: rotate(90deg) translate(51%, 420px);
		-webkit-transform: rotate(90deg) translate(51%, 420px);
		transform: rotate(90deg) translate(51%, 420px);
	}
	.vc_altos_counter .counter_execute {
		font-size: 100px;
	}
	

	/*
	.team-member-single {
		width: 465px;
	}
	*/
	.footer-left, .footer-right {
		width: 50%;
	}
	.post-header-wrap, .post-content-wrap {
		padding: 0 100px;
	}
	.vc_portfolio_grid .slideshow .slide {
		width: 50%;
	}
	.clear2 {
		clear: both;
	}
   .clear4 {
   		clear: none;
   }

}

@media only screen and (max-width: 1000px) {
	.team-member-single {
		width: 50%;
	}
	
	

}



@media only screen and (max-width: 959px) {
	.center, .inner-container, .inner-slider-wrap, .vertical-page-title h1, .vertical-page-title .page-title h1, .page-separator, .footer-inner { 
		width: 748px; 
	}
	.index-post-wrap {
		width: 100%;
	}
	.index-post-wrap .post-title-link {
		padding-right: 0;
	}
	.index-post-wrap .post-header-wrap, 
	.index-post-wrap .post-content-wrap {
		padding: 0px;
	}
	.sidebar {
		width: 100%;
		position: relative; 
		padding: 0; 
		margin-left: 0;
		margin-top: 10px; 
	}
	.inner-container.small-container {
		width: 700px;
	}
	.header-wrapper .header-inside { 
		padding: 0; 
		width: 748px; 
		margin: 0 auto; 
	}
	.vertical-page-title h1 {
		-moz-transform: rotate(90deg) translate(51%, 320px);
		-ms-transform: rotate(90deg) translate(51%, 320px);
		-o-transform: rotate(90deg) translate(51%, 320px);
		-webkit-transform: rotate(90deg) translate(51%, 320px);
		transform: rotate(90deg) translate(51%, 320px);
	}
	.vc_altos_counter .counter_execute {
		font-size: 70px;
	}
	
	.altos_posts_big_article_wrapper {
		width: auto;
		float: none;
	}
	
	.altos_posts_big_article {
		max-width: 420px;
		left: 50%;
		margin-left: -210px;
	}
	
	.altos_post_articles {
		width: auto; 
		margin-top: 20px;
	}
	
	h1.title-sh {
		font-size: 52px;
	}
	.page-subtitle {
		font-size: 28px;
		margin-top: -15px;
	}
	.single-portfolio-title-page {
		font-size: 52px;
	}
	.single-portfolio-title-item.slide__title--main {
		font-size: 28px;
	}
	.vc_altos_counter2 .counter_execute {
		font-size: 45px;
	}
	.testimonials-content-area .testimonial-content {
		font-size: 20px;
	}
	/*
	.menu-icon-create, .menu-icon-create:after, .menu-icon-create:before {
		width: 18px;
	}
	
	.menu-icon-create:before {
		top: -6px;
	}

	.menu-icon-create:after {
		top: 6px;
	}
	*/
	
	
	.footer-inner {
		display: block;
		text-align: center;
	}
	.footer-left, .footer-right {
		width: 100%;
		text-align: center;
		float: left;
		display: block;
	}
	.scroll_to_top {
		margin-left: 0;
		margin-top: 15px;
	}
	.post-header-wrap, .post-content-wrap {
		padding: 0 40px;
	}
	.main-menu, .menu-icon {
		display: none;
	}
	.header-wrapper.header2 {
		display: none !important; 
	}
	.menu-icon.menu-icon-mobile {
		display: inline-block;
	}

}

@media only screen and (max-width: 767px) {
	.center, .inner-container, .inner-slider-wrap, .vertical-page-title h1, .vertical-page-title .page-title h1, .page-separator, .footer-inner { 
		width: 90%; 
	}
	
	.slide__details {
		width: 100%;
	}
	
	.inner-slider-wrap {
		padding: 0 15px;
		
	}

	.inner-container.small-container {
		width: 90%;
	}
	
	.inner-slider-wrap .small-container {
		width: 90%;
	}
	.header-wrapper .header-inside {  
		padding: 0; 
		width: 90%; 
		margin: 0 auto; 
	}
	.vertical-page-title h1 {
		-moz-transform: rotate(90deg) translate(51%, 320px);
		-ms-transform: rotate(90deg) translate(51%, 320px);
		-o-transform: rotate(90deg) translate(51%, 320px);
		-webkit-transform: rotate(90deg) translate(51%, 320px);
		transform: rotate(90deg) translate(51%, 320px);
	}
	.vc_altos_counter .counter_execute {
		font-size: 70px;
	}
	
	
	
	.altos_posts_big_article_wrapper {
		width: auto;
		float: none;
	}
	
	.altos_posts_big_article {
		max-width: 420px;
		left: 50%;
		margin-left: -210px;
	}
	
	.altos_post_articles {
		width: auto; 
		margin-top: 20px;
	}
	h1.title-sh {
		font-size: 52px;
	}
	h1.post-title, .post-title-link {
		font-size: 32px;
		padding-right: 0;
	}
	.page-subtitle {
		font-size: 28px;
		margin-top: -15px;
	}
	.vc_altos_counter2 .counter_execute {
		font-size: 45px;
	}
	.testimonials-content-area .testimonial-content {
		font-size: 20px;
	}
	
	.vc_altos_counter2  {
		text-align: center;
	}
	
	.vertical-page-title {
		width: 100%;
		text-align: center;
	}
	
	.vertical-page-title h1 {
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
	}
	
	div.vc_empty_space {
		height: 0 !important;
	}
	
	.inner-with-vertical-title {
		margin-left: 0;
	}
	.vc_titles {
		text-align: center !important;
	}
	
	.vc_altos_counter {
		float: none;
	}
	.altos-align-center {
		text-align: center;
	}
	.team-member-single {
		width: 100%;
		max-width: 500px;
	}
	
	.clients_single {
		display: block;
		vertical-align: middle;
		height: auto;
		width: 50%;
		padding: 50px 20px;
		float: left;
		border: none;
	}
	
	.clients_single:nth-child(even) {
	clear: right;
	}
	.clients_single:nth-child(odd) {
	clear: left;
	}
	.clients_row:last-child .clients_single:nth-child(even) {
	clear: left;
	}
	.clients_row:last-child .clients_single:nth-child(odd) {
	clear: right;
	}
	.clients_row {
		width: auto;
		display: block;
	}
	
	.other-page-item {
		padding-top: 40px;
	}
	.other-page-item .inside-section {
		padding-bottom: 40px;
	}
	.header-wrapper .logo {
		text-align: center;
		width: 100%;
	}
	.header-wrapper .logo a {
		display: inline-block;
	}
	.portfolio_detail_single {
		width: 50%;
	}
	
	.portfolio_detail_single:nth-child(even) {
		border-right: 0;
	}
	.post-header-wrap{
		padding: 0;
		text-align: center;
	}
	.post-content-wrap {
		padding: 0;
	}
	ul.post-details {
		margin-left: 0;
		margin-bottom: 30px;
	}
	
	ul.post-details li.post-detail-single {
		float: none;
		margin-left: 0;
		display: inline-block;
		margin-bottom: 0px;
	}
	.comment-form-author, .comment-form-email, .comment-form-url {
		width: 100%;
		margin-right: 0;
		float: left;
	}
	h1.padded-title {
		line-height: 2.3;
		font-size: 18px;
	}
	.slide__description.portfolio-type2 .single-portfolio-title-item.slide__title--main {
		text-align: left;
		max-width: 100%;
		text-transform: none;
		color: #fff;
		float: none;
		display: inline-block;
		margin-left: 0;
		padding: 0 20px;
	}
	.slide__description.portfolio-type2 > div.vc_row {
		width: 100% !important;
		margin-left: 0;
	}
	.single-portfolio-title-wrapper {
		width: 100%;
	}
	
	.error-content1 {
		font-size: 100px;
	}
	
	.popup-search-wrapper #searchform #s {
		font-size: 22px;
	}
}

@media only screen and (max-width: 500px) {
	.team-member-single {
		margin-bottom: 20px;
	}
	
	
	.team-member-details {
		width: 100%;
		display: block;
		background: #d03c4a;
		max-width: 250px;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
		padding: 20px;
	}
	.team-member-single-thumb {
		width: 100%;
		display: block;
		height: auto;
		max-width: 250px;
		margin: 0 auto;
		vertical-align: middle;
		position: relative;
	}
	.team-member-single .arrow-left, .team-member-single .arrow-right {
		display: none;
	}
	.altos_post_article {
		width: 100%;
		text-align: center;
	}
	.portfolio_detail_single {
		width: 100%;
	}
	
	.portfolio_detail_single {
		border-right: 0;
	}
	
	h1.title-sh, h1.post-title {
		font-size: 32px;
	}
	.page-subtitle {
	    font-size: 22px;
	    margin-top: -3px;
	}
	.single-portfolio-title-page {
		font-size: 32px;
	}
	.single-portfolio-title-item.slide__title--main {
		font-size: 22px;
	}
	.blockquote.type4 {
		padding: 0 10px;
	}
	.post-tags a {
		display: block;
		float: left;
		margin-bottom: 10px;
	}
	.clients_single {
		padding: 20px;
		width: 100%;
	}
	span.wpcf7-form-control-wrap.your-name {
		width: 100%;
	}

	span.wpcf7-form-control-wrap.your-email {
		width: 100%;
	}
	
	.vc_portfolio_grid .slideshow .slide {
		width: 100%;
	}
}

@media only screen and (max-width: 420px) {
	.altos_posts_big_article {
		max-width: 100%;
		left: 0;
		margin-left: 0;
		top: 45px;
	}
	
	.navbutton {
		width: auto;
		top: 0;
	}
	.deco--circle, .slide__inner {
		width: 255px;
		height: 135px;
	}
	
	.deco--expander {
		margin: -67.5px  0 0 -127.5px;
	}
	.navbutton--prev {
		-webkit-transform: none;
		transform: none;
		margin-left: -50px;
	}
	.navbutton--next {
		-webkit-transform: none;
		transform: none;
		margin-left: 0px;
	}
	.deco--circle-left {
		right: calc(100% - 40px);
	}

	.deco--circle-right {
		left: calc(100% - 40px);
	}
	.slide__inner {
		padding: 8px;
	}
	.header-wrapper .header-inside {
		display: block;
	}
	.header-wrapper .logo {
		width: 100% !important;
		text-align: center;
		display: block;
	}
	.header-wrapper .logo  a {
		float: none;
	}
	.menu-wrapper {
		display: block;
		width: 100%;
	}
	.menu-icons {
		float: none;
		position: relative;
	}
	.menu-icons-inside {
		width: 100%;
	}
	.menu-icon.menu-icon-mobile {
		width: 100%;
		text-align: center;
	}
	.menu-icon-create {
		float: none;
		margin: 0 auto;
		display: block;
	}
	.header-search {
		display: none;
	}
	.header-wrapper {
		padding: 10px 0;
	}

	.rev-btn {
		display: none !important;
	}
}