/* Large desktop */
@media (max-width: 1290px) {   
    .list_carousel .owl-buttons div{
        display: none;
    }
    .owl-controls .owl-pagination{
        display: block;
    }
}
@media (max-width: 1199px) {
    .theme-boxed, .theme-boxed #header.header-small, .theme-boxed .fixed-footer {
        width:1000px;
    }
    .theme-boxed .waves-full-element {
        margin-left: -30px;
        width: 1000px;
    }
    .theme-full .waves-portfolio.waves-full-element .isotope-container[data-column="3"]>article{
        width: 33.31%;
    }
    .waves-portfolio.waves-full-element .isotope-container[data-column="4"]>article{
        width: 24.97%;
    }
    .waves-portfolio.waves-full-element .isotope-container[data-column="5"]>article{
        width: 19.969%;
    }
    .entry-content blockquote {
        margin: 30px 60px;
    }
}
/* Medium-Large desktop */
@media only screen and (min-width: 1200px) {
}
@media (min-width: 992px) {
    #mobile-menu{
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (max-width: 1024px) {}

@media (max-width: 991px) {
    .waves-map>.map{
        margin-right: 20px;
    }
    .waves-map:after{
        display: block;
    }
    .theme-boxed, .theme-boxed #header.header-small, .theme-boxed .fixed-footer {
        width:780px;
    }
    #main .waves-blog.grid-blog article.col-md-3,
    #main .waves-blog.grid-blog article.col-md-6{
        width: 49.9%;
    }
    #main .waves-heading{
        margin-bottom: 0px;
    }
    .waves-blog article.hentry{
        margin-bottom: 50px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
        float: left;
    }
    /* Bootstrap column */
    [class*="col-md"] {
        width: 100%;
    }
    .col-md-3{
        width: 50%;
    }
    /* Portfolio */
    .waves-portfolio article.portfolio {
        width: 49.9% !important;
    }
    .portfolio-thumb > img {
        width: 100%;
    }
    .show-mobile-menu {
        display: block;
    }
    nav.menu-container {
        display: none;
    }
    .tw_post_sharebox{
        position: static;
        margin-top: 20px;
    }
    .comment-form-comment{
        width: 100%;
    }
    .waves-callout .callout-text {
        text-align: center;
    }
    .waves-callout .callout-text h1 {
        padding-right: 0;
    }
    .waves-callout .callout-text a.btn {
        position: static;
        margin-top: 10px;
        margin-left: 0px;
    }
    .waves-callout.with-button p {
        padding-right: 0px;
    }
    .row>div{
        vertical-align: top;
    }
    .waves-sidebar.col-md-3 {
        width: 100%;
    }
    .entry-content blockquote {
        margin: 30px;
    }
    .bg-video-container h2{
        font-size: 28px;
    }
    .pricing-column{
        width: 50%;
        margin-bottom: 60px;
    }
    .nav-tabs>li i{
        font-size: 36px;
    }
    .nav-tabs>li h5{
        font-size: 13px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    .margin-bottom-30{
        position: relative;
    }
    .waves-sidebar aside.widget{
        width: 270px;
        float: left;
    }
    .waves-sidebar aside.widget:nth-child(even){
        float: right;
    }
    .col-md-4 {
        width: 33.3%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-3, .col-md-6 {
        width: 50%;
    }
    #header .col-md-3 {
        width: 100%;
        text-align: center;
    }
    article.loop ul.loop-meta li.category,#header .tw-social-icon{
        display:none;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    article.single{
        padding: 0 10px;
    }
    .tw-author{
        padding: 10px 15px; 
    }
    .tw-author .author-title{
        padding: 0 15px;
        border-right: 0;
    }
    .tw-author .author-description{
        display: block;
        padding: 20px 0 0;
    }
    .comment-author-img{
        width: 50px;
        margin: 0 10px 0 0;
    }
    .comment-body{
        margin-left: 60px;
    }
    .comment-list .comment-block .comment-block .comment{
        padding-left: 20px;
    }
    .comment-list .comment-block .comment-block .comment-block .comment{
        padding-left: 40px;
    }
    .comment-list .comment-block .comment-block .comment-block .comment-block .comment{
        padding-left: 60px;
    }
    .waves-sidebar aside.widget{
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .waves-blog .entry-box{
        padding: 15px 20px;
    }
    .entry-title{
        font-size: 16px;
        padding-right: 0;
    }
    .entry-meta-abs{
        position: static;
    }
    .entry-meta-abs i{
        margin-right: 5px;
    }
    .nav-tabs>li.active a:after,
    .entry-date, article.hentry a.more-link{
        display: none !important;
    }
    .acc-blog-group .entry-box{
        margin: 0 auto;
        max-width: 100%;
    }
    .accordion-blog .acc-blog-group .entry-title{
        max-height: 27px;
    }
    .entry-media blockquote{
        font-size: 18px;
        padding: 20px 30px;
    }
    .quote-title-container{
        left: -10px;
    }
    .quote-title-container .qoute-title{
        padding: 0 10px;
    }
    .entry-date{
        font-size: 16px;
    }
    .entry-date span.year{
        font-size: 20px;
    }
    .bg-parallax{
        background-attachment: scroll !important;
        background-position: center center !important;
        background-size: cover;
    }
    .theme-boxed {
        width:auto;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
    }
    .theme-boxed, .theme-boxed #header.header-small, .theme-boxed .fixed-footer {
        width:100%;
    }
    #main .waves-blog.grid-blog .row.isotope{
        margin-left: 0;
        margin-right:0;
    }
    #main .waves-blog.grid-blog article.col-md-3,
    #main .waves-blog.grid-blog article.col-md-6{
        width: 100%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
    #bottom ul{
        float: none;
    }
    body{
        padding: 0;
        margin:0 !important;
    }
    .list_carousel li,.member-image > img{
        width: 100%;
    }
    #main .comment-block .comment-block{
        margin-left: 0;
        padding: 0;
    }
    .nav-tabs>li{
        width: auto !important;
        display: block;
    }
    .nav-tabs>li.active a{
        top: 0;
    }
    .nav-tabs>li a{
        margin: 0;
        border: none;
    }
    .tw-chart-pie > canvas{
        max-width: 370px;
        max-height: 370px;
    }
    .tw-pricing-col{
        float:none;display:block;width:100% !important;margin-bottom: 40px;
    }
    .tw-pricing-col:last-child{
        margin: 0;
    }
    p.form-submit, .comment-form-author, .comment-form-comment{
        float: none;
        width: 100%;
    }
    .list_carousel {
        margin: 0 -10px !important;
    }
    .image-slide-container.list_carousel{
        margin: 0 !important;
    }
    .tw-404-error{
        width: 310px;
    }
    .tw-404-search-container{
        width: auto;
        padding: 30px 0;
    }
    .error4button, .tw-cs-container input[type="submit"]{
        margin-top: 10px;
    }
    #bottom .copyright,#footer p{
        margin-bottom: 20px;
    }
    .waves-carousel-team.list_carousel .owl-carousel,
    .waves-carousel-post.list_carousel .owl-carousel,
    .waves-carousel-portfolio.list_carousel .owl-carousel{
        max-width: 370px;
        margin: 0 auto;
    }
    /* Portfolio */
    .waves-portfolio article.portfolio {
        width: 49.8% !important;
    }
    .pricing-two .pricing-column, .pricing-three .pricing-column, .pricing-four .pricing-column, .pricing-five .pricing-column, .pricing-six .pricing-column{
        width: 100%;
        margin-bottom: 10px;
    }
    .pricing-content ul li, .pricing-column .pricing-footer {
        border-right: 1px solid #bdc3c7;
    }
    .bg-video-container h2, .bg-video-container h2.bg-video-last-text{
        position: static;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .wpcf7 input[type="text"],
    .wpcf7 input[type="password"],
    .wpcf7 input[type="email"]{
        width: 30.8%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .col-md-3, .pricing-column{
        width: 100%;
    }
    .team-member,.testimonial-item.style-default .testimonial-meta span{
        width: 100%;
        margin-bottom: 30px;
    }
    .wpcf7 textarea,
    .wpcf7 input[type="text"], .wpcf7 input[type="password"], .wpcf7 input[type="email"]{
        position: relative;
        min-width: 200px;
        margin-right: 0;
        top: auto;
    }
    .testimonial-item.style-default .testimonial-meta a, .testimonial-item.style-default .testimonial-meta span{
        position: relative;
    }
    .testimonial-item.style-default .testimonial-meta span{
        display: block;
        text-align: center;
    }
    .waves-blog article.hentry{
        margin-bottom: 30px;
    }
    .theme-boxed {
        width:auto;
    }  
    .waves-carousel-testimonial.style_2 .testimonial-avatar{
        display: none;
    }
    .waves-carousel-testimonial.style_2 .owl-carousel .owl-item, .waves-carousel-testimonial.style_2 .owl-controls{
        padding: 0;
    }
    article.loop ul.loop-meta {
        border-color: transparent;
    }
    blockquote{
        margin-left: 30px;
    }
    .waves-portfolio article.portfolio,
    .theme-full .waves-portfolio.waves-full-element .isotope-container[data-column="3"]>article,
    .wpcf7 input, .wpcf7 input[type="tel"], .wpcf7 input[type="date"], .wpcf7 input[type="text"], .wpcf7 input[type="password"], .wpcf7 input[type="email"], .wpcf7 select{
        width: 100% !important;
    }
    .bg-video-play, .acc-blog-video-play{
        font-size: 20px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        border-width: 5px;
    }
    #main .tw-element.style_3{
        padding: 0 15px;
    }
    #footer,
    #footer .tw-social-icon{
        text-align: center;
    }

    .twslidersmalltop  {
        display: none !important;
    }
    .hasclicklistener  {
        display: none !important;
    }
    
}