    #nz-box-1 .box-icon {
        color: #999999;
    }
    
    #nz-box-1 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #b5e655;
    }
    
    #nz-box-1:hover .box-icon {
        color: #b5e655 !important;
    }
    #nz-box-2 .box-icon {
        color: #999999;
    }
    
    #nz-box-2 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #55e6d3;
    }
    
    #nz-box-2:hover .box-icon {
        color: #55e6d3 !important;
    }
    #nz-box-3 .box-icon {
        color: #999999;
    }
    
    #nz-box-3 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #ffc000;
    }
    
    #nz-box-3:hover .box-icon {
        color: #ffc000 !important;
    }


    #nz-box-4 .box-icon {
        color: #999999;
    }
    
    #nz-box-4 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #c189db;
    }
    
    #nz-box-4:hover .box-icon {
        color: #9066a3 !important;
    }



    #nz-testimonials-1 .test-data .name {
        color: #f6c01b;
    }
    
    #nz-testimonials-1 .test-data .title {
        color: #ffffff;
    }
    
    #nz-testimonials-1 .text {
        color: #ffffff;
    }
    
    #nz-testimonials-1 .owl-controls .owl-buttons div {
        color: #ffffff;
    }
    
    #nz-testimonials-1 .text-icon {
        background-color: #ffffff;
    }

    #nz-column-1 .price {
        color: #9ccc3f;
    }
    
    #nz-column-1 .title {
        color: #9ccc3f;
    }
    
    #nz-column-1.highlight-true .pricing {
        background-color: #9ccc3f;
    }
    
    #nz-column-1.highlight-true .column-inner {
        border-color: #9ccc3f;
    }
    
    #nz-column-1.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #9ccc3f;
    }
    
    #nz-column-1 .button {
        background: #9ccc3f;
    }
    
    #nz-column-1 .button:hover {
        background: rgb(136, 184, 43);
    }
    
    #nz-column-1.highlight-true .hlabel {
        color: rgb(106, 154, 13);
    }
    #nz-column-2 .price {
        color: #3bd4c0;
    }
    
    #nz-column-2 .title {
        color: #3bd4c0;
    }
    
    #nz-column-2.highlight-true .pricing {
        background-color: #3bd4c0;
    }
    
    #nz-column-2.highlight-true .column-inner {
        border-color: #3bd4c0;
    }
    
    #nz-column-2.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #3bd4c0;
    }
    
    #nz-column-2 .button {
        background: #3bd4c0;
    }
    
    #nz-column-2 .button:hover {
        background: rgb(39, 192, 172);
    }
    
    #nz-column-2.highlight-true .hlabel {
        color: rgb(9, 162, 142);
    }
    #nz-column-3 .price {
        color: #ff573a;
    }
    
    #nz-column-3 .title {
        color: #ff573a;
    }
    
    #nz-column-3.highlight-true .pricing {
        background-color: #ff573a;
    }
    
    #nz-column-3.highlight-true .column-inner {
        border-color: #ff573a;
    }
    
    #nz-column-3.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #ff573a;
    }
    
    #nz-column-3 .button {
        background: #ff573a;
    }
    
    #nz-column-3 .button:hover {
        background: rgb(235, 67, 38);
    }
    
    #nz-column-3.highlight-true .hlabel {
        color: rgb(205, 37, 8);
    }
    #nz-column-4 .price {
        color: #3b99d4;
    }
    
    #nz-column-4 .title {
        color: #3b99d4;
    }
    
    #nz-column-4.highlight-true .pricing {
        background-color: #3b99d4;
    }
    
    #nz-column-4.highlight-true .column-inner {
        border-color: #3b99d4;
    }
    
    #nz-column-4.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #3b99d4;
    }
    
    #nz-column-4 .button {
        background: #3b99d4;
    }
    
    #nz-column-4 .button:hover {
        background: rgb(39, 133, 192);
    }
    
    #nz-column-4.highlight-true .hlabel {
        color: rgb(9, 103, 162);
    }

    #nz-box-5 .box-icon {
        color: #999999;
    }
    
    #nz-box-5 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #ffc000;
    }
    
    #nz-box-5:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-6 .box-icon {
        color: #999999;
    }
    
    #nz-box-6 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #55e6d3;
    }
    
    #nz-box-6:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-7 .box-icon {
        color: #999999;
    }
    
    #nz-box-7 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #b5e655;
    }
    
    #nz-box-7:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-8 .box-icon {
        color: #999999;
    }
    
    #nz-box-8 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #c189db;
    }
    
    #nz-box-8:hover .box-icon {
        color: #9066a3 !important;
    }


    
        #nz-box-9 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-9 .box-icon-wrap {
        background-color: #b5e655;
    }
    
    #nz-box-9:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-10 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-10 .box-icon-wrap {
        background-color: #ffc000;
    }
    
    #nz-box-10:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-11 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-11 .box-icon-wrap {
        background-color: #55e6d3;
    }
    
    #nz-box-11:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-12 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-12 .box-icon-wrap {
        background-color: #b5e655;
    }
    
    #nz-box-12:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-13 .box-icon {
        color: #999999;
    }
    
    #nz-box-13 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #ffc000;
    }
    
    #nz-box-13:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-14 .box-icon {
        color: #999999;
    }
    
    #nz-box-14 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #55e6d3;
    }
    
    #nz-box-14:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-15 .box-icon {
        color: #999999;
    }
    
    #nz-box-15 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #b5e655;
    }
    
    #nz-box-15:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-16 .box-icon {
        color: #999999;
    }
    
    #nz-box-16 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #ffc000;
    }
    
    #nz-box-16:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-17 .box-icon {
        color: #999999;
    }
    
    #nz-box-17 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #55e6d3;
    }
    
    #nz-box-17:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-18 .box-icon {
        color: #999999;
    }
    
    #nz-box-18 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #b5e655;
    }
    
    #nz-box-18:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-19 .box-icon {
        color: #999999;
    }
    
    #nz-box-19 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #ffc000;
    }
    
    #nz-box-19:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-20 .box-icon {
        color: #999999;
    }
    
    #nz-box-20 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #55e6d3;
    }
    
    #nz-box-20:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-21 .box-icon {
        color: #999999;
    }
    
    #nz-box-21 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #b5e655;
    }
    
    #nz-box-21:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-22 .box-icon {
        color: #999999;
    }
    
    #nz-box-22 .box-icon-wrap {
        box-shadow: inset 0 0 0 2px #c189db;
    }
    
    #nz-box-22:hover .box-icon {
        color: #9066a3 !important;
    }
    #nz-box-23 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-23 .box-icon-wrap {
        background-color: #ffc000;
    }
    
    #nz-box-23:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-24 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-24 .box-icon-wrap {
        background-color: #55e6d3;
    }
    
    #nz-box-24:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-25 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-25 .box-icon-wrap {
        background-color: #b5e655;
    }
    
    #nz-box-25:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-26 .box-icon {
        color: #ffffff;
    }
    
    #nz-box-26 .box-icon-wrap {
        background-color: #c189db;
    }
    
    #nz-box-26:hover .box-icon {
        color: #9066a3 !important;
    }
    #nz-box-27 .box-icon {
        color: #ffc000;
    }
    
    #nz-box-27:hover .box-icon {
        color: #ed6200 !important;
    }
    #nz-box-28 .box-icon {
        color: #55e6d3;
    }
    
    #nz-box-28:hover .box-icon {
        color: #3daaa3 !important;
    }
    #nz-box-29 .box-icon {
        color: #b5e655;
    }
    
    #nz-box-29:hover .box-icon {
        color: #7ca33a !important;
    }
    #nz-box-30 .box-icon {
        color: #c189db;
    }
    
    #nz-box-30:hover .box-icon {
        color: #9066a3 !important;
    }
#nz-testimonials-2 .test-data .name {
color: #f6c01b;
}

#nz-testimonials-2 .test-data .title {
color: #ffffff;
}

#nz-testimonials-2 .text {
color: #ffffff;
}

#nz-testimonials-2 .owl-controls .owl-buttons div {
color: #ffffff;
}

#nz-testimonials-2 .text-icon {
background-color: #ffffff;
}


    #nz-column-5 .price {
        color: #ffc103;
    }
    
    #nz-column-5 .title {
        color: #ffc103;
    }
    
    #nz-column-5.highlight-true .pricing {
        background-color: #ffc103;
    }
    
    #nz-column-5.highlight-true .column-inner {
        border-color: #ffc103;
    }
    
    #nz-column-5.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #ffc103;
    }
    
    #nz-column-5 .button {
        background: #ffc103;
    }
    
    #nz-column-5 .button:hover {
        background: rgb(235, 173, -17);
    }
    
    #nz-column-5.highlight-true .hlabel {
        color: rgb(205, 143, -47);
    }
    #nz-column-6 .price {
        color: #c189db;
    }
    
    #nz-column-6 .title {
        color: #c189db;
    }
    
    #nz-column-6.highlight-true .pricing {
        background-color: #c189db;
    }
    
    #nz-column-6.highlight-true .column-inner {
        border-color: #c189db;
    }
    
    #nz-column-6.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #c189db;
    }
    
    #nz-column-6 .button {
        background: #c189db;
    }
    
    #nz-column-6 .button:hover {
        background: rgb(173, 117, 199);
    }
    
    #nz-column-6.highlight-true .hlabel {
        color: rgb(143, 87, 169);
    }
    #nz-column-7 .price {
        color: #b5e655;
    }
    
    #nz-column-7 .title {
        color: #b5e655;
    }
    
    #nz-column-7.highlight-true .pricing {
        background-color: #b5e655;
    }
    
    #nz-column-7.highlight-true .column-inner {
        border-color: #b5e655;
    }
    
    #nz-column-7.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #b5e655;
    }
    
    #nz-column-7 .button {
        background: #b5e655;
    }
    
    #nz-column-7 .button:hover {
        background: rgb(161, 210, 65);
    }
    
    #nz-column-7.highlight-true .hlabel {
        color: rgb(131, 180, 35);
    }
    #nz-column-8 .price {
        color: #3bd4c0;
    }
    
    #nz-column-8 .title {
        color: #3bd4c0;
    }
    
    #nz-column-8.highlight-true .pricing {
        background-color: #3bd4c0;
    }
    
    #nz-column-8.highlight-true .column-inner {
        border-color: #3bd4c0;
    }
    
    #nz-column-8.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #3bd4c0;
    }
    
    #nz-column-8 .button {
        background: #3bd4c0;
    }
    
    #nz-column-8 .button:hover {
        background: rgb(39, 192, 172);
    }
    
    #nz-column-8.highlight-true .hlabel {
        color: rgb(9, 162, 142);
    }
    #nz-column-9 .price {
        color: #20bfaa;
    }
    
    #nz-column-9 .title {
        color: #20bfaa;
    }
    
    #nz-column-9.highlight-true .pricing {
        background-color: #20bfaa;
    }
    
    #nz-column-9.highlight-true .column-inner {
        border-color: #20bfaa;
    }
    
    #nz-column-9.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #20bfaa;
    }
    
    #nz-column-9 .button {
        background: #20bfaa;
    }
    
    #nz-column-9 .button:hover {
        background: rgb(12, 171, 150);
    }
    
    #nz-column-9.highlight-true .hlabel {
        color: rgb(-18, 141, 120);
    }
    #nz-column-10 .price {
        color: #09a389;
    }
    
    #nz-column-10 .title {
        color: #09a389;
    }
    
    #nz-column-10.highlight-true .pricing {
        background-color: #09a389;
    }
    
    #nz-column-10.highlight-true .column-inner {
        border-color: #09a389;
    }
    
    #nz-column-10.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #09a389;
    }
    
    #nz-column-10 .button {
        background: #09a389;
    }
    
    #nz-column-10 .button:hover {
        background: rgb(-11, 143, 117);
    }
    
    #nz-column-10.highlight-true .hlabel {
        color: rgb(-41, 113, 87);
    }
    #nz-column-11 .price {
        color: #00726e;
    }
    
    #nz-column-11 .title {
        color: #00726e;
    }
    
    #nz-column-11.highlight-true .pricing {
        background-color: #00726e;
    }
    
    #nz-column-11.highlight-true .column-inner {
        border-color: #00726e;
    }
    
    #nz-column-11.highlight-true .column-inner {
        box-shadow: inset 0 0 0 3px #00726e;
    }
    
    #nz-column-11 .button {
        background: #00726e;
    }
    
    #nz-column-11 .button:hover {
        background: rgb(-20, 94, 90);
    }
    
    #nz-column-11.highlight-true .hlabel {
        color: rgb(-50, 64, 60);
    }