@media (max-width: 1200px) {

	#div_79b9_1 {
		display: none;
	}	

	.smaller-text {
		font-size: 52px !important;
	}	
	.smaller-text2 {
		min-width: 484px !important;
	}

}

@media (max-width: 992px) {

	#div_79b9_1 {
		display: none;
	}	

	.smaller-text {
		font-size: 52px !important;
	}

	.smaller-text2 {
		min-width: 484px !important;
	}

	.tp-caption {
		display: none !important;
	}

	.footer-widget-area > .widget {
		padding-top: 20px;
	}

}

@media (max-width: 767px) {

	.tp-caption {
		display: none !important;
	}

	#div_79b9_1 {
		display: none;
	}	
}

@media (max-width: 582px) {

	#div_79b9_1 {
		display: none;
	}	

}