
/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
.warppar{width:960px;}
.slider img{width:908px}	
.single_promo{width:270px;margin-right:50px;margin-left: 10px;}
.quotes{font-size: 25px;}
.quotes_bottom_left{width:660px;}
.quotes_bottom_right{width: 270px;}	
.single_promo_img img{padding:7px;width: 249px;}	
.single_promo_bottom{width: 299px;margin-right:25px;}
.logo{margin:25px 0}
.main_menu{margin:33px 0}
.main_menu ul li a{padding:10px;}
.slider_img{padding: 10px;}
.slider{margin-bottom:50px}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .warppar{width:750px;}
  .slider img{width:699px}
.single_promo{width: 222px;
    margin-right: 25px;
    margin-left: 10px;}  
.quotes{font-size: 20px;}
.quotes_bottom_left{width:550px;}
.quotes_bottom_right{width: 170px;}	
.single_promo_img img{padding:5px;width: 195px;}	
.single_promo_bottom{width: 239px;margin-right:10px;}
.logo{margin:25px 0}
.main_menu{margin:33px 0}
.main_menu ul li a{padding:10px;}
.slider_img{padding: 10px;}
.slider{margin-bottom:50px}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.warppar{width:300px;}
.logo{margin:25px 0}
.main_menu{margin:33px 0}
.main_menu ul li a{padding:10px;}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.warppar{width:450px;}
.slider img{width:407px}
.slider_img{padding:5px;}
.logo{margin:25px 0;margin-left:75px}
.main_menu{margin:0px;margin-bottom:10px}
.main_menu ul li a{padding:7px;}
.slider{margin-bottom:20px}
.single_promo{    width: 440px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20;}
	


}

