*{margin:0px;padding:0px;}
body{background:url("images/bg.jpg") repeat fixed;}
a {text-decoration:none;color:blue;}
h2{margin-bottom:20px}	
.fix{overflow:hidden}
.warppar{margin:30px auto;background:url("images/background.png") repeat fixed 0 0}
.floatleft{float:left}	
.floatright{float:right}	
.header{}	

	


	
.main_menu ul {list-style:none;margin:0px;padding:0px;}	
.main_menu ul li{float:left;border-right:2px solid #111;margin-right:5px}	
.main_menu ul li:last-child{border-right:0px solid }	
.main_menu ul li a{display:block;text-decoration:none;color:#9000ff;padding:10px;text-shadow:1px 1px 1px #000  solid;font-weight:bold;text-transform:uppercase}	
.main_menu ul li a{display:block;text-decoration:none;color:#9000ff;text-shadow:1px 1px 1px #000 solid;font-weight:bold;text-transform:uppercase}	
.main_menu ul li a:hover{background:#c7bcff;border-radius:10px;color:#fff}
	
.slider{border:2px solid #ddd;border-radius:10px;}	
.slider_img{margin:7px;background:url("images/slider_background.png");}
.slider img{padding:7px;background:#fff;}	

.promo{margin-bottom:30px}	
	
.quotes{margin-bottom:30px;background:#fff;border:2px solid #ddd;border-radius:10px;}	
.quotes_left{}	
.quotes_left p{padding: 14px;}	
.quotes_right{}	
.quotes_right p{float:left;padding:14px}
.quotes_right a{margin-top:4px;display:block;padding:10px;float:left;background:url(images/quote_background.png);border-radius:10px;text-shadow:0px 1px 1px #ccc}	
.quotes_bottom{margin-bottom:30px}	
.quotes_bottom_left{margin-right:30px}	


.promo_bottom{margin-bottom:30px}	
.single_promo_bottom{border:2px solid #ddd;border-radius:10px;margin-bottom:50px;}
.single_promo_img{margin:7px;background:url("images/slider_background.png");padding: 10px;}	
.single_promo_img img{background:#fff;}	
.footer{background:url("images/footer_background.png");padding:15px}	
.footer_copyright{font-size:13px;color:#666;padding:5px}	
.footer_social{}
.social_profile{background:#fff;border:2px solid #ddd;border-radius:10px;padding: 6}		
.social_profile img{margin-top: 4px;margin-left: 8px;margin-right: 8px;}		


#scrollUp{height:38px;width:38px;background:url(images/top.png) no-repeat;bottom:100px;right:230px;text-indent:-99999px}



/* stick1 */



/* stick2 */


#sticker{

	
}

.stick {
   position: fixed;
    top: -25px;
    z-index: 99999;
    /* width: 100%; */
    right: 430px;
    /* left: 435px; */
    background: #ddd;
    padding: 10px 40px;
    opacity: .8;
    color: #262626;
}