@media only screen and (max-width: 1599px) {
	.page-title-wrapper, .center { width: 1200px; } 
	.smallcenter, .vc_row.boxed, .header-inner-wrapper, div.wpcf7 { width: 960px; } 
	.vc_contact_info { padding: 0 50px; }
	.blog-classic-post-excerpt { width: 70%; }
	h1.blog-minimalistic1-post-title { padding: 0 50px; }
	.blog-minimalistic2-wrapper { width: 70%; }
	.page-title-wrapper { padding: 126px 150px; }
	.vc_testimonials { padding: 0 100px; }
	.blog-single-content-wrapper { width: 70%; }
}

@media only screen and (max-width: 1199px) {
	.page-title-wrapper, .center { width: 960px; } 
	.smallcenter, .vc_row.boxed, .header-inner-wrapper, div.wpcf7 { width: 800px; } 
	.vc_contact_info { padding: 0 150px; }
	h1.blog-classic-post-title { padding: 0 150px; }
	.blog-classic-post-excerpt { width: 70%; }
	h1.blog-minimalistic1-post-title { padding: 0 50px; }
	.blog-minimalistic2-wrapper { width: 70%; }
	.page-title-wrapper { padding: 126px 150px; }
	.vc_testimonials { padding: 0 100px; }
	.blog-single-content-wrapper { width: 70%; }
	.vc_contact_info > div { width: 50% !important; margin-bottom: 20px; }
	.clearonsmall { clear: both; }
	.contact-info-single { float: left; }
	.portfolio-details-right { width: 35%; }
	.portfolio-details-left { width: 60%; }
	.menu1 ul.sf-menu > li { margin: 0 15px; }
}

@media only screen and (max-width: 959px) {
	.page-title-wrapper, .center { width: 95%; } 
	.smallcenter, .vc_row.boxed, .header-inner-wrapper, div.wpcf7 { width: 80%; } 
	h1.blog-classic-post-title, .vc_contact_info,  h1.blog-minimalistic1-post-title,
	.vc_testimonials  { padding: 0; width: 80%; margin: 0 auto; }
	.blog-classic-post-excerpt { width: 80%; }
	.vc_contact_info1 { padding-left: 40%; }
	.blog-single-content-wrapper { width: 80%; }
	.contact-form-image { width: 100%; margin-bottom: 20px; }
	.pego-contact-form { width: 100%; }
	.blog-minimalistic2-wrapper { width: 80%; }
	.page-title-wrapper { padding: 60px 0 40px; text-align: center;}
	.custom-title-buttom-big { padding: 20px; }
	.header-wrapper.header1 .logo { display: block; text-align: center; width: 100%; }
	.header-wrapper.header1  .logo a { float: none; }
	.header-wrapper.header1  .logo .logo-text { margin: 0 auto; float: none; }
	.header1 .menu1 { display: block; width: 100%; margin-top: 20px; }
	.header1 .menu1 ul.sf-menu {  text-align: center; float: none; }
	.header1 .menu1 ul.sf-menu > li { display: inline-block; margin: 0 30px; position: relative; }
}

@media only screen and (max-width: 767px) {
	.page-title-wrapper, .center, .header-inner-wrapper, .smallcenter { width: 100%; padding-left: 15px; padding-right: 15px; } 
	#trigger-overlay1 {display: none;}
	.vc_row.boxed, div.wpcf7 { width: 100%; } 
	 .header-inner-wrapper { padding-left: 0 !important; padding-right: 0 !important;  }
	.logo {  width: 80%;  margin: 0 auto; }
	.logo-text {  width: 100%; min-width: 0 !important; text-align: center !important; }
	h1.blog-classic-post-title, .vc_contact_info,  h1.blog-minimalistic1-post-title,
	.vc_testimonials  { padding: 0; width: 100%; margin: 0 auto; }
	.blog-classic-post-excerpt { width: 100%; }
	.vc_contact_info1 { padding-left: 40%; }
	.blog-single-content-wrapper { width: 100%; }
	.contact-form-image { width: 100%; margin-bottom: 20px; }
	.pego-contact-form { width: 100%; }
	.blog-minimalistic2-wrapper { width: 100%; }
	.page-title-wrapper { padding: 60px 0 40px; text-align: center;}
	
	.vc_row {  margin-left: 0 !important; margin-right: 0 !important; }
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5,
     .vc_col-sm-6 , .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10,
    .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-4.isotope-item { width: 100% !important;  padding-left: 0 !important; padding-right: 0 !important; }
    
    .header-wrapper, #header.header-wrapper.header2 { height: auto !important;  padding-bottom: 0 !important; padding-top: 0 !important;  }
    .header-wrapper.header2 .header-inner-wrapper { display: block; }
    .header-wrapper .logo { display: block; text-align: center; }
    .header-wrapper .logo a, .header-wrapper .logo .logo-text { float: none; }
    .menu-from-icon  { position: relative; top: 0 !important; margin-top: 20px; display: block; } 
    #container { padding-top: 20px; }
    .blog-classic-post-excerpt, .blog-single-content p { font-size: 14px; }
    .vc_welcome { font-size: 18px; }
    h1 { font-size: 28px; }
    .portfolio-columns2, .portfolio-columns3, .portfolio-columns4, .portfolio-columns5, .portfolio-items-wrapper.portfolio-type1 .portfolio-columns5 { width: 50%; }
    .vc_contact_info > div { width: 100% !important; }
    .vc_contact_info > div.clearonsmall { margin-bottom: 0 !important; }
    .vc_custom_titles { margin-bottom: 50px !important; }
    .portfolio-details-right { width: 100%; margin-right: 0; }
	.portfolio-details-left { width: 100%; margin-right: 0; }
	.menu2 ul.sf-menu > li { display: block; }
	.menu2 ul.sf-menu > li > a { font-size: 18px; }
	.error-content2 { font-size: 100px; }
	#trigger-overlay, .menu1, .menu2, .header1 .menu1, .header4 .menu1  { display: none; }
	.mobile-menu-show { display: block; }
	.container-wrapper { padding-top: 0 !important;  }
	.header-wrapper, #header.header-wrapper.header2 { position: relative; }
	.vc_carousel-inner .vc_item { width: 100% !important;  margin: 0 auto; text-align: center; clear: both; }
	.vc_images_carousel .vc_carousel-inner .vc_carousel-slideline { width: 100% !important; }	
}

@media only screen and (max-width: 600px) {
	.team-member-single { width: 100%; }
	.vc_testimonials .testimonial-thumb { height: auto; width: 100%; text-align: center; }
	.vc_testimonials .testimonials-content-area { margin-left: 0; }
	.vc_testimonials .testimonials-content-area .testimonial-content,
	.vc_testimonials .testimonials-content-area .testimonial-author,
	.vc_testimonials .testimonials-content-area .testimonial-position { text-align: center; }
	h1.type-wrap { font-size: 13px; }
	h1.type-wrap span { font-size: 15px; }

	
	.vc_contact_info1 { padding-left: 0; } 
	.vc_contact_info1, .vc_contact_info1 p { text-align: center; } 
	.nextprev-portfolio-title { display: none; } 
}

@media only screen and (max-width: 400px) {
	.portfolio-columns2, .portfolio-columns3, .portfolio-columns4, .portfolio-columns5, .portfolio-items-wrapper.portfolio-type1 .portfolio-columns5 { width: 100%; }
}


