						/**=Default CSS=**/
*{margin:0px;padding:0px}
body{font-family:'Open Sans', sans-serif;font-size:13px;}
a{text-decoration:none;color:#000;}

h1,h2,h3,h4,h5,h6{font-family: 'Titillium Web', sans-serif;font-weight:normal;margin-bottom:15px}
						/**==CSS==**/
.wrapper{width:1080px;margin:0px auto;}	
.floatleft{float:left;}					
.floatright{float:right;}
.fix{overflow:hidden}

						/*=Class CSS=
_________________________________________________________________________________________________________*/
				
				/**Header**/		
.header_area{background:url("images\maincontent_bg.png");width:100%;}	
.header{}				
.header_top{background:#ED1C24;}					
.header_top_social_bookmark{padding-top:7px;padding-left: 5px;}					
.header_top_social_bookmark img{}					
.header_top_menu{}					
.header_top_menu ul{margin:0px;padding:0px;text-align:right}					
.header_top_menu ul li{display:inline}					
.header_top_menu ul li a{display:inline-block;color:#fff;margin:10px;padding:10px}					
.header_top_menu ul li a:hover{background:#262626}					
.header_mid{}					
.logo{}	
.header_mid_center_search {margin-left:75px;margin-top:23px;}				
.header_mid_center_search input[type=text]{padding:10px;width:260px;}
.header_mid_center_search input[type=submit]{padding:10px;width:100px;background:#ED1C24;color:#fff;cursor:pointer}					
.header_mid_shoping_cart{margin-top: 20px;background: #ED1C24;height: 44px;}					
.header_mid_shoping_cart h2{color: #fff;padding: 10px;}					
.header_mid_shoping_cart span{margin:0px 5px}					
.header_bottom{margin-top:15px}					
.main_menu{background:#1B2227;Font-weight:bold;text-transform:uppercase;}
.main_menu ul{margin:0px;padding:0px;list-style:right}
.main_menu ul li{display:inline;}
.main_menu ul li a{display:inline-block;margin:10px;padding:10px;color:#fff;border-right:1px solid #14181D}
.main_menu ul li a:hover{background:#262}
				/**Main_Contant**/		
.contant_area{background:url("images\maincontent_bg.png")}	
.contant{}				
.slider_top{}					
.slider_top ul{margin:0px;padding:0px;text-align:left}					
.slider_top ul li{display:inline;}					
.slider_top ul li a{display:inline-block;color:#000;margin:10px;padding:10px}					
.slider_top ul li a:hover{color:#ED1C24}					
.slider_top ul li a span{margin: 0px 15px;}					
.slider_area{height:375px}					
.slider_bottom_product{margin-bottom:50px}					
.slider_bottom_product h1{text-align:center;border-bottom:2px solid #ED1C24}					
.slider_bottom_single_product{width:360px;}					
.slider_bottom_single_product img{width:298px;height:314px}					
.hot_deal{border-bottom:2px solid #ED1C24;border-top:1px solid #ddd;margin-bottom:30px}					
.hot_deal h1{margin-top:15px}					
.new_araival{}					
.New_b {border-bottom:2px solid #ED1C24;margin-bottom:20px}					
.New_b h1{margin-bottom:10px}					
.new_araival_single{border:1px solid #ddd;margin-right:10px;width:260px}
.new_araival_single h1{text-align:center;background:#ED1C24;font-size:18px;width:122px;margin-left:62px;margin-top:10px;padding: 5px;color: #fff;text-transform:uppercase;cursor:pointer;}
.new_araival_single h1:hover{background:#F3F3F3;color:#000;border:1px solid #ED1C24;}
.new_araival_cart_bottom{}					
.new_araival_compare{width: 100px;padding: 10px 14px;border:1px solid #ddd;cursor:pointer;}					
.new_araival_wishlist{width: 100px;padding: 10px 14px;border:1px solid #ddd;cursor:pointer;}					
.new_araival_wishlist p{margin-left:15px;padding:5px}	
.new_araival_wishlist p:hover{color:#ED1C24}	
.new_araival_compare p:hover{color:#ED1C24}	
.new_araival_compare p{margin-left:15px;padding:5px}					
.next_privious{margin-left:500px;margin-top:30px;margin-bottom:30px;cursor:pointer}					
.next{margin-right:500px}									
.promotion{}				
.pro_ssingle{border:1px solid #ddd;margin-right:10px;width:260px}					
.pro_ssingle{margin-right: 15px;width: 256px;}					
.pro_ssingle img{margin-left:20px;}					
.pro_ssingle h1:hover{background:#F3F3F3;color:#000;border:1px solid #ED1C24;}					
.cart_bottom{}					
.pro_ssingle h1{text-align:center;background:#ED1C24;font-size:18px;width:122px;margin-left:62px;margin-top:10px;padding:5px;color:#fff;text-transform:uppercase;;cursor:pointer;}
.compare{width: 100px;padding: 10px 13px;border:1px solid #ddd;cursor:pointer;}					
.wishlist{width: 100px;padding: 10px 13px;border:1px solid #ddd;cursor:pointer;}					
.wishlist p{margin-left:15px;padding:5px}	
.wishlist p:hover{color:#ED1C24}	
.compare p:hover{color:#ED1C24}	
.compare p{margin-left:15px;padding:5px}					
.top_brand{}
.top_privious{margin-left:500px;cursor:pointer}
.top_next{cursor:pointer}										
.top_brand h1{border-bottom:2px solid #ED1C24;font-weight:bold}					
.top_brand_single{margin-right:15px;width:204px}
				/*footer*/	
.footer{background:#0F1112;width:1080px}	
.footer_area{background:#0F1112}	
.footer p{line-height:20px;}				
.f_logo{margin:30px 0px}				
.f_logo img{}				
.single_footer{margin-bottom:20px;margin-right:15px;color:#fff;margin-top:30px;width:258px}
.f_social{}
.f_social img{margin-right:10px}
.about h2{border-bottom:1px solid #ED1C24;}
.f_service h2{border-bottom:1px solid #ED1C24;}
.f_contact h2{border-bottom:1px solid #ED1C24;}
.about{margin-left:40px}
.f_service{margin-left:40px}
.f_contact{margin-left:40px}

				/*Scroll UP*/
#scrollUp{height:38px;width:38px;background:url(images/top.png) no-repeat;bottom:100px;right:230px;text-indent:-9999px}				
				/*Stick Div*/
#sticky {
   
    
}

 #sticky.stick {
margin-top:0;
position: fixed;
top: 0;
z-index: 10000;
width:80%;
}
				
												/*Design By Tarik Manoar*/
