



 @font-face {
     font-family: "Cera Pro Light";
     src: url("../font/Cera Pro Light.ttf") format("truetype");
 }

 @font-face {
     font-family: "Cera Pro Medium Italic";
     src: url("../font/Cera Pro Medium Italic.ttf") format("truetype");
 }

 @font-face {
     font-family: "Cera Pro Regular";
     src: url("../font/Cera Pro Regular.ttf") format("truetype");
 }

 @font-face {
     font-family: "Cera Pro Medium";
     src: url("../font/Cera Pro Medium.ttf") format("truetype");
 }


 @font-face {
     font-family: "Kalpana UNICODE";
     src: url("../font/Kalpana UNICODE.ttf") format("truetype");
 }

 @font-face {
     font-family: "BishnuUni";
     src: url("../font/BishnuUni.ttf") format("truetype");
 }

 @font-face {
     font-family: "Bornoporichay";
     src: url("../font/Bornoporichay.ttf") format("truetype");
 }

 @font-face {
     font-family: "Borshon RRR Unicode";
     src: url("../font/Borshon RRR Unicode.ttf") format("truetype");
 }

 @font-face {
     font-family: "BebasNeue";
     src: url("../font/BebasNeue.ttf") format("truetype");
 }

