/*-----------------for responsive---------------*/


@media (max-width:1300px) {

    .bgmenu nav ul li a {
        font-size: 17px;
    }
}

@media (max-width:1270px) {

    .bgmenu nav ul li a {
        font-size: 15px;
    }
}

@media (max-width:1185px) {
    .bgmenu nav ul li a {
        font-size: 15px;
    }

    .bgmenu .logo img {
        width: 78px;
    }

    .bgmenu nav ul li a .trinagle {
        margin-right: -7px;
        transform: translateY(3px);
    }

    .bgmenu nav ul li a .roundd {
        margin-right: 2px;
        transform: translateY(-1px);
    }



}


@media (max-width:1145px) {

    .bgbanner h1 {
        font-size: 34px;
    }

    .shape_img {
        bottom: -80px;
    }

    .bg4 .formargin {
        margin-top: 4.5rem;
    }

    .bgmenu nav ul li a {
        font-size: 13px;
    }

    .bgmenu nav ul li a {
        padding: 10px 4px;

    }
}


@media (max-width:991px) {


    .order1 {
        order: -1;
    }

    .order2 {
        order: -1;
    }



    .bgmenu nav ul li a {
        padding: 15px 8px;
        padding-top: 5px;

    }

    .bgmenu .dropdown-menu {

        max-width: 200px;
        margin: 0 auto;
    }


    .millat h4 {
        margin-top: 12px;
        font-size: 20px;
    }



    .bgbanner .formagin {
        margin-top: 5rem;
    }

    .testimonial img {
        margin-top: 40px;
    }

    .testimonial .img1 {
        width: 40%;
    }

    .testimonial .img3 {
        width: 60%;
    }

    .testimonial .img4 {
        width: 60%;
    }

    .testimonial .img5 {
	width: 45%;
}

    header {
        height: 50pc;
    }



    .shape_img {
        bottom: -3px;
        display: block;
    }


.confetti img {
	margin-top: 220px;
}

    .confetti2 img {
        margin-top: 80px;
    }

    .all_events {

        margin: 0 auto;
    }

    .slideshow-container {
        text-align: center;
        margin: 0 auto;

    }


    .confetti2 .forimagmargin {
        margin-left: auto;
    }


    .bg3 .mini_image img {
        width: 40px;
        height: 40px;
    }

    .bg3 .mini_image {
        margin: 6px;
        margin-bottom: -15px;
    }


    .bg4 .formargin {
        margin-top: 0.5rem;
    }

    .bg4 .cover-offers img {
        width: 100%;
    }

    .bg9 h1 {
        font-size: 36px;
    }

    .bg9 {

        background-position-y: unset;
        background-position-X: 70%;
    }

    .prev,
    .next {

        margin-left: 0;
    }

    .bg10 h1 {

        text-align: center;
    }
}


@media (max-width:950px) {
    .millat h4 {
        margin-top: 11px;
        font-size: 20px;
    }
}





@media (max-width:768px) {
    .cd-headline.slide b.is-visible {
        text-align: center;
        display: block;
    }

    .millat h4 {
        font-size: 22px;
        margin-bottom: 1px;
    }

    .bgbanner h1 {
        word-spacing: 0;
        white-space: normal;
    }

    .bgbanner h1 .trinagle {
        display: none;
    }

    .bgbanner h1 .trinagle1 {
        display: none;
    }

    .bgbanner {
        text-align: center;
    }

    .cover_welcome {
        margin: 0 auto;
    }

    .bgbanner h4 {
        margin-left: 0;
    }

    .cover_welcome {
        transform: translateX(0%);
    }

    .segment_title p {
        margin-left: 0;

    }

    .typed-cursor {
        opacity: 0;
    }

    .segment_title p .typed {
        display: block;
        height: 35px;
    }



    .testimonial .img1 {
        width: 50%;
    }

    .testimonial .img3 {
        width: 70%;
    }

    .testimonial .img4 {
        width: 65%;
    }

  .testimonial .img5 {
	width: 50%;
}


    .confetti img {
        margin-top: 245px;
    }

    .event_item .dates {
        width: 110px;
        margin: 0 auto;
    }

    .event_item .events {
        padding: 5px;
        padding-right: unset;
    }

    .event_item {
        display: block;
    }

    .all_events {
        height: 28pc;
        padding-left: 20px;
    }


    .event_item .events p {

        text-align: center;
    }


    .fororder {
        order: -1;
    }


    .event_item .dates p {

        font-size: 18px;

    }

    .event_item .dates h1 {
        font-size: 33px;
    }

    .event_item .events p {
        font-size: 18px;
    }

    .bgmail a {

        font-size: 12px;
    }

    .bgmail .cover_img {
        padding: unset;
        border: unset;
        border-radius: unset;
        width: unset;
    }

    .bgmail a img {
        width: 19px;
    }

    .bg3 .clr_item h3 {

        font-size: 29px;

    }

    .bg3 .mini_image {

        margin-bottom: 10px;
    }


    .bgmail .phon img {
        width: 16px;
    }

    .bg4 .cover-offers img {
        width: 80%;
    }


    .bg4 {

        padding: 60px 0px;

    }

    .bg5 h1 {

        font-size: 45px;
    }

    .bg9 h1 {
        font-size: 40px;
        margin-bottom: 0px;
    }

    .bg9 {

        padding: 70px 0px;

    }

    .bg10 h1 {
        font-size: 34px;
        text-align: center;
    }

    footer {
        margin-bottom: 45px;
    }

    #myBtn {
        bottom: 62px;
        right: 5px;

    }

    .cover {
        display: block;

    }

    .bgmenu {
        position: absolute;
        left: 0;
        right: 0;

    }

    .fixy {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        animation: unset;
        margin-left: 15px;
        margin-right: 15px;
    }

    .fixy .forbg {
        border-radius: 10px;
        padding: 5px 15px;
        margin-top: 4px;
    }

    .bgbanner .arbic {
        font-size: 41px;
    }
}





@media (max-width:600px) {


    .bg3 .clr_item h3 {

        font-size: 27px;

    }
    .testimonial .img5 {
	width: 60%;
}
}



@media (max-width:576px) {

    .nav-menus ul {
        width: 62%;
        left: 16%;
    }

    .bgmenu .logo img {
        width: 62px;
    }

    .millat p {
        font-size: 14px;
    }

    .navbar-toggler {
        padding: 0;
        padding-right: 10px;
    }

    .bgmenu {
        margin-left: 10px;
        margin-right: 10px;
    }

    .forbg {
        padding: 5px 10px;
        padding-bottom: 2px;
    }

    .millat h4 {
        font-size: 17px;
        margin-top: 10px;
    }

    .bgbanner h1 {
        font-size: 32px;
    }

    .testimonial .img1 {
        width: 65%;
    }

    .testimonial .img3 {
        width: 85%;
    }

    .testimonial .img4 {
        width: 80%;
    }

    .confetti img {
        width: 230px;
        margin-top: 141px;
    }

    .confetti2 img {

        width: 300px;

    }

    .bg3 h2 {
        font-size: 22px;

    }

    .Determine::before {
        width: 50%;
        left: 0;
        top: -10px;

    }

    .Determine::after {
        width: 50%;
        right: 0;
        bottom: -10px;
        top: unset;
    }

    .bg4 .cover-offers h3 {

        font-size: 40px;

    }

    .bg4 .cover-offers h2 {
        margin-bottom: 0px;
        font-size: 42px;

    }

    .bg4 .cover-offers h1 {

        font-size: 55px;
    }

    .bg4 .cover-offers img {
        width: 88%;
    }

    .bg5 .counsil img {
        width: 140px;

    }

    .bg5 .counsil p {
        font-size: 11px;
    }

    .bg10 h1 {
        font-size: 24px;
    }

    .bgfoot_top .sf3 {
        max-width: 200px;
    }

    .bgfoot_top .sf1 ul li {
        font-size: 12px;
    }

    .bgfoot_top .sf2 a p {

        font-size: 14px;
    }

    .bgfoot_bottom p {

        font-size: 14px;
    }

    .bgfoot_bottom p .team1 {

        font-size: 16px;
    }

    .bgfoot_bottom p .team2 {

        font-size: 14px;
    }


    .bg6 .blog_title h3 {

        font-size: 20px;
    }


    .bg6 .blog_title {
        padding: 10px 10px;
        height: 60px;
    }


    .bg5 .cover_club {
        padding: 7px;

    }

    .bg5 .clubs h3 {
        font-size: 18px;
    }

    .bg5 .clubs {
        padding: 20px;
    }

    .bg5 .formargin {
        margin-top: 15px;
        padding: 0;
    }

    .bg5 .clubs img {
        width: 33px;
        height: 33px;
    }

    .bg3 .clr_item h4 {
        font-size: 18px;

    }



    .bg3 .forpadding {
        padding-right: 5px;
        padding-left: 5px;
    }

 
    .bg3 .clr_item h3 {
	font-size: 20px;
	margin-bottom: 0px;
}

    .bg3 .mini_image img {
        width: 30px;
        height: 30px;
    }

    .event_item .events p {
        font-size: 16px;
    }

    .event_item .dates h1 {
        font-size: 30px;
    }

    .event_item .dates p {
        font-size: 15px;
    }

    .event_item .dates {
        width: 88px;
    }

    .bg2 .slideshow-container p {
        font-size: 13px;

    }

    .bg2 .slideshow-container h1 {
        font-size: 24px;

    }

    .bg8 .pgyc {
        padding: 9px 8px;
        font-size: 12px;
        margin-top: 0;
    }

    .bgbanner .arbic {
        font-size: 33px;
        line-height: 40px;
    }

    .cd-intro {
        height: 75px;
    }



    .millat h4 {

        margin-left: 2px;
    }

    .millat p {
        margin-left: 2px;

    }

    @keyframes popup {
        0% {
            top: -10%;
            opacity: 0.5
        }

        100% {
            top: 29%;
            opacity: 1
        }
    }


    .fixy .forbg {
        padding: 5px 10px;
        margin-top: 0px
    }





}




@media (max-width:400px) {

    .millat h4 {
        font-size: 15px;
    }

    .bgmenu .logo img {
        width: 52px;
        margin-right: 3px;
    }

    .millat p {
        font-size: 13px;
    }


    .confetti img {
        margin-top: 56px;
    }

    .bg7 h2 {
        font-size: 38px;

    }

    .bg8 h1 {

        font-size: 35px;

    }


    .bg6 .blog_title {
        padding: 8px 8px;

    }

    .bg3 .clr_item h4 {
        font-size: 16px;
    }

    .bg3 .clr_item {
        padding-right: 10px;
        padding-left: 10px;

    }

    .bg3 .clr_item h3 {
        font-size: 18px;
    }

    .bg3 .clr_item h3 {
        font-size: 18px;
        margin-top: 19px;
    }

    .bg6 .forpaddin {
        padding-right: 10px;
        padding-left: 10px;
    }

    .bg3 h2 {
        font-size: 20px;
    }

    .confetti2 img {
        width: 280px;
    }

    .forbg {
        padding: 10px 10px;
        padding-bottom: 0px;
    }


}




