body.error404 { background-color: #fff; }
body.error404 > .error-content {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.error404 .mini-text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    color: #515365;
}
.error404 .img-cartoon { width: 210px; height: 210px; }
.error404 .error-number {
  font-size: 170px;
  color: #5247bd;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 15px;
}
.error404 .error-des {
  font-size: 30px;
  color: #232538;
  font-weight: 600;
}
.error404 .error-text { font-size: 20px; }
.error404 a.btn {
  width: 205px;
  padding: 11px;
  font-size: 20px;
}