@media only screen and (max-width: 1170px) {
	.center, .header-inner-wrapper, .page-title-wrapper  { width: 940px; }
	.vc_welcome .welcome-big-text { width: 80%; }
	.main-left { width: 655px; }
    .sidebar { width: 285px; }
    .team-member-single .team-member-inside .team-member-details { bottom: -70px; height: 130px;  }
	.team-member-single:hover .team-member-inside .team-member-details  { -webkit-transform: translate3d(0,-70px,0); transform: translate3d(0,-70px,0); }
	.big-portfolio-item { height: 410px; }
	.small-portfolio-item { height: 205px; }
	.header-inner-wrapper { height: 675px; padding: 60px 60px 40px; }
	.after-header-shadow { width: 940px; height: 55px; background-size: 100%; }
}

@media only screen and (max-width: 960px) {
	.center, .header-inner-wrapper, .page-title-wrapper  { width: 768px; }
	.vc_welcome .welcome-big-text { width: 80%; }
	.main-left { width: 100%; border: none; padding: 0; border-bottom: 1px solid #ebe9e9; margin-bottom: 40px; }
    .sidebar { max-width: 360px !important; width: 100% !important; margin-left: -204px; left: 50%;  padding: 0; position: relative; }
    .team-member-single .team-member-inside .team-member-details { bottom: -70px; height: 130px;  }
	.team-member-single:hover .team-member-inside .team-member-details  { -webkit-transform: translate3d(0,-70px,0); transform: translate3d(0,-70px,0); }
	.big-portfolio-item { height: 330px; }
	.small-portfolio-item { height: 165px; }
	.header-inner-wrapper { height: auto; padding: 60px 60px 40px; }
	.team-member-single { width: 50%; }
	.vc_welcome .welcome-big-text { font-size: 45px; }
	.extra_class .vc_col-sm-4 { width: 100%; max-width: 330px; margin: 0 auto 30px; float: none; }
	.after-header-shadow { width: 768px; height: 55px; background-size: 100%; }
	.footer-shadow { width: 100%; background-size: 100%; }
}

@media only screen and (max-width: 768px) {
	.center, .header-inner-wrapper, .page-title-wrapper  { width: 100%; padding-left: 15px; padding-right: 15px; }
	.vc_welcome .welcome-big-text { width: 100%; }
	.main-left { width: 100%; border: none; padding: 0; border-bottom: 1px solid #ebe9e9; margin-bottom: 40px; }
    .sidebar { max-width: 360px !important; width: 100% !important; margin-left: -180px; left: 50%;  padding: 0; position: relative; }
    .team-member-single .team-member-inside .team-member-details { bottom: -70px; height: 130px;  }
	.team-member-single:hover .team-member-inside .team-member-details  { -webkit-transform: translate3d(0,-70px,0); transform: translate3d(0,-70px,0); }
	.big-portfolio-item { width: 100%; height: 400px; }
	.small-portfolio-item { width: 50%; height: 200px; }
	.header-inner-wrapper { height: auto; padding: 60px 60px 40px; }
	.vc_welcome .welcome-big-text { font-size: 45px; }
	.vc_row {  margin-left: 0 !important; margin-right: 0 !important; }
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5,
     .vc_col-sm-6 , .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10,
    .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-4.isotope-item { width: 100% !important;  padding-left: 0 !important; padding-right: 0 !important; }
	.header-content-wrapper { float: none; }
	.mobile-menu-show { display: block; }
    .main-menu { display: none; }
    .logo { margin-bottom: 20px; }
    .header-phone-number { font-size: 42px; }
    .after-header-shadow { display: none;  }
    .container-wrapper {  padding-top: 30px; margin-top: 0;  }
    .footer .left, .footer .right {  width: 100%; text-align: center; }
    .footer .left { margin-bottom: 30px; }
    .footer .footer-address { text-align: center; }
    .vc_portfolio_items .flag-one { font-size: 26px; margin-left: -10px; }
	.vc_portfolio_items .flag-two { font-size: 26px; }
	.footer .footer_flag_1, .footer .footer_flag_2  { font-size: 26px; }
	.portfolio-items-single-menu-item .menu-thumbnail-wrapper .menu-flag { font-size: 26px; left: -10px; }
	.portfolio-items-single-menu-item .menu-thumbnail-wrapper .menu-flag-special-price { font-size: 26px; left: -10px;  top: 28px; }
	span.testimonal-quote { width: 100%; background-position: center center; }
	.vc_testimonials .testimonial-content .testimonial-content-value { font-size: 26px; text-align: center; float: left; margin-top: 20px;  margin-left: 0;}
	h1.popup-title { font-size: 20px; }
	.popup-price { font-size: 20px; }
	.popup-description { font-size: 14px; }
	.blockquote.type3 p { font-size: 20px; }
	.header-small .header-inner-wrapper {padding: 60px 20px 40px;  }
	.team-member-single { width: 100%;  max-width: 400px; margin:  0 auto; float: none; }
	.blockquote.type3, .blockquote.type4 { padding: 0; }
	.portfolio-columns2, .portfolio-columns3, .portfolio-columns4, .portfolio-columns5 { width: 100%; }
	.page-title-wrapper h1, .post-showing-type1-wrapper h1.post-title, .post-showing-type1-wrapper h1.post-title a { font-size: 32px; }
	.page-title-wrapper h3 { font-size: 15px; }
	.widget ul li a, .widget_recent_entries ul li a { font-size: 15px; }
	.comment-form-author, .comment-form-email, .comment-form-url { width: 100%; margin-right: 0; }
	.error-content2 { font-size: 70px; }
	.header-inner-wrapper { height: auto; padding: 60px 20px 40px; }
	.search-item {  text-align: center; }
	.search-item .search-thumb { text-align: center; float: none; margin: 0 auto; display: block; }
	.search-item .single-search-item-details { margin-left: 0; }
	.container-wrapper { padding-bottom: 40px; }
}

@media only screen and (max-width: 400px) {
	
	.small-portfolio-item, .big-portfolio-item { width: 100%; height: 250px; }
	.header-phone-number, .vc_welcome .welcome-big-text, h1.menu-title { font-size: 20px; }
	.portfolio-title-big { font-size: 20px; }
	.vc_testimonials .testimonial-content .testimonial-content-value { font-size: 20px; }
	.vc_welcome .welcome-content { font-size: 14px; }
	.md-modal { width: 80%; max-width: 80%; min-width: 80%; }
	.popup-content { padding: 15px 25px; }
	 .sidebar { max-width: 100% !important; margin-left: 0; left: 0; }
}


