.ABt_testimonials_wrapper .caroufredsel_wrapper{
	margin: 0 !important;
	width: auto !important;
}

.ABt_testimonials_slide{
	padding: 0;
	list-style: none;
	display: block;
	width: auto !important;
}

.ABt_testimonials_slide li{
	display: block;
	margin: 0;
	padding: 0;
	width: auto !important;
	background: #fff;
}

.ABt_testimonials_wrapper .ABt_navigation{
	text-align: right;
	position: relative;
	font-size: 20px;
}

.ABt_testimonials_wrapper .ABt_navigation a{
	text-decoration: none;
}

.ABt_testimonials_slide	.testimonial_big{
	padding-left: 40px;
	border-left: 1px solid #d9d9d9;
	margin-bottom: 70px;
	display: block;
}

.ABt_testimonials_slide	.testimonial_big p{
	font-family: Ubuntu;
	font-weight: 300;
	font-style: italic;
	font-size: 24px;
	line-height: 27px;
	color: #656560;
	margin-bottom: 27px;
}

.ABt_testimonials_slide	.testimonial_big .source{
	color: #929292;
}

.ABt_testimonials_slide	.testimonial_big .source a{
	font-weight: 700;
}

.ABt_testimonials_slide	.testimonial_small{
	display: block;
	margin-bottom: 70px;
}

.ABt_testimonials_slide	.testimonial_small p{
	font-style: italic;
	border-bottom: 5px solid #eee;
	margin-bottom: 26px;
}

.ABt_testimonials_slide	.testimonial_small p:after{
	display: block;
	content: "";
	width: 0;
	height: 0;
	border-left: 16px solid #eee;
	border-bottom: 22px solid #fff;
	position: relative;
	top: 27px;
	left: 20px;
}

.ABt_testimonials_slide	.testimonial_small .source{
	color: #929292;
}

.ABt_testimonials_slide	.testimonial_small .source a{
	font-weight: 700;
}

.ABt_testimonials_slide	.testimonial_small:after{
	display: block;
	content: "";
	clear: both;
}

.ABt_testimonials_slide	.testimonial_small img{
	width: 50px;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

.ABt_form_wrapper input[type="text"],
.ABt_form_wrapper input[type="file"],
.ABt_form_wrapper textarea{
	margin-bottom: 20px;
}

.ABt_form_wrapper input[type="file"]{
	width: 100%;
}

.ABt_form_wrapper .ABt_client,
.ABt_form_wrapper .ABt_client_url,
.ABt_form_wrapper .ABt_company,
.ABt_form_wrapper .ABt_company_url{
	width: 48%;
}

.ABt_form_wrapper .ABt_client_url,
.ABt_form_wrapper .ABt_company_url{
	float: right;
}

.ABt_form_wrapper .ABt_text{
	width: 100%;
	height: 90px;
}

.ABt_form_wrapper .ABt_field_error{
	background: #ffe9e9;
}

.ABt_form_wrapper .ABt_success_message{
	display:none;
}

.ABt_form_wrapper .ABt_form .placeholder,
.ABt_form_wrapper .ABt_form label { 
	color: #aaa;
}

.ABt_pagination{
	text-align: center;
}