/*
    ======================
            Header
    =======================
*/
.newsletter {
    background-color: #fff;
    border-top: 3px solid #1a73e9;
}
.newsletter #headerWrapper h3 {
    font-size: 30px;
    color: #3b3f5c;
    margin-top: 80px !important;
    margin-bottom: 22px;
}
.newsletter #headerWrapper img.logo-img {
    width: 180px;
    margin-bottom: 30px;
}
.newsletter #headerWrapper h2 {
    color: #000;
    font-weight: 600;
}
h2 {
    font-size: 1.875rem;
}
.newsletter #headerWrapper p {
    color: #888ea8;
    font-weight: 600;
    margin-bottom: 75px !important;
    font-size: 16px;
}
.newsletter #headerWrapper img.header-img {
    width: 950px !important;
}


/*
    ======================
        Our Thoughts
    =======================
*/
.newsletter #ourthoughtsWrapper h2 {
    font-weight: 600;
    color: #3232b7;
    margin-top: 75px !important;
    margin-bottom: 28px;
}
.newsletter #ourthoughtsWrapper p {
    font-size: 17px;
    color: #4f5163;
    margin: 0 66px;
}
.newsletter #ourthoughtsWrapper h3 {
    color: #ee3d50;
    margin-top: 62px !important;
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.newsletter #ourthoughtsWrapper h4 {
    color: #82838a;
    font-size: 16px;
    margin: 0 58px;
    line-height: 1.4;
    text-transform: inherit;
}


/*
    ======================
        Features
    =======================
*/

h1 {
    font-size: 2.25rem;
    color: #000;
    font-weight: 600;
}
#featuresWrapper {
    padding: 145px 0 145px 0; 
}
#featuresWrapper h2 {
    color: #000;
    font-weight: 600;
}
#featuresWrapper p {
    color: #888ea8;
    font-weight: 600;
    font-size: 16px;
}
#featuresWrapper img {
    color: #000;
    font-weight: 600;
    width: 150px;
    height: 125px;
    margin-top: 40px;
}
#featuresWrapper h3.features-title {
    color: #000;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 1.5rem;
}
#featuresWrapper p.features-text {
    color: #3b3f5c;
    font-size: 17px;
    font-weight: normal;
    margin: 30px 60px;
    padding-bottom: 64px;
    border-bottom: 1px solid #f1f3f1;
}


/*
    ======================
        Contact Us
    =======================
*/

#contactWrapper {
    padding: 65px 0 33px 0;
    border-top: solid 1px #e9ecef;
}

#contactWrapper h2.contact-title {
    font-size: 42px;
    color: #ee3d50;
    font-weight: 700;
    margin-bottom: 32px;
}
#contactWrapper p.contact-text {
    font-size: 18px;
    color: #3b3f5c;
    font-weight: normal;
    margin: 35px 70px;
}
#contactWrapper .contact-services {
    margin: 36px 0;
}

#contactWrapper .contact-services i {
    font-size: 22px;
    border-radius: 50%;
    background-color: #c2d5ff;
    padding: 10px;
    border: 2px solid #c2d5ff;
    color: #1a73e9;
    margin-bottom: 10px;
    margin-top: 20px;
}
#contactWrapper .contact-services p {
    margin: 0;
    color: #3b3f5c;
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
}
#contactWrapper .contact-services p a {
    color: #3b3f5c;
}
#contactWrapper .contact-services p a:hover {
    color: #5247bd;
    text-decoration: underline;
}


/*
    ================
        Follow  
    ================
*/

#followusWrapper {
    background-color: #c2d5ff;
    padding: 37px 0;
}
#followusWrapper p {
    color: #1a73e9;
    font-size: 18px;
}
#followusWrapper ul {
    color: #1a73e9;
    font-size: 24px;
    font-weight: normal !important;
}
#followusWrapper ul li i {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    cursor: pointer;
}
#followusWrapper ul li i:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
}


/*
    ================
        Footer  
    ================
*/

#footerWrapper {
    padding: 25px
}
#footerWrapper p {
    margin-bottom: 0;
    color: #8c8c8c;
}
#footerWrapper a {
    color: #8c8c8c;
}
#footerWrapper a:hover {
    color: #494949;
    text-decoration: underline;
}