html body{ min-width: 300px; }

#greennature-responsive-navigation{ display: none; }

/*--- tablet ---*/
@media only screen and (max-width: 1100px) {
	.greennature-button-overlay,
	.greennature-woo-button-overlay { display: none; }
	.greennature-donate-button { margin-left: 25px; width: auto; }
	.greennature-top-woocommerce-button { margin-right: 0px; margin-left: 25px; }
	.greennature-navigation-wrapper .greennature-main-menu > li > a.sf-with-ul-pre,
	.greennature-navigation-wrapper .greennature-main-menu > li > a.sf-with-ul
	.greennature-navigation-wrapper .greennature-main-menu > li > a { padding-right: 25px; }	
}
@media only screen and (max-width: 1050px) {
	body .greennature-logo { float: none; margin-top: 0px; margin-bottom: 0px; padding-top: 20px; padding-bottom: 20px; } 
	body .greennature-logo-inner { margin: 0px auto; }
	body .greennature-navigation-wrapper{ float: none; margin-top: 10px; line-height: 0; text-align: center;  }
	body .greennature-navigation { display: inline-block; line-height: 1.7; text-align: left; }
	body .greennature-logo-right-text{ float: none; margin-top: 10px; text-align: center; }
	body .greennature-navigation-wrapper .greennature-main-menu > li > a{ padding-bottom: 25px; }	
	body .greennature-button-overlay { top: auto; height: 70px; }
	body .greennature-fixed-header .greennature-logo{ display: none; }
}

@media only screen and (max-width: 959px) {
	body .container{ max-width: 768px; }	
	body .body-wrapper.greennature-boxed-style { max-width: 808px; }

	.greennature-hide-in-tablet{ display: none; } 
	.greennature-hide-in-tablet-mobile{ display: none; }
	
	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { opacity: 1; }
	.greennature-fixed-header{ display: none; }
	
	.gdlr-icon-shortcode { margin-bottom: 10px; }
	
	.greennature-blog-widget .greennature-blog-date-wrapper { display: none; }
}

/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {
	body .container{ max-width: 420px; }
	body .body-wrapper.greennature-boxed-style { max-width: 460px; }
	body .body-wrapper{ overflow: hidden; }
	
	.wpcf7-contact-half-right,
	.wpcf7-contact-half-left{ float: none; width: auto; }
	
	.one-ninth, .one-eighth, .one-seventh,.one-fifth,
	.two-fifth, .three-fifth, .four-fifth,
	.one, .two, .three, .four, .five, .six, .seven,
	.eight, .nine, .ten, .eleven, .twelve{ width: 100%; }	
	.greennature-half-bg-wrapper .six.columns{ left: auto; right: auto; }
	
	.greennature-hide-in-tablet{ display: block; } 
	.greennature-hide-in-mobile{ display: none; } 
	
	.greennature-half-bg.greennature-bg-solid { display: none; }
	.greennature-service-half-background-item .greennature-half-left,
	.greennature-service-half-background-item .greennature-half-right{ float: none; width: auto; padding: 70px 0px;margin: 0px;}
	.greennature-service-half-background-item .greennature-half-left .greennature-item-margin,
	.greennature-service-half-background-item .greennature-half-right .greennature-item-margin{ margin: 0px 15px; }
	.greennature-service-half-background-item .greennature-half-left .half-container,
	.greennature-service-half-background-item .greennature-half-right .half-container{ max-width: 420px; margin: 0px auto; }
	
	/*--- header ---*/
	body .top-navigation-left{ float: none; text-align: center; padding: 3px 0px;}
	body .top-navigation-right { float: none; text-align: center; padding: 3px 0px;}
	body .greennature-logo { padding-right: 60px; }
	body .greennature-logo-inner { margin-left: 0px; }
	
	#greennature-responsive-navigation { display: block; height: 0px; position: static; float: none; }
	#greennature-responsive-navigation .dl-trigger{ position: absolute; right: 15px; top: 20px; margin-top: 0px; }
	.dl-menuwrapper > .dl-menu, 
	.dl-menuwrapper > .dl-submenu{ margin: 20px 0px 0px; width: 390px; text-align: left; }

	.greennature-navigation-wrapper{ display: none; }

	/*--- page item ---*/
	.greennature-item-title-head .greennature-nav-title{ display: none; }
	
	.greennature-item-title-wrapper.greennature-left .greennature-item-title, 
	.greennature-item-title-wrapper.greennature-left .greennature-item-title-caption, 
	.greennature-item-title-wrapper.greennature-left-divider .greennature-item-title, 
	.greennature-item-title-wrapper.greennature-left-divider .greennature-item-title-caption{ display:block; }
	.greennature-item-title-wrapper.greennature-left .greennature-item-title-link, 
	.greennature-item-title-wrapper.greennature-left-divider .greennature-item-title-link{ float: none; display: inline-block; }
	
	.greennature-title-left .about-us-title-wrapper { width: auto; float: none; text-align: center; }
	.greennature-title-left .about-us-title-divider { margin-right: auto; margin-bottom: 26px; }

	.greennature-list-menu{ padding: 0px; }

	.greennature-stunning-text-item{ text-align: center; }
	.greennature-stunning-text-item.type-normal.greennature-button-on{ padding-right: 0px; }
	.greennature-stunning-text-item.type-normal .stunning-text-button{ position: static; margin-top: 0px; }
	.greennature-stunning-text-item.with-padding.greennature-button-on{ padding-right: 35px; }
	
	.greennature-stunning-item.greennature-item.greennature-button-on.greennature-stunning-left { padding-right: 0px; }
	.greennature-stunning-item.greennature-stunning-left .stunning-item-button { position: relative; margin-top: 10px; margin-bottom: 0px; }
	
	.greennature-column-service-item.greennature-type-2-bg { height: auto !important; }
	
	.greennature-service-with-image-item .service-with-image-thumbnail { float: none; margin: 0px auto; }
	.greennature-service-with-image-item .service-with-image-content-wrapper { text-align: center; } 
	
	.greennature-feature-media-item.greennature-left .feature-media-thumbnail{ float: none; width: auto; margin-right: 0px;}
	.greennature-feature-media-item .feature-media-icon { display: none; }
	html .woocommerce ul.products li.product, html .woocommerce-page ul.products li.product { width: 99% !important; }
	
	.greennature-subscribe-item .greennature-newsletter-subscribe input[type="submit"]{ margin-top: 20px; }
	
	.wpcf7 .wpcf7-contact-half-right span.wpcf7-form-control-wrap { padding-left: 0px; padding-right: 44px; }
	
	/*--- single page ---*/
	.greennature-portfolio-style1 .greennature-portfolio-description{ float: none; margin-right: 0px; width: auto; }
	.greennature-portfolio-style1 .greennature-portfolio-info{ width: auto; float: none; margin-bottom: 30px; }	
	.greennature-portfolio-style2 .greennature-portfolio-thumbnail {
    max-width: 100%; float: none; margin-right: 0px; margin-left: 0px; width: auto !important;  }
	
	.greennature-blog-medium .greennature-blog-thumbnail { margin-right: 0px; float: none; margin-bottom: 20px; width: auto; }	
	
	/*--- slider ---*/
	.greennature-caption-wrapper .greennature-caption .greennature-caption-text { display: none; }
	.greennature-caption-wrapper .greennature-caption .greennature-caption-title { margin-bottom: 0px; font-size: 15px; }
	.greennature-caption-wrapper .greennature-caption { max-width: 100%; padding: 13px 12px; }	 
	
	.greennature-item-title .greennature-flex-prev { margin: 0px; position: absolute; 
		left: 0px; top: 50%; margin-top: -20px;}
	.greennature-item-title .greennature-flex-next{ margin: 0px; position: absolute; 
		right: 0px; top: 50%; margin-top: -20px; }	
	
	/*--- header style ---*/
	.greennature-header-wrapper.header-style-5-wrapper { position: relative; }
	.header-style-5-title-wrapper.greennature-page-title-wrapper { padding-top: 74px; }

	/* donation lightbox form */
	.greennature-payment-lightbox-container{width: auto;left: 20px;right: 20px;top: 20px;bottom: 20px;}
	.greennature-form-fields .columns-wrap.greennature-right{ margin-left: 0px; }
	.greennature-form-fields .columns-wrap.greennature-left{ margin-right: 0px; }
	.greennature-payment-price-preset{ margin-bottom: 15px; }	
}	


/*--- mobile portrait style ---*/
@media only screen and (max-width: 419px) {
	body .container{ max-width: 300px; }
	body .body-wrapper.greennature-boxed-style { max-width: 340px; }
	
	.gdlr-service-half-background-item .gdlr-half-left .half-container,
	.gdlr-service-half-background-item .gdlr-half-right .half-container{ max-width: 300px; }
	
	.dl-menuwrapper .dl-menu, .dl-menuwrapper > .dl-submenu{ width: 270px; }
}