/*
    Options
*/
.options .card.mail-actions {
    border: none;
}
h4 {
    font-size: 1.125rem;
}
.options .card.mail-actions .media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.options .card.mail-actions .media .media-body h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: #3232b7;
    font-weight: 600;
}
.options .card.mail-actions .media .media-body a {
    font-size: 13px;
    color: #888ea8;
}
.options .card.mail-actions .media .media-body a:hover {
    color: #494949;
}
.options .card.mail-actions .media .media-body a i {
    font-size: 14px;
    font-weight: 600;
}
.options .card.mail-actions ul {
    color: #000;
}
.options .card.mail-actions ul li {
    margin-bottom: 30px;
    font-size: 15px;
    padding: 10px;
}
.options .card.mail-actions ul li a:hover,
.options .card.mail-actions ul li a:hover i,
.options .card.mail-actions ul li.active a:hover {
    color: #e95f2b;
}
.options .card.mail-actions ul li.active a {
    color: #3862f5;
}
.options .card.mail-actions ul li.active i {
    color: #3862f5;
}
.options .card.mail-actions ul li a {
    color: #3b3f5c;
}
.options .card.mail-actions ul li i {
    font-size: 22px;
    vertical-align: middle;
    padding-right: 5px;
    color: #3b3f5c;
}
.options .card.mail-actions ul li span.badge {
    font-weight: 600;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 10px;
}


/*
    Mail Labels
*/

.options .card.mail-actions ul.mail-labels {
    color: #000;
}
.options .card.mail-actions ul.mail-labels li {
    position: relative;
    margin-bottom: 16px;
    font-size: 15px;
    cursor: pointer;
}
.options .card.mail-actions ul.mail-labels li.label:after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    right: 0px;
    top: 43%;
}
.options .card.mail-actions ul.mail-labels li.label-personal:after {
    background-color: #816cfd;
}
.options .card.mail-actions ul.mail-labels li.label-work:after {
    background-color: #f8538d;
}
.options .card.mail-actions ul.mail-labels li.label-account:after {
    background-color: #00b1f4;
}
.options .card.mail-actions ul.mail-labels li.label-social:after {
    background-color: #e95f2b;
}
.options .card.mail-actions ul.mail-labels li i {
    font-size: 18px;
    vertical-align: middle;
    padding-right: 5px;
}

/*
    User Status
*/

.options .card.mail-actions ul.usr-status {
    color: #000;
}
.options .card.mail-actions ul.usr-status li {
    margin-bottom: 16px;
}
.options .card.mail-actions ul.usr-status .media .usr-img:before {
    content: attr(alt);
    position: absolute;
    display: block;
    right: 17px;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 5;
}
.options .card.mail-actions ul.usr-status .media .usr-img.online:before {
    background-color: #2ecc71;
}
.options .card.mail-actions ul.usr-status .media .usr-img img {
    width: 50px;
    height: 50px;
}
.options .card.mail-actions ul.usr-status .media .media-body h5 {
    font-size: 14px;
    margin-bottom: 3px
}
.options .card.mail-actions ul.usr-status .media .media-body p {
    font-size: 12px;
}


/*
    Inbox Section
*/

.inbox-section {
    padding: 20px 20px 0 20px;
    position: relative;
    background-color: #fff;
}
.inbox-section .read-options i {
    font-size: 20px;
    padding-left: 23px;
    cursor: pointer;
}
.inbox-section .read-options i:hover {
    color: #494949;
}
.inbox-section .read-options .dropdown .dropdown-item:hover {
    background-color: #fff;
    color: #3862f5;
}
.d-icon-none.dropdown-toggle:after {
    display: none;
}


/*
    Message Timeline
*/
.inbox-section .messages-timeline .messages .media {
    border-bottom: 1px solid #e9ecef;
    color: #3d3f5c;
}
.inbox-section .messages-timeline .messages .media img {
    width: 55px;
    height: 55px;
}
.inbox-section .messages-timeline .messages .media h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #3862f5;
}
.inbox-section .messages-timeline .messages .media .media-body .messages-meta-date {
    margin-bottom: 0px;
}
.inbox-section .messages-timeline .messages .message-body .strong {
    color: #000
}
.inbox-section .messages-timeline .messages .message-body p {
    color: #3d3f5c;
    font-size: 13px;
}