.inbox-section .heading-title {
    color: #000;
    margin: 0;
    font-size: 1.125rem;
}
h4 {
    font-size: 1.125rem;
}

/*
    Options
*/
.options .card.mail-actions {
    border: none;
}
.options .card.mail-actions .media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.options .card.mail-actions .media .media-body h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: #3232b7;
    font-weight: 600;
}
.options .card.mail-actions .media .media-body a {
    font-size: 13px;
    color: #888ea8;
}
.options .card.mail-actions .media .media-body a:hover {
    color: #494949;
}
.options .card.mail-actions .media .media-body a i {
    font-size: 14px;
}
.options .card.mail-actions ul {
    color: #000;
}
.options .card.mail-actions ul li {
    margin-bottom: 30px;
    font-size: 15px;
    padding: 10px;
}
.options .card.mail-actions ul li a:hover,
.options .card.mail-actions ul li a:hover i,
.options .card.mail-actions ul li.active a:hover {
    color: #e95f2b;
}
.options .card.mail-actions ul li.active a {
    color: #3862f5;
}
.options .card.mail-actions ul li.active i {
    color: #3862f5;
}
.options .card.mail-actions ul li a {
    color: #3b3f5c;
}
.options .card.mail-actions ul li i {
    font-size: 22px;
    vertical-align: middle;
    padding-right: 5px;
    color: #3b3f5c;
}
.options .card.mail-actions ul li span.badge {
    font-weight: 600;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 10px;
}


/*
    Mail Labels
*/

.options .card.mail-actions ul.mail-labels {
    color: #000;
}
.options .card.mail-actions ul.mail-labels li {
    position: relative;
    margin-bottom: 16px;
    font-size: 15px;
    cursor: pointer;
}
.options .card.mail-actions ul.mail-labels li.label:after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    right: 0px;
    top: 43%;
}
.options .card.mail-actions ul.mail-labels li.label-personal:after {
    background-color: #816cfd;
}
.options .card.mail-actions ul.mail-labels li.label-work:after {
    background-color: #f8538d;
}
.options .card.mail-actions ul.mail-labels li.label-account:after {
    background-color: #00b1f4;
}
.options .card.mail-actions ul.mail-labels li.label-social:after {
    background-color: #e95f2b;
}
.options .card.mail-actions ul.mail-labels li i {
    font-size: 18px;
    vertical-align: middle;
    padding-right: 5px;
}


/*
    User Status
*/

.options .card.mail-actions ul.usr-status {
    color: #000;
}
.options .card.mail-actions ul.usr-status li {
    margin-bottom: 16px;
}
.options .card.mail-actions ul.usr-status .media .usr-img:before {
    content: attr(alt);
    position: absolute;
    display: block;
    right: 17px;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 5;
}
.options .card.mail-actions ul.usr-status .media .usr-img.online:before {
    background-color: #2ecc71;
}
.options .card.mail-actions ul.usr-status .media .usr-img img {
    width: 50px;
    height: 50px;
}
.options .card.mail-actions ul.usr-status .media .media-body h5 {
    font-size: 14px;
    margin-bottom: 3px
}
.options .card.mail-actions ul.usr-status .media .media-body p {
    font-size: 12px;
}


/*
    Inbox Section
*/

.inbox-section .search input {
    border-radius: 20px;
    height: 30px;
    border-color: #e6e6e6;
}
.inbox-section {
    padding: 20px 20px 0 20px;
    position: relative;
    background-color: #fff;
}
.inbox-section .inbox-options {
    margin-left: 14px;
}
.inbox-section .inbox-options ul.list-inline li {
    cursor: pointer;
}
.inbox-section .inbox-options ul.list-inline li:hover i {
    color: #494949;
}
.inbox-section .inbox-options ul.list-inline li .dropdown .d-icon-none.dropdown-toggle:after {
    display: none;
}
.inbox-section .inbox-options ul.list-inline li i {
    font-size: 17px;
    margin-right: 5px;
}
.inbox-section .inbox-options ul.list-inline li .dropdown a.dropdown-item:hover {
    background-color: #fff;
    color: #3862f5;
}
.inbox-section .inbox-options ul.list-inline li .dropdown a.dropdown-item i {
    vertical-align: middle;
}
.inbox-section nav.mail-pagination ul.pagination {
    margin: 0
}
ul.pagination li.non-hover a:hover:not(.active) {
    background-color: transparent;
    color: #3862f5;
}
.inbox-section table.table {
    border-collapse: separate;
    border-spacing: 0 0.7em;
    color: #3b3f5c;
}
.inbox-section table.table tr {
    background-color: #fff;
}
.inbox-section table.table tr:hover {
        background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.inbox-section table.table td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 2px solid #fff;
}
.inbox-section table.table tr:hover td:first-child {
    border-left: 2px solid #3862f5;
}
.inbox-section table.table td {
    border-top: none;
    vertical-align: middle;
}
.inbox-section table.table td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}
.inbox-section table.table td div.mark-star .custom-control-label::before {
    font-family: flaticon;
    content: "\f2ba";
    top: 0;
    left: 0;
    background-color: transparent;
    color: #ffbb44;
    font-size: 13px;
}
.inbox-section table.table td div.mark-star.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    font-family: flaticon;
    content: "\f2c8";
    background-color: transparent;
    left: 0;
    color: #ffbb44;
}
.inbox-section table.table td div.mark-star.custom-checkbox .custom-control-label::after {
    background-image: none;
    left: 0;
}
.inbox-section table.table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.inbox-section table.table .message-new {
    font-weight: 600;
    color: #000;
}
.chk-all .dropdown {
    margin-right: 16px;
    color: #3862f5;
    margin-top: 2px;
}
.chk-all .dropdown:hover {
    color: #494949;
}