/**
 * All Footer Elements
 */

/* Widgets */
.footer-logo {background: transparent;padding: 80px 0 40px 0;}
.footer-lang {padding: 40px 0 0 0;margin: 0;display: inline-block;}
.footer-lang li {
	display: inline-block;
	list-style: none;
	width: auto;
	padding: 0;
}
.footer-lang li:last-child a {border: none;}
.footer-lang li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #aaaaaa;
	border-right: 1px solid #fff;
	padding: 0 10px;
}
.footer-lang li.jt-active-lang a {color: #fff;}
.footer-lang li a:hover {color: #fff;}
.footer-lang li a,
.footer-lang li a:focus,
.footer-lang li a:active,
.footer-lang li a:hover {text-decoration: none;}
.copyright-bg {background: rgba(0,0,0,0.20);border:none;}
.jt-instagram-tit {
	background: #fcfcfc;
	min-height: 70px;
	line-height: 70px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.jt-instagram-tit a,
.jt-instagram-tit a:hover,
.jt-instagram-tit a:active,
.jt-instagram-tit a:focus {text-decoration: none;color: #35373e;}
.jt-inst-image img {max-width: 100%;}
.abt-cont-wrap {width: 100%;float: left;padding: 50px 0 0 0;}
.jt-abt-text {
	font-family: 'Amiri', serif;
	font-size: 16px;
	padding: 0 0 30px 0;color: #777777;
	line-height: 25px;
}
.jt-abt-text > strong {text-transform: uppercase;color: #35373e;font-weight: normal;}
.navbar-default .home-blog.navbar-nav > li > a {color: #000;}

.jt-social-one.jt-footer-social li a:hover:after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background: #000;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.jt-social-one li a:hover {color: #fff;}
.jt-social-one.jt-footer-social li a:hover {color: #35373E;}

.jt-social-one.jt-footer-social li {padding: 0 25px;}
.jt-social-one.jt-footer-social li a {color: #35373e;}
footer .widget.widget-flickr ul li {margin: 0px 7px 7px 0px;width: auto;padding: 0;}
/* Common */
footer {
  padding: 0px;
  float: left;
  width: 100%;
  background: none;
}
footer > div { background: none; padding: 50px 0 50px; }
footer .container-fluid { padding-left: 0; padding-right: 0; }
.foot-ctrl footer .text-widget-holder { padding: 50px 0; }
.foot-ctrl footer .text-widget-holder .container:first-child { padding: 0; /* For freelance footer */ }
.foot-ctrl footer .text-widget-holder .container:last-child { padding: 0; }
footer .social_eight_center { text-align: center; }
.jt-photo-wrap.jt_photography_content.left-cont footer { margin-bottom: 25px; }
footer {
  background: url('../images/patterns/footer-bg.png') repeat top left #35373e;
  float: left;
  width: 100%;
  padding: 120px 0 0;
  color: #999;
}
.jt-widgets-area {float: left;width: 100%;margin: 0 0 95px;}
footer h3.widget-title {
  color: #ccc;
  float: none;
  width: auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 35px;
}
footer h3.widget-title:after {
  content: '';
  width: 30px;
  height: 1px;
  background: #ccc;
  display: block;
  margin: 10px 0 0;
}
footer ul {list-style: none;padding: 0;margin: 0;}
footer ul li {
  padding: 10px 0 5px;
  font-family: "Amiri",serif;
  font-size: 14px;
  color: #999;
  float: left;
  width: 100%;
  letter-spacing: 1px;
}
footer ul li a,
footer ul li a:focus {color: #999;text-decoration: none;}
footer ul li a:hover {color: #ddd;}
/* Footer Address */
.jt-add-widget-cnt {
  width: 84%;
  float: right;
  margin: 0 0 15px;
  line-height: 24px;
}
.jt-add-icon i {color: #ccc;font-size: 23px;}
/* Footer - Instagram */
footer .jt-instagram ul {padding: 0;margin: 0;list-style: none;}
footer .jt-instagram ul li {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 5px 6px 0;
  padding: 0;
}
footer .jt-instagram ul li a img {max-width: 100%;}
/* Copyright Area */
.jt-copyright-area {
  float: left;
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #404247;
}
.jt-copyright-text {
  color: #ccc;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2px;
  margin: 10px 0 0;
}
.jt-copyright-text p {margin: 0 0 5px;}
/* Social Counter */
.jt-social-counter ul {padding: 0;margin: 0;list-style: none;}
.jt-social-counter ul li {display: inline-block;float: none;width: auto;padding: 0;}
.jt-social-counter ul li a {
  float: left;
  margin: 0 60px 0 0;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.jt-social-counter ul li a:hover,
.jt-social-counter ul li a:focus {color: #ccc;}
.jt-social-counter ul li a p,
footer .widget.widget_text .jt-social-counter ul li a p {font-family: "Amiri",serif;font-size: 14px;margin: 0;}
.jt-social-counter ul li a i {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 34px;
  font-size: 14px;
  border: 2px solid #ccc;
  text-align: center;
  color: #f7f8f9;
  float: left;
  margin: 0 15px 0 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.jt-social-counter ul li a i:before {position: relative;left: 1px;}
.jt-social-counter ul li a:hover i {background: #f7f8f9;color: #35373e;}

.jt-footer-title {
  font-family: 'Amiri', serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 0 35px;
}
.jt-footer-logo {
  margin: 0;
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid #fff;
  position: relative;
  text-align: center;
}
.jt-footer-logo:hover {text-decoration: none;color: #fff;}
.jt-footer-logo img.logo-top-arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: -9px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.jt-footer-logo:hover img.logo-top-arrow {top: -13px;}
.jt-footer-logo:before {
  content: '';
  width: 30px;
  height: 1px;
  display: block;
  margin: 0 auto;
  background: #343537;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
}
.jt-footer-social {
  padding: 0;
  margin: 40px 0;
  list-style: none;
  float: left;
  width: 100%;
}
.jt-footer-social li {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: #ccc;
  letter-spacing: 2px;
}
.jt-footer-social li a {position: relative;padding: 5px 0px;color: #999;}
.jt-footer-social li a:hover {text-decoration: none;}
.jt-footer-social li a:after {
  content: '';
  position: relative;
  width: 0%;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.jt-footer-social li a:hover:after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background: #ccc;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*** Fixed Footer ***/
.jt-fixed-footer {display: inline-block;width: 100%;height: auto;}
.jt-fixed-footer .wrapper {
  position: relative;
  background-color: #fff;
  z-index: 16;
  float: left;
  width: 100%;
}
.jt-fixed-footer footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 15;
}

/**
 * Footer Styles
 */
/* Footer Style Two */
.foot-ctrl footer.jt-footer-style-two,
footer.jt-footer-style-two { padding: 0;text-align: center; }
footer.jt-footer-style-two .jt-copyright-area { margin: 0; position: relative; }
footer .jt-copyright-area .jt-copyright-text { margin: 7px 0;line-height: 22px; }
footer .jt-copyright-area .jt-copy-widget {
  text-align: left;
  color: #aaa;
  width: 100%;
  display: inline-block;
  margin: 7px 0px 0px;
  line-height: 22px;
}
footer .jt-widgets-area { padding: 0; margin: 0; text-align: left; }
.foot-ctrl footer.jt-footer-style-two .jt-copyright-area { margin: 0; }
footer .jt-copyright-area.text-left .jt-copyright-text { float: left; width: auto; }
footer .jt-copyright-area.text-left .jt-copy-widget { float: right; width: auto; }
footer.jt-footer-style-two .jt-copyright-area {
  background: rgba(0,0,0,0.1);
  padding: 20px 0 15px;
  margin: 20px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ccc;
  border-top: 0;
}
footer.jt-footer-style-two .jt-copyright-area p {margin: 0px;line-height: 22px;}

/* Footer Five & Six */
footer.jt-footer-style-five {
  background: #2e2e30;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 75px 0px 0
}
footer.jt-footer-style-five .jt-copyright-area,
footer.jt-footer-style-six .jt-copyright-area {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
  padding: 30px 0px;
  margin: 20px 0px 0px;
  font-family: "Montserrat",sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #CCC;
  border-top: 0px;
  text-align: center;
}
footer.jt-footer-style-six {background: #2e2e30;height: 100%;width: 100%;}
footer.jt-footer-style-six .jt-social-counter {width: 100%;float: left;}
footer.jt-footer-style-six .jt-social-counter ul li a {margin: 0;}
footer.jt-footer-style-six .jt-social-counter ul li a i {
  margin: 0px 5px 0px 0px;
  width: 32px;
  height: 32px;
  line-height: 30px;
}

/* Footer Style Seven */
footer.jt-footer-style-seven .jt-footer-contact,
footer.jt-footer-style-seven .jt-footer-contact p,
footer.jt-footer-style-seven .jt-footer-contact span {
  margin-bottom: 30px;
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}
.jt-footer-style-seven {background: #f7f8f9;padding: 70px 0 0 0;text-align: center;}
.jt-footer-style-seven .jt-footer-contact {position: relative;top: 55px;width: 100%;float: left;}
.jt-footer-style-seven .jt-footer-contact a,
.jt-footer-style-seven .jt-footer-contact p {
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  color: #35373e;
  text-align: left;
  float: left;
}
.jt-footer-style-seven .jt-footer-contact.jt-align-right a,
.jt-footer-style-seven .jt-footer-contact.jt-align-right p {float: right; text-align: right;}
.jt-footer-style-seven .jt-footer-contact a,
.jt-footer-style-seven .jt-footer-contact a:hover,
.jt-footer-style-seven .jt-footer-contact a:active,
.jt-footer-style-seven .jt-footer-contact a:focus {text-decoration: none;}
.jt-footer-social li a:hover:after {background: #35373e;}

/* Footer Eight & Nine */
footer.jt-footer-style-nine { min-height: auto; height: auto; }
.foot-ctrl footer.jt-footer-style-eight,
.foot-ctrl footer.jt-footer-style-nine { margin: 0; }
.foot-ctrl footer.jt-footer-style-nine .jt-copyright-area p { float: none; }
.jt-footer-style-nine {
  min-height: 540px;
  position: relative;
  width: 100%;
  padding: 0;
  background: #29292b;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 120px 0 0 0;
}
.jt-footer-style-nine:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url("../images/dummy/studio-footer.jpg");
  display: block;
  filter: alpha(opacity=3);
  -moz-opacity: 0.03;
  -khtml-opacity: 0.03;
  opacity: 0.03;
  top: 0;
  left: 0;
  z-index: -1;
}
.jt-footer-style-nine .jt-copyright-area {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  border: 0;
  padding: 30px 370px;
  z-index: 1;
}
.jt-footer-style-nine .jt-social-one {
  margin: 0;
  float: left;
  text-align: left;
  width: auto;
  display: inline-block;
}
.jt-footer-style-nine .jt-social-one li {padding: 0 20px;}
.jt-footer-style-nine .jt-social-one li a {color: #aaaaaa;}
.jt-footer-style-nine .jt-social-one li a:hover:after {background: #aaaaaa;}
.jt-footer-style-nine .jt-copyright-area p {
  width: auto;
  display: inline-block;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.jt-footer-style-nine .jt-footer-content {padding: 135px 0 120px 0;}
.jt-footer-style-nine .jt-address-detail {padding: 50px 0 30px 0;}
.jt-footer-style-nine .jt-address-detail p,
.jt-footer-style-nine .jt-contact p,
.jt-footer-style-nine .jt-contact a {
  margin: 0;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 0 10px 0;
}
.jt-footer-style-nine .jt-contact a {text-transform: none;letter-spacing: 1.5px;}
.jt-footer-style-nine .jt-contact a:hover,
.jt-footer-style-nine .jt-contact a:active,
.jt-footer-style-nine .jt-contact a:focus {text-decoration: none;}

/* Footer Ten */
.jt-footer-style-ten {background: #f5f6f7;}
.jt-footer-style-ten .widget h3.widget-title {color: #35373e;}
.jt-footer-style-ten .jt-widget-content p {
  font-family: 'Amiri', serif;
  color: #888888;
  font-size: 16px;
  line-height: 25px;
}
footer.jt-footer-style-ten ul li a,
footer.jt-footer-style-ten ul li a:hover,
footer.jt-footer-style-ten ul li a:focus {color: #888888; }
ul.jt-social-three.jt-vint-social li {width: auto;}
ul.jt-social-three.jt-vint-social li a  {
  color: #35373e;
  font-size: 12px;
  width: 32px;
  height: 32px;
  line-height: 35px;
}
.jt-footer-style-ten .jt-copyright-area {
  background: #f0f1f2;
  padding: 35px 0;
  text-align: center;
  border: 0;
}
.jt-footer-style-ten .jt-copyright-area p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #35373e;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Footer Eleven */
.jt-boxed-footer .jt-instagram {padding: 80px;}
.jt-boxed-footer .widget-title {text-align: center;margin: 0 0 50px 0;}
.jt-boxed-footer .widget-title:after {
  content: "";
  background: #fe8869;
  width: 30px;
  height: 2px;
  display: block;
  margin: 10px auto 0;
}

/**
  Boxed Footer Area
**/
.jt-boxed-footer-contact {text-align: center;}
.jt-boxed-footer-contact p {
  font-family: "Amiri",serif;
  font-size: 15px;
  color: #aaa;
  letter-spacing: 0.7px;
  line-height: 24px;
  margin-bottom: 25px;
}
.jt-boxed-footer-contact p:last-child {margin-bottom: 0px;}

/* Boxed Footer Dribbble */
.jt-boxed-footer .dribbble-feed {text-align: center;}
.jt-boxed-footer .dribbble-feed li {
  float: none;
  width: 100px;
  height: auto;
  padding: 0px;
  margin: 0px 6px 6px 0px;
  display: inline-block;
}
.jt-boxed-footer .dribbble-feed img {max-width: 100%;}

/* Instagram */
.instagram-pics {text-align: center;}
.instagram-pics img {max-width: 100%;}
.instagram-pics li {
  width: 100px;
  float: none;
  display: inline-block;
  margin: 0px 6px 6px 0px;
  padding: 0;
}
.jt_widget_count_four .instagram-pics li {width: 80px;}
.jt_widget_count_four .instagram-pics li:nth-child(3n) {margin-right: 0px}
.jt_widget_count_three .instagram-pics li {width: 80px;}
.jt_widget_count_three .instagram-pics li:nth-child(3n) {margin-right: 0px}
/* Twitter */
.tweets-list-container li {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.widget_tweet_fader_widget p {
  font-family: "Amiri",serif;
  font-size: 15px;
  text-align: center;
  color: #AAA;
  letter-spacing: 0.7px;
  line-height: 26px;
  margin-bottom: 25px;
}
.widget_tweet_fader_widget a {color: #eee;}

/* Boxed Widget Style */
.jt-boxed-widget-style .container {width: 100%;}
.jt-boxed-widget-style .jt-widgets-area > div {padding: 80px 50px 50px;}
.jt-boxed-widget-style .jt_widget_count_three .instagram-pics li { width: 100px; }
.jt-boxed-widget-style .jt-widgets-area > div:nth-child(2) {padding: 80px 60px 110px;background: #1e1e1e;min-height: 420px;}
.jt-boxed-widget-style .jt-widgets-area > div .tweet-list li p small {display: block;}