@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@font-face {
    font-family: 'NexaBold';
    src: url("../fonts/NexaBold.otf")
}

@font-face {
    font-family: 'NexaLight';
    src: url("../fonts/NexaLight.otf")
}

@font-face {
    font-family: 'NexaRegular';
    src: url("../fonts/NexaRegular.otf")
}

*,
:focus,
button:focus {
    outline: 0
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

a,
button,
input[type="submit"] {
    cursor: pointer
}

a {
    color: #1c223a;
    text-transform: inherit
}

a:focus,
a:hover {
    color: #373d46;
    text-decoration: none
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1
}

body {
    color: #000000;
    font-weight: 400;
    font-family: 'Lato', sans-serif
}

ul {
    padding: 0;
    margin: 0
}

li,
ul {
    list-style: none
}

p {
    line-height: 1.7
}

a {
    transition: all 0.3s ease
}

a:hover {
    text-decoration: none
}

.section-gap {
    height: 100px
}

.tranding-content h1 {
    margin-bottom: 15px
}

.tranding-content img {
    margin-right: 10px
}

#trade-section {
    background: url("../img/advidorbg.jpg") no-repeat scroll 0 0;
    background-size: cover;
    background-position: center center;
    position: relative
}

.trade-content {
    padding-top: 100px;
    padding-bottom: 45px
}

.trade-content h1 {
    margin-bottom: 15px
}

.trade-content p {
    padding-right: 50px;
    line-height: 1.5
}

.position-box1 {
    position: absolute;
    top: -65px;
    left: -65px;
    width: 325px;
    min-height: 162px;
    max-height: 162px
}

.position-box1 img.queot {
    position: absolute;
    right: 10px;
    top: -25px
}

.position-box2 {
    position: absolute;
    top: -24px;
    right: 0;
    width: 280px;
    min-height: 162px;
    max-height: 162px
}

.position-box2 img.queot {
    position: absolute;
    right: 10px;
    top: -25px;
    transform: rotate(180deg)
}

.position-box3 {
    position: absolute;
    bottom: 25px;
    left: -50px;
    width: 325px;
    min-height: 162px;
    max-height: 162px
}

.position-box3 img.queot {
    position: absolute;
    right: 10px;
    top: -25px
}

.position-box4 {
    position: absolute;
    bottom: -30px;
    right: -12px;
    width: 280px;
    min-height: 162px;
    max-height: 162px
}

.position-box4 img.queot {
    position: absolute;
    right: 10px;
    top: -25px;
    transform: rotate(180deg)
}

.trade-box {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #ddd
}

.trade-header {
    display: inline-block
}

.trade-header img {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -23px;
    top: 13px
}

.trade-header p span {
    font-size: 14px
}

.trade-header p {
    margin-bottom: 0 !important;
    margin-left: 35px
}

.trade-body {
    margin-top: 20px
}

.howto-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px 20px;
    text-align: center;
    min-height: 290px;
    max-height: 290px;
    overflow: hidden
}

.howto-content h4 {
    margin: 15px 0;
    font-weight: bold;
    font-size: 20px
}

.howto-content h4 span {
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff
}

.howto-content h4 span.one {
    background: #ac9ded
}

.howto-content h4 span.two {
    background: #fe91a9
}

.howto-content h4 span.three {
    background: #fdc25f
}

.howto-content:hover {
    border-top: 5px solid #416e86;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: 0 0 20px #ddd
}

div#becometrade-section {
    position: relative
}

.shape-bg {
    position: absolute;
    top: 0;
    left: 65px
}

.betrade-content input {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 14px;
    margin-top: 15px;
    min-width: 195px;
    max-width: 195px;
    overflow: hidden;
    padding: 10px
}

.betrade-content input[type="submit"] {
    background: #416e86;
    color: #fff;
    font-weight: bold
}

.betrade-content {
    padding-top: 100px
}

div#ta-section {
    height: 200px;
    background: linear-gradient(180deg, #ffbc2f, #ffbc2f);
    position: relative
}

.ta-active {
    margin-top: 70px
}

.owl-carousel .owl-item img {
    width: 75%
}

div#footer-top ul {
    display: flex;
    float: right
}

div#footer-top ul li a {
    background: #ddd;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 50%;
    color: #ffff
}

div#footer-top ul li a:hover {
    background: #416e86;
    transition: 0.5s
}

.header-bar-area {
    top: 0;
    left: 0;
    padding: 25px 0;
    z-index: 999;
    background: #fff
}

.header-bar-area.sticky {
    position: fixed;
    z-index: 999;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    background: #fff !important;
}

.navbar-brand {
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap
}

a.navbar-brand img {
    height: 30px
}

.navbar-brand h4 {
    color: #252a31;
    font-size: 22px;
    font-family: 'NexaBold';
    display: inline-block;
    background-image: url('../img/brand-shape.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px 24px;
    font-weight: 700
}

.navbar-brand li>span {
    font-family: 'NexaLight';
    color: #fff;
    position: relative;
    left: -5px;
    font-size: 22px
}

.navbar-brand span.mariusz {
    display: block;
    text-align: right;
    color: #c1cad4;
    font-size: 14px;
    font-family: 'NexaLight';
    position: static;
    padding-right: 50px;
    padding-top: 5px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase
}

.bg-dark {
    background-color: transparent !important
}

.main-menu .nav-item {
    display: inline-block
}

.main-menu .nav-item .nav-link {
	color: #2e3031;
	font-size: 14px;
	padding-left: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.nav-link {
	display: block;
	padding: 0;
}
.main-menu .nav-item .nav-link.active {
    color: #feb300 !important
}

.main-menu .nav-link:hover {
    color: #feb300 !important
}

.separator {
    margin: 0 25px;
    color: #8895a3
}

.hamburger-menu {
    display: none
}

@media (max-width:991px) {
    .hamburger-menu {
        cursor: pointer;
        position: absolute;
        right: 15px;
        display: block;
        top: 50%;
        margin-top: -10px;
    }
    .hamburger-menu span{
    background: #feb300 !important;
    }
}

.hamburger-menu span {
    background: #fff;
    width: 30px;
    height: 3px;
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease
}

.hamburger-menu:hover .line-top {
    transform: translateY(-100%)
}

.hamburger-menu:hover .line-bottom {
    transform: translateY(100%)
}

.hamburger-menu:hover .line-bottom.current,
.hamburger-menu:hover .line-top.current {
    transform: 0
}

.hamburger-menu .line-top.current {
    transform: translateY(200%) rotate(135deg)
}

.hamburger-menu .line-center.current {
    opacity: 0
}

.hamburger-menu .line-bottom.current {
    transform: translateY(-325%) rotate(-135deg)
}
.ofcavas-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #13171d;
	z-index: 99;
	top: 0;
	display: block;
	left: -100%;
	transition: 0.3s;
	padding-top: 50px;
	padding-left: 15px;
}

.ofcavas-menu.current {
    left: 0
}

.ofcavas-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
    padding-left: 0
}

.ofcavas-menu ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    display: block
}

.ofcavas-menu ul li a.active {
    color: #feb300
}

.ofcavas-menu ul li a:hover {
    color: #feb300 !important
}

.hero-area {
    padding-top: 50px;
    padding-bottom: 50px
}

.hero-bg {
    background-image: url('../img/slider/slider.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 86px
}

.hero-text p {
    font-family: 'NexaBold';
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    padding: 0 10px
}

.hero-text h2 {
    color: #ffffff;
    font-size: 55px;
    margin-bottom: 32px;
    font-family: 'NexaBold';
    font-weight: 700
}

.hero-text h2.devider {
    margin-bottom: 0
}

.hero-text h2 span {
    color: #feb300
}

.hr {
    margin: 33px auto 34px;
    max-width: 590px;
    border-color: #9fa9b5
}

.hero-text h3 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'NexaBold';
    margin-bottom: 62px;
    font-weight: 700
}

.hero-text img {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer
}

.promo-text {
    display: inline-block;
    padding: 45px 0
}

.promo-text h1 {
    display: inline-block;
    font-size: 36px;
    margin-right: 50px
}

.promo-text p {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    padding: 10px
}

.promo-text span {
    background: #416e86;
    padding: 14px 20px;
    border-radius: 5px 0 0 5px;
    color: #fff
}

.feature-content.single-content {
    padding: 20px 25px;
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
    min-height: 200px;
    max-height: 200px
}

.feature-content.single-content h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 7px
}

.feature-content.single-content p {
    font-size: 14px
}

.single-content:hover h3 {
    color: #416e86;
    transition: 0.5s
}

.single-content:hover {
    border-top: 5px solid #416e86;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: 0 0 20px #ddd;
    cursor: pointer
}

#go-to-next {
    position: relative
}

#go-to-next a {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'NexaLight';
    margin-bottom: 20px;
    display: block;
    font-weight: 400
}

#go-to-next a span {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 13px;
    height: 12px;
    margin-left: -4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box
}

#go-to-next a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

#go-to-next a span:nth-of-type(2) {
    top: 48px;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

#tab-section {
    padding: 45px 0
}

.nav-pills {
    padding-bottom: 23px;
    border-bottom: 1px solid #bdc6d0;
    margin-bottom: 26px;
    position: relative
}

.nav-link.active {
    position: relative
}

.nav-pills .nav-link.active::before {
    width: 128%;
    height: 4px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -46px;
    background: #fead00
}

.nav-pills .active-2::before {
    bottom: -25px !important
}

.nav-pills .nav-item {
    line-height: 1
}

.nav-pills .nav-item .nav-link {
    display: flex;
    flex-wrap: wrap;
    color: #373d46;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    border-radius: 0;
    background: transparent
}

.nav-pills .nav-item .nav-link span {
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 21px
}

.nav-pills .nav-item .nav-link img {
    margin-right: 25px
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fead00
}


.owl-item {
    margin: 0 4px 30px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s
}

.owl-item.center {
    position: relative
}

.owl-item.center::before {
    position: absolute;
    width: 98%;
    height: 98%;
    content: "";
    border: 2px solid #feb300;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 27px 32px 20px -19px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 27px 32px 20px -19px rgba(0, 0, 0, 0.34);
    box-shadow: 27px 32px 20px -19px rgba(0, 0, 0, 0.34)
}

.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -31px
}

.owl-dots .owl-dot {
    border: 2px solid rgb(108, 120, 133) !important;
    width: 14px;
    height: 14px;
    margin: 0 6px
}

.owl-dots .owl-dot.active {
    border-color: #fff !important
}

footer {
    padding: 30px 0 15px
}

.footer-title h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: #232d3f;
    font-size: 36px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    border-bottom: 2px solid #feb10b
}

.footer-info-top li img {
    margin-right: 20px
}

.footer-info-top li b {
    color: #373d46;
    font-weight: 800;
    font-size: 26px;
    position: relative;
    top: -4px
}

.footer-info-top li span {
    color: #373d46;
    font-weight: 400;
    font-size: 20px
}

.footer-bottom {
    padding: 50px 0 80px
}

.footer-bottom li {
    color: #373d46;
    font-weight: 400;
    font-size: 15px
}

.separator2 {
    display: inline-block;
    margin: 0 45px;
    height: 50px;
    width: 2px;
    background: #c9cfd9;
    margin-right: 0;
    position: relative;
    top: -6px
}

.separator3 {
    display: inline-block;
    margin: 0 30px
}

.mr-100 {
    margin-right: 100px
}

.footer-info-top .navbar-brand h4 {
    padding: 6px 35px
}

.footerb span.mariusz {
    font-size: 13px;
    color: #87909b
}

.footerb h4 {
    font-size: 20px
}

.footerb>span {
    color: #232d3f
}

.coppy-right {
    border-top: 1px solid #bdc6d0;
    padding-top: 15px
}

.coppy-right p {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0
}

.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #4DE2C1;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999999999999;
    border-radius: 50%;
    background: #13171d
}

.back-to-top:hover {
    background: #FEB300
}

.back-to-top i {
    color: #fff
}

.proloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff
}

.loader_34 {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.loader_34 .ytp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none
}

.loader_34 .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite
}

.loader_34 .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}

.loader_34 .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden
}

.loader_34 .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.loader_34 .ytp-spinner-left {
    right: 50%
}

.loader_34 .ytp-spinner-right {
    left: 50%
}

.loader_34 .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    border-color: #ffbc2f #ffbc2f transparent;
    border-radius: 50%;
    border-width: 6px
}

.loader_34 .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: transparent;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}

.loader_34 .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: transparent;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both
}

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes ytp-spinner-linspin {
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg)
    }

    to {
        -webkit-transform: rotate(1080deg)
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        transform: rotate(135deg)
    }

    25% {
        transform: rotate(270deg)
    }

    37.5% {
        transform: rotate(405deg)
    }

    50% {
        transform: rotate(540deg)
    }

    62.5% {
        transform: rotate(675deg)
    }

    75% {
        transform: rotate(810deg)
    }

    87.5% {
        transform: rotate(945deg)
    }

    to {
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(130deg)
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        transform: rotate(130deg)
    }

    50% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(130deg)
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(-130deg)
    }
}

@keyframes ytp-right-spin {
    0% {
        transform: rotate(-130deg)
    }

    50% {
        transform: rotate(5deg)
    }

    to {
        transform: rotate(-130deg)
    }
}





/* @media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}



@media only screen and (min-width: 480px) and (max-width: 767px) {

} */