/*
  Timeline
*/


.timeline-widget {

}

.timeline-widget .timeline-title {
    font-weight: 600;
    font-size: 18px;
    color: #1d1d1d;
}



.timeline-widget .img-thumbnail {
    border: 10px solid #c2d5ff;
    border-radius: 100%;
    width: 240px;
    padding: 0;
}

.timeline-widget .social-thiumbnail {
    text-align: center;
}

.timeline-widget .timeline-right-section {
    text-align: center;
}

.timeline-widget .thumb-img {
    position: relative;
    /*display: inline-block;*/
    padding-top: 15px;
}

.timeline-widget ol, .timeline-widget ul {
    list-style: none;
}

.timeline-widget .cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.timeline-widget .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

.timeline-widget .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
}

.timeline-widget .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.timeline-widget .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}

.timeline-widget .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
}

.timeline-widget .cd-horizontal-timeline .events-wrapper::before {
    left: 0;
    background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}

.timeline-widget .cd-horizontal-timeline .events-wrapper::after {
    right: 0;
    background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}

.timeline-widget .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 75px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #e9ecef;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.timeline-widget .cd-horizontal-timeline .filling-line {
     /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.timeline-widget .cd-horizontal-timeline .events a {
        position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
    color: #d3d3d3;
    /*font-weight: 600;*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.timeline-widget .cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -8px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid #e9ecef;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.timeline-widget .no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #4073FF;
    border-color: #4073FF;
}

.timeline-widget .cd-horizontal-timeline .events a.selected {
    pointer-events: none;
    color: #4f5163;
}

.timeline-widget .cd-horizontal-timeline .events a.selected::after {
    background-color: #ffffff;
    border: 2px solid #4f5163;
}

.timeline-widget .cd-horizontal-timeline .events a.older-event::after {
    background-color: #fff;
    border: 2px solid #4f5163;
}

@media only screen and (min-width: 1100px) {
    .timeline-widget .cd-horizontal-timeline {
        margin: 2em auto;
    }

    .timeline-widget .cd-horizontal-timeline::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

.timeline-widget .cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 49%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background: #dfdfdf;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.timeline-widget .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../../assets/img/cd-arrow.svg) no-repeat 0 0;
}

.timeline-widget .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.timeline-widget .cd-timeline-navigation a.next {
    right: 0;
}

.timeline-widget .no-touch .cd-timeline-navigation a:hover {
    border-color: #4073FF;
}

.timeline-widget .cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

.timeline-widget .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
}

.timeline-widget .no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

.timeline-widget .cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    height: auto !important;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
}
.timeline-widget .cd-horizontal-timeline .btn {
    border: none !important;
    color: #fff !important;
    background-color: #2d3fc1;
    background-image: linear-gradient(-20deg, #3232b7 0%, #1a73e9 100%);
    padding: 13px 50px;
    border-radius: 30px;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
}

.timeline-widget .cd-horizontal-timeline .btn:hover {
    background-image: linear-gradient(-20deg, #1a73e9 0%, #3232b7 100%);
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12);

}


.timeline-widget .cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.timeline-widget .cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.timeline-widget .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

.timeline-widget .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

.timeline-widget .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}


.timeline-widget .cd-horizontal-timeline .events-content h2 {
    font-size: 18px;
    /*font-weight: 600;*/
    color: #000;
    margin-bottom: -7px;
}

.timeline-widget .cd-horizontal-timeline .events-content em {
    display: block;
    font-style: initial;
    margin: 15px auto;
    color: #3862f5;
    /* text-transform: uppercase; */
}

.timeline-widget .cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.timeline-widget .cd-horizontal-timeline .events-content p {
    font-size: 1rem;
    color: #1d1d1d;
    /* font-weight: 600; */
    margin-bottom: 5em;
}

.timeline-widget .cd-horizontal-timeline .events-content em {
    line-height: 1.6;
    /*font-weight: 600;*/
}

.cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}


@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}



@media (max-width: 767px) {
    .timeline-widget .right-thumbnail-border {
        border-right: 0px solid #a9b8fa;
    }
    
    .timeline-widget ol {
        padding-left: 0px;
    }
    
    .timeline-widget .cd-horizontal-timeline .events-content li {
        padding: 0 1%;
    }
}

@media only screen and (min-width: 768px) {
    .timeline-widget .cd-horizontal-timeline .events-content h2 {
        font-size: 20px;
    }

    .timeline-widget .cd-horizontal-timeline .events-content em {
        font-size: 17px;
    }

    .timeline-widget .cd-horizontal-timeline .events-content p {
        font-size: 17px;
        text-align: justify;
    }
}