@media (max-width: 1200px) {
	
	.stories .column8 {
	width: 78%;
	float: left;
	}

	.stories li {
	background: url(../upload/test1bg.png) center repeat;
	background-size: auto; 
	padding: 10px 20px;
	}

	.learnmore h1 {
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	}

	.leftie {
	background: #fff;
	width: 100%;
	padding: 27px 20px;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	}

	.profimg {
	float: left;
	position: relative;
	width: 100%;
	}

	.profcontent {
	width: 100%;
	float: left;
	padding: 20px;
	height: auto;
	background: #fff;
	}

	.social-box i {
	margin-right: 5px;
	}


}

@media (max-width: 992px) {

	#nav {
    width: 500px;
    margin: 0 auto;
    padding: 21px 0;
  }  

   /* Main Menu */
  #nav > ul { display: none; }
  #nav select { 
    display: block !important;
    padding: 8px 3px;
    margin-top: 0px; 
    outline: none; 
    width: 100%;
    color: #000;
    font-family: 'Noticia text';
    font-weight: 400;
    text-transform: uppercase;
    background: #e4e4e4;
    border:0;
    cursor: pointer;
  }

  .caroufredsel_wrapper {
  	height: 630px !important;
  }

  .ourproffs .caroufredsel_wrapper {
  	height: 200px !important;
  }


  .learnmore h1 {
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	float: none;
	text-align: center;
	margin-bottom: 20px;
	}

	.learnmore a {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	display: table;
	float: none;
	margin: 0 auto;
	}

	.dnd_countdown_inner {
	background: #fff;
	border-radius: 50%;
	border: 10px solid #e5a325;
	float: left;
	margin-left: 80px;
	margin-bottom: 20px;
	}
	.last-div {
		padding: 20px 10px;
	}


.tp-caption .slider-button {
	padding: 5px 10px;
	font-family: 'Times New Roman';
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
	background-color: #ffb729;
	border: solid 2px #be871e;
	display: table;
	text-align: center;

}

	.prev2 {
		left: 0;
	}
	.next2 {
		right: 0;
	}

	.singleeventcontainer {
		margin-bottom: 30px;
	}


}

@media (max-width: 768px) {

	.left-sub {
		float: none;
	}

	.socials {
		float: none;
		margin: 10px 0;
	}


	.logo {
	float: none;
	position: static;
	text-align: center;
	margin: 0;
	}
	.search {
	float: none;
	width: 280px;
	position: relative;
	margin: 20px auto;
	}

	#nav {
	    width: 300px;
	    padding: 21px 0;
	} 

	.partners {
	background:#888;
	margin-bottom: 30px;
	padding: 40px 0 100px;
	}

	.partners img {
		display: table;
		margin: 0 auto 10px;
	}

	.tabs-widget .tab-links li a {
	color: #000;
	font-size: 14px; 
	}

	.stories .column4 {
		display: none;
	}
	

	.stories .column8 {
		width: 90%;
	}
	

	#google_map {
	height: 320px;
	width: 100%;
	}


	.prev2 {
		left: 0;
	}
	.next2 {
		right: 0;
	}

	

}

@media (max-width: 582px) {

	.dnd_countdown_inner {
	background: #fff;
	border-radius: 50%;
	border: 10px solid #e5a325;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	}

	.features .column3 {
	width: 50%;
	text-align: center;
	float: left;
	}

	.tabs-widget .tab-links li a {
	color: #000;
	font-size: 8px;
	height: 54px;
	}

	#back-to-top {
	float: none;
	text-align: center;
	display: table;
	margin: 10px auto;
	}

	.last-div .copyright {
		float: none;
		text-align: center;
	}

	.coursespage .title {
	background: #fff;
	border-bottom: 5px solid #660016;
	padding: 20px;
	height: 120px;
	}

	.categs {
	float: left;
	margin-top: 10px;
	}

	.categs span {
	color: #444444;
	font-family: 'Roboto';
	font-weight: 300;
	padding: 0 10px 0 0px;
	}

	.banner h1 {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	margin: 25px 0 0;
	float: none;
	}

	.sitemap {
	display: table;
	float: none;
	margin-top: 15px;
	font-family: 'Roboto';
	}

	.comments-section .media-list .connectors {
	float: left;
	display: none;
	}

	.calendar {
	float: left;
	background: #660016;
	padding: 25px 20px;
	}

	#google_map {
	height: 270px;
	width: 100%;
	}

	.leftsingle {
		float: none;
		width: 100%;
	}
	.rightsingle {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}

	.floatleft {
	  float: left;
	  margin-right: 20px;
	  margin-bottom: 30px;
	  width: 100% !important;
	}

	.user2 {
	  border-bottom: 1px solid #e5e5e5;
	  padding-bottom: 5px;
	  margin-bottom: 5px;
	  float: left;
	  width: 100%;
	}


}