@charset "utf-8";
/* CSS Document */
.scroll-text {
  width: 280px;
  height: 293px;
  overflow: hidden;
}
.scroll-text ul {
  width: 280px;
  margin: 0;
  padding:0;
}
.scroll-text ul li {
  list-style:none;
  height:auto;
  padding-top:15px;
}
.scroll-text ul li a{
	
	}
.scroll-text ul li a:hover{
	text-decoration:none;
	}
