.slider-wrapper.default>div{display:none}.slider-wrapper.default>div #slides{font-weight:400;color:#fff;line-height:normal}.slider-wrapper.default>div #slides img{border:0}
.slider-wrapper.default>div #slides>a{line-height:0}.slider-wrapper.default>div #slides h1,.slider-wrapper.default>div #slides h2,.slider-wrapper.default>div 
#slides h3,.slider-wrapper.default>div #slides h4{padding:1% 3% 1% 3%;color:#000;background-color:#fff;line-height:normal}.slider-wrapper.default>div 
#slides span,.slider-wrapper.default>div #slides p{line-height:normal}.slider-wrapper.default>div .social{position:absolute;top:4%;left:3%;z-index:10000}
.slider-wrapper.default>div .social div{float:left;margin-right:10px}.slider-wrapper.default>div #bullets{height:10px;position:absolute;bottom:6%;right:45%;z-index:10000}
.slider-wrapper.default>div #bullets .bullet{min-height:16px;min-width:16px;border-radius:10px;margin-left:5px;float:left;cursor:pointer;background-color:#b4b4b4;background-color:rgba(255,255,255,0.6)}
.slider-wrapper.default>div #bullets .bullet:hover{background-color:#fff}.slider-wrapper.default>div #bullets .bullet.selected{background-color:#0082cf}
.slider-wrapper.default>div #left{position:absolute;width:47px;height:47px;background-image:url(../images/interface/arrow.png);left:2%;top:50%;margin-top:-24px;z-index:999999;cursor:pointer}
.slider-wrapper.default>div #right{position:absolute;width:47px;height:47px;background-image:url(../images/interface/arrow.png);background-position:right top;right:2%;top:50%;margin-top:-24px;z-index:999999;cursor:pointer}



/*-------------------banner------------------*/
.photo_gallery_slide{
	width:263px;
	height:153px;
	overflow:hidden;
	}
ul.photo_gallery_slide{
	width:263px;
	height:153px;
	overflow:hidden;
	list-style:none;
	}
ul.photo_gallery_slide li{
	width:263px;
	height:153px;
	float:left;
	list-style:none;
	}