#news_ticker{
	width:880px;
	height:30px;
	}
#news_ticker ul{}
#news_ticker ul li{
	list-style:none;
	height:30px;
	}
#news_ticker ul li a{
	height:30px;
	}
#news_ticker ul li a:hover{
	text-decoration:none;
	}