.card { border: none; }
.form-control { font-size: 14px; }
h4 { font-size: 1.125rem; }

/*
    =====================
        Profile Header
    =====================
*/

#profile-header {
    padding: 220px 100px;
}
#profile-header .profile-section {
    position: absolute;
    bottom: -44px;
    z-index: 2;
    right: 0;
}
#profile-header .profile-section .media img.usr-img {
    border-radius: 50%;
    border: 4px solid #fff;
    width: 140px;
    height: 140px;
}
#profile-header .profile-section .media .media-body h5 {
    margin: 34px 0 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
#profile-header .profile-section .social-contacts {
    margin-top: 40px;
    color: #fff;
}
#profile-header .profile-section .social-contacts ul li { text-align: center; }
#profile-header .profile-section .social-contacts ul li span.s-m-name { font-size: 15px; }
#profile-header .profile-section .social-contacts ul li span.s-m-count {
    display: block;
    font-weight: 600;
    font-size: 18px;
}


/*
    ========================
        Nav Tabs Sections
    ========================
*/

.nav-tab-section {
    background-color: #fff;
    padding: 20px 30px 20px 20px;
}
.nav-tab-section .usr-loc-join h4 {
    margin: 9px 0 0 13px;
    color: #000;
    font-size: 15px;
}
.nav-tab-section .usr-loc-join p { font-size: 13px; }
.nav-tab-section .nav-pills .nav-item { margin: 0 10px; }
.nav-tab-section .nav-pills .nav-link { color: #888ea8; }
.nav-tab-section .nav-pills .nav-link i {
    margin-left: 2px;
    vertical-align: middle;
}
.nav-tab-section .nav-pills .nav-link.active,
.nav-tab-section .nav-pills .show>.nav-link {
    background-color: transparent;
    color: #3862f5;
    font-weight: 600;
}


/*
    ===============
        Content
    ===============
*/


/*---------------Left Section-------------*/


/*  Search Seaction    */

#content .search-section .card {
    border-bottom: 1px solid #888ea8;
    border-radius: 0;
}
#content .search-section .card .card-body input { border: none; }

/*  Profile Section    */

#content .profile-info-section .card .card-body h4 {
    font-weight: 600;
    color: #232323;
    font-size: 1.125rem;
}
#content .profile-info-section .card .card-body i {
    color: #989ebf;
    margin-right: 8px;
    font-size: 19px;
}
#content .profile-info-section .card .card-body p {
    color: #9da0a2;
    font-size: 13px;
}
#content .profile-info-section .card .card-body p span.usr-work-position {
    color: #3b3f5c;
    font-size: 14px;
}
#content .profile-info-section .card .card-body p a {
    color: #3862f5;
    font-size: 13px;
}
#content .profile-info-section .card .card-body .social-networks-section h4 {
    font-size: 14px;
}


/*  Friends Section    */

#content .friends-section .card .card-body h4 {
    font-weight: 600;
    color: #232323;
    padding: 15px 20px;
    font-size: 1.125rem;
}
#content .friends-section .card .card-body i {
    color: #989ebf;
    margin-right: 8px;
    font-size: 17px;
}
#content .friends-section .card .card-body ul {
    color: #9da0a2;
    font-size: 13px;
}
#content .friends-section .card .card-body ul li { margin-right: 0; }
#content .friends-section .card .card-body ul li img {
    width: 75.5px;
    margin-bottom: 12px;
    border-radius: 4px;
}


/*  Groups Section    */

#content .group-section .card .card-body h4 {
    font-weight: 600;
    color: #232323;
    padding-bottom: 20px;
    font-size: 1.125rem;
}
#content .group-section .card .card-body i {
    color: #989ebf;
    margin-right: 8px;
    font-size: 20px;
}
#content .group-section .card .card-body ul {
    color: #9da0a2;
    font-size: 13px;
}
#content .group-section .card .card-body ul li {
    margin-right: 6px; 
    position: relative;
}
#content .group-section .card .card-body ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.badge.counter { box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.4); }


/*  Weather Section    */

#content .weather-section { background-color: #c2d5ff; }
#content .weather-section .w-real-data { padding: 20px; }
#content .weather-section .w-real-time .time {
    font-weight: 600;
    font-size: 15px;
    color: #1a73e9;
}
#content .weather-section .w-real-day {
    font-size: 15px;
    color: #3862f5;
    text-transform: uppercase;
}
#content .weather-section .w-stats i {
    font-size: 100px;
    color: #3862f5;
}
#content .weather-section .w-stats .w-temp {
    font-size: 30px;
    color: #1a73e9
}
#content .weather-section .w-stats .w-temp span { position: relative; }
#content .weather-section .w-stats .w-temp span:before {
    position: absolute;
    content: 'o';
    font-size: 20px;
    right: -15px;
    top: -2px;
    font-weight: 600;

}
#content .weather-section .w-stats .w-txt {
    color: #1a73e9;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
#content .weather-section .w-location {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    border-top: 1px solid #e9ecef;
}
#content .weather-section .w-location .w-location-city { color: #515365; }
#content .weather-section .w-location .w-location-country { color: #515365; }


/*  Photo Section    */

#content .photo-section .card .card-body h4 {
    font-weight: 600;
    color: #232323;
    padding: 15px 20px;
    font-size: 1.125rem;
}
#content .photo-section .card .card-body i {
    font-weight: 700;
    color: #989ebf;
    margin-right: 8px;
}
#content .photo-section .card .card-body ul {
    color: #9da0a2;
    font-size: 13px;
}
#content .photo-section .card .card-body ul li { margin-right: 0; }
#content .photo-section .card .card-body ul li img {
    width: 75.5px;
    margin-bottom: 12px;
    border-radius: 4px;
}


/*---------------/Left Section-------------*/


/*---------------Middle Section-------------*/

.card.post-editor .card-body ul.nav.nav-pills { border-bottom: 1px solid #f1f3f1; }
.card.post-editor .card-body ul.nav.nav-pills li a {
    padding: 23px;
    padding-right: 26px;
    color: #888ea8;
    border-right: none;
}
.card.post-editor .card-body ul.nav.nav-pills li a i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 7px;
}
.card.post-editor .card-body li.nav-item .nav-link.active,
.card.post-editor .card-body li.nav-item .show>.nav-link {
    background-color: transparent;
    color: #ee3d50;
}
.card.post-editor .card-body div.tab-content { padding: 23px; }
.card.post-editor .card-body div.tab-content .tab-pane form .media img {
    border-radius: 50%;
    width: 50px;
}
.card.post-editor .card-body div.tab-content .tab-pane form .media .media-body .form-group textarea { border: none; }
.card.post-editor .card-body div.editor-bottom-section { padding: 20px 20px 10px 20px; }
.card.post-editor .card-body div.editor-bottom-section ul.editor-options li { margin-left: 10px; }
.card.post-editor .card-body div.editor-bottom-section ul.editor-options li i {
    font-size: 20px;
    color: #888ea8;
    vertical-align: -webkit-baseline-middle;
}
.post-section .card.post .card-body { padding: 0 }


/*  User Meta */

.post-section .card.post .media.user-meta { padding: 20px; }
.post-section .card.post .media.user-meta img {
    width: 50px;
    border-radius: 50%;
}
.post-section .card.post .media.user-meta .media-body h4 {
    font-weight: 600;
    color: #232323;
    margin-bottom: 3px;
    font-size: 1.125rem;
}
.post-section .card.post .media.user-meta .media-body p {
    font-size: 12px;
    margin-top: 5px;
}


/*      Action Options      */

.post-section .card.post ul.action-options {
    padding: 15px 30px;
    border-top: 1px solid #f1f3f1;
    border-bottom: 1px solid #f1f3f1;
}
.post-section .card.post ul.action-options li {
    padding-right: 27px;
    font-size: 15px;
}
li.list-inline-item a { color: #515365; }


/*      People Liked Post    */

.post-section .card.post div.people-liked-post ul li img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.3);
    margin-left: -21px;
}
.post-section .card.post div.people-liked-post .people-liked-post-name span {
    vertical-align: -webkit-baseline-middle;
    font-size: 13px;
}
.post-section .card.post div.people-liked-post .people-liked-post-name span a {
    color: #3862f5;
    font-weight: 600;
}

/*      User Comments    */
.post-section .card.post .media.usr-comments {
    padding: 20px 22px;
    background-color: #f1f3f9;
}
.post-section .card.post .media.usr-comments img {
    border-radius: 50%;
    width: 45px;
}
.post-section .card.post .media.usr-comments .media-body input { border: none; }
.post-section .card.post .media.usr-comments .media-body input::-webkit-input-placeholder {
    color: #888ea8;
    font-size: 14px;
    font-style: italic;
}
.post-section .card.post .media.usr-comments .media-body input::-ms-input-placeholder {
    color: #888ea8;
    font-size: 14px;
    font-style: italic;
}
.post-section .card.post .media.usr-comments .media-body input::-moz-placeholder {
    color: #888ea8;
    font-size: 14px;
    font-style: italic;
}


/*

    Post Type Styles of Middle Section

*/


/*  Text Type Posts Style     */
.post-section .card.post.text-post .card-body .post-content {
    padding: 20px 30px;
    color: #515365;
}

/*  Text Type Posts Style     */
.post-section .card.post.image-post .card-body .post-content {
    padding: 20px 30px;
    color: #515365;
}
.post-section .card.post.image-post .card-body .post-content .photo {
    max-width: 558px;
    margin-top: 32px;
    margin-bottom: 22px;
}

/*  Text Type Posts Style     */
.post-section .card.post.gallery-post .card-body .post-content {
    padding: 20px 30px;
    color: #515365;
}
.post-section .card.post.gallery-post .card-body .post-content .gallery { max-width: 500px; }

/*---------------/Middle Section-------------*/



/*---------------Right Section-------------*/


/*  Calendar Section    */

.calendar-section .card .card-body { padding: 0; }
#calendar {
    color: #fff;
    min-width: 50px;
}
#calendar > div {
    background-color: #1abc9c;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}
#calendar div#monthrow {
    text-align: center;
    padding: 6px 5px;
    font-size: 30px;
}
#calendar div#monthrow { font-size: 22px; }
#prev, #next {
    color: #fff;
    font-size: 16px;
    padding: 3px 8px;
    background: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#prev { float: left; }
#next { float: right; }
#next:disabled, #prev:disabled { color: #fff !important; }
#next:hover:enabled, #prev:hover:enabled { color: #3b3f5c !important; }
#calendar .daysoftheweek {
    padding: 1px;
    color: #1d1d1d;
    margin-top: 1px;
    margin-bottom: 0;
    padding: 0px 0px;
    font-size: 15px;
}
#calendar .daysoftheweek div {
    float: left;
    width: 14.28%;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 115%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    margin-top: -1px;
}
#calendar .week div {
    float: left;
    display: block;
    height: 2.4em;
    width: 14.28%;
    text-align: center;
    line-height: 2.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #3b3f5c;
    font-size: 15px;
}
#monthrow div {
    color: #fff !important;
    background-color: #1abc9c !important;
    font: 30px sans-serif !important;
    border-radius: 5px;
    text-align: center;
    padding: 14px 20px 14px;
    font-size: 16px;
    font-weight: normal;
    width:300px;
}
#calendar div {
    text-align: center;
    padding: 0;
}
.daysoftheweek div { text-align: center; }
.current-date {
    border-radius: 6px;
    color: #F9F9F9 !important;
    background-color: #f58b22;
}

/*  Instagram Section    */

#content .instagram-section .card .card-body h4 {
    font-weight: 600;
    color: #232323;
    padding: 15px 20px;
    font-size: 1.125rem;
}
#content .instagram-section .card .card-body i {
    font-weight: 600;
    color: #000;
}
#content .instagram-section .card .card-body ul {
    color: #9da0a2;
    font-size: 13px;
}
#content .instagram-section .card .card-body ul li { margin-right: 0;  }
#content .instagram-section .card .card-body ul li img {
    width: 75.5px;
    margin-bottom: 12px;
    border-radius: 10px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
#content .instagram-section .card .card-body ul li img:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
}

/*  Banner Section    */

#content .banner-section .card {
    background: #fff url(../../../assets/img/party.jpeg) no-repeat center center;
    padding: 100px 0;
    background-size: cover;
    color: #fff;
     height: 280px; 
    text-align: center;
}


/*  Slideshow Section   */

#content .slideshow-section .card .card-body { height: 100%; }
#content .slideshow-section .card .card-body .carousel a[class*="carousel-control-"] { opacity: 1; }
#content .slideshow-section .card .card-body .carousel a[class*="carousel-control-"] span.icon {
    font-size: 15px;
    font-weight: 600;
    padding: 6px;
    color: #494949;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #fff;
}
#content .slideshow-section .card .card-body .carousel a[class*="carousel-control-"] span.icon:hover {
    font-size: 15px;
    font-weight: 600;
    padding: 6px;
    color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #3862f5;
}


/*  Active Feeds    */


#content .active-feeds-section .card .card-body h4 {
    font-weight: 600;
    color: #232323;
    padding-bottom: 20px;
    font-size: 1.125rem;
}
#content .active-feeds-section .card .card-body .media:not(:last-child) { border-bottom: 1px solid #f1f3f1; }
#content .active-feeds-section .card .card-body .media img {
    border-radius: 50%;
    width: 50px;
}
#content .active-feeds-section .card .card-body .media .media-body h5 { font-size: 13px; }
#content .active-feeds-section .card .card-body .media .media-body h5 span.usr-commented {
    font-weight: 600;
    color: #3b3f5c;
    font-size: 14px;
}
#content .active-feeds-section .card .card-body .media .media-body h5 span.comment-topic {
    font-weight: 600;
    color: #ee3d50;
    font-size: 14px;
}
#content .active-feeds-section .card .card-body .media .media-body p.meta-time {
    font-size: 13px;
    margin-bottom: 0;
}


/*---------------/Right Section-------------*/

@media (max-width: 767px) {
    #profile-header .profile-section { bottom: 0; }
}