@media (max-width: 1200px) {
	.menu-item a {
	    color: #fff !important;
	    font-size: 12px;
	    text-transform: uppercase;
	}
}

@media (max-width: 992px) {
	#navigation {
		display: none;
	}
}

@media (max-width: 767px) {

}

@media (max-width: 582px) {

}