
@media only screen and (max-width: 1640px) {
	.center { width: 1070px; }
	.boxed-wrapper { width: 1300px;  }
	.fullwidth-bg { width: 1300px;  margin-left: -115px !important; padding-left: 100px; padding-right: 100px; }
	.fullwidth  { width: 1300px; margin-left: -115px !important; }
	.header-wrapper-special.header-fixed { width: 1300px; }
	.wrapper-special .logo { top: 70px; }
	.header-wrapper-special .main-menu { padding: 0 150px; }
	.home-header-search { right: 100px; }
	.blockquote.type5 { padding: 100px 150px 90px; }
	.widther-box { width: 1200px; margin-left: -65px !important; }
	.sidebar { width: 270px; }
	.single-post-items-on-archive { width: 730px; }
	.experience-single { min-height: 460px; }
	.experience-single-content { padding: 50px 100px; }
	.experience-right .experience-single-content {padding: 50px 100px;}  
	.experience-time-rotated-wrapper { padding-top: 150px; }
	.portfolio-items-single-type2, .portfolio-items-single-type2-sizer { height: 240px; }
	.portfolio-items-single-type2.folio2 { height: 490px; }
	.hi-left { width: 60%; }
	.hi-right { width: 40%; }
}

@media only screen and (max-width: 1340px) {
	.center { width: 960px; }
	.boxed-wrapper { width: 1070px;  }
	.fullwidth-bg { width: 1070px;  margin-left: -55px !important; padding-left: 60px; padding-right: 60px; }
	.fullwidth  { width: 1070px; margin-left: -55px !important; }
	.header-wrapper-special.header-fixed { width: 1070px; }
	.wrapper-special .logo { top: 70px; }
	.header-wrapper-special .main-menu { padding: 0 50px; }
	.home-header-search { right: 30px; }
	.blockquote.type5 { padding: 50px; }
	.widther-box { width: 1100px; margin-left: -70px !important; }
	.service-overlay { padding: 40px 10px; }
	.single-service-item-inside { padding: 40px 10px; }
	.pego-isotope-wrapper { width: 70%;  }
	.portfolio-items-filter-wrapper { width: 30%; }
	.post-article-date-rotated-wrapper { bottom: auto; top: -10px; }
	.about-sh-right { margin-left: 5%; }
	.about-sh-left { margin-bottom: 20px; margin-top: 30px; }
	.main-menu { padding: 0; }
	.header-search { right: -20px; }
	.single-post-content { padding: 10px 50px 40px; }
	.single-portfolio-content { padding: 30px 50px; }
	.cwi-wrapper { padding: 37px 30px 30px; }
	.cwi-icon::before { font-size: 30px; padding: 25px; }
	.cwi-details { margin-left: 110px; }
	.cwi-title { margin: 0 0 7px; }
	h1.single-portfolio-title { padding: 0 50px; }
	.sidebar { width: 230px; }
	.single-post-items-on-archive { width: 700px; margin-right: 30px; }
	.about-sh-content { margin-bottom: 30px; }
	.portfolio-items-title { font-size: 16px; margin-bottom: 20px; margin-top: 10px; }
	span.portfolio-items-icons { padding: 10px; }	
	.experience-single { min-height: 360px; }
	.experience-single-content { padding: 50px; }
	.experience-right .experience-single-content {padding: 50px;}  
	.experience-time-rotated-wrapper { padding-top: 150px; }
	.portfolio-items-single-type2, .portfolio-items-single-type2-sizer { height: 215px; }
	.portfolio-items-single-type2.folio2 { height: 440px; }
	.hi-left { width: 50%; }
	.hi-right { width: 50%; }
	.hi-col-icon-wrapper { height: 60px; width: 60px; font-size: 28px; }
	.hi-col-with-icon-data { margin-left: 80px; }
}

@media only screen and (max-width: 1100px) {
	.center { width: 860px; }
	.boxed-wrapper { width: 920px;  }
	.fullwidth-bg { width: 920px;  margin-left: -30px !important; padding-left: 60px; padding-right: 60px; padding-top: 50px; padding-bottom: 50px; }
	.fullwidth  { width: 920px; margin-left: -30px !important; }
	.header-wrapper-special.header-fixed { width: 920px; }
	.wrapper-special .logo { top: 70px; }
	.header-wrapper-special .main-menu { padding: 0 50px; }
	.home-header-search { right: 30px; }
	.blockquote.type5 { padding: 30px; }
	.widther-box { width: auto; margin-left: -20px !important; }
	.service-overlay { padding: 40px 10px; }
	.single-service-item-inside { padding: 40px 10px; }
	.pego-isotope-wrapper { width: 60%;  }
	.portfolio-items-filter-wrapper { width: 40%; }
	.post-article-date-rotated-wrapper { bottom: auto; top: -10px; }
	.about-sh-right { margin-left: 5%; }
	.about-sh-left { margin-bottom: 60px; }
	.main-menu ul.sf-menu > li { margin: 0 10px; }
	.experience-single { min-height: 360px; }
	.experience-single-content { padding: 50px; }
	.experience-right .experience-single-content {padding: 30px;}  
	.experience-time-rotated-wrapper { padding-top: 150px; }
	.experience-title, a.experience-title { font-size: 28px; }
	.experience-time-rotated-wrapper { font-size: 20px; padding-left: 10px; width: 80px; }
	.experience-thumb-inside { left: 80px; }
	.experience-right .experience-thumb-inside{ right: 80px; }
	.testimonial-content { width: 90%; } 
	.testimonial-thumb { margin-right: 50px; float: right; margin-top: 30px; } 
	.testimonial-author-details { width: auto;  margin-top: 30px; float: right; margin-right: 40px; }
	.portfolio-items-single { width: 50% }
	.wrapper-special .logo img { max-width: 200px; }
	.single-portfolio-content { padding: 30px; }
	.sidebar { width: 230px; }
	.single-post-items-on-archive { width: 570px; margin-right: 30px; }
	.cwi-icon::before { font-size: 30px; padding: 15px; }
	.cwi-details { margin-left: 80px; }
	.portfolio-items-single-type2, .portfolio-items-single-type2-sizer { width: 49.8%;  height: 260px; }
	.portfolio-items-single-type2.folio2 { height: 530px; }
	.portfolio-items-type2-overlay2, .portfolio-items-type2-overlay3, .portfolio-items-type2-overlay1 { padding: 0 50px; }
	.hi-col-with-icon { text-align: center; }
	.hi-col-icon-wrapper { display: inline-block; float: none; }
	.hi-col-with-icon-data { margin-left: 0; }
}

@media only screen and (max-width: 959px) {
	.center { width: 90%; }
	.boxed-wrapper { width: 100%;  }
	.fullwidth-bg { width: 100%;  margin-left: -0 !important; padding-left: 60px; padding-right: 60px; padding-top: 50px; padding-bottom: 50px; }
	.fullwidth  { width: 100%; margin-left: -0 !important; }
	.header-wrapper-special.header-fixed { width: 100%; }
	.wrapper-special .logo { top: 70px; }
	.header-wrapper-special .main-menu { padding: 0 50px; }
	.home-header-search { right: 30px; }
	.experience-single-content { padding: 0 25px 0 50px; }
	.experience-right .experience-single-content {  padding: 0 50px 0 25px; }
	.experience-title, a.experience-title { font-size: 28px; }
	.experience-thumb { right: 0; left: 0;  height: 500px; position: relative; width: 100%;}
	.experience-right .experience-thumb { right: 0; }
	.experience-single { display: block; margin: 0 auto 30px; float: none; min-height: auto; max-width: 670px; }
	.experience-thumb-inside { background: none !important;  left: 0; right: 0; position: relative; }
	.experience-thumb-inside img { display: block; }
	.blockquote.type5 { padding: 30px; }
	.widther-box { width: auto; margin-left: -20px !important; }
	.service-overlay { padding: 90px 10px; }
	.service-column4 { width: 50%; }
	.single-service-item-inside { padding: 90px 10px; }
	.pego-isotope-wrapper { width: 60%;  }
	.portfolio-items-filter-wrapper { width: 40%; }
	.post-article-date-rotated-wrapper { bottom: auto; top: -10px; }
	.about-sh-right { margin-left: 5%; }
	.about-sh-left { margin-bottom: 20px; }
	.main-menu ul.sf-menu > li { margin: 0 10px; }
	
	.testimonial-content { width: 90%; } 
	.testimonial-thumb { margin-right: 50px; float: right; margin-top: 30px; } 
	.testimonial-author-details { width: auto;  margin-top: 30px; float: right; margin-right: 40px; }
	.portfolio-items-single { width: 50% }
	.cwi-wrapper { padding: 30px; }
	.cwi-icon::before { font-size: 30px; padding: 15px; }
	.cwi-details { margin-left: 110px; }
	.clients_wrapper { text-align: center; }
	.clients_single { width: 50%; float: none; display: inline-block; }
	.experience-single { display: block; }
	.experience-single-content,.experience-right .experience-single-content { padding: 30px; text-align: center; }
	.experience-single-thumb { display: block; width: 100%; }
	.experience-time-rotated-wrapper { padding: 30px; height: auto; width: 100%; position: relative; text-align: center; display: none; }
	.experience-time-rotated { -webkit-transform: none; -moz-transform: none;  -o-transform: none; transform: none; }
	.experience-time-rotated:before { margin-top: 0; }
	.experience-thumb { height: 500px; float: left; position: relative; clear: both; right: 0; left: 0; }
	.counter_execute { font-size: 28px; }
	.comment-form-author, .comment-form-email {  width:100%;  padding-right: 0; }
	.comment-form-url { width: 100%; }
	#respond input[type="text"] { margin-bottom: 10px; }
	.cwi-single { float: left;  margin-bottom: 0px;  padding-left: 0; }
	.cwi-icon-wrapper { float: left; }
	.cwi-details { margin-left: 80px; margin-top: 0px; }
	ul#filters { padding: 15px; text-align: center; margin-right: 0; }
	li.filter-cat { margin-bottom: 0; display: inline-block; }
	.portfolio-items-single { width: 33.3334%; }
	.portfolio-items-filter-wrapper { width: 100%; }
	.pego-isotope-wrapper { width: 100%; }
	li.filter-cat a:hover::after, li.filter-cat a.selected::after { display: none; }
	.testimonial-thumb {  }
	.testimonial-author-name { font-size: 18px; }
	.single-portfolio-content { padding: 30px 0; } 
	h1.single-portfolio-title { padding: 0; }
	
	.main-menu { display: none; }
	.header-wrapper-special.header-fixed { position: relative; }
	.header-search, .home-header-search { display: none; }
	.menu-icon.menu-icon-mobile { display: inline-block; } 
	
	.sidebar { max-width: 310px !important; width: 100% !important; margin-left: -155px; left: 50%; position: relative;}
	.single-post-items-on-archive { width: 100%; margin-right: 0; }
	.portfolio-items-single-type2, .portfolio-items-single-type2-sizer { width: 49.8%;  height: 260px; }
	.portfolio-items-single-type2.folio2 { height: 530px; }
	.portfolio-items-type2-overlay2, .portfolio-items-type2-overlay3, .portfolio-items-type2-overlay1 { padding: 0 50px; }
	.hi-left { width: 100%; text-align: center; }
	.hi-name { float: none; }
	.hi-right { width: 100%; }
	.hi-user { float: none; margin: 0 auto; }
}



@media only screen and (max-width: 767px) {
	span.wpcf7-form-control-wrap.your-name,
	span.wpcf7-form-control-wrap.your-email,
	span.wpcf7-form-control-wrap.your-subject {
		width: 100%;
		float: left;
	}
	.header-wrapper-special.header-fixed, .header-extra { display: none !important; }
	.portfolio-items-single { width:50%; }

	span.wpcf7-form-control-wrap.your-name {
		margin-right: 0;
	}

	span.wpcf7-form-control-wrap.your-email {
		margin-right: 0;
	}
	.clients_single { width: 100%; }
	.post-article {  width: 100%; max-width: 370px; margin: 0 auto 30px; float: none; }
	.page-breadcrumbs { display: none; }
	.single-post-content { padding: 10px; }
	.wrapper-special .logo { position: relative; top: 0; background: #000; padding: 20px 0; }
	.about-sh-left { width: 100%; text-align: center; float: none; margin-top: 20px; }
	.about-sh-right { width: 100%; text-align: center;  float: none; max-width: 430px; margin: 0 auto; }
	ul.socials-sh { margin-bottom: 100px; text-align: center; }
	.about-sh-title { text-align: center; }
	.about-sh-subtitle { text-align: center; }
	.about-sh-border { float: none; margin: 0 auto; }
	.about-sh-content { text-align: center; }
	.about-sh-button-wrapper  { text-align: center; margin-bottom: 30px; }
	a.about-sh-button { float: none; }
	.about-sh-right { margin: 0 auto; float: none; }
	.single-post-header { padding: 0; }
	.testimonial-content { text-align: center; }
	.testimonial-author-details { width: 100%; float: left; text-align: center; }
	.testimonial-author-quote-sign { margin: 0 auto 10px; }
	.testimonials-wrapper .owl-pagination { position: relative !important; text-align: center; width: 100%; }
	.testimonial-content { width: 100%; margin: 0; }
	.testimonials-wrapper .owl-page { position: relative; margin-left: 5px; margin-right: 5px; float: none; display: inline-block; }
	.testimonials-wrapper .owl-page.active span { border-left: 2px solid #daae19; display: block; padding-left: 0; position: absolute; left: 2px; height: 20px; top: -20px }
	.contact-page { padding: 30px; }
	.portfolio-items-overlay  .title-icon-type2 { margin-bottom: 0; }
	span.portfolio-items-icons { display: none; }
	.portfolio-items-title { font-size: 16px; margin-bottom: 30px; margin-top: 20px; }
	.fullwidth-bg { padding: 20px; }
	.service-column4 { width: 100%; }
	span.experience-icon { width: 60px; height: 60px; padding-top: 3px; }
	span.experience-icon:before { font-size: 25px; }
	.mapStyleClass { max-height: 400px; }
	.single-portfolio-date-rotated-wrapper { left: auto; right: 0; }
	.single-portfolio-overlay { position: relative; left: auto; }
	
	h1.onepage-title, h1.single-portfolio-title, a.index-post-title, .error-content1 { font-size: 28px; }
	h1, .about-sh-title { font-size: 28px; }
	h2, .experience-title, a.experience-title  { font-size: 20px; }
	h3 { font-size: 17px; }
	h4 { font-size: 15px; }
	h5 { font-size: 13px; }
	h6 { font-size: 12px; }
	
	.cwi-single { float: left; width: 100%; text-align: center; margin-bottom: 30px;  padding-left: 0; }
	.cwi-icon-wrapper { float:none; }
	.cwi-details { margin-left: 0; margin-top: 10px; }
	.testimonial-thumb { display: none; }
	.portfolio-items-single-type2, .portfolio-items-single-type2-sizer { width: 100%;  height: auto; }
	.portfolio-items-single-type2.folio2 { height: auto; }
	.portfolio-items-single-type2.folio3 { width: 100%; }
	.portfolio-items-single-type2 .portfolio-items-thumbnail-wrapper > img { display: block; }
	.portfolio-items-thumbnail-wrapper .table_cell { text-align: center; }
	.portfolio-items-type2-categories { padding-right: 0; }
}

@media only screen and (max-width: 450px) { 
	.single-portfolio-details { display: block; text-align: center; }
	.single-portfolio-detail { height: auto; display: inline-block; }
	.single-portfolio-details-wrapper { padding: 35px; }
	span.single-portfolio-detail-icon { display: none; }
	.single-portfolio-detail-caption { display: inline-block; padding: 0; width: 100%; }
	.single-portfolio-detail-value, .single-portfolio-detail-value a { display: inline-block; }
	ul.portfolio-socials-wrap { width: 100%; text-align: center; }
	.hi-user { width: 300px; }
	.hi-col-with-icon { width: 100%; }
	
}

@media only screen and (max-width: 450px) { 
	.portfolio-items-single { width:100%; }
	h1.onepage-title, h1.single-portfolio-title, a.index-post-title { font-size: 22px; }
	h1, .about-sh-title { font-size: 22px; }
	h2, .experience-title, a.experience-title  { font-size: 18px; }
	h3 { font-size: 15px; }
	h4 { font-size: 13px; }
	h5 { font-size: 12px; }
	h6 { font-size: 11px; }

	.hideonmob {
		display: none !important;
	}
}