body {
    background: #0f1015 url("../../../../assets/img/coming-soon.jpg") no-repeat fixed center;
    background-size: cover;
}
#info {
    position: relative;
    padding: 40px 0px 0px 0px;
    z-index: 2;
    margin: 0 auto;
}
.coming-soon-title {
    color: #ffbb44;
    font-size: 55px;
    font-weight: 600;
}
#clockdiv {
    color: #ffffff;
    margin: 80px 0px;
    font-size: 50px;
    font-weight: 700;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 0px;
    background: transparent;
    display: inline-block;
     margin-left: 30px;
     margin-right: 30px;
}
.smalltext {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}
#info .title, #info .footer { margin: 0 auto; text-align: center; }
#info .actions { max-width: 450px; margin: 0 auto; }
h6.p-subtitle {
    color: #fff;
    text-align: center;
    font-size: 15px;
}


/*      Action   */

.actions h4 { font-size: 16px; color: #fff; }
.actions form .form-div input {
    border-color: transparent;
    border-radius: 1.25rem;
    padding: 8px 20px;
    color: #fff;
    background: rgba(230, 230, 230, 0.20);
    border: none;
}
.actions form .form-div input::-webkit-input-placeholder { color: #fff; }
.actions form .form-div input::-ms-input-placeholder { color: #fff; }
.actions form .form-div input::-moz-placeholder { color: #fff; }
.actions form .form-div button {
    border-radius: 1.25rem;
    padding: 6px 20px;
    font-size: 17px;
    font-weight: 400;
}


/*      Footer Wrapper  */

#footerWrapper ul.social-media.list-inline li a i {
    padding: 8px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #515365;
    letter-spacing: 0;
}
#footerWrapper ul.social-media.list-inline li:hover a i {
    color: #fff;
    box-shadow: none;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
#footerWrapper .copy-right { color: #fff; }
#footerWrapper .copy-right a { color: #fff; }