$primaryColor:#292929;
$headingColor:#0D0D0D;

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/CerebriSans-ExtraBold.eot);
  src: url(../fonts/CerebriSans-ExtraBold.ttf);
  src: url(../fonts/CerebriSans-ExtraBold.woff);
  src: url(../fonts/CerebriSans-ExtraBold.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/CerebriSans-Medium.eot);
  src: url(../fonts/CerebriSans-Medium.ttf);
  src: url(../fonts/CerebriSans-Medium.woff);
  src: url(../fonts/CerebriSans-Medium.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/CerebriSans-Regular.eot);
  src: url(../fonts/CerebriSans-Regular.ttf);
  src: url(../fonts/CerebriSans-Regular.woff);
  src: url(../fonts/CerebriSans-Regular.woff2);
  font-style: normal;
}