@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.row.headerTopItem ul li{
		padding: 5px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 992px) {}
@media only screen and (min-width: 577px) and (max-width: 768px) {}
@media only screen and (min-width: 345px) and (max-width: 576px) {
	.logo img{width: 124px;}
	.d-table-cell.heroText h1{font-size: 60px}
	.d-table-cell.heroText h3{font-size: 20px}
	.col-lg-4.portItem{margin-left: 28px;}
	button.portMenuItem {margin-top: 15px;}
	span.fetureImg{margin-top: 50px;}
	.col-lg-3.singleCoreFeture{text-align: center;}
	.plan{margin-bottom: 40px;}
	.footerMenu ul li a{margin: 2px;font-size:10px}
	.footerSocialLink.text-center ul li a i.fa{font-size: 13px;margin: 2px;padding: 5px;}