@media (max-width: 1200px) {
	
	

	.demo1 .filter-container li {
		float: left;
		margin-left: 27px;
		margin-bottom: 27px;
		width: 22%;
	}

	.demo1 img {
		width: 100%;
	}


	.footer-socials i {
		display: inline-block;
		border: 1px solid #2a2a2a;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		font-size: 13px;
		color: #969696;
	}

	.brown-box input[type="text"] {
	width: 170px;
	}

	.ready p {
	margin-bottom: 10px;
	}

	.cart404 img {
	float: none;
	margin-right: 0px;
	margin: 0 auto;
	display: table;
	}

	.cart404 p {
	right: 0;
	left: 0;
	text-align: center;
	}

	.page404text h1 {
	margin-top: 30px;
	}

	.page404text {
		text-align: center;
	}

	.page404text form {
	position: relative;
	width: 270px;
	margin: 0 auto;
	}

	.update {
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
	}

	.proceed {
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
	}

	.leftmenu-header {
	display: block;
	width: 250px;
	}

	#vertical-content {
	position: relative;
	margin-left: 250px;
	height: 100%;
	}

	ul.menu > li > a.active:after {
	left: 250px;
	top: 0;
	}

	.large-big {
		font-size: 40px !important;
		font-family: 'Noticia Text' !important;
		font-weight: 700 !important;
	}

}

@media (max-width: 992px) {

	#nav {
    width: 334px;
    padding: 21px 0;
  }  

   /* Main Menu */
  #nav > ul { display: none; }
  #nav select { 
    display: block !important;
    padding: 8px 3px;
    margin-top: 0px; 
    outline: none; 
    width: 100%;
    color: #000;
    font-family: 'Noticia text';
    font-weight: 400;
    text-transform: uppercase;
    background: #e4e4e4;
    border:0;
    cursor: pointer;
  }

  .coll-box {
  	margin-bottom: 20px;
  }


	.demo1 .filter-container li {
		float: left;
		margin-left: 27px;
		margin-bottom: 27px;
		width: 45%;
	}

	.arr-content li {
	display: inline-block;
	width: 100% !important;
	margin: 0 !important;
	}

	.blog-item {
		margin-bottom: 20px;
	}

	.inner-footer .col-md-3 {
		margin-bottom: 20px;
	}


	.coll-text2 {
	margin-top: 0;
	top: 7%;
	}

	.trans-header #nav {
	display: block;
	margin: 0;
	float: left;
	margin-left: 20px;
	margin-top: -10px;
	}

	.typography .col-md-2, .typography .col-md-3, .typography .col-md-4, .typography .col-md-5, .typography .col-md-6, 
	.typography .col-md-7, .typography .col-md-8, .typography .col-md-9, .typography .col-md-10, .typography .col-md-11, .typography .col-md-12{
	margin-bottom: 20px;
	}

	.team-box img {
		width: 100%;
	}

	.intro-content {
		margin-bottom: 50px;
	}

	.flickr img {
		width: 100%;
		margin-bottom: 10px;
	}

	#contact-form {
		margin-bottom: 20px;
	}


	.single-img {
	position: relative;
	margin-bottom: 20px;
	}

	.single-inputs .col-md-6 {
		margin-bottom: 10px;
	}

	.demo2 li {
	float: left;
	margin-left: 5px;
	width: 49%;
	margin-bottom: 5px;
	}

	.large-big {
		font-size: 30px !important;
		font-family: 'Noticia Text' !important;
		font-weight: 700 !important;
	}


}

@media (max-width: 768px) {


	.logo {
	float: none;
	position: static;
	text-align: center;
	margin: 0;
	}

	.search-input {
	float: none;
	position: relative;
	text-align: center;
	display: table;
	margin: 0 auto 10px;
	}



	#nav {
	    width: 250px;
	    padding: 21px 0;
	} 

	.cart {
	float: none;
	position: relative;
	padding-top: 15px;
	display: table;
	margin: 30px auto -20px;
	}

	.demo1 .filter-container {
		margin-left: 0;
	}

	.demo1 .filter-container li {
		float: left;
		margin-left: 0px;
		margin-bottom: 10px;
		width: 100%;
	}

	.copyright {
	float: none;
	margin-bottom: 10px;
	padding-left: 15px;
	}

	.payment {
	float: none;
	padding-left: 15px;
	}

	.trans-header {
	position: static;
	width: 100%;
	background: #333;
	z-index: 1000;
	top: 10px;
	}

	.trans-left {
	float: none;
	}

	.trans-header .logo {
	float: none;
	position: static;
	padding-top: 20px;
	margin-left: 0px;
	margin-top: 0;
	}

	.trans-header #nav {
	display: block;
	margin: 0;
	float: none;
	margin: 0 auto;
	}

	.trans-header .card-icon img {
	color: #010101;
	top: 6px;
	}

	.trans-right {
	float: none;
	margin-top: 15px;
	}

	.trans-header .cart {
	float: none;
	position: relative;
	padding-top: 15px;
	display: table;
	margin: 10px auto 0px;
	}

	.trans-header .card-icon i {
	color: #fff;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 3px;
	}

	.trans-header .shop-items {
	color: #fff;
	top: -3px;
	right: -13px;
	}

	.noresp {
		display: none !important;
	}

	.blog-tags {
	float: none;
	margin-top: 5px;
	margin-bottom: 10px;
	}

	.blog-share {
	float: none;
	}


	#map {
		height: 200px;
		width: 100%;
	}


	.leftmenu-header {
	    float: none;
	    text-align: center;
	    width: 100%;
	    max-width: 100%;
	    height: auto !important;
	    position: static;
	}



	ul.drop-down {
		position: relative;
		text-align: center;
		top: 0;
		left: 0;
		width: 100%;
	    visibility: visible;
	    opacity: 1;
	    -webkit-transform: rotateY(0deg);
	    -moz-transform: rotateY(0deg);
	    -ms-transform: rotateY(0deg);
	      -o-transform: rotateY(0deg);
	      transform: rotateY(0deg);
	      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
	      -mos-transition: -mos-transform 0.4s, opacity 0.1s;
	      -o-transition: -o-transform 0.4s, opacity 0.1s;
	      transition: transform 0.4s, opacity 0.1s;
	}

	ul.menu {
		max-height: 250px;
		overflow-y: scroll; 
	}

	#vertical-content  {
		margin-left: 0px;
	}


	a.elemadded {
		display: block;
	}

	.menu-box {
		display: none;
	}

	.vertical-search {
	display: table;
	margin: 0 auto 30px;
	}

	.vertical-search input[type="submit"] {
	right: 15px;
	top: 13px;
	border: 0;
	}

	.vertical-cart {
	float: none;
	display: table;
	margin: 30px auto 20px !important;
	}

	.login {
	text-align: center;
	margin-bottom: 30px;
	}

	.social-box {
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 20px;
	}

	.large-big {
		font-size: 22px !important;
		font-family: 'Noticia Text' !important;
		font-weight: 700 !important;
	}


}

@media (max-width: 582px) {

	.left-line ul{
	display: none;
	}

	.right-line ul {
		display: none;
	}

	.right-line a:after {
		display: none;
	}

	.mobile-version {
	  display: block;
	}

	.mobile-a {
	  display: block;
	}

	.mobile-a a {
		font-size: 16px;
		color: #fff;
		margin-right: 5px;
	}

	.mobile-version img {
		display: inline;
		margin: 0px 7px 4px 0px;
	}

	.mobile-version span {
		font-family: 'Raleway';
		font-size: 12px;
		color: #ea5748;
	}

	.upper-header {
		padding: 30px 0 0;
	}

	.search-input {
		display: none;
	}

	.cart {
		display: none;
	}

	#nav {
	    width: 250px;
	}

	.filter li {
	display: block;
		text-align: center;

	}

	.filter li:first-child {	}

	.filter i {
		display: none;
	}

	.title h1 {
	color: #000;
	font-size: 20px; 
	}

	.intro-content img {
	float: none;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 20px;
	}

	.partners .col-sm-2 {
		margin-bottom: 10px;
	}

	.list_carousel1 .medium-button {
	width: 109px;
	padding: 6px 
	} 

	.list_carousel2 .medium-button {
	width: 109px;
	padding: 6px 
	} 


	.middle-content2 {
	padding: 50px 0;
	background: url(../upload/middle-bg.jpg) center no-repeat;
	background-size: 530%;
	}

	.testimonials {
	padding: 80px 0;
	background: url(../upload/test-bg.jpg) repeat-x;
	background-size: 750%;
	}



	#single1 {
		float: none;
		margin: 0;
		margin-bottom: 10px;
		width: 100%;
	}


	#single2 {
		float: none;
		margin: 0;
		margin-bottom: 10px;
		width: 100%;
	}

	.demo2 li {
	float: left;
	margin-left: 5px;
	width: 99%;
	margin-bottom: 5px;
	}

	.large-big {
		font-size: 16px !important;
		font-family: 'Noticia Text' !important;
		font-weight: 700 !important;
	}



}