						/**Defult CSS**/
*{margin:0px;padding:0px}
html,body{
	height:100%;
}
body{
	font-family:'Poppins',arial !important;
	font-size:15px;
}
ul{
	list-style: none;
}
p{
	font-size:13px;
	line-height: 1.6;
}
.clearfix{
	height: 100px
}
a:hover{
	text-decoration: none !important;
}
						/*Class CSS*/

/*Header Top Area Style Start*/
.section.headerTopArea {
	background:  #192330;
	position:  relative;
	font-size:  12px;}

.row.headerTopItem ul li {
    display:  inline-block;
    padding: 9px;
}

.row.headerTopItem ul {
    margin-bottom:  0;
    margin-top:  0;
}

.row.headerTopItem ul li a {
    color: #ababab;
}
/*Header Top Area Style End*/
/*Header Style Start*/
ul.navbar-nav {
    margin-left: auto;
}
.row.headerPadding {
    padding:  10px;
}

.logo img {
    margin-top: 15px;
}
.section.headerArea{
	position: relative;
	background: #fff;
}
/*Header Style End*/
/*Hero Area Start*/
.heroArea{
    background: url(../images/heroBg.jpg) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.heroArea .container,.heroArea .row,.heroArea .col-lg-12,.heroArea .d-table{
    height: 100%;
}
.d-table{
    width: 100%;
}
.d-table-cell{
    color: #ededed;
    vertical-align: middle;
}.d-table-cell.heroText h3 {
    margin-bottom: 0;
    font-size: 24px ;
    font-weight:  bold;
}

.d-table-cell.heroText h1 {
    margin-top: -40px;
    font-size: 75px ;
    text-transform:  uppercase;
    font-weight:  bold;
    margin-bottom: 20px;
}
.searschBtn button{
    color:  #fff;
    border: 1px solid #fff;
}
.searschBtn{
	margin-top: 40px;
}
/*Hero Area End*/
/*We Love Design Start*/
.col-lg-12.weLoveDesignText {
    text-align:  center;
}

.col-lg-12.weLoveDesignText h1 {
    font-size:  35px;
    margin-bottom: 30px;
}

.col-lg-12.weLoveDesignText h1 span {
    color: #009688;
}

.col-lg-12.weLoveDesignImg {
    margin-top: 130px;
}
/*We Love Design End*/

/*Services Area Style Start*/
.row.servicesText {
    text-align:  center;
}

.col-lg-3.servicesTextInner img {
    padding:  15px;
    margin-bottom: 15px;
}

.col-lg-3.servicesTextInner h4 {
    margin-bottom:  35px;
    font-size:  20px;
    color:  #444444;
}

.col-lg-3.servicesTextInner p {
    color: #999999;
}
section.servicesArea {
    background: #FAFAFA;
}
/*Services Area Style End*/
/*Portfolio Area Style Start*/
.portMenu {
    text-align:  center;
    margin-top: 50px;
}
.portMenu button {
    background:  transparent;
    padding: 5px 15px;
    border: 1px solid #E3E3E3;
    margin: 0px 5px;
    cursor:  pointer;
    color:  #808080;
}
.portMenu button:hover {
	background:  #07877b;
	color:  #fff;
}
.col-lg-4.portItem {
    margin-top: 25px;
    width:  320px;
    height: 240px;
    position: relative;
    transition: .3s;
}

.col-lg-4.portItem img {
	position: relative;
    height:  100%;
    width:  100%;
    max-width: 100%;
}
.portItem:hover .portItemHover{
	visibility: visible;
	opacity: 1;
}
.portItemHover {
    position:  absolute;
    top:  0;
    left:  0;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    width:  100%;
    height:  100%;
    color:  #fff;
    background: #ff000069;
    z-index:  100;
    transition: 1s;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}
.portItemHover i.fa {
    font-size: 25px;
}
.sectionHeading h2 {
    font-size:  30px;
}

.sectionHeading {
    position:  relative;
    text-align: center;
}

.sectionHeading::after {
    position:  absolute;
    content:  '';
    width: 76px;
    height: 3px;
    background: #009688;
    top:  100%;
    left:  50%;
    margin-left:  -38px;
    margin-top: 15px;
}

.sectionHeading::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #009688;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: 11px;
    border-radius:  500%;
}
/*Portfolio Area Style End*/
/*Awesome Tab start*/
.skillbar {
  position: relative;
  display: inline-block;
  margin: 15px 0;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  width: 100%;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  display: inline-block;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}
section.exprienceArea {
    background: #fafafa;
}
/*Awesome Tab End*/
/*Feture Area Start*/
.col-lg-6.fetureText h2 {
    font-size:  30px;
    font-weight:  bold;
    margin-bottom: 35px;
}

.featureReadButton button {
    border: 1px solid #eee;
    color: #616060;
}
span.fetureImg {
    display:  inline-block;
    position:  relative;
}

span.fetureImg::after {
    position:  absolute;
    content:  '';
    background: #07877b;
    top: -25px;
    left: -25px;
    z-index: -1;
    height: 100%;
    width: 70%;
}
.col-lg-6.fetureText {
    margin-top: 50px;
}
/*Feture Area End*/
/*Core Feture Area Start*/
.coreFeatures{
	background: #f7f7f7
}
.col-lg-3.singleCoreFeture img {
    margin-bottom:  25px;
}

.col-lg-3.singleCoreFeture h5 {
    margin-bottom:  25px;
    font-size:  18px;
    font-weight:  bold;
}
.col-lg-3.singleCoreFeture {
    margin-bottom: 35px;
}
/*Core Feture Area end*/
/*Call To Action Area Start*/
.row.callToAction {
    padding: 25px;
    color: #fff;
}

section.callToActionArea {
    background: #000;
}

.col-lg-9.callToActionright {
    margin: 65px 0px;
}

.offset-lg-1.col-lg-2.callToActionleft {
    margin: 65px 0px;
}

.col-lg-2.callToActionleft {
        margin: 100px 0px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}
.col-lg-2.callToActionleft a {
    color: #fff;
}
.col-lg-2.callToActionleft::after {
        position: absolute;
    content: '';
    background: #fff;
    height: 2px;
    width: 80%;
    top: -10px;
    left: -8px;
}
/*Call To Action Area End*/
/*Team Area start*/
.teamItem {
    width:  263px;
    height: 263px;
}

.teamItem img {
    width:  100%;
    height: auto;
}
.sectionHeading h2 span {color: #009688;}
.teamMember{
	margin-top: 90px;
}

.teamItemHover {
    position:  absolute;
    left:  0;
    top: 0;
    text-align:  center;
    color:  #fff;
    background: #00000091;
    visibility: hidden;
    opacity: 0;
}
.teamItem:hover .teamItemHover{
	visibility: visible;
	opacity: 1;
}
.social_link ul li {
    display:  inline-block;
    padding: 8px;
    font-size: 25px;
}

.social_link {
    background: #009688;
    padding: 1px;
}

.social_link i.fa {
    color: #fff;
    margin-top: 15px;
}

.teamItemHover h5 {
    font-size:  21px;
    font-weight: bold;
    margin-top: 47px;
}

/*Price Area Start*/

span.price-value {
    vertical-align:  top;
    font-weight:  700;
}

span.price-value.display-5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

span.price-figur.display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3.25rem !important;
}

span.price-figur {
    font-weight: 700;
}

span.price-term.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
.row.price_area{
	margin-top: 150px;
}
.plan {
    text-align:  center;
        border: 1px solid #ddd;
    box-shadow: inset 0px 0px 20px 9px;
}

.plan-body ul li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.plan-header {
    padding:  25px;
    background:  #000;
    color:  #fff;
}

.plan-bye {
    background:  #000;
    padding:  25px;
    font-size: 18px;
}
.plan-title {
    margin-bottom: 30px;
}
p.price-offer {
    margin-top: 25px;
}
.plan-list ul li i.fa {
    margin-right: 10px;
    font-size: 13px;
}
.plan-bye a {
    display: block;
    color:  #fff;
}
.PricePackagesArea{
	background:#ababab8f;
}
/*.PricePackagesArea{
	background:url(../images/priceBg.jpg) no-repeat center center;
	background-size:cover;
	background-position:center;
	min-height:1200px;
	height:100%;
	width:100%;
}*/


/*Last Post area Start*/

.row.lastPost {
    margin-top:  85px;
}

.lastPostInner {
    width:  100%;
    height:  100%;
}

.lastPostInner img {
    width:  100%;
    height: auto;
    /* margin-bottom:  35px; */
}

.lastPostInner p {
    margin-top: 35px;
    margin-bottom: 10px;
}

.lastPostInner a {
    color:  #039285;
}
/*Contact Area Strat*/
form.contactFrom {
    margin-top: 80px;
}

form.contactFrom input,textarea {
    display:  inherit;
    margin-bottom: 25px;
    width:  100%;
}

.ContactUsArea {
    background:  #f0f0f0;
}

.contactFrom input[type="text"] ,input[type="email"],textarea,input[type="submil"] {
    padding: 10px;
    background: #6d6d6d4f;
}
.contactFrom input[type="submit"] {
    margin-top: 25px;
    padding: 10px;
    border:  none;
    background: #039285;
    display:  block;
    cursor: pointer;
}
.contactFrom textarea {
    min-height: 300px;
    color: #000;
}
/*Google Maps area*/
.googleMapsArea{
	background:url(../images/gMap.jpg) no-repeat center center;
	background-size:cover;
	background-position:center;
	max-height: 310px
	height:100%;
	width:100%;
	position: relative;
}
.maps {
    display:  flex;
    align-items:  center;
    justify-content:  center;
    width:  100%;
    height: 100%;
    font-size:  18px;
    z-index:  99;
}

.col-lg-12.gmaps {
    width:  100%;
    height: 328px;
}

.maps p {
    font-size: 30px;
}

section.googleMapsArea::after {
    position:  absolute;
    content:  '';
    background:  #000;
    height:  100%;
    width:  100%;
    top:  0;
    left:  0;
    opacity: 0.8;
}
/*Footer Area Strat*/
.footerArea{
	background: #192330;
	color: #fff
}
.footerTopText.text-center p {
    font-size:  22px;
}

.footerTopText.text-center h3 {
    font-size:  30px;
}

.footerSocialLink.text-center ul li {
    display:  inline-block;
}
.footerSocialLink.text-center ul li a i.fa:hover{
	background: #0177b5;
	color: #fff;
	text-decoration: none;
}
i.SocailActive{
	background: #0177b5;
	color: #fff;
}
.footerSocialLink.text-center ul li a i.fa {
    color: #949494;
    padding: 13px 16px;
    border: 1px solid #949494;
    border-radius: 43%;
    margin: 10px;
    display: block;
    font-size: 18px;
}
.footerSocialLink.text-center {
    margin: 50px 0px;
}
.footerMenu {
    color:  #969595;
    margin-bottom: 30px;
}

.footerMenu ul li a {
    color:  #969595;
    margin: 10px;
}
.footerMenu ul li a:hover {
    text-decoration: none;
    color: #03a9f4;
}
.fMenuActive{
	color: #03a9f4;
}
    /*
    Preloader
    */
    body.preloader-active {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999999;
        overflow: hidden;
    }
    .preloader {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 9999999999;
    }
    .preloader-spinner {
        background: url(../images/big_loader.gif) no-repeat center center;
        width: 100px;
        height: 100px;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
        position: absolute;
    }


/*Sticky Div CSS*/
#sticky.stick {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    left: 15px;
    padding-left: 100px;
    padding-right: 110px;
}
#sticky.stick::after {
    position:  absolute;
    background:  #ddd;
    width:  100%;
    height:  100%;
    top: 0;
    left:  0;
    content:  '';
    z-index:  -1;
    opacity: 0.9;
}
/*Scroll Up Css*/
#scrollUp{
	    height: 38px;
    width: 38px;
    background: url(../images/top.png) no-repeat;
    bottom: 35px;
    right: 65px;
    text-indent: -99999px;
}						