@media (max-width: 1200px) {
	
	.recent li {
	width: 29.914894%;
	}

	.blog-end a {
	float: left;
	}

	.team-footer li i {
	font-size: 16px;
	color: #8c9195;
	margin-right: 2px;
	}

	.bottom-post {
    position: absolute;
    bottom: 45px;
	}
}

@media (max-width: 992px) {
	
	.top-info {
	text-align: left;
	padding-top: 4px;
	}

	.top-info li {
		display: inline-block;
		margin-left: 0px;
		margin-right: 10px;
	}

	.logo {
		float: none;
		padding: 10px 0;
		display: table;
		margin: 0 auto;
	}

	.service-item {
		margin-bottom: 40px;
	}

	.top-post {
    position: absolute;
    top: 20%;}

	.bottom-post {
		position: absolute;
		bottom: 15px;
	}

	.team-item {
		margin-bottom: 30px;
	}

	.skill-item {
		margin-bottom: 30px;
	}
	.blog-item{
		margin-bottom: 30px;
	}
	.partner-item{
		margin-bottom: 30px;
	}

	.partner-item img {
	width: 60%;
	height: 40px;
	}

	#contact-form {
		margin-bottom: 20px;
	}

	.socials ul {
	float: left;
	margin-top: 20px;
	}

	.socials li {
	display: inline;
	margin-left: 0px;
	margin-right: 10px;
	}

	.blogpage-item img {
	width: 100%;
	margin-bottom: 20px;
	}


}

@media (max-width: 767px) {
	
	.logo {
		float: left;
	}


	.navbar .navbar-collapse .navbar-nav {
		float: none !important;
		display: inline-block;
		margin: 0px 50px 0 0;
	}

	ul.drop-down {
		position: relative !important;
		text-align: center !important;
		top: 0 !important;
		left: 0 !important;
	    visibility: visible !important;
	    opacity: 1 !important;
	}

	header .navbar .navbar-collapse .navbar-nav li a {
		display: inline-block;
		padding: 10px 0px;
		border-bottom: 0;
	}

	header .navbar .navbar-collapse .navbar-nav li a.active, header .navbar .navbar-collapse .navbar-nav li a:hover {
		border-bottom: 0px solid #8ad542;
		color: #8ad542;
	}

	header .navbar .navbar-collapse .navbar-nav li > ul.drop-down {
	  visibility: visible;
	  opacity: 1;
	  -webkit-transform: rotateX(0deg);
	  -moz-transform: rotateX(0deg);
	  -ms-transform: rotateX(0deg);
	  -o-transform: rotateX(0deg);
	  transform: rotateX(0deg);

	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	}

	header .navbar .navbar-collapse .navbar-nav li ul.drop-down li ul.drop-down.level3 {
	  -webkit-transform: rotateY(0deg);
	  -moz-transform: rotateY(0deg);
	  -ms-transform: rotateY(0deg);
	  -o-transform: rotateY(0deg);
	  transform: rotateY(0deg);
	  top: 0px;
	  left: 0;
	  margin-left: 1px;
	  border-bottom: none;
	}

	.navbar-default .navbar-toggle .icon-bar {
	background-color: #8ad542;
	}

	.tp-leftarrow.default, .tp-rightarrow.default {

		display: none !important;
	}

	#search {
		float: right;
	}

	.filter-container li {
	width: 49.97%;
	float: left;
	position: relative;
	overflow: hidden;
	}

	.blog-end a {
	float: right; !important;
	}

	.partner-item img {
	width: 60%;
	height: 90px;
	}




}

@media (max-width: 582px) {


.filter-container li {
	width: 99.97%;
	float: left;
	position: relative;
	overflow: hidden;
	}

	.filter li {
float: left;
margin-right: 0px;
margin-left: 20px;
margin-bottom: 20px;
}

.tp-caption a {
font-family: "Open Sans";
font-size: 13px !important;
font-weight: bold;
width: 127px !important;
padding: 10px 0 !important;
}

.tp-caption a.lmore {
	display:  none;
}

.left-about img {
float: none;
margin-right: 0px;
width: 100%;
margin-bottom: 20px;
}

	.top-post {
    position: absolute;
    top: 30%;}

	.bottom-post {
		position: absolute;
		bottom: 85px;
	}

.partner-item img {
width: 100%;
height: 80px;
}

.post-date {
float: none;
}

.post-user {
float: none;
margin-left: 0px;
}

.post-write {
float: none;
margin-left: 0px;
}

.blogpage-item .post-comments {
float: left;
margin-top: 0;
}

.user-spec h5 {
float: none;
margin-bottom: 10px;
}

.user-spec span {
float: none;
margin-left: 0;
margin-bottom: 10px;
}

.user-spec a {
float: none;
margin-left: 0;
display: block;
}

.share h2 {
float: none;
margin: 0;
}

.share ul {
float: none;
margin-left: 0px;
margin-top: 10px;
width: 100%;
}

.comment-tree li img {
float: left;
margin-right: 50%;
}

.tabs-widget .tab-links li a {
font-family: 'Open Sans';
color: #8c9195;
font-size: 11px; 
}

.buy-text {
float: none;
width: 100%;
margin-bottom: 10px;
}

.buyit a {
text-transform: uppercase;
float: none;
}

}