*{margin:0px;padding:0px}
body{}
a,a:hover{text-decoration:none}
a {color:#FF971A;text-decoration:none;cursor:pointer}
input[type=text], input[type=password], input[type=email] , textarea{Border:1px solid #E6E5E5;padding:2px}
h1,h2,h3,h4{font-weight:normal;margin-bottom:15px;color:#ff7a22;font-family:Myriad Pro}

.floatleft{float:left}
.floatright{float:right}
.fix{overflow:hidden}
.warppar{width:1010px;margin:0px auto;}


.header_area{background:url(images/header_bg.png) repeat-x fixed;height:205px}
.header_top{}
.logo{}
.header_right{margin-top:40px}
.header_right img{margin-right:10px}
.mainmenu{background:#fff}
.mainmenu ul{margin:0px;padding:0px;list-style:none;text-align:right}
.mainmenu ul li{display:inline;}
.mainmenu ul li a{display:inline-block;padding:8px 15px;font-size:15px;color:#fff;background:url(images/menu_bg.png) repeat-x;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.mainmenu ul li a:hover{background:#ddd}
.maincontant_area{background:url(images/maincontent_bg.png) repeat-x fixed;}
.maincontant{    background: #fff;
    margin-top: 15px;
    padding: 15px;
    width: 980px;}
.contant{width:640px;margin-right:20px}
.contant p{margin-bottom:15px}
.box{border:2px  solid #ddd;padding:20px;}
.two_column{}
.left_colmn input[type=text]{width:250px}
.left_colmn{}
.right_colmn{}
.right_colmn input[type=text]{width:328px}
.one_column{}
.full_width_input{width:100%}
.half_width_input{width:293px;margin-right:10px}
.onetherd_width_input{width:192px;margin-right:10px}
.three_column{}
.t_singel_column{}
.one_column{}
.form_submit{float:right;margin-top:5px}
.form_submit input[type=submit]{background:url(images/submit_button.png);width:192px;height:49px;display:block;text-indent:-9999px;border:none;cursor:pointer}
.form_submit input[type=reset]{background:url(images/cancel_button.png);width:133px;height:49px;display:block;text-indent:-9999px;border:none;margin-top:-49px;margin-left:200px;cursor:pointer}
.sidebar{width:318px;font-size:13px;margin-top:43px}
.singel_sidebar{border:2px solid #ddd;padding:10px;margin-bottom:10px}
.singel_sidebar{}
.singel_sidebar ul{margin:0px;padding:0px;list-style:none;}
.singel_sidebar ul li{background:url(images/list_item.png) no-repeat scroll 0;padding-left:15px}
.singel_sidebar ul li a{display:block;border-bottom:2px dotted #ddd;padding:5px}
.singel_sidebar ul li a:hover{background:#FDB70F;color:#418DB4}
.footer_area{background:#FF9412;color:#fff}
.footer{margin:25px auto}
.copywrite{margin:20px 0px;margin-right:45px}
.profile{margin-top:20px}
.profile p{float:left;margin-right:10px;}
.profile a{float:left;margin-right:5px}
.footer_menu{margin-top:20px}
.footer_menu ul{margin:0px;padding:0px;list-style:none;text-align:right}
.footer_menu ul li{display:inline;background:url(images/event_list_title.png) no-repeat right}
.footer_menu ul li:last-child{background:none}
.footer_menu ul li a{display:inline-block;padding:5px;font-size:15px;color:#fff;}
.footer_menu ul li a:hover{background:#ddd}

                      /*Stick*/
					  
div#sticker{
	
}
.stick {
    position:fixed;
    top:0;
	z-index:9999px;
	width:57%;
}