 body {
            font-family: Lato, Arial, Helvetica, sans-serif;
            font-size: 16px; 
            font-weight: 300; 
            color: #808080;
                    }
        

        #sidebar a{
            font-family: Lato, Arial, Helvetica, sans-serif;
        }
        h1,h2,h3,h4,h5,h6,
        input[type="password"],
        input[type="submit"],
        input[type="reset"],
        input[type="button"]
        button,
        .btn,
        .accordion-heading .accordion-toggle,
        .waves-heading .heading-title,
        .tw-breadcrumb,
        .pricing-top>span:first-child,
        .process-title,
        .process-number,
        .nav-tabs>li span,
        .portfolio-overlay .portfolio-meta,
        .waves-pagination ul.page-numbers{font-family: Lato;}
        h1{ font-size: 36px; color: #343434; }
        h2{ font-size: 24px; color: #343434; }
        h3{ font-size: 18px; color: #343434; }
        h4{ font-size: 16px; color: #343434; }
        h5{ font-size: 14px; color: #343434; }
        h6{ font-size: 12px; color: #343434; }


        /* Header ------------------------------------------------------------------------ */  
        #header, .header-clone { background-color: #fff; }
        #page-title { background-color: #f5f5f5; }
        .transparent-header #header.header-small, #header.header-small { background-color: rgba(255,255,255,.9);}

        /* Body BG color ------------------------------------------------------------------------ */  
        body { background: #f5f5f5; }

        .tw-logo img { line-height: 80px; max-height: 80px;}

        /* Menu CSS ------------------------------------------------------------------------ */
        .sf-menu .waves-mega-menu .mega-menu-title { font-family: Lato, Arial, Helvetica, sans-serif;}
        ul.sf-menu > li a{ font-family: Lato, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 700; color: #808080; }
        ul.sf-menu > li.current-menu-item,ul.sf-menu > li.current_page_item{ background-color: ; }

        ul.sf-menu li ul li,.sf-menu ul li.current_page_item,.sf-menu ul li.current-menu-item{ background-color: #21b6a8;}
        ul.sf-menu > li:hover > a{ border-color: #21b6a8;}
        ul.sf-menu > li > a:after{ color: #21b6a8;}
        ul.sf-menu ul { border-color: #21B6A8;}
        ul.sf-menu li ul li:hover{ background-color: #31c6b8; border-color: #31c6b8; }
        ul.sf-menu ul li.current_page_item[class^="fa-"]:before, .sf-menu ul li.current_page_item[class*=" fa-"]:before,
        ul.sf-menu ul li.current_page_item[class^="icon-"]:before, .sf-menu ul li.current_page_item[class*=" icon-"]:before{
            color: #21B6A8; }
        ul.sf-menu > li.current_page_item > a, .sf-menu > li.current_page_ancestor >a, .sf-menu > li.current-menu-ancestor >a, .sf-menu > li.current-menu-item > a{ color: #21B6A8;}
        ul.sf-menu > li:hover > a, ul.sf-menu > li:hover:after{ color: #21B6A8; }

        ul.sf-menu > li> a { padding-top: 32px}
        ul.sf-menu > li> a { padding-bottom: 32px}

        nav.menu-container .tw-menu-widget { margin-top: 28px}
        nav.menu-container .tw-menu-widget { margin-bottom: 28px}

        /* Pagebuilder Title ----------------------------------------------------- */
        .waves-title h3{font-family: Lato, Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 700; color: #343434; }
        /* Sidebar Widget Title ----------------------------------------------------- */ 
        h3.widget-title{font-family: Lato, Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 700; color: #343434; }
        /* Footer Widget Title ----------------------------------------------------- */ 
        #bottom h3.widget-title{font-family: Lato, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 700; color: #fff; }


        /* Footer ------------------------------------------------------------------------ */  
        #bottom{ background-color: #21252b; }
        #bottom a:hover,#footer a:hover{ color: #21B6A8; }

        /* General Color ------------------------------------------------------------------------ */ 

        ::selection{ background: #21B6A8; }
        ::-moz-selection{ background: #21B6A8; }

        /* Primary Color Changes */

        /* BG states*/

        .tw-infinite-scroll a, .tw-coming-soon .days,
        .tw-coming-soon .hours, .tw-coming-soon .minutes, .tw-coming-soon .seconds,
        .format-link .link-content,
        .tw-filters ul.filters li a.selected,
        .service-featured .tw-service-content a.more,
        .waves-portfolio .meta-link a, .waves-portfolio .meta-like,
        ul.waves-list>li>i,
        .waves-about .about-type-title>.about-title,
        .waves-about .about-type-content:hover>.about-bullet,
        .accordion-group.active .accordion-toggle,
        #scrollUp,.pricing-column.featured .pricing-top,.pricing-column.featured .pricing-footer a,
        .waves-callout .callout-container,
        .waves-thumbnail .meta-link a,
        .entry-date,
        .nav-tabs>li.active a, .waves-pagination ul.page-numbers li span.current,
        .title-seperator i.default > span,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i,
        .tw-service-content a.more:hover
        {background-color: #21B6A8; }

        /* BG Hover states*/

        .tw-service-box:hover.style_1 .tw-font-icon, .tw-service-box:hover.style_2 .tw-font-icon,.waves-about .about-type-content>.about-content:hover:after,
        .tagcloud a:hover, #bottom .tagcloud a:hover,
        .pricing-column:hover .pricing-top, .pricing-column:hover .pricing-footer a,
        .waves-pagination ul.page-numbers li a:hover,
        .tw_post_sharebox a:hover,
        .nextprev-postlink .post-link-title a:hover:before, .nextprev-postlink .post-link-title a:hover:after, .nextprev-postlink .home-link a:hover,
        .tw-service-box.style_1:hover .tw-service-content a.more
        {background-color: #21B6A8 !important; }


        /* Color states*/
        .waves-breadcrumbs,h3.error404 span, .tw-service-content a:before, 
        .sf-menu .waves-mega-menu .mega-menu-title,
        .pricing-footer a,.testimonial-meta i.fa-star,
        .tw-coming-soon>.sep,#sidebar aside.widget ul li.current-menu-item a,#sidebar aside.widget ul li.current-menu-item:before,
        .pricing-header h1,.pricing-top,
        .posts-tab-widget .nav-tabs>li.active a:after,
        .waves-pagination ul.page-numbers li a, .waves-pagination ul.page-numbers li span,
        .nextprev-postlink .post-link-title a, .nextprev-postlink .home-link a,.tw-author h3 a,
        article.single-portfolio h2.portfolio-title,
        .waves-aboutme.aboutme-style-2 h2
        {color: #21B6A8; }

        /* Color Hover states*/

        .tw-infinite-scroll a:hover,.nav-tabs>li:hover a,
        .entry-title a:hover,div.entry-meta > span a:hover,
        aside ul li a:hover,
        button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
        .testimonial-author a:hover, .nextprev-postlink .post-link-title a:hover, .carousel-meta a, 
        .waves-carousel-portfolio .portfolio-meta a:hover, .waves-portfolio .portfolio-meta a:hover,
        .sf-menu ul.waves-mega-menu [class^="fa-"]:hover:before,
        .sf-menu ul.waves-mega-menu [class*=" fa-"]:hover:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class^="fa-"]:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class*=" fa-"]:before,
        .sf-menu ul.waves-mega-menu [class^="icon-"]:hover:before,
        .sf-menu ul.waves-mega-menu [class*=" icon-"]:hover:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class^="icon-"]:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class*=" icon-"]:before,
        .waves-heading .heading-title>span,
        .waves-about .about-type-content:hover .about-title,
        .tw-service-box.service-featured h3, .tw-service-box:hover.style_2 h3, .tw-service-box:hover.style_1 h3,
        .waves-team:hover .member-title h2,
        ul.sf-menu li ul.waves-mega-menu li:hover>a,
		.member-social .tw-social-icon a:hover,
        .waves-aboutme .aboutme-meta a i:hover,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i:hover
        {color: #21B6A8; }
        .pricing-column.featured .pricing-footer a:hover,.pricing-column:hover .pricing-footer a:hover{
            color: #21B6A8 !important;
        }

        /* Border states*/
        .pricing-top,.tw-dropcap.dropcap_border,
        .nextprev-postlink .home-link a,
        .service-featured .tw-service-content a.more, .tw-infinite-scroll a, 
        .pricing-column.featured .pricing-box,.pricing-footer a,
        .nav-tabs>li.active:first-child a,.posts-tab-widget .nav-tabs>li.active a,
        .waves-pagination ul.page-numbers li,
        .tab-content,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i,
        .nextprev-postlink .prev-post-link a:before, .nextprev-postlink .next-post-link a:after,
        textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus
        {border-color: #21B6A8; }

        /* Border Hover states*/

        button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
        #sidebar .tagcloud a:hover,#footer .tagcloud a:hover, .tw-service-content a.more:hover,
        .tw-infinite-scroll a:hover,.pricing-column:hover .pricing-box,
        .waves-about .about-type-content>.about-content:hover:after,.pricing-column.featured .pricing-footer a, .pricing-column:hover .pricing-footer a,
        .tagcloud a:hover, #bottom .tagcloud a:hover,
        .tw_post_sharebox a:hover,
        .waves-aboutme .aboutme-meta a i:hover,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i:hover,
        .tw-service-box.style_1:hover .tw-service-content a.more
        {border-color: #21B6A8; }
        
        .tw-service-box.style_1:hover .tw-font-icon
        {border-color: #21B6A8 !important; }

        .flickr-channel a:before, .dribbble-widget a:before, .tw-recent-portfolios-widget a:before
        {background-color: rgba(33,182,168,.85) ; }

        .member-image .image-overlay
        {background-color: rgba(33,182,168,.6) ; }

        .waves-callout .callout-container
        {-webkit-box-shadow: 4px 4px #1a9286;
         -moz-box-shadow: 4px 4px #1a9286;
         box-shadow: 4px 4px #1a9286; }
        .waves-callout.style2 .btn-callout
        {-webkit-box-shadow: 3px 3px #1a9286;
         -moz-box-shadow: 3px 3px #1a9286;
         box-shadow: 3px 3px #1a9286; }

        .waves-portfolio .meta-link a:last-child
        {background: #1c9b8f; }

        .flickr-channel a:before, .dribbble-widget a:before, .tw-recent-portfolios-widget a:before
        {border-color: #3bffff; }
        
        #scrollUp:hover
        {background: #177f76; }

        #footer{ background-color: #191a1e; }

                    .woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins,
            .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price,
            .woocommerce-page #content div.product span.price,
            .woocommerce div.product p.price, .woocommerce-page div.product p.price,
            .tw-product-ordering ul > li > span span,
            .woocommerce .star-rating, .woocommerce-page .star-rating,
            .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price
            {color: #21B6A8; }
            
            .woocommerce-page #content .quantity .minus:hover, 
            .woocommerce .quantity .plus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce #content .quantity .plus:hover,
            .woocommerce-page #content .quantity .plus:hover, .woocommerce .quantity .minus:hover,
            .woocommerce-page .quantity .minus:hover, .woocommerce #content .quantity .minus:hover,
            ul.cart_list li > a:hover, .woocommerce-page #sidebar ul.cart_list li > a:hover, ul.product_list_widget li > a:hover, 
            .woocommerce-page #sidebar ul.product_list_widget li > a:hover, 
            .woocommerce ul.products li.product h3:hover, .woocommerce-page ul.products li.product h3:hover,
            {color: #21B6A8; }

            .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button,
            .tw_cart_buttons a.button, #sidebar .widget_shopping_cart_content a.button, .buttons a.button,
            .tw_cart_buttons > a,.woocommerce span.onsale, .woocommerce-page span.onsale,
            .woocommerce #respond input#submit, .woocommerce-page #respond input#submit,
            .tw-product-ordering ul:hover > li > span i,
            .tw-product-ordering > ul.product-sort a:hover
            {background-color: #21B6A8; }

            .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
            .tw-product-ordering ul:hover > li > span i,
            .tw-product-ordering > ul:hover > li > span
            {border-color: #21B6A8; }

            .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
            .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
            .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
            .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active                
            {border-top-color: #21B6A8; }

            .thumbnail_container .product-hover-overlay{background-color: rgba(33,182,168,.9) ; }
                    .pace .pace-progress{background-color: #21B6A8;}

                     /* BG states*/

        .tw-infinite-scroll a, .tw-coming-soon .days,
        .tw-coming-soon .hours, .tw-coming-soon .minutes, .tw-coming-soon .seconds,
        .format-link .link-content,
        .tw-filters ul.filters li a.selected,
        .service-featured .tw-service-content a.more,
        .waves-portfolio .meta-link a, .waves-portfolio .meta-like,
        ul.waves-list>li>i,
        .waves-about .about-type-title>.about-title,
        .waves-about .about-type-content:hover>.about-bullet,
        .accordion-group.active .accordion-toggle,
        #scrollUp,.pricing-column.featured .pricing-top,.pricing-column.featured .pricing-footer a,
        .waves-callout .callout-container,
        .waves-thumbnail .meta-link a,
        .entry-date,
        .nav-tabs>li.active a, .waves-pagination ul.page-numbers li span.current,
        .title-seperator i.default > span,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i,
        .tw-service-content a.more:hover
        {background-color: #21B6A8; }

        /* BG Hover states*/

        .tw-service-box:hover.style_1 .tw-font-icon, .tw-service-box:hover.style_2 .tw-font-icon,.waves-about .about-type-content>.about-content:hover:after,
        .tagcloud a:hover, #bottom .tagcloud a:hover,
        .pricing-column:hover .pricing-top, .pricing-column:hover .pricing-footer a,
        .waves-pagination ul.page-numbers li a:hover,
        .tw_post_sharebox a:hover,
        .nextprev-postlink .post-link-title a:hover:before, .nextprev-postlink .post-link-title a:hover:after, .nextprev-postlink .home-link a:hover,
        .tw-service-box.style_1:hover .tw-service-content a.more
        {background-color: #21B6A8 !important; }


        /* Color states*/
        .waves-breadcrumbs,h3.error404 span, .tw-service-content a:before, 
        .sf-menu .waves-mega-menu .mega-menu-title,
        .pricing-footer a,.testimonial-meta i.fa-star,
        .tw-coming-soon>.sep,#sidebar aside.widget ul li.current-menu-item a,#sidebar aside.widget ul li.current-menu-item:before,
        .pricing-header h1,.pricing-top,
        .posts-tab-widget .nav-tabs>li.active a:after,
        .waves-pagination ul.page-numbers li a, .waves-pagination ul.page-numbers li span,
        .nextprev-postlink .post-link-title a, .nextprev-postlink .home-link a,.tw-author h3 a,
        article.single-portfolio h2.portfolio-title,
        .waves-aboutme.aboutme-style-2 h2
        {color: #21B6A8; }

        /* Color Hover states*/

        .tw-infinite-scroll a:hover,.nav-tabs>li:hover a,
        .entry-title a:hover,div.entry-meta > span a:hover,
        aside ul li a:hover,
        button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
        .testimonial-author a:hover, .nextprev-postlink .post-link-title a:hover, .carousel-meta a, 
        .waves-carousel-portfolio .portfolio-meta a:hover, .waves-portfolio .portfolio-meta a:hover,
        .sf-menu ul.waves-mega-menu [class^="fa-"]:hover:before,
        .sf-menu ul.waves-mega-menu [class*=" fa-"]:hover:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class^="fa-"]:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class*=" fa-"]:before,
        .sf-menu ul.waves-mega-menu [class^="icon-"]:hover:before,
        .sf-menu ul.waves-mega-menu [class*=" icon-"]:hover:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class^="icon-"]:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class*=" icon-"]:before,
        .waves-heading .heading-title>span,
        .waves-about .about-type-content:hover .about-title,
        .tw-service-box.service-featured h3, .tw-service-box:hover.style_2 h3, .tw-service-box:hover.style_1 h3,
        .waves-team:hover .member-title h2,
        ul.sf-menu li ul.waves-mega-menu li:hover>a,
        .member-social .tw-social-icon a:hover,
        .waves-aboutme .aboutme-meta a i:hover,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i:hover
        {color: #21B6A8; }
        .pricing-column.featured .pricing-footer a:hover,.pricing-column:hover .pricing-footer a:hover{
            color: #21B6A8 !important;
        }

        /* Border states*/
        .pricing-top,.tw-dropcap.dropcap_border,
        .nextprev-postlink .home-link a,
        .service-featured .tw-service-content a.more, .tw-infinite-scroll a, 
        .pricing-column.featured .pricing-box,.pricing-footer a,
        .nav-tabs>li.active:first-child a,.posts-tab-widget .nav-tabs>li.active a,
        .waves-pagination ul.page-numbers li,
        .tab-content,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i,
        .nextprev-postlink .prev-post-link a:before, .nextprev-postlink .next-post-link a:after,
        textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus
        {border-color: #21B6A8; }

        /* Border Hover states*/

        button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
        #sidebar .tagcloud a:hover,#footer .tagcloud a:hover, .tw-service-content a.more:hover,
        .tw-infinite-scroll a:hover,.pricing-column:hover .pricing-box,
        .waves-about .about-type-content>.about-content:hover:after,.pricing-column.featured .pricing-footer a, .pricing-column:hover .pricing-footer a,
        .tagcloud a:hover, #bottom .tagcloud a:hover,
        .tw_post_sharebox a:hover,
        .waves-aboutme .aboutme-meta a i:hover,
        .waves-aboutme.aboutme-style-2 .aboutme-meta a i:hover,
        .tw-service-box.style_1:hover .tw-service-content a.more
        {border-color: #21B6A8; }
        
        .tw-service-box.style_1:hover .tw-font-icon
        {border-color: #21B6A8 !important; }

        .flickr-channel a:before, .dribbble-widget a:before, .tw-recent-portfolios-widget a:before
        {background-color: rgba(33,182,168,.85) ; }

        .member-image .image-overlay
        {background-color: rgba(33,182,168,.6) ; }

        .waves-callout .callout-container
        {-webkit-box-shadow: 4px 4px #1a9286;
         -moz-box-shadow: 4px 4px #1a9286;
         box-shadow: 4px 4px #1a9286; }
        .waves-callout.style2 .btn-callout
        {-webkit-box-shadow: 3px 3px #1a9286;
         -moz-box-shadow: 3px 3px #1a9286;
         box-shadow: 3px 3px #1a9286; }

        .waves-portfolio .meta-link a:last-child
        {background: #1c9b8f; }

        .flickr-channel a:before, .dribbble-widget a:before, .tw-recent-portfolios-widget a:before
        {border-color: #3bffff; }
        
        #scrollUp:hover
        {background: #177f76; }

        #footer{ background-color: #191a1e; }

            .woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins,
            .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price,
            .woocommerce-page #content div.product span.price,
            .woocommerce div.product p.price, .woocommerce-page div.product p.price,
            .tw-product-ordering ul > li > span span,
            .woocommerce .star-rating, .woocommerce-page .star-rating,
            .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price
            {color: #21B6A8; }
            
            .woocommerce-page #content .quantity .minus:hover, 
            .woocommerce .quantity .plus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce #content .quantity .plus:hover,
            .woocommerce-page #content .quantity .plus:hover, .woocommerce .quantity .minus:hover,
            .woocommerce-page .quantity .minus:hover, .woocommerce #content .quantity .minus:hover,
            ul.cart_list li > a:hover, .woocommerce-page #sidebar ul.cart_list li > a:hover, ul.product_list_widget li > a:hover, 
            .woocommerce-page #sidebar ul.product_list_widget li > a:hover, 
            .woocommerce ul.products li.product h3:hover, .woocommerce-page ul.products li.product h3:hover,
            {color: #21B6A8; }

            .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button,
            .tw_cart_buttons a.button, #sidebar .widget_shopping_cart_content a.button, .buttons a.button,
            .tw_cart_buttons > a,.woocommerce span.onsale, .woocommerce-page span.onsale,
            .woocommerce #respond input#submit, .woocommerce-page #respond input#submit,
            .tw-product-ordering ul:hover > li > span i,
            .tw-product-ordering > ul.product-sort a:hover
            {background-color: #21B6A8; }

            .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
            .tw-product-ordering ul:hover > li > span i,
            .tw-product-ordering > ul:hover > li > span
            {border-color: #21B6A8; }

            .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
            .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
            .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
            .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active                
            {border-top-color: #21B6A8; }

            .thumbnail_container .product-hover-overlay{background-color: rgba(33,182,168,.9) ; }
                    .pace .pace-progress{background-color: #21B6A8;}