@charset "utf-8";/*unicode*/
/*======================================================================
	Project Name: EDUCATION SC
	Project Head : MAHMUD HASAN JAKARIA 	
	Creator     : JONY
	E-mail	    : info@jitsolution.net
	Date        : 2015-0-0
========================================================================*/
body{
	font-family: 'BenSenHandwriting';
	font-size:15px;
	background:url(../images/interface/bg_body.gif) no-repeat top center #fff;
	border-top:1px solid #5e5e5e;
	}
/*===========@Global Styles ============*/
*{margin:0; padding:0; outline:none}
img,fieldset{border:0}
a{text-decoration:none}
h1,h2,h3,h5,h6{padding:0px;margin:0px;}

@font-face {
    font-family: 'BenSenHandwriting';
    src: url('fonts/BenSenHandwriting.eot');
    src: url('fonts/BenSenHandwriting.eot') format('embedded-opentype'),
         url('fonts/BenSenHandwriting.woff') format('woff'),
         url('fonts/BenSenHandwriting.ttf') format('truetype'),
         url('fonts/BenSenHandwriting.svg#BenSenHandwriting') format('svg');
}


.vertical-text {
transform: rotate(90deg);
transform-origin: center center 0;
}


.vertical-text {
float: left;
margin-left:15px;
}

/*===================================================================
								body_wrapper
=====================================================================*/
#body_wrapper{
	width:1032px;
	overflow:hidden;
	webkit-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.75);
	margin:0px auto;
	padding-bottom:22px;
	}
/*===================================================================
								header
=====================================================================*/
#header{
	width:1032px;
	margin:0 auto;
	overflow:hidden;
	background:url(../images/interface/bg_header.gif) repeat-x;
	}
.header_inner{
	width:1000px;
	overflow:hidden;
	margin:0 auto;
	padding:16px 0px;
	}
.logo{
	width:1000px;
	margin-top:-15px;
	}
/*.header_rgt{
	width:320px;
	float:right;
	margin-top:20px;
	overflow:hidden;
	}
.h_calendar{
	width:160px;
	float:left;
	overflow:hidden;
	}
.h_calendar p a{
	color:#0082cf;
	}
.h_calendar p a:hover{
	text-decoration:none;
	color:#0082cf;
	}
.header_p{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#0082cf;
	line-height:45px;
	padding-left:25px;
	font-weight:bold;
	background:url(../images/interface/bg_calendar.png) no-repeat left center;
	}
.h_application{
	width:152px;
	float:right;
	overflow:hidden;
	}
.h_application p a{
	color:#0082cf;
	}
.h_application p a:hover{
	text-decoration:none;
	color:#0082cf;
	}
	
	
.h_webmail{
	width:90px;
	float:right;
	overflow:hidden;
	}
.h_webmail p a{
	color:#0082cf;
	}
.h_webmail p a:hover{
	text-decoration:none;
	color:#0082cf;
	}


.header_p2{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#0082cf;
	line-height:45px;
	padding-left:25px;
	font-weight:bold;
	background:url(../images/interface/bg_webmail.png) no-repeat left center;
	}*/
/*===================================================================
								header
=====================================================================*/
#menu{
	width:1000px;
	height:40px;
	background:#009900;
	margin:0 auto;
	}
/*===================================================================
								header
=====================================================================*/
#banner{
	width:1000px;
	overflow:hidden;
	margin:0 auto;
	}
/*===================================================================
								news
=====================================================================*/
#news{
	width:1000px;
	margin:3px auto 0px;
	height:30px;
	background:url(../images/interface/bg_news_scroll.gif) repeat-y;
	}
.news_head{
	width:105px;
	float:left;
	}
.news_main{
	width:880px;
	float:right;
	}
.news_h6{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#0082cf;
	line-height:30px;
	}
.news_h6_span{
	font-size:14px;
    font-family: 'BenSenHandwriting';
	color:#066ab0;
	line-height:30px;
	padding-left:12px;
	font-weight:bold;
	}
/*===================================================================
								header
=====================================================================*/
#main_page{
	width:1000px;
	overflow:hidden;
	margin:17px auto 0px;
	}
.content{
	width:705px;
	float:left;
	}
.content_conatct{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	}
/*====================================*/
.sidebar{
	width:280px;
	float:right;
	background:#ececec;
	overflow:hidden;
	}
.sidebar_inner{
	width:100%;
	overflow:hidden;
	padding:10px;
	}
.sidebar_president{
	width:122px;
	float:left;
	}
.president_name{
	font-size:14px;
    font-family: 'BenSenHandwriting';
	color:#323232;
	line-height:18px;
	text-align:center;
	padding-top:10px;
	}
.sidebar_headteacher{
	width:122px;
	float:right;
	}
.paragraph{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:20px;
	padding-top:10px;
	text-align:justify;
	}
.paragraph2{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:20px;
	text-align:center;
	}
.paragraph_hit{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:16px;
	text-align:center;
	padding-top:11px;
	}

.para_span{
	font-weight:bold;
	font-size:14px;
	color:#00a5e6;
	}
.read_more{
	float:right;
	width:67px;
	height:20px;
	background:#00a5e6;
	margin-top:-17px;
	}
.read_more h6 a{
	color:#fff;
	}
.read_more h6 a:hover{
	text-decoration:none;
	}
.btn_read{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	text-align:center;
	line-height:20px;
	}
.news_box{
	width:100%;
	overflow:hidden;
	background:#ebebeb;
	padding-bottom:10px;
	}
.news_box_inner{
	width:100%;
	overflow:hidden;
	background:url(../images/interface/bg_news.gif) no-repeat bottom center;
	}
.news_box_p{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:20px;
	text-align:justify;
	background:url(../images/interface/bg_select.png) no-repeat left top;
	margin:0px 13px;
	padding-left:25px;
	padding-bottom:15px;
	}
/*---------- allhead --------*/
.head_black{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:32px;
	padding-left:13px;
	background: #727272; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyNzI3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGFkYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #727272 0%, #adadad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#727272), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #727272 0%,#adadad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #727272 0%,#adadad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #727272 0%,#adadad 100%); /* IE10+ */
	background: linear-gradient(to right,  #727272 0%,#adadad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#adadad',GradientType=1 ); /* IE6-8 */
	}
.head_red{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:32px;
	padding-left:13px;
	background: #a22e43; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyMmU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjc1ODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #a22e43 0%, #e27589 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a22e43), color-stop(100%,#e27589)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #a22e43 0%,#e27589 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #a22e43 0%,#e27589 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #a22e43 0%,#e27589 100%); /* IE10+ */
	background: linear-gradient(to right,  #a22e43 0%,#e27589 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22e43', endColorstr='#e27589',GradientType=1 ); /* IE6-8 */
	}
.head_blue{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:32px;
	padding-left:13px;
	background: #003aa8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2FhOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDkzZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #003aa8 0%, #1493e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003aa8), color-stop(100%,#1493e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #003aa8 0%,#1493e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #003aa8 0%,#1493e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #003aa8 0%,#1493e0 100%); /* IE10+ */
	background: linear-gradient(to right,  #003aa8 0%,#1493e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003aa8', endColorstr='#1493e0',GradientType=1 ); /* IE6-8 */
	}
.head_green{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:32px;
	padding-left:13px;
	background: #058649; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1ODY0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYWQyOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #058649 0%, #3ad28a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#058649), color-stop(100%,#3ad28a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #058649 0%,#3ad28a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #058649 0%,#3ad28a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #058649 0%,#3ad28a 100%); /* IE10+ */
	background: linear-gradient(to right,  #058649 0%,#3ad28a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#058649', endColorstr='#3ad28a',GradientType=1 ); /* IE6-8 */
	}
.head_sky{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:32px;
	padding-left:13px;
	background: #1a74af; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNzRhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MGFjZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #1a74af 0%, #50ace8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a74af), color-stop(100%,#50ace8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1a74af 0%,#50ace8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1a74af 0%,#50ace8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1a74af 0%,#50ace8 100%); /* IE10+ */
	background: linear-gradient(to right,  #1a74af 0%,#50ace8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a74af', endColorstr='#50ace8',GradientType=1 ); /* IE6-8 */
	}
.head_yellow{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#fff;
	line-height:32px;
	padding-left:13px;
	background: #945b02; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk0NWIwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZjk5MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #945b02 0%, #df9921 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#945b02), color-stop(100%,#df9921)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #945b02 0%,#df9921 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #945b02 0%,#df9921 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #945b02 0%,#df9921 100%); /* IE10+ */
	background: linear-gradient(to right,  #945b02 0%,#df9921 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#945b02', endColorstr='#df9921',GradientType=1 ); /* IE6-8 */
	}
.span_dropbox{
	width:41px;
	height:35px;
	background:url(img/dropbox.png) no-repeat right center;
	border:1px solid red;
	}
/*===================================================================
								page_box
=====================================================================*/
#page_box{
	width:1000px;
	overflow:hidden;
	margin:17px auto 0px;
	}
/*---------- page_lft --------*/
.page_lft{
	width:345px;
	overflow:hidden;
	float:left;
	background:#ececec;
	}
.page_lft_inner{
	width:100%;
	overflow:hidden;
	border:1px solid #a5a5a5;
	margin-top:1px;
	}
.p_lft_bg{
	width:100px;
	height:101px;
	float:left;
	margin:35px 0px 0px 21px;
	background:url(img/bg_box01.png) no-repeat left center;
	}
.p_lft_txt{
	width:172px;
	float:right;
	margin-top:60px;
	padding-bottom:48px;
	}
.p_lft_txt ul{
	width:100%;
	overflow:hidden;
	}
.p_lft_txt ul li{
	list-style:none;
	background:url(img/bg_txt.png) no-repeat left center;
	}
.p_lft_txt ul li a{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:27px;
	padding-left:18px;
	}
.p_lft_txt ul li a:hover{
	text-decoration:none;
	color:#066ab0;
	}
/*---------- page_mid --------*/
.page_mid{
	width:345px;
	overflow:hidden;
	float:left;
	margin-left:16px;
	background:#ececec;
	}
.page_mid_inner{
	width:100%;
	overflow:hidden;
	border:1px solid #a5a5a5;
	margin-top:1px;
	}
.p_mid_bg{
	width:121px;
	height:104px;
	float:left;
	margin:35px 0px 0px 21px;
	background:url(img/bg_box02.png) no-repeat left center;
	}
.p_mid_txt{
	width:172px;
	float:right;
	margin-top:29px;
	padding-bottom:25px;
	}
.p_mid_txt ul{
	width:100%;
	overflow:hidden;
	}
.p_mid_txt ul li{
	list-style:none;
	background:url(img/bg_txt.png) no-repeat left center;
	}
.p_mid_txt ul li a{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:27px;
	padding-left:18px;
	}
.p_mid_txt ul li a:hover{
	text-decoration:none;
	color:#066ab0;
	}
/*---------- page_rgt --------*/
.page_rgt{
	width:280px;
	overflow:hidden;
	float:right;
	background:#ececec;
	}
.p_rgt_txt{
	width:100%;
	float:right;
	margin-top:16px;
	padding-bottom:1px;
	}
.p_rgt_txt ul{
	width:100%;
	overflow:hidden;
	}
.p_rgt_txt ul li{
	list-style:none;
	background:url(img/bg_select.png) no-repeat left center;
	margin:0px 15px;
	}
.p_rgt_txt ul li a{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:37px;
	padding-left:30px;
	}
.p_rgt_txt ul li a:hover{
	text-decoration:none;
	color:#066ab0;
	}
/*---------- page_lft --------*/
.rcw-button-6.rcw-medium,.rcw-button-6.rcw-large{
	font-family:'BenSenHandwriting' ;
}
.topQuote {
    min-height: 350px !important;
}
.page_b_lft{
	width:345px;
	overflow:hidden;
	float:left;
	background:#ececec;
	}
.page_b_lft_inner{
	width:100%;
	overflow:hidden;
	border:1px solid #a5a5a5;
	margin-top:1px;
	}
.p_b_lft_bg{
	width:103px;
	height:108px;
	float:left;
	margin:35px 0px 0px 21px;
	background:url(img/bg_box03.png) no-repeat left center;
	}
.p_b_lft_txt{
	width:172px;
	float:right;
	margin-top:61px;
	padding-bottom:46px;
	}
.p_b_lft_txt ul{
	width:100%;
	overflow:hidden;
	}
.p_b_lft_txt ul li{
	list-style:none;
	background:url(img/bg_txt.png) no-repeat left center;
	}
.p_b_lft_txt ul li a{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:27px;
	padding-left:18px;
	}
.p_b_lft_txt ul li a:hover{
	text-decoration:none;
	color:#066ab0;
	}
/*---------- page_mid --------*/
.page_b_mid{
	width:345px;
	overflow:hidden;
	float:left;
	margin-left:16px;
	background:#ececec;
	}
.page_b_mid_inner{
	width:100%;
	overflow:hidden;
	border:1px solid #a5a5a5;
	margin-top:1px;
	}
.p_b_mid_bg{
	width:100px;
	height:107px;
	float:left;
	margin:35px 0px 0px 21px;
	background:url(img/bg_box04.png) no-repeat left center;
	}
.p_b_mid_txt{
	width:172px;
	float:right;
	margin-top:29px;
	padding-bottom:25px;
	}
.p_b_mid_txt ul{
	width:100%;
	overflow:hidden;
	}
.p_b_mid_txt ul li{
	list-style:none;
	background:url(img/bg_txt.png) no-repeat left center;
	}
.p_b_mid_txt ul li a{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:27px;
	padding-left:18px;
	}
.p_b_mid_txt ul li a:hover{
	text-decoration:none;
	color:#066ab0;
	}
/*---------- page_rgt --------*/
.page_b_rgt{
	width:280px;
	overflow:hidden;
	float:right;
	background:#ececec;
	}
.p_b_dropbox_txt{
	width:100%;
	overflow:hidden;
	margin-top:17px;
	}
.p_b_dropbox_txt ul{
	width:100%;
	overflow:hidden;
	}
.p_b_dropbox_txt ul li{
	list-style:none;
	background:url(img/bg_select.png) no-repeat left center;
	margin:0px 15px;
	}
	.page_b_rgt_button {
    width: 280px;
    overflow: hidden;
    float: right;
    background: #ECECEC none repeat scroll 0% 0%;
    padding-left: 13px;
}
.p_b_dropbox_txt ul li a{
	font-size:13px;
    font-family: 'BenSenHandwriting';
	color:#3e3d3c;
	line-height:37px;
	padding-left:30px;
	}
.p_b_dropbox_txt ul li a:hover{
	text-decoration:none;
	color:#066ab0;
	}
/*===================================================================
								page_box
=====================================================================*/
/*
	#footer{
		width:100%;
		overflow:hidden;
		background:#0082cf;
		border-top:2px solid #00c7f8;
		}
	.footer_inner{
		width:1000px;
		overflow:hidden;
		margin:0 auto;
		}
	.copy_right{
		width:360px;
		float:left;
		}
	.developed{
		width:170px;
		float:right;
		}
	.copy_right_p{
		font-size:13px;
		font-family: 'BenSenHandwriting';
		color:#fff;
		line-height:60px;
		margin:0px;
		}
	.developed p a{
		text-decoration:none;
		color:#fff;
		}
	.developed p a:hover{
		color:#ccc;
		}
*/
/*===================================================================
								INNER-PAGE
=====================================================================*/
#inner_page{
	width:1000px;
	overflow:hidden;
	margin:17px auto 0px;
	}
#inner_p_content{
	width:705px;
	overflow:hidden;
	float:left;
	}
#inner_sidebar{
	width:280px;
	overflow:hidden;
	float:right;
	}
	

.contact_address{
	width:310px;
	float:left;
	border:1px solid #ddd;
	border-radius:5px;
	padding:15px 10px;
	margin-top:20px;
	height:391px;
	}
.contact_map{
	width:330px;
	float:left;
	border:1px solid #ddd;
	border-radius:5px;
	margin-left:25px;
	padding:15px 10px;
	margin-top:20px;
	}
.contact_feedback{
	width:310px;
	float:left;
	border:1px solid #ddd;
	border-radius:5px;
	padding:15px 10px 0px;
	margin-top:20px;
	margin-left:25px;
	}
.contact_h3{
	font-size:16px;
    font-family: 'BenSenHandwriting';
	color:#066ab0;
	line-height:30px;
	border-bottom:1px solid #066ab0;
	}

.hit_counter{
	width:220px;
	float:left;
	margin-left:135px;
	}


.photo_box{
	width:235px;
	float:left;
	margin:20px 20px 0px 0px;
	}
.photo_box#last_box{
	margin-right:0px;
	}



.multimedia_class{
	width:100%;
	overflow:hidden;
	margin-top:15px;
	}
.multimedia_box{
	width:225px;
	float:left;
	padding:10px;
	overflow:hidden;
	margin-right:15px;
	border-radius:3px;
	border:1px solid #f27a20;
	margin-top:15px;
	}
.multimedia_box#last_box{
	margin-right:0px;
	}
.mul_class_pic{
	width:80px;
	height:80px;
	margin:0 auto;
	}
.multimedia_box_txt{
	width:100%;
	overflow:hidden;
	margin-top:10px;
	}
.multimedia_box_txt_p{
	font-size:14px;
    font-family: 'BenSenHandwriting';
	color:#333;
	line-height:21px;
	text-align:center;
	}
.multimedia_span{
	color:#066ab0;
	}
.class_routine{
	width:100%;
	overflow:hidden;
	margin-top:15px;
	}



.new_div{
	border:1px solid red;
	}
	

	

	
	
	
/* Next CSS for footer_01711140740*/


div.wrapper {
    width:96%;
    max-width:1000px;
    height:auto;
    min-height:1000px;
    background:#FFF;
    box-shadow:0 0 30px 3px #666;
    overflow:auto;
    margin:auto;
    padding:0 2% 10px;
}

footer {
    width:96%;
    /*max-width:1032px;*/
    height:auto;
    min-height:50px;
    background:#F7F7F7;
    overflow:auto;
    margin:auto;
    padding:0 2% 10px;
}

footer p {
    font-size:14px;
    color:#333;
}

footer div.social {
    width:30%;
    height:auto;
    float:left;
    text-align:center;
    margin:10px 0 0 3%;
}

footer .social ul {
    width:auto;
    height:auto;
    display:inline-block;
    list-style:none;
    overflow:auto;
    margin:10px auto auto;
    padding:0;
}

footer .social ul li {
    float:left;
    margin-left:10px;
    margin-bottom:10px;
    text-align:center;
}

footer .social ul li a {
    background:none repeat scroll 0 0 #464646;
    border-radius:2px;
    color:#fff;
    display:block;
    height:35px;
    line-height:35px;
    text-decoration:none;
    transition:all 1s linear 0;
    width:36px;
    padding-left:4px;
}

footer .social ul li a[href*="facebook"]:hover {
    background:#4034A9;
}

footer .social ul li a[href*="twitter"]:hover {
    background:#3AA9E4;
}

footer .social ul li a[href*="google"]:hover {
    background:#F41A29;
}

footer .social ul li a[href*="linkedin"]:hover {
    background:#1B66E4;
}

footer div.developer p {
    color:#333;
}

footer div.developer a {
    color:#000;
    text-decoration:none;
}

footer div.developer a:hover {
    color:#060;
}

nav.navigation >ul >li:last-child,nav.navigation >ul >li div ul:last-child,aside.right-panel .singlediv ul li:last-child {
    border:none; 
}

nav.navigation >ul >li div#admission,nav.navigation >ul >li div#exam {
    left:-300px;
}

nav.navigation >ul >li div ul li a:hover,section.noticeboard ul li a:hover,aside.right-panel .singlediv ul li a:hover {
    color:#0088cc;
    font-weight:bold;
    padding-left:5px;
}

.fa,footer .social li:last-child {
    margin-right:5px;
}

footer div.copyright,footer div.developer {
    width:30%;
    height:auto;
    float:left;
    margin:10px 0 0 3%;
    width:900px;
}


/*********************************** footer part style start here ***********************************/
footer.foot-1{
    padding: 0 2% 10px;
    border-bottom: 1px solid #282828;
    max-width:1032px;
	min-width:1032px;
    width: 100%;
	height:232px;
    overflow:auto;
}

footer.foot-1 section.wrapper{
    display: table;
    box-sizing: border-box;

}

footer.foot-1 section.wrapper div{
    display: table-cell;
    vertical-align: top;
    width: 17.5%;
    color: #B0AFAF;
    font-size: 14px;

}

footer.foot-1 section.wrapper div figure img{
    width:175px;
    margin-top:0px;

}

footer.foot-1 section.wrapper div.foot-logo{
    width: 30%;
    text-align: center;
}

footer.foot-1 section.wrapper div ul{
    margin-top: 30px;
}

ul.foot-ul-1,
ul.foot-ul-2{
    border-right: 1px solid #4F4E4E !important;
}

ul.foot-ul-3,
ul.foot-ul-4{
    border-left: 1px solid #4F4E4E !important;
}

ul.foot-ul-4 li:last-child{
    display: none;
}

footer.foot-1 section.wrapper div ul li{
    line-height: 25px;
}

footer.foot-1 section.wrapper div ul li a{
    font-size: 14px;
    color: #B0AFAF;
}

footer.foot-1 section.wrapper div ul li a:hover{
    color: #0088cc;
    font-weight:bold;
}

ul.foot-ul-1 li,
ul.foot-ul-2 li{
    text-align: right;
    padding-right: 10px;
}

ul.foot-ul-3 li,
ul.foot-ul-4 li{
    text-align: left;
    padding-left: 10px;
}

footer.foot-1,
section.foot-2{
    background: none repeat scroll 0 0 rgba(62, 61, 61, 1);
    margin: 0 auto;
}

/* footer style start here */


section.foot-2{
    border-top: 1px solid #565656;
    clear: both;
    color: #b0afaf;
    min-height: 32px;
    padding: 0 2% 10px;
    text-align: center;
    max-width:1032px;
	min-width:1032px;
    width: 100%;
}

section.foot-2 nav{
    text-align: center;
    margin-top: 30px;
}

section.foot-2 nav a{
    margin: 0 7px;
    color: #B0AFAF;
}

section.foot-2 nav a i{
    font-size: 22px;
}

section.foot-2 nav a:hover i.fa-facebook{color: #3B5998;}
section.foot-2 nav a:hover i.fa-google-plus{color: #C63D2D;}
section.foot-2 nav a:hover i.fa-linkedin{color: #4875B4;}
section.foot-2 nav a:hover i.fa-twitter{color: #33CCFF;}
section.foot-2 nav a:hover i.fa-youtube-play{color: #FF3333;}
section.foot-2 nav a:hover i.fa-skype{color: #00AFF0;}
section.foot-2 nav a:hover i.fa-yahoo{color: #7B0099;}

section.foot-2 p{
    margin-top: 10px;
    font-size: 14px;
}
/* footer style start here */





/********************************* global style start here **************************************/
*{transition: all 0.3s ease-in;}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    color: #282828;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header,
section[role="main"],
footer{
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/********************************* global style end here **************************************/


/* main content style start here */
section[role="main"]{

}
/* main content style end here */

a{text-decoration:none;}

section.foot-2 div{
    width: 32%;
    float: left;
    padding: 10px 0;
    text-align: center;
}


#copytxt{margin-top:0px;}
#developtxt{margin-top:0px;}

section.foot-2 div:last-child{
    float: right;
}

.developer  a{
    color: #b0afaf; 
    text-decoration: none;

}

.developer  a:hover{
    color: #0088CC; 
    text-decoration: none;
}

.social  a{
    color: #b0afaf; 
    padding:5px;
    text-decoration: none;
    border-radius:2px;
}

.social  a:hover{
    color: #0088cc; 
    text-decoration: none;
    font-weight:bold;
    padding:5px;
    background-color:#fff;
}