@font-face {
  font-family: 'ish-fontello';
  src: url('../font/ish-fontello06c2.eot?64853455');
  src: url('../font/ish-fontello06c2.eot?64853455#iefix') format('embedded-opentype'),
       url('../font/ish-fontello06c2.woff?64853455') format('woff'),
       url('../font/ish-fontello06c2.ttf?64853455') format('truetype'),
       url('../font/ish-fontello06c2.svg?64853455#ish-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ish-fontello';
    src: url('../font/ish-fontello.svg?64853455#ish-fontello') format('svg');
  }
}
*/
 
 [class^="ish-icon-"]:before, [class*=" ish-icon-"]:before {
  font-family: "ish-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ish-icon-spin5:before { content: '\e874'; } /* '' */
.ish-icon-indent-right:before { content: '\e821'; } /* '' */
.ish-icon-chrome:before { content: '\e834'; } /* '' */
.ish-icon-opera:before { content: '\e836'; } /* '' */
.ish-icon-ie:before { content: '\e837'; } /* '' */
.ish-icon-search:before { content: '\e805'; } /* '' */
.ish-icon-heart:before { content: '\e80e'; } /* '' */
.ish-icon-star:before { content: '\e82f'; } /* '' */
.ish-icon-star-empty:before { content: '\e830'; } /* '' */
.ish-icon-star-half:before { content: '\e831'; } /* '' */
.ish-icon-star-half-alt:before { content: '\e832'; } /* '' */
.ish-icon-picture:before { content: '\e824'; } /* '' */
.ish-icon-camera:before { content: '\e883'; } /* '' */
.ish-icon-camera-alt:before { content: '\e884'; } /* '' */
.ish-icon-th-large:before { content: '\e82b'; } /* '' */
.ish-icon-th:before { content: '\e82c'; } /* '' */
.ish-icon-ok:before { content: '\e812'; } /* '' */
.ish-icon-cancel:before { content: '\e807'; } /* '' */
.ish-icon-plus:before { content: '\e815'; } /* '' */
.ish-icon-minus:before { content: '\e814'; } /* '' */
.ish-icon-home:before { content: '\e800'; } /* '' */
.ish-icon-thumbs-up:before { content: '\e887'; } /* '' */
.ish-icon-thumbs-down:before { content: '\e888'; } /* '' */
.ish-icon-thumbs-up-alt:before { content: '\e889'; } /* '' */
.ish-icon-thumbs-down-alt:before { content: '\e88a'; } /* '' */
.ish-icon-reply:before { content: '\e886'; } /* '' */
.ish-icon-forward:before { content: '\e885'; } /* '' */
.ish-icon-code:before { content: '\e82a'; } /* '' */
.ish-icon-pencil:before { content: '\e87a'; } /* '' */
.ish-icon-print:before { content: '\e88b'; } /* '' */
.ish-icon-comment-1:before { content: '\e88e'; } /* '' */
.ish-icon-chat:before { content: '\e877'; } /* '' */
.ish-icon-comment-empty:before { content: '\e88d'; } /* '' */
.ish-icon-chat-empty:before { content: '\e88c'; } /* '' */
.ish-icon-attention:before { content: '\e82e'; } /* '' */
.ish-icon-location-1:before { content: '\e88f'; } /* '' */
.ish-icon-doc-text-inv:before { content: '\e87d'; } /* '' */
.ish-icon-menu:before { content: '\e808'; } /* '' */
.ish-icon-cog:before { content: '\e80a'; } /* '' */
.ish-icon-basket:before { content: '\e890'; } /* '' */
.ish-icon-calendar:before { content: '\e891'; } /* '' */
.ish-icon-down-open:before { content: '\e87c'; } /* '' */
.ish-icon-left-open:before { content: '\e87b'; } /* '' */
.ish-icon-right-open:before { content: '\e813'; } /* '' */
.ish-icon-up-open:before { content: '\e80f'; } /* '' */
.ish-icon-down-big:before { content: '\e892'; } /* '' */
.ish-icon-left-big:before { content: '\e893'; } /* '' */
.ish-icon-right-big:before { content: '\e894'; } /* '' */
.ish-icon-up-big:before { content: '\e895'; } /* '' */
.ish-icon-arrows-cw-1:before { content: '\e896'; } /* '' */
.ish-icon-stop:before { content: '\e806'; } /* '' */
.ish-icon-award:before { content: '\e8b9'; } /* '' */
.ish-icon-desktop:before { content: '\e897'; } /* '' */
.ish-icon-laptop:before { content: '\e898'; } /* '' */
.ish-icon-tablet:before { content: '\e899'; } /* '' */
.ish-icon-mobile:before { content: '\e89a'; } /* '' */
.ish-icon-leaf:before { content: '\e89b'; } /* '' */
.ish-icon-font:before { content: '\e81c'; } /* '' */
.ish-icon-text-width:before { content: '\e81b'; } /* '' */
.ish-icon-align-left:before { content: '\e80b'; } /* '' */
.ish-icon-align-center:before { content: '\e80c'; } /* '' */
.ish-icon-align-right:before { content: '\e80d'; } /* '' */
.ish-icon-align-justify:before { content: '\e820'; } /* '' */
.ish-icon-list:before { content: '\e81a'; } /* '' */
.ish-icon-table:before { content: '\e829'; } /* '' */
.ish-icon-briefcase-1:before { content: '\e89c'; } /* '' */
.ish-icon-ellipsis:before { content: '\e880'; } /* '' */
.ish-icon-ellipsis-vert:before { content: '\e881'; } /* '' */
.ish-icon-check-empty:before { content: '\e810'; } /* '' */
.ish-icon-circle:before { content: '\e816'; } /* '' */
.ish-icon-circle-empty:before { content: '\e817'; } /* '' */
.ish-icon-dot-circled:before { content: '\e818'; } /* '' */
.ish-icon-chart-bar:before { content: '\e89d'; } /* '' */
.ish-icon-credit-card:before { content: '\e89e'; } /* '' */
.ish-icon-floppy:before { content: '\e89f'; } /* '' */
.ish-icon-megaphone:before { content: '\e82d'; } /* '' */
.ish-icon-gauge:before { content: '\e8a0'; } /* '' */
.ish-icon-coffee:before { content: '\e8bb'; } /* '' */
.ish-icon-food:before { content: '\e8ba'; } /* '' */
.ish-icon-wheelchair:before { content: '\e8a1'; } /* '' */
.ish-icon-android:before { content: '\e838'; } /* '' */
.ish-icon-apple:before { content: '\e83a'; } /* '' */
.ish-icon-css3:before { content: '\e83b'; } /* '' */
.ish-icon-dribbble:before { content: '\e803'; } /* '' */
.ish-icon-dropbox:before { content: '\e83d'; } /* '' */
.ish-icon-facebook:before { content: '\e801'; } /* '' */
.ish-icon-github-1:before { content: '\e841'; } /* '' */
.ish-icon-github-circled:before { content: '\e83f'; } /* '' */
.ish-icon-gplus:before { content: '\e842'; } /* '' */
.ish-icon-html5:before { content: '\e83c'; } /* '' */
.ish-icon-instagramm:before { content: '\e843'; } /* '' */
.ish-icon-linux:before { content: '\e844'; } /* '' */
.ish-icon-linkedin:before { content: '\e804'; } /* '' */
.ish-icon-renren:before { content: '\e846'; } /* '' */
.ish-icon-firefox:before { content: '\e835'; } /* '' */
.ish-icon-tumblr:before { content: '\e848'; } /* '' */
.ish-icon-twitter:before { content: '\e802'; } /* '' */
.ish-icon-windows:before { content: '\e839'; } /* '' */
.ish-icon-xing:before { content: '\e84a'; } /* '' */
.ish-icon-youtube:before { content: '\e84b'; } /* '' */
.ish-icon-user:before { content: '\e8a3'; } /* '' */
.ish-icon-users:before { content: '\e8a2'; } /* '' */
.ish-icon-user-add:before { content: '\e8a4'; } /* '' */
.ish-icon-picture-1:before { content: '\e875'; } /* '' */
.ish-icon-quote:before { content: '\e819'; } /* '' */
.ish-icon-comment:before { content: '\e828'; } /* '' */
.ish-icon-vcard:before { content: '\e87f'; } /* '' */
.ish-icon-map:before { content: '\e81d'; } /* '' */
.ish-icon-folder:before { content: '\e8a5'; } /* '' */
.ish-icon-phone:before { content: '\e8a6'; } /* '' */
.ish-icon-tools:before { content: '\e8a7'; } /* '' */
.ish-icon-share:before { content: '\e873'; } /* '' */
.ish-icon-progress-0:before { content: '\e87e'; } /* '' */
.ish-icon-progress-3:before { content: '\e882'; } /* '' */
.ish-icon-list-add:before { content: '\e809'; } /* '' */
.ish-icon-signal:before { content: '\e8a8'; } /* '' */
.ish-icon-network:before { content: '\e8aa'; } /* '' */
.ish-icon-globe-1:before { content: '\e8a9'; } /* '' */
.ish-icon-briefcase:before { content: '\e825'; } /* '' */
.ish-icon-brush:before { content: '\e8ab'; } /* '' */
.ish-icon-chart-pie:before { content: '\e8af'; } /* '' */
.ish-icon-chart-line:before { content: '\e8ac'; } /* '' */
.ish-icon-chart-bar-1:before { content: '\e8ad'; } /* '' */
.ish-icon-chart-area:before { content: '\e8ae'; } /* '' */
.ish-icon-flickr:before { content: '\e83e'; } /* '' */
.ish-icon-vimeo:before { content: '\e849'; } /* '' */
.ish-icon-pinterest:before { content: '\e845'; } /* '' */
.ish-icon-stumbleupon:before { content: '\e84c'; } /* '' */
.ish-icon-lastfm:before { content: '\e84d'; } /* '' */
.ish-icon-spotify:before { content: '\e859'; } /* '' */
.ish-icon-evernote:before { content: '\e84e'; } /* '' */
.ish-icon-paypal:before { content: '\e84f'; } /* '' */
.ish-icon-picasa:before { content: '\e850'; } /* '' */
.ish-icon-soundcloud:before { content: '\e851'; } /* '' */
.ish-icon-behance:before { content: '\e852'; } /* '' */
.ish-icon-google-circles:before { content: '\e853'; } /* '' */
.ish-icon-db-shape:before { content: '\e81f'; } /* '' */
.ish-icon-headphones:before { content: '\e878'; } /* '' */
.ish-icon-article-alt:before { content: '\e826'; } /* '' */
.ish-icon-basket-1:before { content: '\e8b0'; } /* '' */
.ish-icon-basket-alt:before { content: '\e8b1'; } /* '' */
.ish-icon-easel:before { content: '\e827'; } /* '' */
.ish-icon-dollar:before { content: '\e8b2'; } /* '' */
.ish-icon-movie:before { content: '\e879'; } /* '' */
.ish-icon-link:before { content: '\e876'; } /* '' */
.ish-icon-globe:before { content: '\e854'; } /* '' */
.ish-icon-fire:before { content: '\e8b3'; } /* '' */
.ish-icon-w3c:before { content: '\e855'; } /* '' */
.ish-icon-grooveshark:before { content: '\e856'; } /* '' */
.ish-icon-forrst:before { content: '\e857'; } /* '' */
.ish-icon-digg:before { content: '\e858'; } /* '' */
.ish-icon-reddit:before { content: '\e85a'; } /* '' */
.ish-icon-blogger:before { content: '\e85b'; } /* '' */
.ish-icon-cc:before { content: '\e85c'; } /* '' */
.ish-icon-disqus:before { content: '\e85d'; } /* '' */
.ish-icon-rss:before { content: '\e85e'; } /* '' */
.ish-icon-yahoo:before { content: '\e85f'; } /* '' */
.ish-icon-email:before { content: '\e860'; } /* '' */
.ish-icon-myspace:before { content: '\e861'; } /* '' */
.ish-icon-amazon:before { content: '\e862'; } /* '' */
.ish-icon-steam:before { content: '\e863'; } /* '' */
.ish-icon-ebay:before { content: '\e864'; } /* '' */
.ish-icon-github:before { content: '\e840'; } /* '' */
.ish-icon-gmail:before { content: '\e865'; } /* '' */
.ish-icon-wordpress:before { content: '\e866'; } /* '' */
.ish-icon-statusnet:before { content: '\e867'; } /* '' */
.ish-icon-acrobat:before { content: '\e868'; } /* '' */
.ish-icon-drupal:before { content: '\e869'; } /* '' */
.ish-icon-pocket:before { content: '\e86a'; } /* '' */
.ish-icon-bitbucket:before { content: '\e86b'; } /* '' */
.ish-icon-stackoverflow:before { content: '\e86c'; } /* '' */
.ish-icon-yandex:before { content: '\e86d'; } /* '' */
.ish-icon-odnoklassniki:before { content: '\e86e'; } /* '' */
.ish-icon-deviantart:before { content: '\e86f'; } /* '' */
.ish-icon-wordpress-1:before { content: '\e870'; } /* '' */
.ish-icon-diigo:before { content: '\e871'; } /* '' */
.ish-icon-video:before { content: '\e823'; } /* '' */
.ish-icon-video-chat:before { content: '\e8b4'; } /* '' */
.ish-icon-picture-2:before { content: '\e8b5'; } /* '' */
.ish-icon-th-list:before { content: '\e822'; } /* '' */
.ish-icon-location:before { content: '\e81e'; } /* '' */
.ish-icon-road:before { content: '\e8b7'; } /* '' */
.ish-icon-check-empty-1:before { content: '\e811'; } /* '' */
.ish-icon-fire-1:before { content: '\e8b6'; } /* '' */
.ish-icon-hearing-impaired:before { content: '\e8b8'; } /* '' */
.ish-icon-wordpress-2:before { content: '\e872'; } /* '' */
.ish-icon-arrows-cw:before { content: '\e833'; } /* '' */
.ish-icon-skype:before { content: '\e847'; } /* '' */