html, body { height: 100%; }
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #1b1c25 url("../../../assets/img/background-1.jpeg") no-repeat fixed center;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-login {
    width: 410px;
    max-width: 410px;
    padding: 35px;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}
.form-login label {
    color: #888ea8;
    text-transform: uppercase;
    font-size: 13px;
}
.form-login .input-group .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 12px 45px 12px 0;
    font-size: 16px;
    border-left: none;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    background: rgba(230, 230, 230, 0.20);
    border: none;
}
.form-login .input-group .input-group-prepend { margin-right: 0; }
.form-login .input-group .input-group-prepend .input-group-text {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgba(230, 230, 230, 0.20);
    color: #fff;
    border-right: none;
    border: none;
}
.form-login .form-control::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
}
.form-login .form-control::-ms-input-placeholder {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
}
.form-login .form-control::-moz-placeholder {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
}
.form-login .form-control:focus {
    z-index: 2;
    border-color: #fff;
}
.form-login .checkbox .custom-control label {
    color: #fff;
    text-transform: initial;
    margin-left: -12px;
    font-size: 14px;
}
.form-login .forgot-pass a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.form-login .checkbox .custom-checkbox .custom-control-input:checked~.custom-control-label::before { background-color: #fe998b; }
.form-login .social-icons h5 {
    color: #494949;
    font-weight: 600;
}
.login-text p a {
    color: #af96ff;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}
.login-text p a:hover { color: #fe9a8b; }
.btn-gradient-warning { padding: 12px 15px 12px 15px; }
.custom-control-label::before { background-color: rgba(255, 255, 255, 0.6); }