/* Accordion */
.accordion .question h5 span.icon { background: url("images/accordion_controls.png") no-repeat left top; }
.accordion .question.active h5 span.icon { background: url("images/accordion_controls.png") no-repeat left bottom; }

/* FAQ */
.faq .question h5 span.icon { background: url("images/faq_controls.png") no-repeat left top; }
.faq .question.active h5 span.icon { background: url("images/faq_controls.png") no-repeat left bottom; }

/* Tags */
.widget_mfn_tag_cloud a { color: #767676 !important; background: #F8F8F8; text-shadow: 1px 1px 0 #fff; border: 1px solid #E8E8E8; }
.widget_mfn_tag_cloud a span { background: #F8F8F8; }
.widget_mfn_tag_cloud a:hover { color: #1b1b1b !important; border: 1px solid #d5d5d5; }
.widget_mfn_tag_cloud a:hover span {}