@media (min-width:992px) {
	body.responsive .container {
		width:970px;
	}
}
.page-content {
	padding-top:80px;
	padding-bottom:80px;
}
.with-sidebar .beau-mainbar {
	width:75%;
}
.with-sidebar .beau-sidebar {
	width:25%;
}
body {
	font-size:14px;
}
h1,.h1 {
	font-size:32px;
}
h2,.h2 {
	font-size:24px;
}
h3,.h3 {
	font-size:18px;
}
h4,.h4 {
	font-size:16px;
}
h5,.h5 {
	font-size:14px;
}
h6,.h6 {
	font-size:12px;
}
.beau-page-title {
	height:900px
}
.beau-page-title {
	background-image:url('../upload/home4-bg-3.jpg');
	background-size:auto;
	background-repeat:;
}
.beau-page-title2 {
	background-image:url('../images/breadcrumbs-bg.jpg');
	background-size:cover;
	background-repeat:;
}
.beau-page-title3 {
    background-image: url('../upload/home2-banner.jpg');
    background-size: auto;
    background-repeat: ;
}
.beau-page-inner {
    height: 400px;
	background-image:url('../images/breadcrumbs-bg.jpg');
	background-size:cover;
}

.page-content {
}
.dyn-menu-color,header#beau-header nav div.main-menu ul.menu>li.menu-item>a {
	color:#000000;
}
.dyn-menu-color-as-background,button#navbar-toggle .icon-bar,header#beau-header nav div.main-menu ul.menu>li.menu-item>a:before {
	background-color:#000000;
}
.dyn-menu-bg-color,button#navbar-toggle,header#beau-header {
	background-color:#ffffff;
}
.dyn-submenu-color,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item ul.sub-menu,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item ul.sub-menu>li.menu-item>a {
	color:#ffffff;
}
.dyn-submenu-color-as-background,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item>a:before,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item ul.sub-menu>li.menu-item>a:before {
	background-color:#ffffff;
}
.dyn-submenu-bg-color,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item ul.sub-menu,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item ul.sub-menu>li.menu-item>a {
	background-color:#000000;
}
.dyn-hover-color,.beau-icon-box:hover {
	color:#8d8d8d;
}
.dyn-text-color,article.type-post .beau-article-title a,article.beau-post-in-list .beau-article-title a,nav.navigation.pagination .nav-links>span,#main-container .beau-portfolio-categories-wrapper ul.filters li.active a,#main-container .beau-portfolio-items-wrapper .beau-portfolio-featured-image-bg .beau-pfi-hover .beau-pfi-hover-inner h3 a,footer#beau-footer h3,.beau-article-shares-wrapper ul li a:hover,.widget_wysija_cont .wysija-submit,.beau-button.transparent,body,a:hover,button.transparent,input[type=reset].transparent,input[type=submit].transparent {
	color:#000000;
}
.dyn-text-color-important,form.search-form button.search-submit:hover,.widget_wysija_cont .wysija-submit:hover,.vc_tta-accordion .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title a,.beau-button:hover,.wpb_content_element.beau_tabs .beau_tabs_nav>li.ui-tabs-active a,.wpb_content_element.beau_vtabs .beau_tabs_nav li.ui-tabs-active a,button:hover,input[type=reset]:hover,input[type=submit]:hover {
	color:#000000 !important;
}
.dyn-text-color-as-background,.widget_wysija_cont .wysija-submit:after,.beau-button,.beau-button.transparent:after,.wpb_content_element.beau_tabs .beau_tabs_nav>li.ui-tabs-active a:before,button,button.transparent:after,input[type=reset],input[type=submit],input[type=reset].transparent:after,input[type=submit].transparent:after {
	background-color:#000000;
}
.dyn-text-color-as-border,nav.navigation.pagination .nav-links>span,div.comment-respond input[type=text]:focus,div.comment-respond textarea:focus,div.comment-respond input[type=text]:active,div.comment-respond textarea:active,.wpcf7-form-control:focus,.vc_tta-accordion .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title a {
	border-color:#000000;
}
.dyn-text-color-as-border-important,.beau-button,.wpb_content_element.beau_tabs .beau_tabs_nav>li.ui-tabs-active a,.wpb_content_element.beau_vtabs .beau_tabs_nav li.ui-tabs-active a,button,input[type=reset],input[type=submit] {
	border-color:#000000 !important;
}
.dyn-text-hover-color,body.responsive #mobile-menu-container ul.menu a:hover,body.responsive #mobile-menu-container ul.menu>li.menu-item#mobile-nav-search-container form.searchform label[for=s],article.type-post .beau-article-quote-wrapper .beau-article-icon:hover,article.beau-post-in-list .beau-article-quote-wrapper .beau-article-icon:hover,article.type-post .beau-article-link-wrapper .beau-article-icon:hover,article.beau-post-in-list .beau-article-link-wrapper .beau-article-icon:hover,.beau-single .beau-article-author .beau-article-author-info .beau-article-author-name a:hover,.beau-article-shares-wrapper ul li a,.widget_wysija_cont .wysija-submit,a {
	color:#8d8d8d;
}
.dyn-text-hover-color-important,form.search-form button.search-submit,.vc_tta-accordion .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title a,.wpb_content_element.beau_tabs .beau_tabs_nav>li a,.wpb_content_element.beau_vtabs .beau_tabs_nav li a {
	color:#8d8d8d !important;
}
.dyn-text-hover-as-border,body.responsive #mobile-menu-container ul.menu>li.menu-item#mobile-nav-search-container form.searchform input[name=s],article.type-post .beau-article-quote-wrapper .beau-article-icon:hover,article.beau-post-in-list .beau-article-quote-wrapper .beau-article-icon:hover,article.type-post .beau-article-link-wrapper .beau-article-icon:hover,article.beau-post-in-list .beau-article-link-wrapper .beau-article-icon:hover,article.type-post.sticky,article.beau-post-in-list.sticky,div.comment-respond input[type=text],div.comment-respond textarea,form.search-form,.widget_wysija p.wysija-paragraph input.wysija-input,input[type=text],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=password],textarea,select {
	border-color:#8d8d8d;
}
.dyn-text-hover-as-border-important,.vc_tta-accordion .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title a,.wpb_content_element.beau_tabs .beau_tabs_nav>li a,.wpb_content_element.beau_vtabs .beau_tabs_nav li a {
	border-color:#8d8d8d !important;
}
.dyn-text-hover-as-background,.wpb_content_element.beau_tabs .beau_tabs_nav>li a:before {
	background-color:#8d8d8d;
}
.dyn-footer-bg-color,footer#beau-footer {
	background-color:#ffffff;
}
.dyn-footer-color,footer#beau-footer {
	color:#000000;
}
.dyn-footer-copyright-color,footer#beau-footer #footer-copyright-bar {
	color:#8d8d8d;
}
.dyn-primary-font,article.type-post .beau-article-quote-wrapper blockquote cite,article.beau-post-in-list .beau-article-quote-wrapper blockquote cite,.beau-button,body,select,button,input[type=reset],input[type=submit] {
	font-family:Source Sans Pro;
}
.dyn-secondary-font,blockquote,em,blockquote {
	font-family:Libre Baskerville;
}
.dyn-menu-font,header#beau-header nav #menu-not-assigned,header#beau-header nav div.main-menu .menu-item-has-children>a>span.caret,header#beau-header nav div.main-menu ul.menu>li.menu-item {
	font-family:Source Sans Pro;
}
.dyn-menu-font-size,header#beau-header nav,header#beau-header nav div.main-menu ul.menu>li.menu-item>a {
	font-size:13px;
}
.dyn-menu-sub-font-size,header#beau-header nav div.main-menu .menu-item-has-children>a>span.caret,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item>a,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu>li.menu-item ul.sub-menu>li.menu-item>a {
	font-size:12px;
}
.dyn-mobilemenu-font-size,body.responsive #mobile-menu-container ul.menu a,body.responsive #mobile-menu-container ul.menu>li.menu-item#mobile-nav-search-container form.searchform input[name=s] {
	font-size:17px;
}
.dyn-mobilemenu-sub-font-size,body.responsive #mobile-menu-container ul.menu>li.menu-item ul.sub-menu>li>a {
	font-size:14px;
}
.dyn-heading-font,.beau-page-title .title-wrapper .title {
	font-family:Source Sans Pro;
}
.dyn-header-height,button#navbar-toggle,header#beau-header,header#beau-header #logo-header {
	height:75px;
}
.dyn-header-line-height,header#beau-header nav #menu-not-assigned,header#beau-header nav div.main-menu ul.menu>li.menu-item {
	line-height:75px;
}
.dyn-header-height-as-top,header#beau-header nav div.main-menu ul.menu>li.menu-item>ul.sub-menu {
	top: 75px;
}

#beausc-portfolio-566ad522bf531 .beau-portfolio-items-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}

#beausc-portfolio-566ad522bf531 .beau-portfolio-items-wrapper .beau-portfolio-item {
    padding: 10px;
}

.form-alert {
    display: none;
}

#beausc-portfolio-566ad654bf4e3 .beau-portfolio-items-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}

#beausc-portfolio-566ad654bf4e3 .beau-portfolio-items-wrapper .beau-portfolio-item {
    padding: 10px;
}

#main-container #beausc-portfolio-566ad654bf4e3 .beau-portfolio-masonry-wrapper[data-columns="2"] .beau-portfolio-item.beau-portfolio-width-dx.beau-portfolio-height-x .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad654bf4e3 .beau-portfolio-masonry-wrapper[data-columns="3"] .beau-portfolio-item.beau-portfolio-width-dx.beau-portfolio-height-x .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad654bf4e3 .beau-portfolio-masonry-wrapper[data-columns="4"] .beau-portfolio-item.beau-portfolio-width-dx.beau-portfolio-height-x .beau-portfolio-featured-image-bg {
    padding-top: 50%;
    padding-top: -webkit-calc( 50% - 10px);
    padding-top: -moz-calc( 50% - 10px);
    padding-top: calc( 50% - 10px);
}

#main-container #beausc-portfolio-566ad654bf4e3 .beau-portfolio-masonry-wrapper[data-columns="2"] .beau-portfolio-item.beau-portfolio-width-x.beau-portfolio-height-dx .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad654bf4e3 .beau-portfolio-masonry-wrapper[data-columns="3"] .beau-portfolio-item.beau-portfolio-width-x.beau-portfolio-height-dx .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad654bf4e3 .beau-portfolio-masonry-wrapper[data-columns="4"] .beau-portfolio-item.beau-portfolio-width-x.beau-portfolio-height-dx .beau-portfolio-featured-image-bg {
    padding-top: 200%;
    padding-top: -webkit-calc( 200% + 20px);
    padding-top: -moz-calc( 200% + 20px);
    padding-top: calc( 200% + 20px);
}

#beausc-portfolio-566ad6c61b1bf .beau-portfolio-items-wrapper {
	margin-left: -10px;
	margin-right: -10px;
}
#beausc-portfolio-566ad6c61b1bf .beau-portfolio-items-wrapper .beau-portfolio-item {
	padding: 10px;
}

#beausc-portfolio-566ad6b7e2062 .beau-portfolio-items-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}

#beausc-portfolio-566ad6b7e2062 .beau-portfolio-items-wrapper .beau-portfolio-item {
    padding: 10px;
}

#beausc-portfolio-566ad6be46060 .beau-portfolio-items-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}

#beausc-portfolio-566ad6be46060 .beau-portfolio-items-wrapper .beau-portfolio-item {
    padding: 10px;
}

#beausc-portfolio-566ad6cc802ce .beau-portfolio-items-wrapper {
    margin-left: -37.5px;
    margin-right: -37.5px;
}

#beausc-portfolio-566ad6cc802ce .beau-portfolio-items-wrapper .beau-portfolio-item {
    padding: 37.5px;
}
#main-container #beausc-portfolio-566ad6b7e2062 .beau-portfolio-masonry-wrapper[data-columns="2"] .beau-portfolio-item.beau-portfolio-width-dx.beau-portfolio-height-x .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad6b7e2062 .beau-portfolio-masonry-wrapper[data-columns="3"] .beau-portfolio-item.beau-portfolio-width-dx.beau-portfolio-height-x .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad6b7e2062 .beau-portfolio-masonry-wrapper[data-columns="4"] .beau-portfolio-item.beau-portfolio-width-dx.beau-portfolio-height-x .beau-portfolio-featured-image-bg {
    padding-top: 50%;
    padding-top: -webkit-calc( 50% - 10px);
    padding-top: -moz-calc( 50% - 10px);
    padding-top: calc( 50% - 10px);
}

#main-container #beausc-portfolio-566ad6b7e2062 .beau-portfolio-masonry-wrapper[data-columns="2"] .beau-portfolio-item.beau-portfolio-width-x.beau-portfolio-height-dx .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad6b7e2062 .beau-portfolio-masonry-wrapper[data-columns="3"] .beau-portfolio-item.beau-portfolio-width-x.beau-portfolio-height-dx .beau-portfolio-featured-image-bg,
#main-container #beausc-portfolio-566ad6b7e2062 .beau-portfolio-masonry-wrapper[data-columns="4"] .beau-portfolio-item.beau-portfolio-width-x.beau-portfolio-height-dx .beau-portfolio-featured-image-bg {
    padding-top: 200%;
    padding-top: -webkit-calc( 200% + 20px);
    padding-top: -moz-calc( 200% + 20px);
    padding-top: calc( 200% + 20px);
}

.vc_custom_1446069406797 {
	background-image:url(../upload/home4-bg-1.jpg) !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
.vc_custom_1446069417297 {
	background-image:url(../upload/home4-bg-2.jpg) !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
.vc_custom_1446069429711 {
	background-image:url(../upload/home4-bg-31.jpg) !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1446069438487 {
	background-image:url(../upload/home4-bg-4.jpg) !important;
	background-position:center !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
}

.vc_custom_1442369041029 {
	margin-top:60px !important;
}
.vc_custom_1442343225387 {
	padding-top:24px !important;
}
.vc_custom_1442343189059 {
	padding-bottom:32px !important;
}
.vc_custom_1442343193516 {
	padding-bottom:32px !important;
}
.vc_custom_1442343197099 {
	padding-bottom:32px !important;
}
.vc_custom_1442343229650 {
	padding-bottom:32px !important;
}
.vc_custom_1442343232842 {
	padding-bottom:32px !important;
}
.vc_custom_1442343236267 {
	padding-bottom:32px !important;
}
.vc_custom_1442369033917 {
	margin-top:60px !important;
}
.vc_custom_1442368500082 {
	padding-bottom:32px !important;
}
.vc_custom_1442368503201 {
	padding-bottom:32px !important;
}
.vc_custom_1442368506466 {
	padding-bottom: 32px !important;
}

<style scoped>
.beau-button#beau-button-6 {
    border-width: 1px;
}

.beau-button#beau-button-6 {
    margin: 0 30px;
}
.beau-button#beau-button-7 {
    border-width: 1px;
}

.beau-button#beau-button-7 {
    margin: 0 30px;
}
.beau-button#beau-button-8 {
    border-width: 1px;
}

.beau-button#beau-button-8 {
    margin: 0 30px;
}
.beau-button#beau-button-9 {
    border-width: 1px;
}

.beau-button#beau-button-9 {
    margin: 0 30px;
}
.beau-button#beau-button-10 {
    border-width: 1px;
}

.beau-button#beau-button-10 {
    margin: 0 30px;
}
.beau-button#beau-button-11 {
    border-width: 1px;
}

.beau-button#beau-button-11 {
    margin: 0 30px;
}

.beau-icon-box#beau-icon-box-2 .icon {
    font-size: 24px;
}
.beau-icon-box#beau-icon-box-3 .icon {
    font-size: 24px;
}
.beau-icon-box#beau-icon-box-4 .icon {
    font-size: 24px;
}
.beau-gmap-canvas#beau-gmap-canvas-6 {
    height: 300px;
}
/*Slider Caption Colors and staff...*/
.msp-preset-btn-84{ background-color: #b97ebb;color: #fff; } .msp-preset-btn-84:hover{ background-color:#ca89cc;color: #fff; } .msp-preset-btn-84:active{ top:1px } .msp-preset-btn-85{ background-color: #b97ebb;color: #fff; } .msp-preset-btn-85:hover{ background-color:#ca89cc;color: #fff; } .msp-preset-btn-85:active{ top:1px } .msp-preset-btn-86{ color: #b97ebb;border:solid 1px #b97ebb; } .msp-preset-btn-86:hover{ border-color:#ca89cc;color:#ca89cc } .msp-preset-btn-86:active{ top:1px } .msp-preset-btn-87{ background-color: #b97ebb;color: #fff; } .msp-preset-btn-87:hover{ background-color:#ca89cc;color: #fff; } .msp-preset-btn-87:active{ top:1px } .msp-preset-btn-88{ background-color: #b97ebb;color: #fff;box-shadow:0 5px #9a699c; } .msp-preset-btn-88:hover{ background-color:#ca89cc;box-shadow:0 4px #9a699c;top:1px;color: #fff; } .msp-preset-btn-88:active{ box-shadow:0 2px #9a699c;top:3px; } .msp-preset-btn-89{ background-color: #5472D2;color: #fff; } .msp-preset-btn-89:hover{ background-color:#5d7fe9;color: #fff; } .msp-preset-btn-89:active{ top:1px } .msp-preset-btn-90{ background-color: #5472D2;color: #fff; } .msp-preset-btn-90:hover{ background-color:#5d7fe9;color: #fff; } .msp-preset-btn-90:active{ top:1px } .msp-preset-btn-91{ color: #5472D2;border:solid 1px #5472D2; } .msp-preset-btn-91:hover{ border-color:#5d7fe9;color:#5d7fe9 } .msp-preset-btn-91:active{ top:1px } .msp-preset-btn-92{ background-color: #5472D2;color: #fff; } .msp-preset-btn-92:hover{ background-color:#5d7fe9;color: #fff; } .msp-preset-btn-92:active{ top:1px } .msp-preset-btn-93{ background-color: #5472D2;color: #fff;box-shadow:0 5px #4c68be; } .msp-preset-btn-93:hover{ background-color:#5d7fe9;box-shadow:0 4px #4c68be;top:1px;color: #fff; } .msp-preset-btn-93:active{ box-shadow:0 2px #4c68be;top:3px; } .msp-preset-btn-94{ background-color: #00c1cf;color: #fff; } .msp-preset-btn-94:hover{ background-color:#01D4E4;color: #fff; } .msp-preset-btn-94:active{ top:1px } .msp-preset-btn-95{ background-color: #00c1cf;color: #fff; } .msp-preset-btn-95:hover{ background-color:#01D4E4;color: #fff; } .msp-preset-btn-95:active{ top:1px } .msp-preset-btn-96{ color: #00c1cf;border:solid 1px #00c1cf; } .msp-preset-btn-96:hover{ border-color:#01D4E4;color:#01D4E4 } .msp-preset-btn-96:active{ top:1px } .msp-preset-btn-97{ background-color: #00c1cf;color: #fff; } .msp-preset-btn-97:hover{ background-color:#01D4E4;color: #fff; } .msp-preset-btn-97:active{ top:1px } .msp-preset-btn-98{ background-color: #00c1cf;color: #fff;box-shadow:0 5px #00afbc; } .msp-preset-btn-98:hover{ background-color:#01D4E4;box-shadow:0 4px #00afbc;top:1px;color: #fff; } .msp-preset-btn-98:active{ box-shadow:0 2px #00afbc;top:3px; } .msp-preset-btn-99{ background-color: #4cadc9;color: #fff; } .msp-preset-btn-99:hover{ background-color:#63b2c9;color: #fff; } .msp-preset-btn-99:active{ top:1px } .msp-preset-btn-100{ background-color: #4cadc9;color: #fff; } .msp-preset-btn-100:hover{ background-color:#63b2c9;color: #fff; } .msp-preset-btn-100:active{ top:1px } .msp-preset-btn-101{ color: #4cadc9;border:solid 1px #4cadc9; } .msp-preset-btn-101:hover{ border-color:#63b2c9;color:#63b2c9 } .msp-preset-btn-101:active{ top:1px } .msp-preset-btn-102{ background-color: #4cadc9;color: #fff; } .msp-preset-btn-102:hover{ background-color:#63b2c9;color: #fff; } .msp-preset-btn-102:active{ top:1px } .msp-preset-btn-103{ background-color: #4cadc9;color: #fff;box-shadow:0 5px #1aa2c9; } .msp-preset-btn-103:hover{ background-color:#63b2c9;box-shadow:0 4px #1aa2c9;top:1px;color: #fff; } .msp-preset-btn-103:active{ box-shadow:0 2px #1aa2c9;top:3px; } .msp-preset-btn-104{ background-color: #cec2ab;color: #fff; } .msp-preset-btn-104:hover{ background-color:#cebd9d;color: #fff; } .msp-preset-btn-104:active{ top:1px } .msp-preset-btn-105{ background-color: #cec2ab;color: #fff; } .msp-preset-btn-105:hover{ background-color:#cebd9d;color: #fff; } .msp-preset-btn-105:active{ top:1px } .msp-preset-btn-106{ color: #cec2ab;border:solid 1px #cec2ab; } .msp-preset-btn-106:hover{ border-color:#cebd9d;color:#cebd9d } .msp-preset-btn-106:active{ top:1px } .msp-preset-btn-107{ background-color: #cec2ab;color: #fff; } .msp-preset-btn-107:hover{ background-color:#cebd9d;color: #fff; } .msp-preset-btn-107:active{ top:1px } .msp-preset-btn-108{ background-color: #cec2ab;color: #fff;box-shadow:0 5px #C2B7A2; } .msp-preset-btn-108:hover{ background-color:#cebd9d;box-shadow:0 4px #C2B7A2;top:1px;color: #fff; } .msp-preset-btn-108:active{ box-shadow:0 2px #C2B7A2;top:3px; } .msp-preset-btn-109{ background-color: #50485b;color: #fff; } .msp-preset-btn-109:hover{ background-color:#6a6176;color: #fff; } .msp-preset-btn-109:active{ top:1px } .msp-preset-btn-110{ background-color: #50485b;color: #fff; } .msp-preset-btn-110:hover{ background-color:#6a6176;color: #fff; } .msp-preset-btn-110:active{ top:1px } .msp-preset-btn-111{ color: #50485b;border:solid 1px #50485b; } .msp-preset-btn-111:hover{ border-color:#6a6176;color:#6a6176 } .msp-preset-btn-111:active{ top:1px } .msp-preset-btn-112{ background-color: #50485b;color: #fff; } .msp-preset-btn-112:hover{ background-color:#6a6176;color: #fff; } .msp-preset-btn-112:active{ top:1px } .msp-preset-btn-113{ background-color: #50485b;color: #fff;box-shadow:0 5px #412d5b; } .msp-preset-btn-113:hover{ background-color:#6a6176;box-shadow:0 4px #412d5b;top:1px;color: #fff; } .msp-preset-btn-113:active{ box-shadow:0 2px #412d5b;top:3px; } .msp-preset-btn-114{ background-color: #8d6dc4;color: #fff; } .msp-preset-btn-114:hover{ background-color:#977cc4;color: #fff; } .msp-preset-btn-114:active{ top:1px } .msp-preset-btn-115{ background-color: #8d6dc4;color: #fff; } .msp-preset-btn-115:hover{ background-color:#977cc4;color: #fff; } .msp-preset-btn-115:active{ top:1px } .msp-preset-btn-116{ color: #8d6dc4;border:solid 1px #8d6dc4; } .msp-preset-btn-116:hover{ border-color:#977cc4;color:#977cc4 } .msp-preset-btn-116:active{ top:1px } .msp-preset-btn-117{ background-color: #8d6dc4;color: #fff; } .msp-preset-btn-117:hover{ background-color:#977cc4;color: #fff; } .msp-preset-btn-117:active{ top:1px } .msp-preset-btn-118{ background-color: #8d6dc4;color: #fff;box-shadow:0 5px #7c51c4; } .msp-preset-btn-118:hover{ background-color:#977cc4;box-shadow:0 4px #7c51c4;top:1px;color: #fff; } .msp-preset-btn-118:active{ box-shadow:0 2px #7c51c4;top:3px; } .msp-preset-btn-119{ background-color: #75d69c;color: #fff; } .msp-preset-btn-119:hover{ background-color:#7de5a7;color: #fff; } .msp-preset-btn-119:active{ top:1px } .msp-preset-btn-120{ background-color: #75d69c;color: #fff; } .msp-preset-btn-120:hover{ background-color:#7de5a7;color: #fff; } .msp-preset-btn-120:active{ top:1px } .msp-preset-btn-121{ color: #75d69c;border:solid 1px #75d69c; } .msp-preset-btn-121:hover{ border-color:#7de5a7;color:#7de5a7 } .msp-preset-btn-121:active{ top:1px } .msp-preset-btn-122{ background-color: #75d69c;color: #fff; } .msp-preset-btn-122:hover{ background-color:#7de5a7;color: #fff; } .msp-preset-btn-122:active{ top:1px } .msp-preset-btn-123{ background-color: #75d69c;color: #fff;box-shadow:0 5px #41d67d; } .msp-preset-btn-123:hover{ background-color:#7de5a7;box-shadow:0 4px #41d67d;top:1px;color: #fff; } .msp-preset-btn-123:active{ box-shadow:0 2px #41d67d;top:3px; } .msp-preset-btn-124{ background-color: #222;color: #fff; } .msp-preset-btn-124:hover{ background-color:#333;color: #fff; } .msp-preset-btn-124:active{ top:1px } .msp-preset-btn-125{ background-color: #222;color: #fff; } .msp-preset-btn-125:hover{ background-color:#333;color: #fff; } .msp-preset-btn-125:active{ top:1px } .msp-preset-btn-126{ color: #222;border:solid 1px #222; } .msp-preset-btn-126:hover{ border-color:#333;color:#333 } .msp-preset-btn-126:active{ top:1px } .msp-preset-btn-127{ background-color: #222;color: #fff; } .msp-preset-btn-127:hover{ background-color:#333;color: #fff; } .msp-preset-btn-127:active{ top:1px } .msp-preset-btn-128{ background-color: #222;color: #fff;box-shadow:0 5px #000; } .msp-preset-btn-128:hover{ background-color:#333;box-shadow:0 4px #000;top:1px;color: #fff; } .msp-preset-btn-128:active{ box-shadow:0 2px #000;top:3px; } .msp-preset-btn-129{ background-color: #dedede;color: #666; } .msp-preset-btn-129:hover{ background-color:#d1d1d1;color: #666; } .msp-preset-btn-129:active{ top:1px } .msp-preset-btn-130{ background-color: #dedede;color: #666; } .msp-preset-btn-130:hover{ background-color:#d1d1d1;color: #666; } .msp-preset-btn-130:active{ top:1px } .msp-preset-btn-131{ color: #dedede;border:solid 1px #dedede; } .msp-preset-btn-131:hover{ border-color:#d1d1d1;color:#d1d1d1 } .msp-preset-btn-131:active{ top:1px } .msp-preset-btn-132{ background-color: #dedede;color: #666; } .msp-preset-btn-132:hover{ background-color:#d1d1d1;color: #666; } .msp-preset-btn-132:active{ top:1px } .msp-preset-btn-133{ background-color: #dedede;color: #666;box-shadow:0 5px #CACACA; } .msp-preset-btn-133:hover{ background-color:#d1d1d1;color: #666;box-shadow:0 4px #CACACA;top:1px } .msp-preset-btn-133:active{ box-shadow:0 2px #CACACA;top:3px; } .msp-preset-btn-134{ background-color: #f7be68;color: #fff; } .msp-preset-btn-134:hover{ background-color:#e9b362;color: #fff; } .msp-preset-btn-134:active{ top:1px } .msp-preset-btn-135{ background-color: #f7be68;color: #fff; } .msp-preset-btn-135:hover{ background-color:#e9b362;color: #fff; } .msp-preset-btn-135:active{ top:1px } .msp-preset-btn-136{ color: #f7be68;border:solid 1px #f7be68; } .msp-preset-btn-136:hover{ border-color:#e9b362;color:#e9b362 } .msp-preset-btn-136:active{ top:1px } .msp-preset-btn-137{ background-color: #f7be68;color: #fff; } .msp-preset-btn-137:hover{ background-color:#e9b362;color: #fff; } .msp-preset-btn-137:active{ top:1px } .msp-preset-btn-138{ background-color: #f7be68;color: #fff;box-shadow:0 5px #E7AF59; } .msp-preset-btn-138:hover{ background-color:#e9b362;box-shadow:0 4px #E7AF59;top:1px;color: #fff; } .msp-preset-btn-138:active{ box-shadow:0 2px #E7AF59;top:3px; } .msp-preset-btn-139{ background-color: #5aa1e3;color: #fff; } .msp-preset-btn-139:hover{ background-color:#5faaef;color: #fff; } .msp-preset-btn-139:active{ top:1px } .msp-preset-btn-140{ background-color: #5aa1e3;color: #fff; } .msp-preset-btn-140:hover{ background-color:#5faaef;color: #fff; } .msp-preset-btn-140:active{ top:1px } .msp-preset-btn-141{ color: #5aa1e3;border:solid 1px #5aa1e3; } .msp-preset-btn-141:hover{ border-color:#5faaef;color:#5faaef } .msp-preset-btn-141:active{ top:1px } .msp-preset-btn-142{ background-color: #5aa1e3;color: #fff; } .msp-preset-btn-142:hover{ background-color:#5faaef;color: #fff; } .msp-preset-btn-142:active{ top:1px } .msp-preset-btn-143{ background-color: #5aa1e3;color: #fff;box-shadow:0 5px #4c87bf; } .msp-preset-btn-143:hover{ background-color:#5faaef;box-shadow:0 4px #4c87bf;top:1px;color: #fff; } .msp-preset-btn-143:active{ box-shadow:0 2px #4c87bf;top:3px; } .msp-preset-btn-144{ background-color: #6dab3c;color: #fff; } .msp-preset-btn-144:hover{ background-color:#76b941;color: #fff; } .msp-preset-btn-144:active{ top:1px } .msp-preset-btn-145{ background-color: #6dab3c;color: #fff; } .msp-preset-btn-145:hover{ background-color:#76b941;color: #fff; } .msp-preset-btn-145:active{ top:1px } .msp-preset-btn-146{ color: #6dab3c;border:solid 1px #6dab3c; } .msp-preset-btn-146:hover{ border-color:#76b941;color:#76b941 } .msp-preset-btn-146:active{ top:1px } .msp-preset-btn-147{ background-color: #6dab3c;color: #fff; } .msp-preset-btn-147:hover{ background-color:#76b941;color: #fff; } .msp-preset-btn-147:active{ top:1px } .msp-preset-btn-148{ background-color: #6dab3c;color: #fff;box-shadow:0 5px #5e9334; } .msp-preset-btn-148:hover{ background-color:#76b941;box-shadow:0 4px #5e9334;top:1px;color: #fff; } .msp-preset-btn-148:active{ box-shadow:0 2px #5e9334;top:3px; } .msp-preset-btn-149{ background-color: #f4524d;color: #fff; } .msp-preset-btn-149:hover{ background-color:#e04b47;color: #fff; } .msp-preset-btn-149:active{ top:1px } .msp-preset-btn-150{ background-color: #f4524d;color: #fff; } .msp-preset-btn-150:hover{ background-color:#e04b47;color: #fff; } .msp-preset-btn-150:active{ top:1px } .msp-preset-btn-151{ color: #f4524d;border:solid 1px #f4524d; } .msp-preset-btn-151:hover{ border-color:#e04b47;color:#e04b47 } .msp-preset-btn-151:active{ top:1px } .msp-preset-btn-152{ background-color: #f4524d;color: #fff; } .msp-preset-btn-152:hover{ background-color:#e04b47;color: #fff; } .msp-preset-btn-152:active{ top:1px } .msp-preset-btn-153{ background-color: #f4524d;color: #fff;box-shadow:0 5px #cb4440; } .msp-preset-btn-153:hover{ background-color:#e04b47;box-shadow:0 4px #cb4440;top:1px;color: #fff; } .msp-preset-btn-153:active{ box-shadow:0 2px #cb4440;top:3px; } .msp-preset-btn-154{ background-color: #f79468;color: #fff; } .msp-preset-btn-154:hover{ background-color:#e78a61;color: #fff; } .msp-preset-btn-154:active{ top:1px } .msp-preset-btn-155{ background-color: #f79468;color: #fff; } .msp-preset-btn-155:hover{ background-color:#e78a61;color: #fff; } .msp-preset-btn-155:active{ top:1px } .msp-preset-btn-156{ color: #f79468;border:solid 1px #f79468; } .msp-preset-btn-156:hover{ border-color:#e78a61;color:#e78a61 } .msp-preset-btn-156:active{ top:1px } .msp-preset-btn-157{ background-color: #f79468;color: #fff; } .msp-preset-btn-157:hover{ background-color:#e78a61;color: #fff; } .msp-preset-btn-157:active{ top:1px } .msp-preset-btn-158{ background-color: #f79468;color: #fff;box-shadow:0 5px #da835c; } .msp-preset-btn-158:hover{ background-color:#e78a61;box-shadow:0 4px #da835c;top:1px;color: #fff; } .msp-preset-btn-158:active{ box-shadow:0 2px #da835c;top:3px; }
.msp-cn-5-14 { font-family:"Montserrat";font-weight:normal;font-size:20px;text-align:center;letter-spacing:6px;line-height:normal;color:#fff; } 
.msp-cn-5-15 { padding-top:20px;padding-right:50px;padding-bottom:20px;padding-left:50px;border-top:7px;border-right:7px;border-bottom:7px;border-left:7px;border-style:solid;font-family:"Montserrat";font-weight:700;font-size:50px;text-align:center;letter-spacing:6px;line-height:normal;color:#fff; } 
.msp-cn-5-16 { font-family:"Crimson Text";font-weight:normal;font-size:30px;text-align:center;line-height:normal;color:#fff;font-style:italic; } 
.msp-cn-5-21 { font-family:"Montserrat";font-weight:normal;font-size:20px;text-align:center;letter-spacing:6px;line-height:normal;color:#222222; } 
.msp-cn-5-22 { padding-top:20px;padding-right:50px;padding-bottom:20px;padding-left:50px;border-top:7px;border-right:7px;border-bottom:7px;border-left:7px;border-style:solid;font-family:"Montserrat";font-weight:700;font-size:50px;text-align:center;letter-spacing:6px;line-height:normal;color:#000000; } 
.msp-cn-5-23 { font-family:"Crimson Text";font-weight:normal;font-size:30px;text-align:center;line-height:normal;color:#222222;font-style:italic; } 
.msp-cn-5-24 { font-family:"Montserrat";font-weight:normal;font-size:20px;text-align:center;letter-spacing:6px;line-height:normal;color:#222222; } 
.msp-cn-5-25 { padding-top:20px;padding-right:50px;padding-bottom:20px;padding-left:50px;border-top:7px;border-right:7px;border-bottom:7px;border-left:7px;border-style:solid;font-family:"Montserrat";font-weight:700;font-size:50px;text-align:center;letter-spacing:6px;line-height:normal;color:#000000; } 
.msp-cn-5-26 { font-family:"Crimson Text";font-weight:normal;font-size:20px;text-align:center;line-height:normal;color:#222222;font-style:italic; } 

.nomg img {
	margin-bottom: 0 !important
}

.status-publish  .vc_row {
    padding-top: 0px !important;
    padding-bottom: 50px;
}


.vc_row {
	background-attachment: scroll !important;
}

.wpb_row {
	background-attachment: scroll !important;
}

.vc_row-fluid {
	background-attachment: scroll !important;
}
