body {
    font: normal 15px / 27px "Cairo", Arial, Verdana, sans-serif !important;
    word-spacing: normal;
    color: #85868c;
}

.p-color {
    color: #9bc408
}

.s-color {
    color: #ef7e0c
}

.p-bg {
    color: #9bc408
}

.s-bg {
    color: #ef7e0c
}

.btn-p {
    background: #9bc408;
    color: #fff;
}

.btn-p:hover {
    background: #ef7e0c;
    transition: .5s;
    color: #fff !important;
}

.btn-s {
    background: #ef7e0c;
    color: #fff;
}

.btn-s:hover {
    background: #9bc408;
    transition: .5s;
    color: #fff !important;
}

ul li a {
    color: #333333 !important;
    font-weight: bold;
    font-size: 20px;
}
a.nav-link:hover {
    color: #ef7e0c !important;
    transition: .5s;
}
.section-gap{
    height: 100px;
}
.site-heading h1 {
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}

 .line-wrap::after {
    position: absolute;
    content: '';
    width: 75px;
    height: 4px;
    bottom: 40%;
    right: 0;
    background: #ef7e0c;
    z-index: 9;
}
.line-wrap::before {
    position: absolute;
    content: '';
    width: 75px;
    height: 4px;
    bottom: 40%;
    left: 0;
    background: #ef7e0c;
    z-index: 9;
}









/* Hero area  */
.logo img {
    width: 200px;
}

.hero-area {
    background-repeat: no-repeat;
    background: url("../images/hero.png"), #9bc408;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.hero-text ,.hero-right {
    color: #fff;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}
.hero-text h1{
    font-size: 48px;
    font-weight: bold;
}
.hero-text p{
    font-size: 18px;
}
.hero-right{
    margin-top: 60px;
}
.scroll i.fa{
    margin-left: 50%;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}
/* Service area */
.services-text{
    padding: 25px;
}

/* Client Area */
.clients-wrap .client-item {
    display: block;
    border-bottom: 1px solid #ced4da !important;
    color: rgba(0, 0, 0, 0.5);
    background: #fff;
    position: relative;
    z-index: 1;
}

.clients-wrap .client-item:hover {
    background: #fff;
    -webkit-box-shadow: 4px 0 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 40px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.clients-wrap .client-item.last {
    border-bottom: none !important;
}

.clients-wrap .client-item.hajj {
    border-left: 3px solid #26baee;
}

/* .clients-wrap .client-item.freelance {
    border-left: 3px solid #f8b500;
} */

.clients-wrap .client-item.umrah {
    border-left: 3px solid #f23a2e;
}

.clients-wrap .client-item .company-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
}

.clients-wrap .client-item .company-logo img {
    max-width: 50px;
    border-radius: 4px;
}

.clients-wrap .client-item h3 {
    font-size: 17px;
}

.clients-wrap .client-item .client-details {
    width: calc(100% - 250px);
}

@media (max-width: 1199.98px) {
    .clients-wrap .client-item .client-details {
        width: 100%;
        text-align: center;
    }
}

.clients-wrap .client-item .client-category {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    text-align: center;
}




/* Why Choose us  */
.pricing{
    padding: 90px 0 60px 0;
}
.block-pricing {
    text-align: center;
}
.block {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.block-pricing .table {
    padding: 15px !important;
    margin-bottom: 0px;
}
.block-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}
.block-pricing ul li {
    color: #3C4857;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
h2.category {
    margin: 25px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.block .table {
    min-height: 600px;
}
/* Support area */
.support-area{
    background: #ef7d0c1f;
}
.top-svg{
    background: url("../images/wave.svg");
    height: 100px;
}
.bottom-svg {
    background: url("../images/bottom-wave.svg");
    height: 150px;
    margin-top: -140px;
}
.mobile-wrapper{
    padding: 70px;
}
.sprite-icons {
    margin: auto;
}
.sprite-icons-support {
    background-position: 0px 0px;
    width: 249px;
    height: 160px;
}
.sprite-icons-money-back-guarantee {
    background-position: -249px 0px;
    width: 170px;
    height: 160px;
}
.sprite-icons {
    background-image: url("../favicons/icon.png");
    background-repeat: no-repeat;
    -webkit-background-size: 419px 283px;
    -moz-background-size: 419px 283px;
    background-size: 419px 283px;
}



/* Footer area  */

.footer-area{
    background-repeat: no-repeat;
    background: url("../images/Footer-min.png"),
    #9bc408;
    background-size: cover;
    background-position: center center;
    width: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
.footer{
    padding-top: 75px;
    padding-bottom: 20px;
}
.footer hr{
    background: #ef7e0c;
}