body {
    font: normal 15px / 27px "Cairo", Arial, Verdana, sans-serif !important;
    word-spacing: normal;
    color: #85868c;
    width: 100%;
}

.p-color {
    color: #9bc408
}

.s-color {
    color: #ef7f22
}

.p-bg {
    color: #9bc408
}

.s-bg {
    color: #ef7f22
}

.btn-p {
    background: #9bc408;
    color: #fff;
}

.btn-p:hover {
    background: #ef7f22;
    transition: .5s;
    color: #fff !important;
}

.btn-s {
    background: #ef7f22;
    color: #fff;
}

.btn-s:hover {
    background: #9bc408;
    transition: .5s;
    color: #fff !important;
}

ul li a {
    color: #333333 !important;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item a img {
    margin-right: 10px;
    margin-top: 10px;
}

a.nav-link:hover,
.dropdown-item:hover {
    color: #ef7f22 !important;
    transition: .5s;
}

/* Section Height Wight */
.hero-area {
    height: 100%;
    width: 100%;
}

.nav-area {
    width: 100%;
}

.activiti-area {
    height: 100%;
    width: 100%;
}

.testimonial-area {
    height: 100%;
    width: 100%;
}

.why-area {
    height: 100%;
    width: 100%;
}

.support-area {
    height: 100%;
    width: 100%;
}

.footer-area {
    height: 100%;
    width: 100%;
}


/* Section Gap */
.section-gap {
    height: 100px;
}

/* Section Title */

.section_title_1 {
    width: 60%;
}

.pb_60 {
    padding-bottom: 60px;
}

.color_white {
    color: #000;
}

.section_title_1 .title span {
    display: table;
    font-weight: 600;
    padding-left: 35px;
    text-transform: uppercase;
}

.line_double {
    position: relative;
    text-transform: lowercase;
    padding: 0 50px !important;
}

.line_double::before {
    background-color: #ef7f22 !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    content: "";
    position: absolute;
    width: 35px;
    height: 4px;
    top: 50%;
    left: 0;
}

.line_double::after {
    background-color: #ef7f22 !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    content: "";
    position: absolute;
    width: 35px;
    height: 4px;
    top: 50%;
    right: 0;
}




/* Hero area  */


.hero-area {
    background-repeat: no-repeat;
    background: url("../images/hero.png"), #9bc408;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    margin-top: 110px;
}

.hero-text a.btn.btn-s {
    margin-top: 30px;
}

.hero {
    color: #fff;
    position: relative;
}

.box-inner {
    margin-top: -40%;
    text-align: center;
}

img.img-fluid.makka {
    border-radius: 30%;
    height: 380px;
}

.box-inner h1 {
    font-size: 65px;
    font-weight: bold;
}

/* Service area */
.services-text {
    padding: 25px;
}
.serviceImg {
    padding: 25px;
}

.serviceImg img {
    border-radius: 30px;
    box-shadow: 5px 5px 20px 0px #9bc408;
}
.right img {
    box-shadow: -5px 5px 20px 0px #ef7f22;
}

.servicesTxt {
    font-size: 25px;
    padding: 10px;
    line-height: 1.4;
    color: #262626;
}

.servicesTxt a.btn {
    font-size: 28px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: bold;
}



/* Testimonial */
#testimonial {
    background: #ef7e221c;
}

.rounded-img {
    width: 160px;
}

/* Why Choose us  */
.pricing {
    padding: 90px 0 60px 0;
}

.block-pricing {
    text-align: center;
}

.block {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.block-pricing .table {
    padding: 15px !important;
    margin-bottom: 0px;
}

.block-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}

.block-pricing ul li {
    color: #3C4857;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

h2.category {
    margin: 25px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.block .table {
    min-height: 600px;
}

/* Support area */
.support-area {
    background: #ef7d0c1f;
}


.bottom-svg {
    background: url("../images/curve.svg");
    height: 150px;
    margin-top: -150px;
}

.mobile-wrapper {
    padding: 70px;
}

.sprite-icons {
    margin: auto;
}

.sprite-icons-support {
    background-position: 0px 0px;
    width: 249px;
    height: 160px;
}

.sprite-icons-money-back-guarantee {
    background-position: -249px 0px;
    width: 170px;
    height: 160px;
}

.sprite-icons {
    background-image: url("../favicons/icon.png");
    background-repeat: no-repeat;
    -webkit-background-size: 419px 283px;
    -moz-background-size: 419px 283px;
    background-size: 419px 283px;
}



/* Footer area  */

.footer-area {
    background-repeat: no-repeat;
    background: url("../images/Footer-min.png"),
        #9bc408;
    background-size: cover;
    background-position: center center;
    width: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.footer {
    padding-top: 75px;
    padding-bottom: 20px;
}

.footer hr {
    background: #ef7f22;
}

.footer-text h4 span::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #9bc408;
    left: 49%;
    bottom: 47%;
    z-index: 1;
}

.footer-text h4 span::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 3px;
    background: #ef7f22;
    bottom: 50%;
    left: 38%;
}

.footer-text h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #9bc408;
}


@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px;
    margin: 0 5px;
}

.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff
}

.btn-outline-youtube {
    border: 1px solid #e52d27;
    color: #e52d27
}

.btn-outline-twitter {
    border: 1px solid #2caae1;
    color: #2caae1
}

.btn-outline-dribbble {
    border: 1px solid #ea4c89;
    color: #ea4c89
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38
}

.btn-outline-twitter:hover {
    background: #2caae1;
    color: #ffffff
}

.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff
}

.btn-outline-youtube:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-outline-instagram:hover {
    background: #e52d27;
    color: #ffffff
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff
}

.btn-youtube {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff
}

.btn-dribbble {
    background: #ea4c89;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-instagram {
    background: #dc4a38;
    color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-dribbble:hover,
.btn-dribbble:focus {
    background: #e51e6b;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322;
    color: #ffffff
}

/* CARD ICON */
.template-demo ul li {
    list-style: none;
    float: left;
}

.card-icons {
    margin: auto;
}




/*Scroll Up Css*/
#scrollUp {
    bottom: 0;
    right: 15px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    background: url("../images/top.png") no-repeat scroll 0 0;
    text-indent: -9999px;

}

#scrollUp:hover {
    margin-bottom: 0;
}

/* Sticky Navigation */
.shy-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background: #fff;
    border-bottom: 3px solid rgba(75, 75, 75, 0.13);
}

.is-watching {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}





/* User Registration */
.text-center.social-login {
    margin: 15px 0;
}

.text-center.social-login a i.fa {
    font-size: 25px;
    padding: 5px;
}

a.btn.btn-primary.btn-fb {
    background: #3b5998;
    border: none;
}

a.btn.btn-primary.btn-tw {
    background: #1DA1F2;
    border: none;
}

a.btn.btn-primary.btn-gg {
    background: #4285F4;
    border: none;
}



/* ================
== OUR TEAM
================*/
.meetTeam{
    height: 100vh;
    background:url('../images/hero.png') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size:cover ;
    color: #fff;

}
.apply-button {
    text-align: center;
    border: 2px solid;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding: 12px 20px;
    text-decoration: none;
    width: 200px;
}
.apply-button:hover{
    background: #ef7f22;
    color: #fff;
    border: none;
    text-decoration: none;
    transition: 1s;
}
p.teamTxt {
    color: #fff;
    font-size: 22px;
    line-height: 1.8;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 30px;
}

.avatar img{
    width: 200px;
}



@media only screen and (max-width:479px) {
    .section-gap {
        height: 50px;
    }

    .hero-area {
        height: 100%;
        width: 100%;
    }

    .logo img {
        width: 150px;
    }

    .hero-text {
        padding: 10px;
        height: 100%;
    }

    .hero-text h1 {
        font-size: 26px;
    }

    .hero-text a.btn.btn-s {
        margin-top: 0;
    }

    .hero-right {
        display: none;
    }

    h2.title {
        font-size: 22px;
    }

    .navbar-nav {
        float: right;
        text-align: right;
    }

    .nav-item a img {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .footer-text h4 {
        color: #ddd;
    }
    .pb_60 {
        padding-bottom: 20px;
    }
    .box-inner {
        margin-top: 0;
    }
    .box-inner h1 {
        font-size: 28px;
        margin-top: -97px;
        padding-bottom: 100px;
    }
    img.img-fluid.makka {
        border-radius: 100%;
        height: 180px;
        width: 186px;
        margin-left: 70px;
    }
}

@media only screen and (max-width:575px) {

    .footer-text h4 {
        color: #ddd;
    }

    .hero-text {
        padding: 10px;
        margin-top: 50px;
        height: 100%;
    }

    .hero-text a.btn.btn-s {
        margin-top: 0;
    }

    .hero-right {
        display: none;
    }

    .hero-area {
        height: 100%;
    }
}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:1200px) {}