/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


/*
========================================
Goggle Fonts
========================================
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,800,900&display=swap');

/*
========================================
Css Style
========================================
*/

@import "../css/helper.css";
@import "../css/menu.css";
@import "../css/style.css";

/*
========================================
    style maintain
========================================
*/


/* 
    ## hero-block-right area
    ## blog-right area
    ## singles-blog area
    
*/


/*
========================================
    hero-block-right area
========================================
*/

#hero-blog-right-area {}

.blog-right-hero {
    background-image: url(../img/block/hero-block-right.jpg);
    padding: 210px 0 195px;
    position: relative;
}

.blog-right-hero::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.596);
}

.hero-blog-right-text {}

.hero-blog-right-text h2 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 66px;
    color: #ffffff;
    font-weight: 700;
}

.hero-blog-right-text p {
    font-size: 15px;
    line-height: 66px;
    color: #ffffff;
    display: inline-block;
    position: relative;
}

.hero-blog-right-text p i {
    padding: 0 26px;
    cursor: pointer;
}


/*
========================================
     blog-right area
========================================
*/

#blog-right-area {}

.blog-right-blog {}

.blog-right-home {}

.blog-right-home p {
    font-size: 12px !important;
    text-transform: capitalize;
}

.latest-blog-all-text-right {
    padding: 0 25px 25px !important;
}

a.blog-btn {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid#ffc576;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

a.blog-btn:hover {
    color: #ffc576;
}

.blog-rightside-all {
    background: #313552;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.search-iconbar {
    position: relative;
}

.search-iconbar input::-webkit-input-placeholder {
    color: #7c7c7c;
}

.search-iconbar input::-moz-placeholder {
    color: #7c7c7c;
}

.search-iconbar input:-ms-input-placeholder {
    color: #7c7c7c;
}

.search-iconbar input::-ms-input-placeholder {
    color: #7c7c7c;
}

.search-iconbar input::placeholder {
    color: #7c7c7c;
}

.search-iconbar input {
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: 0;
    background: #23273c;
}

.search-iconbar i {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background: #ffc576;
    color: #23273c;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.search-img-all {
    background-image: url(../img/block/recent-top.png);
    padding: 30px 20px;
    position: relative;
    z-index: 1;
    margin: 40px 0;
    border-radius: 5px;
}

.search-img-all::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.602);
    z-index: -1;
    border-radius: 5px;
}

.search-texts-wrapper {}

.search-texts-wrapper h5 {
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 500;
}

.search-texts-wrapper p {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 300;
    padding: 20px 0 26px;
}

.arrow-form {
    position: relative;
}

.arrow-form input::-webkit-input-placeholder {
    color: #6e6e6e;
}

.arrow-form input::-moz-placeholder {
    color: #6e6e6e;
}

.arrow-form input:-ms-input-placeholder {
    color: #6e6e6e;
}

.arrow-form input::-ms-input-placeholder {
    color: #6e6e6e;
}

.arrow-form input::placeholder {
    color: #6e6e6e;
}

.arrow-form input {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    padding: 8px 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ffc576;
    background: none;
}

.arrow-form i {
    position: absolute;
    top: 50%;
    right: 3px;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background: #ffc576;
    color: #23273c;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.recent-post-blog {}

.recent-post-blog h5 {
    font-size: 18px;
    line-height: 20px;
    color: #ffc576;
    font-weight: 700;
    padding-bottom: 19px;
}

.recent-single-blog {}

.recent-single-blog img {}

.recent-post-blog-text {
    padding: 0 15px;
}

.recent-post-blog-text p {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    margin: -4px;
}

.recent-post-blog-text p i {
    color: #ffc576;
    padding-right: 7px;
}

.recent-post-blog-text p:nth-child(2) {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 13px;
}

.blog-right-catagory-all {}

.blog-right-catagory-all h5 {
    font-size: 18px;
    line-height: 20px;
    color: #ffc576;
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 4px;
}

.catagory-list {}

.catagory-list li {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 13px;
}

.tags-clouds-blog {}

.tags-clouds-blog h5 {
    font-size: 18px;
    line-height: 20px;
    color: #ffc576;
    font-family: "Poppins";
    font-weight: 700;
    padding-top: 33px;
    padding-bottom: 15px;
}

.tags-cloud-list {}

.tags-cloud-list li {
    display: inline-block;
}

.tags-cloud-list li a {
    display: inline-block;
    color: #fff;
    padding: 8px;
    border: 1px solid #ffc576;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 5px;
    border-radius: 10px;
}


/*
========================================
    singles-blog area
========================================
*/

#single-blog-area {}

.singles-blog-all {}

.latest-block-all-text-2 {
    padding: 0 !important;
    border-radius: 0 !important;
    background: none !important;
}

.clipping-bg-blog-area {
    padding: 50px 40px;
    background: #1f2235;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    z-index: 1;
}

.clipping-bg-blog-area::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    background: #313552;
    -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: -1;
}

.blog-para-image-text {}

.blog-para-image-text p {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 25px;
}

.blog-imag-laptop {}

.blog-imag-laptop img {
    width: 100%;
}

.laptop-image-taxts {}

.laptop-image-taxts h4 {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
}

.laptop-image-taxts p {}

.blogs-tags-texts {
    padding: 25px 0;
    border-top: 1px solid #ffc576;
}

.tag-list {
    display: inline-block;
}

.tag-list li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 8px;
}

.tag-list li strong {
    text-transform: uppercase;
}

.tag-social-list {
    float: right;
}

.tag-social-list li {
    display: inline-block;
}

.tag-social-list li strong {}

.tag-social-list li a {
    color: #fff;
    padding: 0px 7px;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    font-size: 12px;
    display: inline-block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.tag-social-list li a i {}

.tag-social-list li:nth-child(1) {}

.tag-social-list li:nth-child(2) a {
    background: #3b5998;
}

.tag-social-list li:nth-child(3) a {
    background: #0e9ccc;
}

.tag-social-list li:nth-child(4) a {
    background: #0571a5;
}

.tag-social-list li:nth-child(5) a {
    background: #dc4e41;
}

.blogs-comment-side {}

.blogs-comment-side h4 {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    padding: 30px 0 40px;
}

.blogs-comment-side h4 span {
    padding-left: 40px;
}

.blog-comment-nesting {}

.blog-comment-nesting:nth-child(3) {
    margin-left: 90px;
}

.blog-comment-nesting img {}

.blog-nestings-txt {
    padding-left: 30px;
}

.blog-nestings-txt h6 {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
}

.blog-nestings-txt p {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
}

.blog-nestings-txt p:nth-child(2) {
    font-size: 12px;
    line-height: 24px;
    padding: 6px 0 9px;
}

.comment-side-form {}

.comment-side-form h4 {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    padding: 18px 0 30px;
}

.comment-form-bottom {}

.input-all {
    position: relative;
    width: 100%;
    height: 57px;
}

.input-all input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ffc576;
    padding: 20px;
    overflow: hidden;
    background: none;
    color: #fff;
}

.input-all label {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.label-contents {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #23273c;
    padding: 0 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #7c7c7c;
}

.textarea-areas {
    height: 210px;
}

.input-all textarea {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    border: 1px solid #ffc576;
    outline: none;
    border-radius: 4px;
    padding: 20px;
    background: none;
}

.input-all input:focus+.label-named .label-contents,
.input-all input:valid+.label-named .label-contents {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    font-size: 15px;
    color: #7c7c7c;
}

.input-all input:focus+.label-named:after,
.input-all input:valid+.label-named:after {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.input-all textarea:focus+.label-named .label-contents,
.input-all textarea:valid+.label-named .label-contents {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    font-size: 13px;
    color: #7c7c7c;
}

.input-all textarea:focus+.label-named:after,
.input-all textarea:valid+.label-named:after {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.blog-hide-padding {
    padding: 0 !important;
    border-radius: 0 !important;
    background: none !important;
}

.search-iconbar-bg {}

.search-iconbar-bg input {
    background: #313552 !important;
}