/* ---------------------------------------------------
    Center Nav
----------------------------------------------------- */

.menu-one {
    position: absolute;
    width: 100%;
    z-index: 11;
    transition: all .3s;
}

.menu-one li {}

.menu-one li a {
    font-size: 14px;
    color: #fff !important;
    font-family: "Poppins";
    font-weight: 700;
    margin: 0 10px;
    transition: .3s;
    position: relative;
}

.menu-one li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 5px);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #ffc576;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.menu-one ul li a:hover::before {
    opacity: 1;
    visibility: visible;
}

.menu-one ul li a:hover {
    color: #ffc576 !important;
}

.menu-one ul li a.active::before {
    opacity: 1;
    visibility: visible;
}

.menu-one ul li a.active {
    color: #ffc576 !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    background: #313552;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(104, 104, 104, 0.49);
    -moz-box-shadow: 0px 2px 5px 0px rgba(104, 104, 104, 0.49);
    box-shadow: 0px 2px 5px 0px rgba(104, 104, 104, 0.49);
}

button#sidebarCollapse {
    outline: none;
    padding: 0;
}

.menu-one #sidebarCollapse i {
    color: #fff;
    font-size: 30px;
    margin-left: 55px;
}


/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- 
*/

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #313552;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    text-align: center;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #ffc576d6;
}

#sidebar ul ul li a:hover {
    color: #ffc576d6;
    background: #fff;
}

#sidebar ul li.active a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
        menu-2
    ----------------------------------------------------- 
*/

.menu-two {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    background: #fff;
}

.menu-two li a {
    font-size: 14px;
    color: #212122 !important;
    font-family: "Poppins";
    font-weight: 700;
    margin: 0 12px;
    transition: .3s;
    position: relative;
}

.menu-two li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 5px);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #c10e0e;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.menu-two ul li a:hover::before {
    opacity: 1;
    visibility: visible;
}

.menu-two ul li a:hover {
    color: #c10e0e !important;
}

.menu-two ul li a.active::before {
    opacity: 1;
    visibility: visible;
}

.menu-two ul li a.active {
    color: #c10e0e !important;
}

.menu-two #sidebarCollapse i {
    color: #c10e0e;
    font-size: 30px;
    margin-left: 45px;
}


/* ---------------------------------------------------
       menu blog
    ----------------------------------------------------- 
*/

.menu-blog {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    background: #22273b;
}

.menu-blog li a {
    font-size: 14px;
    color: #fff !important;
    font-family: "Poppins";
    font-weight: 700;
    margin: 0 12px;
    transition: .3s;
    position: relative;
}

.menu-blog li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 5px);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #ffc576d6;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.menu-blog ul li a:hover::before {
    opacity: 1;
    visibility: visible;
}

.menu-blog ul li a:hover {
    color: #ffc576d6 !important;
}

.menu-blog ul li a.active::before {
    opacity: 1;
    visibility: visible;
}

.menu-blog ul li a.active {
    color: #ffc576d6 !important;
}

.menu-blog #sidebarCollapse i {
    color: #fff;
    font-size: 30px;
    margin-left: 45px;
}