 body {
            font-family: Raleway, Arial, Helvetica, sans-serif;
            font-size: 14px; 
            font-weight: 400; 
            color: #696969;
                    }
        h1,h2,h3,h4,h5,h6,
        input[type="password"],
        input[type="submit"],
        input[type="reset"],
        input[type="button"]
        button,
        .btn,
        .accordion-heading .accordion-toggle,
        .waves-heading .heading-title,
        .tw-breadcrumb,
        .process-title,
        .process-number,
        .nav-tabs>li span,
        .portfolio-overlay .portfolio-meta,
        .waves-pagination ul.page-numbers{font-family: Raleway;}
        h1{ font-size: 36px; color: #343434; }
        h2{ font-size: 24px; color: #343434; }
        h3{ font-size: 18px; color: #343434; }
        h4{ font-size: 16px; color: #343434; }
        h5{ font-size: 14px; color: #343434; }
        h6{ font-size: 12px; color: #343434; }


        /* Header ------------------------------------------------------------------------ */  
        #header, .header-clone { background-color: #fff; }
        #page-title { background-color: #f5f5f5; }
        #header.header-small { background-color: rgba(255,255,255,.9);}

        /* Body BG color ------------------------------------------------------------------------ */  
        body { background: #f5f5f5; }

        .tw-logo { line-height: 80px; height: 80px;}
        .tw-logo { max-height: 80px;}

        /* Menu CSS ------------------------------------------------------------------------ */
        .sf-menu .waves-mega-menu .mega-menu-title { font-family: Raleway, Arial, Helvetica, sans-serif;}
        ul.sf-menu > li a{ font-family: Raleway, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: #696969; }
        ul.sf-menu > li.current-menu-item,ul.sf-menu > li.current_page_item{ background-color: ; }
        
        ul.sf-menu > li > a:after{ color: #21b6a8;}
        ul.sf-menu ul { border-color: #21B6A8;}
        ul.sf-menu ul li.current_page_item[class^="fa-"]:before, .sf-menu ul li.current_page_item[class*=" fa-"]:before,
        ul.sf-menu ul li.current_page_item[class^="icon-"]:before, .sf-menu ul li.current_page_item[class*=" icon-"]:before{
            color: #21B6A8; }
        ul.sf-menu > li.current_page_item:after, .sf-menu > li.current_page_ancestor:after, .sf-menu > li.current-menu-ancestor:after, .sf-menu > li.current-menu-item:after{ background-color:#3b5998;}

        ul.sf-menu > li { padding-top: 33px}
        ul.sf-menu > li { padding-bottom: 33px}

        nav.menu-container .tw-menu-widget { margin-top: 28px}
        nav.menu-container .tw-menu-widget { margin-bottom: 28px}

        /* Pagebuilder Title ----------------------------------------------------- */
        .waves-title h3{font-family: Raleway, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: 700; color: #000000; }
        /* Sidebar Widget Title ----------------------------------------------------- */ 
        h3.widget-title{font-family: Raleway, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 700; color: #343434; }
        /* Footer Widget Title ----------------------------------------------------- */ 
        #bottom h3.widget-title{font-family: Raleway, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: 700; color: #fff; }


        /* Footer ------------------------------------------------------------------------ */  
        #bottom{ background-color: #181e2a; }
        #bottom a:hover,#footer a:hover{ color: #3b5998; }

        /* General Color ------------------------------------------------------------------------ */ 

        ::selection{ background: #3b5998; }
        ::-moz-selection{ background: #3b5998; }

        /* Primary Color Changes */

        /* BG states*/

        .tw-infinite-scroll a, .tw-coming-soon .days,
        .tw-coming-soon .hours, .tw-coming-soon .minutes, .tw-coming-soon .seconds,
        .tw-filters ul.filters li a.selected,
        .service-featured .tw-service-content a.more,
        .waves-portfolio .meta-link a, .waves-portfolio .meta-like,
        ul.waves-list>li>i,
        .accordion-group.active .accordion-toggle,
        #scrollUp, .waves-aboutme .aboutme-meta a i,
        .waves-callout .callout-container,
        .waves-thumbnail .meta-link a,
        .entry-date, .waves-progress .bar,
        .waves-pagination ul.page-numbers li span.current,
        .progress-title span,
        .progress-title span:after,
        ul.sf-menu > li:hover:after,
        .page-template-template-onepage-php .sf-menu > .tw-menu-active:after,
        .wpcf7 input[type="submit"],
        .accordion-group.active .accordion-toggle:after,
        .sticky.hentry,
        .sticky .tw_post_sharebox a,
        button, input[type="submit"], input[type="reset"], input[type="button"],
        .waves-portfolio.style_3 .portfolio-content
        {background-color: #3b5998; }
        
        
        .sidebar-content .sf-menu > li.current_page_item > a,
        .sidebar-content .sf-menu > li.current_page_ancestor >a,
        .sidebar-content .sf-menu > li.current-menu-ancestor >a,
        .sidebar-content .sf-menu > li.current-menu-item > a,
        .sidebar-content .page-template-template-onepage-php .sf-menu > .tw-menu-active > a,
        .sidebar-content ul.sf-menu > li > a:hover
        {background-color: #3b5998; }
        
        .pricing-top, .pricing-footer a,
        .btn
        {background: #3b5998; }

        /* BG Hover states*/

        .tw-service-box:hover.style_2 .tw-font-icon,
        .tagcloud a:hover, #bottom .tagcloud a:hover,
        .waves-pagination ul.page-numbers li a:hover,
        .tw_post_sharebox a:hover,
        .nextprev-postlink .post-link-title a:hover:before, .nextprev-postlink .post-link-title a:hover:after, .nextprev-postlink .home-link a:hover,
        .tw-service-box.style_1:hover .tw-service-content a.more, 
        .waves-team.style_2 .tw-social-icon a:hover,
        .tw-service-content a.more:hover,
        .tw-service-box.left-service.style_2:hover .tw-font-icon, .tw-service-box.right-service.style_2:hover .tw-font-icon,
        .wpcf7 input[type="submit"]:hover,
        article.hentry a.more-link:hover
        {background-color: #3b5998 !important; color: #FFF !important;}

        .pricing-box:hover .pricing-top, .pricing-box:hover .pricing-footer a
        .tw_post_sharebox a:hover,
        {background: #3b5998; }
        
        /* Color states*/
        .waves-breadcrumbs,h3.error404 span, .tw-service-content a:before, 
        .sf-menu .waves-mega-menu .mega-menu-title,
        .testimonial-meta i.fa-star,
        .tw-coming-soon>.sep,#sidebar aside.widget ul li.current-menu-item a,#sidebar aside.widget ul li.current-menu-item:before,
        .posts-tab-widget .nav-tabs>li.active a:after,
        .waves-pagination ul.page-numbers li a, .waves-pagination ul.page-numbers li span,
        .waves-team.style_2 .tw-social-icon a,
        .pricing-header h1,.pricing-header span
        {color: #3b5998; }

        /* Color Hover states*/

        .tw-infinite-scroll a:hover,.nav-tabs>li:hover a,
        .entry-title a:hover,div.entry-meta > span a:hover,
        .entry-meta span:hover i,
        aside ul li a:hover,
        button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
        .testimonial-author a:hover, .nextprev-postlink .post-link-title a:hover, .carousel-meta a, 
        .sf-menu ul.waves-mega-menu [class^="fa-"]:hover:before,
        .sf-menu ul.waves-mega-menu [class*=" fa-"]:hover:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class^="fa-"]:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class*=" fa-"]:before,
        .sf-menu ul.waves-mega-menu [class^="icon-"]:hover:before,
        .sf-menu ul.waves-mega-menu [class*=" icon-"]:hover:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class^="icon-"]:before,
        .sf-menu ul.waves-mega-menu .current_page_item[class*=" icon-"]:before,
        .waves-heading .heading-title>span,
        .tw-service-box.service-featured h3, .tw-service-box:hover.style_2 h3, .tw-service-box:hover.style_1 h3,
        .team-member:hover .member-title h2 a,
        ul.sf-menu li ul.waves-mega-menu li:hover>a,
        .member-social .tw-social-icon a:hover,
        .waves-carousel-text .text-carousel-item:hover .carousel-title a,
        .waves-carousel-text .text-carousel-item:hover .more-link,
        ul.filters li a:hover, .waves-ads:hover a,
        .list_carousel .carousel-title a:hover, .carousel-content .more-text:hover,
        ul.sf-menu > li.btn > a:hover, ul.sf-menu > li.btn:hover > a
        {color: #3b5998; }
        

        /* Border states*/
        .tw-dropcap.dropcap_border,
        .nextprev-postlink .home-link a,
        .service-featured .tw-service-content a.more, .tw-infinite-scroll a,
        .posts-tab-widget .nav-tabs>li.active a,
        .waves-pagination ul.page-numbers li,
        .tab-content,
        .waves-team.style_1 .team-member:hover .member-content,
        .nextprev-postlink .prev-post-link a:before, .nextprev-postlink .next-post-link a:after,
        textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus
        ,.wpcf7 input[type="submit"],
        .btn
        {border-color: #3b5998; }
        
        .pricing-box,.pricing-footer a        
        {border-color: #3b5998; }
        
        .tw-service-box.top-service.style_2:hover,
        .waves-carousel-text .text-carousel-item:hover,
        .tw-service-box.left-service.style_2:hover .tw-font-icon,
        .tw-service-box.right-service.style_2:hover .tw-font-icon,
        .tw-filters ul.filters li a.selected, .tw-filters ul.filters li a:hover,
        .pricing-box:hover, .pricing-box:hover .pricing-footer a,        
        .wpcf7 input[type="submit"]:hover
        {border-color: #3b5998; }

        /* Border Hover states*/

        button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
        #sidebar .tagcloud a:hover,#footer .tagcloud a:hover, .tw-service-content a.more:hover,
        .tw-infinite-scroll a:hover,
        .tagcloud a:hover, #bottom .tagcloud a:hover,
        .tw_post_sharebox a:hover, .waves-ads:hover,
        .tw-service-box.style_1:hover .tw-service-content a.more,
        .btn:hover,
        article.hentry a.more-link:hover
        {border-color: #3b5998; }
        
        .tw-service-box.style_1:hover .tw-font-icon,
        .tw-service-box.left-service.style_2:hover .tw-font-icon, .tw-service-box.right-service.style_2:hover .tw-font-icon
        {border-color: #3b5998 !important; }
        
        .tw-service-box.style_1:hover .tw-font-icon
        {color: #3b5998 !important; }

        .flickr-channel a:before, .dribbble-widget a:before, .tw-recent-portfolios-widget a:before
        {background-color: rgba(59,89,152,.85) ; }

        .image-overlay,.waves-team.style_4 .team-member:hover .member-content
        {background-color: rgba(59,89,152,.6) ; }
        .portfolio-thumb .image-overlay
        {background-color: rgba(59,89,152,.97) ; }
        
        
        .waves-team.style_2 .image-overlay{
            background-color: transparent;
            background-image: -webkit-gradient(
              linear, left top, left bottom, from(transparent),
              to(rgba(59,89,152,1)), color-stop(1,#3b5998)
            );
            background-image: -moz-linear-gradient(
              transparent 0%, rgba(59,89,152,1) 100%
            );
        }
        

        .entry-media blockquote, .waves-aboutme .aboutme-meta a i:hover, #scrollUp:hover{
            background: #2f477a;
        }

        .flickr-channel a:before, .dribbble-widget a:before, .tw-recent-portfolios-widget a:before
        {border-color: #6aa0ff; }
        
        .pricing-box:hover .pricing-footer a:hover
        {color: #4d74c6; }
        
        .pricing-box:hover .pricing-header h1, .pricing-box:hover .pricing-header span, .pricing-column.featured .pricing-header h1, .pricing-column.featured .pricing-header span
        {color: #4d74c6; }
        
        .pricing-box:hover, .pricing-box:hover .pricing-footer a, .pricing-column.featured .pricing-box, .pricing-column.featured .pricing-footer a
        {border-color: #4d74c6; }
        
        .pricing-box:hover .pricing-top, .pricing-box:hover .pricing-footer a, .pricing-column.featured .pricing-top, .pricing-column.featured .pricing-footer a
        {background: #4d74c6; }

        #footer{ background-color: #181e2a; }

                .pace .pace-progress{background-color: #3b5998;}



        /*  Custom CSS */
        .margin-bottom-30{
        position:absolute;
        }
