._1f8a{display:inline;float:left}._1f8b{float:left}
._3mqg{background-color:#666;border-radius:4px;padding:12px}._2awp{display:none}._3w9p ._22mm:first-of-type{margin-left:0}._3mqh{color:#fff;font-size:16px}._2k1{color:#ccc}._5sp{width:300px}

#bootloader_N06NH{height:42px;}.bootloader_N06NH{display:block!important;}