/* Tags */
.widget_mfn_tag_cloud a { color: #767676 !important; background: #fff; text-shadow: 1px 1px 0 #fff; border: 1px solid #E8E8E8; }
.widget_mfn_tag_cloud a span { background: #fff; }
.widget_mfn_tag_cloud a:hover { color: #1b1b1b !important; border: 1px solid #d5d5d5; }
.widget_mfn_tag_cloud a:hover span {}

/* Highlight */
.highlight_image { background: url("images/highlight.png") no-repeat bottom left; }