@font-face {
	font-family: 'core_icomoon';
	src:url('fonts/core_icomoon3093.eot?-4uefhn');
	src:url('fonts/core_icomoond41d.eot?#iefix-4uefhn') format('embedded-opentype'),
		url('fonts/core_icomoon3093.woff?-4uefhn') format('woff'),
		url('fonts/core_icomoon3093.html?-4uefhn') format('truetype'),
		url('fonts/core_icomoon3093.svg?-4uefhn#core_icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ci_icon-"], [class*=" ci_icon-"] {
	font-family: 'core_icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ci_icon-th:before {
	content: "\e600";
}
.ci_icon-asterisk:before {
	content: "\e63e";
}
.ci_icon-remove:before {
	content: "\e601";
}
.ci_icon-home:before {
	content: "\e602";
}
.ci_icon-picture:before {
	content: "\e603";
}
.ci_icon-ok:before {
	content: "\e604";
}
.ci_icon-zerply:before {
	content: "\e605";
}
.ci_icon-instagram:before {
	content: "\e606";
}
.ci_icon-picasa:before {
	content: "\e607";
}
.ci_icon-dribbble:before {
	content: "\e608";
}
.ci_icon-pinterest:before {
	content: "\e609";
}
.ci_icon-soundcloud:before {
	content: "\e60a";
}
.ci_icon-deviantart:before {
	content: "\e60b";
}
.ci_icon-behance:before {
	content: "\e60c";
}
.ci_icon-digg:before {
	content: "\e60d";
}
.ci_icon-moonfull:before {
	content: "\e60e";
}
.ci_icon-dropbox:before {
	content: "\e60f";
}
.ci_icon-tags:before {
	content: "\e610";
}
.ci_icon-chevron-right:before {
	content: "\e611";
}
.ci_icon-chevron-left:before {
	content: "\e612";
}
.ci_icon-chevron-up:before {
	content: "\e613";
}
.ci_icon-chevron-down:before {
	content: "\e614";
}
.ci_icon-stumbleupon:before {
	content: "\e615";
}
.ci_icon-designcontest:before {
	content: "\e616";
}
.ci_icon-lastfm:before {
	content: "\e617";
}
.ci_icon-globe:before {
	content: "\e618";
}
.ci_icon-envelope:before {
	content: "\e619";
}
.ci_icon-shopping-cart:before {
	content: "\e61a";
}
.ci_icon-github:before {
	content: "\e61b";
}
.ci_icon-dropmenu:before {
	content: "\e61c";
}
.ci_icon-unlock:before {
	content: "\e61d";
}
.ci_icon-rawaccesslogs:before {
	content: "\e61e";
}
.ci_icon-search:before {
	content: "\e61f";
}
.ci_icon-keyboardalt:before {
	content: "\e620";
}
.ci_icon-th-list:before {
	content: "\e621";
}
.ci_icon-download-alt:before {
	content: "\e622";
}
.ci_icon-menu:before {
	content: "\e623";
}
.ci_icon-comment:before {
	content: "\e624";
}
.ci_icon-emailalt:before {
	content: "\e625";
}
.ci_icon-star:before {
	content: "\e626";
}
.ci_icon-facebook:before {
	content: "\e627";
}
.ci_icon-skype:before {
	content: "\e628";
}
.ci_icon-youtube:before {
	content: "\e629";
}
.ci_icon-flickr:before {
	content: "\e62a";
}
.ci_icon-forrst:before {
	content: "\e62b";
}
.ci_icon-delicious:before {
	content: "\e62c";
}
.ci_icon-myspace:before {
	content: "\e62d";
}
.ci_icon-phonealt:before {
	content: "\e62e";
}
.ci_icon-googleplus:before {
	content: "\e62f";
}
.ci_icon-linkedin:before {
	content: "\e630";
}
.ci_icon-blogger-blog:before {
	content: "\e631";
}
.ci_icon-vimeo:before {
	content: "\e632";
}
.ci_icon-twitter:before {
	content: "\e633";
}
.ci_icon-draft:before {
	content: "\e634";
}
.ci_icon-rss:before {
	content: "\e635";
}
.ci_icon-calendar:before {
	content: "\e636";
}
.ci_icon-time:before {
	content: "\e637";
}
.ci_icon-shoppingbag:before {
	content: "\e638";
}
.ci_icon-warning:before {
	content: "\e639";
}
.ci_icon-zoom-in:before {
	content: "\e63a";
}
.ci_icon-zoom-out:before {
	content: "\e63b";
}
.ci_icon-resize-full:before {
	content: "\e63c";
}
.ci_icon-linkalt:before {
	content: "\e63d";
}
