@font-face {
	font-family: 'dnd-default-icons';
	src:url('fonts/default-iconsab7f.eot?');
	src:url('fonts/default-iconsd41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/default-iconsab7f.woff?') format('woff'),
		url('fonts/default-iconsab7f.html?') format('truetype'),
		url('fonts/default-iconsab7f.svg?#default-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ABdev_icon-"], [class*=" ABdev_icon-"] {
	font-family: 'dnd-default-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ABdev_icon_spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.ABdev_icon-plus:before {
	content: "\e600";
}
.ABdev_icon-remove:before {
	content: "\e601";
}
.ABdev_icon-minus:before {
	content: "\e602";
}
.ABdev_icon-ok:before {
	content: "\e603";
}
.ABdev_icon-zerply:before {
	content: "\e604";
}
.ABdev_icon-instagram:before {
	content: "\e605";
}
.ABdev_icon-dribbble:before {
	content: "\e606";
}
.ABdev_icon-pinterest:before {
	content: "\e607";
}
.ABdev_icon-picasa:before {
	content: "\e608";
}
.ABdev_icon-deviantart:before {
	content: "\e609";
}
.ABdev_icon-behance:before {
	content: "\e60a";
}
.ABdev_icon-digg:before {
	content: "\e60b";
}
.ABdev_icon-dropbox:before {
	content: "\e60c";
}
.ABdev_icon-chevron-up:before {
	content: "\e60d";
}
.ABdev_icon-stumbleupon:before {
	content: "\e60e";
}
.ABdev_icon-designcontest:before {
	content: "\e60f";
}
.ABdev_icon-lastfm:before {
	content: "\e610";
}
.ABdev_icon-github:before {
	content: "\e611";
}
.ABdev_icon-download-alt:before {
	content: "\e612";
}
.ABdev_icon-comment:before {
	content: "\e613";
}
.ABdev_icon-emailalt:before {
	content: "\e614";
}
.ABdev_icon-facebook:before {
	content: "\e615";
}
.ABdev_icon-skype:before {
	content: "\e616";
}
.ABdev_icon-youtube:before {
	content: "\e617";
}
.ABdev_icon-flickr:before {
	content: "\e618";
}
.ABdev_icon-forrst:before {
	content: "\e619";
}
.ABdev_icon-delicious:before {
	content: "\e61a";
}
.ABdev_icon-myspace:before {
	content: "\e61b";
}
.ABdev_icon-googleplus:before {
	content: "\e61c";
}
.ABdev_icon-linkedin:before {
	content: "\e61d";
}
.ABdev_icon-blogger-blog:before {
	content: "\e61e";
}
.ABdev_icon-vimeo:before {
	content: "\e61f";
}
.ABdev_icon-twitter:before {
	content: "\e620";
}
.ABdev_icon-rss:before {
	content: "\e621";
}
.ABdev_icon-warning-sign:before {
	content: "\e622";
}
.ABdev_icon-zoom-in:before {
	content: "\e623";
}
.ABdev_icon-linkalt:before {
	content: "\e624";
}
