
@media only screen and (min-width: 980px) and (max-width: 1190px) {
	.container,
	.dnd_container{
		width: 960px;
	}

	.boxed_body_wrapper{
		width: 980px;
	}

	.sf-mega{
		width: 960px;
	}

	.timeline_post,
	.timeline_post_first{
		width: 430px;
	}

	#ABdev_sticky_header{
		height: 609px;
	}

	#ABdev_sticky_header_content{
		margin-top: 609px;
	}

	#ABdev_main_slider_text{
		font-size: 50px;
		line-height: 50px;
	}

	#ABdev_main_slider_text .bold{
		font-size: 60px;
		line-height: 60px;
	}

	.flickr_stream img{
		width: 67px;
		height: 67px;
	}

	aside.sidebar .flickr_stream img{
		width: 65px;
		height: 65px;
	}

	.portfolio_icon{
		top: 30%;
	}

	.portfolio_front.portfolio_item_4 .portfolio_icon{
		top: 20%;
	}

	.section_body_fullwidth .portfolio_item_4 .portfolio_icon{
		top: 26%;
	}

	.portfolio_item_5 .portfolio_icon{
		top: 10%;
	}

	.section_body_fullwidth .portfolio_item_5 .portfolio_icon{
		top: 18%;
	}

	.portfolio_item_3_boxed{
		width: 31.7%;
	}

	.portfolio_item_4_boxed{
		width: 32.29%;
	}

	.portfolio_item_4_boxed:nth-of-type(4n){
		margin-right: 10px;
	}

	.portfolio_item_4_boxed:nth-of-type(3n){
		margin-right: 0;
	}

	.portfolio_list_fullwidth .portfolio_item_meta{
		position: relative;
		padding: 40px 50px 40px 65%;
	}

	.portfolio_single_column_item.portfolio_list_fullwidth:nth-child(2n) .portfolio_item_meta{
		position: relative;
		padding: 40px 65% 40px 50px;
	}

	.span9_halved:nth-child(2).content_with_left_sidebar{
		margin-right: 24px;
	}

	.dnd-callout_box_style_1,
	.dnd-callout_box_style_3{
		text-align: center;
	}

	.dnd-callout_box_style_1 .dnd-callout_box_title,
	.dnd-callout_box_style_3 .dnd-callout_box_title{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_1 .dnd-button1,
	.dnd-callout_box_style_3 .dnd-button1{
		display: inline-block;
		text-align: center;
		float: none;
	}

	.dnd-callout_box_style_1{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_3{
		padding-bottom: 64px;
	}

	.dnd-callout_box_style_4 .dnd-button1{
		display: inline-block;
		float: left;
		margin-top: 0;
		margin-bottom: 64px;
	}

	.dnd-callout_box_style_4 p{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_5{
		margin-left: 10px;
		margin-right: 10px;
	}

	.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-bottom: 1px solid #e6ebed;
		border-radius: 0;
	}

	.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li:hover a{
		border-radius: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper,
	.dnd-tabs-position-left.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper{
		margin-left: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li:hover a{
		border-radius: 5px;
	}

	.dnd-tabs-position-top.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-panel,
	.dnd-tabs-position-bottom.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-panel{
		padding: 60px 10px 25px 10px;	
	}

	.dnd-tabs-position-bottom.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper,
	.dnd-tabs-position-right.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper{
		margin-right: 0;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
	}

	.dnd_countdown_inner:nth-child(6) .countdown,
	.dnd_countdown_inner:nth-child(6) span{
		margin-left: 0;
	}

	/*-------- Shop --------*/
	.woocommerce .products .incomeup_products_list_view .stock, 
	.woocommerce-page .products .incomeup_products_list_view .stock{
		float: left;
	}

	.woocommerce ul.products li.product.incomeup_products_list a img, 
	.woocommerce-page ul.products li.product.incomeup_products_list a img{
		border-right: none;
	}

	.woocommerce ul.products li.product.incomeup_products_list .incomeup_products_list_view, 
	.woocommerce-page ul.products li.product.incomeup_products_list .incomeup_products_list_view{
		border-left: 1px solid #e9eaec;
	}

	.woocommerce div.product div.incomeup_single_wish_compare .yith-wcwl-add-to-wishlist,
	.woocommerce-page div.product div.incomeup_single_wish_compare .yith-wcwl-add-to-wishlist{
		height: 60px;
	}

	.landing-height {
		max-height: 500px !important;
	}

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.container,
	.dnd_container,
	.boxed_body_wrapper{
		width: 748px;
	}

	.boxed_body_wrapper{
		width: 100%;
	}

	.split_cols_788 > [class*="span"]{
		width: 100%;
		margin-left: 0;
		margin-bottom: 40px;
	}

	.span9_halved:nth-child(2).content_with_left_sidebar{
		margin-right: 19px;
	}

	#logo,
	.header_layout_3 #logo .logo{
		margin: 20px 0 23px;
	}

	#ABdev_main_header.default,
	#ABdev_main_header.header_layout_1,
	#ABdev_main_header.header_layout_2, 
	#ABdev_main_header.header_layout_3{
		position: static !important;
	}

	.header_layout_1 .widget_search,
	.header_layout_3 .widget_search{
		display: none;
	}

	.search-toggle,
	.top_social_icon,
	.quick_contact_phone, 
	.quick_contact_mail,
	#header_social_info{
		display: none;
	}

	.shop_nav_links{
		margin-left: 0 !important;
		width: 100% !important;
		margin: 11px 0;
	}

	#ABdev_main_header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 40%;
		background: #fff;
		z-index: 100000;
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;
	}

	#ABdev_menu_toggle{
		display: block;
		width: 50px;
		height: 50px;
		line-height: 55px;
		color: #50a2de;
		text-align: center;
		position: fixed;
		right: 5px;
		top: 52px;
		font-size: 18px;
		z-index: 9999999;
		border: 1px solid #e9eaec;
		background: rgba(245,246,248,0.3);
	}

	#ABdev_menu_toggle i{
		position: relative;
		top: -2px;
	}

	.transparent #ABdev_menu_toggle{
		top: 63px;
		background: none;
	}

	#ABdev_header_spacer{
		display: none;
	}

	nav{
		float: none !important;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		background: #232425;
		z-index: 100000;
		overflow-x: hidden;
		display: none;
		box-shadow: none;
	}

	nav > ul{
		padding-left: 30px;
		padding-bottom: 30px;
		width: 100%;
		float: left;
		position: relative;
		border-right: 1px solid #e8eaec;
	}

	nav > ul > li{
		display: block;
		float: none;
		text-align: left;
	}

	nav > ul > li > a,
	#ABdev_main_header.transparent nav > ul > li a{
		display: block;
		width: 100%;
		text-align: left;
		margin-left: 0;
		padding-bottom: 0;
		font-weight: 700;
	}

	nav > ul > li > a > i{
		display: none;
	}

	#ABdev_main_header nav > ul ul,
	#ABdev_main_header.transparent nav > ul ul{
		display: block;
		background: #fff;
		position: static;
		border: none;
		margin: 0;
		padding: 0 0 0 15px;
		box-shadow: none;
	}

	nav > ul > li > ul:before{
		display: none;
	}

	nav > ul li:hover > ul,
	nav > ul li.sfHover > ul{
		display: block;
		z-index: auto;
		position: static;
	}

	nav > ul ul li{
		position: static;
		padding: 0px;
		border-bottom: 0;
		line-height: 28px;
	}

	nav > ul ul li.has_children:hover:after{
		display: none;
	}

	nav > ul ul li a,
	#ABdev_main_header.transparent nav > ul > li a{
		text-transform:none;
		width: 100%;
		text-align: left;
		padding: inherit;
		padding-top: 5px;
	}

	nav > ul ul li:hover,
	#ABdev_main_header.transparent nav > ul ul li:hover{
		background: none;
	}

	nav > ul ul li:hover > a{
		color: #505050 !important;
	}

	nav > ul ul ul{
		position: static;
		margin-top: 0;
		z-index: auto;
		margin-left: 20px;
	}

	nav > ul ul ul:before{
		display: none;
	}

	.sf-arrows .sf-with-ul:after{
		display: none;
	}

	nav > ul > li.menu-item-has-children:hover > a:before,
	nav > ul > li.menu-item-has-children > a:after{
		display: none;
	}

	/*-------- Mega Menu --------*/
	.sf-mega,
	#ABdev_main_header.transparent .sf-mega {
		width: 100%;
		position: static;
		display: block;
		z-index: inherit;
		padding-top: 0px;
		box-shadow: none;
	}

	.megamenu_header a span{
		margin-top: 0;
		color: #848998;
		font-size: 13px;
	}

	.sf-mega-inner,
	#ABdev_main_header.transparent .sf-mega-inner{
		border: none;
		background: none;
	}

	nav > ul .sf-mega-inner,
	#ABdev_main_header.transparent .sf-mega-inner,
	#ABdev_main_header.transparent nav > ul .sf-mega-inner > ul > li{
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul {
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul > li,
	nav > ul .sf-mega-inner > ul > li > ul > li{
		border-right: none;
		padding: 0 0 0 0;
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul > li > a,
	#ABdev_main_header.transparent nav > ul > li a{
		font-size: 13px;
		font-weight: inherit;
		color: inherit !important;
		text-transform: none;
		margin-bottom: 0px;
		padding: 5px 0 0 0;
		margin-top: 0;
	}
		
	nav > ul .sf-mega-inner > ul > li > ul > li a{
		font-size: 13px;
		color: inherit;
		padding: 5px 0 0 0;
	}

	nav > ul .sf-mega-inner a{
		text-transform: none;
		padding: inherit;
		margin-bottom: 0px;
	}
		
	nav > ul .sf-mega-inner a:hover{
		background: none;
	}
		
	nav > ul > .mega1 .sf-mega-inner > ul > li,
	nav > ul > .mega2 .sf-mega-inner > ul > li,
	nav > ul > .mega3 .sf-mega-inner > ul > li,
	nav > ul > .mega4 .sf-mega-inner > ul > li,
	nav > ul > .mega5 .sf-mega-inner > ul > li,
	nav > ul > .mega6 .sf-mega-inner > ul > li,
	nav > ul > .mega7 .sf-mega-inner > ul > li{
		width: 100%;
	}

	nav > ul .sf-mega-inner .description_menu_item,
	nav > ul .use_desc{
		display: none !important;
	}

	.search-box-wrapper{
		top: 0;
		z-index: 9999;
	}

	.search-icon i{
		position: absolute;
		right: 0;
		top: -65px;
	}

	.timeline_post,
	.timeline_post_first{
		width: 324px;
	}

	#frontpage_slider{
		max-height: 488px;
	}

	#ABdev_main_slider_text{
		font-size: 40px;
		line-height: 40px;
	}

	#ABdev_main_slider_text .bold{
		font-size: 50px;
		line-height: 50px;
	}

	#contact_map,
	#contact_streetview{
		height: 488px;
	}

	#ABdev_sticky_header{
		height: 488px;
	}

	#ABdev_sticky_header_content{
		margin-top: 488px;
	}

	.portfolio_icon,
	.portfolio_item_4 .portfolio_icon,
	.portfolio_item_4_boxed .portfolio_icon{
		top: 20%;
	}

	.section_body_fullwidth .portfolio_item_4 .portfolio_icon,
	.section_body_fullwidth .portfolio_item_5 .portfolio_icon{
		top: 26%;
	}

	.portfolio_item_5,
	.portfolio_item_4,
	.portfolio_item_3{
		width: 33.33%;
	}

	.portfolio_item_3_boxed{
		width: 31.3%;
	}

	.portfolio_item_4_boxed{
		width: 31.5%;
	}

	.portfolio_item_4_boxed:nth-of-type(4n){
		margin-right: 10px;
	}

	.portfolio_item_4_boxed:nth-of-type(3n){
		margin-right: 0;
	}

	.portfolio_list_fullwidth .portfolio_item_meta{
		position: relative;
		padding: 40px 40px 40px 65%;
	}

	.portfolio_single_column_item.portfolio_list_fullwidth:nth-child(2n) .portfolio_item_meta{
		position: relative;
		padding: 40px 65% 40px 40px;
	}

	footer #footer_copyright .footer_social_links a:first-child{
		margin-left: 0px;
	}

	footer #footer_copyright .footer_social_links span{
		display: block;
		margin-bottom: 20px;
	}

	.flickr_stream a:nth-child(3n+0){
		margin-right: 9px;
	}

	.flickr_stream img{
		width: 77px;
		height: 77px;
	}

	aside.sidebar .flickr_stream img{
		width: 64px;
		height: 64px;
	}

	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 10px;
	}

	#portfolio_item_meta .portfolio_item_meta_label {
		float: none;
		width: auto;
		display: inline;
	}

	#portfolio_item_meta .portfolio_item_meta_data {
		padding-left: 0px;
		display: inline;
	}

	.blog_category_index_right2 .post_main .post_main_inner_wrapper, 
	.blog_category_index_left2 .post_main .post_main_inner_wrapper, 
	.blog_category_index_none2 .post_main .post_main_inner_wrapper{
		padding-left: 30px;
	}

	.blog_category_index_right2 .post_info, 
	.blog_category_index_left2 .post_info, 
	.blog_category_index_none2 .post_info{
		position: relative;
		text-align: center;
		margin-bottom: 20px;
		top: 0;
		left: 0;
	}

	.blog_category_index_right2 .post_date, 
	.blog_category_index_left2 .post_date, 
	.blog_category_index_none2 .post_date{
		display: inline-block;
	}

	.blog_category_index_right2 .post_type, 
	.blog_category_index_left2 .post_type, 
	.blog_category_index_none2 .post_type{
		display: inline-block;
	}

	.grid_post .post_main_inner_wrapper{
		padding: 20px;
	}

	.mini2_post .row .span6{
		width: 100%;
		margin-left: 0;
	}

	.mini2_post .row .span6:first-child{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_1,
	.dnd-callout_box_style_3{
		text-align: center;
	}

	.dnd-callout_box_style_1 .dnd-callout_box_title,
	.dnd-callout_box_style_3 .dnd-callout_box_title{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_1 .dnd-button1,
	.dnd-callout_box_style_3 .dnd-button1{
		display: inline-block;
		text-align: center;
		float: none;
	}

	.dnd-callout_box_style_1{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_3{
		padding-bottom: 64px;
	}

	.dnd-callout_box_style_2{
		margin-left: 10px;
		margin-right: 10px;
	}

	.dnd-callout_box_style_4,
	.dnd-callout_box_style_5{
		margin-left: 10px;
		margin-right: 10px;
	}

	.dnd-callout_box_style_4 .dnd-button1{
		display: inline-block;
		float: left;
		margin-top: 0;
		margin-bottom: 64px;
	}

	.dnd-callout_box_style_4 p{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_5 .dnd-icon-button {
		float: left !important;
		margin-top: 15px;
		margin-left: 0;
		margin-bottom: 60px;
	}

	.dnd_blockquote_wide{
		padding: 50px 0 0 0; 
	}

	.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-bottom: 1px solid #e6ebed;
		border-radius: 0;
	}

	.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li:hover a{
		border-radius: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper,
	.dnd-tabs-position-left.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper{
		margin-left: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li:hover a{
		border-radius: 5px;
	}

	.dnd-tabs-position-top.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-panel,
	.dnd-tabs-position-bottom.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-panel{
		padding: 60px 10px 25px 10px;	
	}

	.dnd-tabs-position-bottom.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper,
	.dnd-tabs-position-right.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper{
		margin-right: 0;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
	}

	.dnd_pricebox_feature_button .dnd-button.dnd-button_large{
		padding: 11px 10px;
	}

	.boxed_button{
		padding: 9px 10px;
		margin-left: -20px;
	}

	.big_404{
		font-size: 137px;
	}

	.list_right{
		float: left;
	}

	.spacer_responsive_hide_tablet{
		display: none !important;
	}

	.dnd_shortcode_ul{
		margin-bottom: 20px;
	}

	.dnd_countdown_inner:nth-child(6) .countdown,
	.dnd_countdown_inner:nth-child(6) span{
		margin-left: 0;
	}

	.dnd_countdown_inner:nth-child(5) .countdown,
	.dnd_countdown_inner:nth-child(5) span{
		margin-left: 0;
		margin-right: 26px;
	}

	/*-------- Shop --------*/
	.woocommerce a.button, 
	.woocommerce-page a.button{
		padding: 11px 40px;
	}

	.woocommerce .products .button.compare, 
	.woocommerce-page .products .button.compare{
		padding: 11px 15px;
	}

	.yith-wcwl-wishlistexistsbrowse,
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-add-button a.add_to_wishlist, 
	.yith-wcwl-wishlistaddedbrowse, 
	.yith-wcwl-wishlistexistsbrowse{
		margin-right: 0;
		margin-bottom: 0;
	}

	.woocommerce .products .product_loop_hover_rating, 
	.woocommerce-page .products .product_loop_hover_rating{
		padding: 0;
		position: static;
		display: inline-block;
	}

	.products_loop_image_wrapper{
		border-bottom: 0;
	}

	.yith-wcwl-add-to-wishlist .ajax-loading{
		position: absolute !important;
	}

	.woocommerce .products .incomeup_products_list_view .stock, 
	.woocommerce-page .products .incomeup_products_list_view .stock,
	.woocommerce #content div.product .stock, 
	.woocommerce div.product .stock, 
	.woocommerce-page #content div.product .stock, 
	.woocommerce-page div.product .stock{
		float: left;
	}

	.woocommerce ul.products li.product.incomeup_products_list .incomeup_products_list_view, 
	.woocommerce-page ul.products li.product.incomeup_products_list .incomeup_products_list_view{
		padding-top: 18px;
		border-left: 1px solid #e9eaec;
	}

	.woocommerce ul.products li.product.incomeup_products_list a img, 
	.woocommerce-page ul.products li.product.incomeup_products_list a img{
		border-right: none;
	}

	.woocommerce .product_badges span.featured, 
	.woocommerce-page .product_badges span.featured,
	.woocommerce .incomeup_single_product_details .related .product_badges span.featured, 
	.woocommerce-page .incomeup_single_product_details .related .product_badges span.featured{
		top: 48px;
		right: 2px;
	}

	.woocommerce ul.products li.product.incomeup_products_list .price, 
	.woocommerce-page ul.products li.product.incomeup_products_list .price{
		margin-bottom: 15px;
	}

	.woocommerce ul.products li.product.incomeup_products_list .count, 
	.woocommerce-page ul.products li.product.incomeup_products_list .count{
		float: left;
	}

	.product .category{
		margin-bottom: 18px;
	}

	.woocommerce .incomeup_products_list .product_badges span.featured, 
	.woocommerce-page .incomeup_products_list .product_badges span.featured{
		top: 20px;
	}

	.woocommerce ul.products li.product.incomeup_products_list .cart_list_item .button, 
	.woocommerce-page ul.products li.product.incomeup_products_list .cart_list_item .button{
		margin-bottom: 20px;
	}

	.woocommerce ul.products li.product.incomeup_products_list .rating, 
	.woocommerce-page ul.products li.product.incomeup_products_list .rating{
		float: none;
	}

	.woocommerce .products .incomeup_products_list_view .star-rating, 
	.woocommerce-page .products .incomeup_products_list_view .star-rating{
		margin-right: 10px;
	}

	.woocommerce div.product div.incomeup_single_wish_compare .yith-wcwl-add-to-wishlist,
	.woocommerce-page div.product div.incomeup_single_wish_compare .yith-wcwl-add-to-wishlist{
		height: 60px;
	}

	.landing-height {
		max-height: 400px !important;
	}


}


@media only screen and (max-width: 767px){

	.title_bar .row > [class*="span"],
	.boxed_body_wrapper{
		margin-bottom: 0px;
		width: 100%;
	}

	.row{
		margin-bottom: 0;
	}

	.row > [class*="span"]{
		width: 100%;
		margin-left: 0;
		margin-bottom: 40px;
	}

	.dnd_container [class*="column_dd_span"]{
		width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}

	.dnd_container [class*="column_dd_span"]:last-child{
		margin-bottom: 0;
	}

	.span9_halved{
		width: 100% !important;
	}

	.span9_halved:nth-child(2).content_with_left_sidebar{
		margin-right: 0;
	}

	.dnd_section_dd header p{
		padding: 0;
	}
	
	.search-toggle,
	.top_social_icon,
	.quick_contact_phone, 
	.quick_contact_mail,
	#header_social_info{
		display: none;
	}

	.shop_nav_links{
		width: 100% !important;
		margin: 11px 0 !important;
	}

	.shop_nav_links,
	.search-toggle{
		display: none;
	}

	.transparent .shop_nav_links{
		text-align: center;
	}

	#logo{
		margin: 10px 0;
	}

	header{
		height: auto;
		margin-top: 0 !important;
		position: static;
	}

	header .container{
		position: relative;
	}

	#logo,
	.header_layout_1 #logo,
	.header_layout_2 #logo .logo{
		margin: 20px 0 23px;
	}

	.header_layout_1 #logo p.cart_right{
		width: 100%;
		margin: 20px 0;
	}

	.header_layout_2 #logo{
		margin: 11px 0;
		text-align: center;
	}

	.header_layout_2 #logo .logo{
		float: none;
	}

	.header_layout_3 #logo{
		text-align: center;
		margin: 20px 0 23px;
	}

	.header_layout_3 #logo .logo{
		float: none;
		margin: 0;
	}

	.header_layout_3 p{
		text-align: center;
	}
	
	#ABdev_sticky_header{
		margin-top: 0 !important;
		position: static;
	}

	header.ABdev_on_sticky_header{
		position: static;
	}

	.transparent #ABdev_menu_toggle{
		background: none;
	}

	#ABdev_menu_toggle{
		display: block;
		width: 50px;
		height: 50px;
		line-height: 55px;
		color: #50a2de;
		text-align: center;
		position: fixed;
		right: 15px;
		top: 52px;
		font-size: 24px;
		z-index: 9999999;
		border: 1px solid #e9eaec;
		background: rgba(245,246,248,0.3);
	}

	#ABdev_menu_toggle i{
		position: relative;
		top: -2px;
	}

	#ABdev_main_header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 70%;
		background: #fff;
		z-index: 100000;
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;
	}

	nav > ul{
		clear: both;
		padding-left: 30px;
		padding-bottom: 30px;
		width: 100%;
		float: left;
		position: relative;
		border-right: 1px solid #e8eaec;
	}

	nav > ul > li{
		display: block;
		float: none;
		text-align: left;
	}

	nav > ul > li > a,
	#ABdev_main_header.transparent nav > ul > li a{
		display: block;
		width: 100%;
		text-align: left;
		margin-left: 0;
		padding-bottom: 0;
		font-weight: 700;
	}

	nav > ul > li > a > i{
		display: none;
	}

	#ABdev_main_header nav > ul ul,
	#ABdev_main_header.transparent nav > ul ul{
		display: block;
		background: #fff;
		position: static;
		border: none;
		margin: 0;
		padding: 0 0 0 15px;
		box-shadow: none;
	}

	nav > ul > li > ul:before{
		display: none;
	}

	nav > ul li:hover > ul,
	nav > ul li.sfHover > ul{
		display: block;
		z-index: auto;
		position: static;
	}

	nav > ul ul li{
		position: static;
		padding: 0px;
		border-bottom: 0;
		line-height: 28px;
	}

	nav > ul ul li.has_children:hover:after{
		display: none;
	}

	nav > ul ul li a,
	#ABdev_main_header.transparent nav > ul > li a{
		text-transform:none;
		width: 100%;
		text-align: left;
		padding: inherit;
		padding-top: 5px;
	}

	nav > ul ul li:hover,
	#ABdev_main_header.transparent nav > ul ul li:hover{
		background: none;
	}

	nav > ul ul li:hover > a{
		color: #50a2de !important;
	}

	nav > ul ul ul{
		position: static;
		margin-top: 0;
		z-index: auto;
		margin-left: 20px;
	}

	nav > ul ul ul:before{
		display: none;
	}

	.sf-arrows .sf-with-ul:after{
		display: none;
	}

	nav > ul > li.menu-item-has-children:hover > a:before,
	nav > ul > li.menu-item-has-children > a:after{
		display: none;
	}

		/*-------- Mega Menu --------*/
	.sf-mega,
	#ABdev_main_header.transparent .sf-mega {
		width: 100%;
		position: static;
		display: block;
		z-index: inherit;
		padding-top: 0px;
		box-shadow: none;
	}

	.megamenu_header a span{
		margin-top: 0;
		color: #848998;
		font-size: 13px;
	}

	.sf-mega-inner,
	#ABdev_main_header.transparent .sf-mega-inner{
		border: none;
		background: none;
	}

	nav > ul .sf-mega-inner,
	#ABdev_main_header.transparent .sf-mega-inner,
	#ABdev_main_header.transparent nav > ul .sf-mega-inner > ul > li{
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul {
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul > li,
	nav > ul .sf-mega-inner > ul > li > ul > li{
		border-right: none;
		padding: 0 0 0 0;
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul > li > a,
	#ABdev_main_header.transparent nav > ul > li a{
		font-size: 13px;
		font-weight: inherit;
		color: inherit !important;
		text-transform: none;
		margin-bottom: 0px;
		padding: 5px 0 0 0;
		margin-top: 0;
	}

	nav > ul .sf-mega-inner > ul > li > ul > li a{
		font-size: 13px;
		color: inherit;
		padding: 5px 0 0 0;
	}

	nav > ul .sf-mega-inner a{
		text-transform: none;
		padding: inherit;
		margin-bottom: 0px;
	}
		
	nav > ul .sf-mega-inner a:hover{
		background: none;
	}
		
	nav > ul > .mega1 .sf-mega-inner > ul > li,
	nav > ul > .mega2 .sf-mega-inner > ul > li,
	nav > ul > .mega3 .sf-mega-inner > ul > li,
	nav > ul > .mega4 .sf-mega-inner > ul > li,
	nav > ul > .mega5 .sf-mega-inner > ul > li,
	nav > ul > .mega6 .sf-mega-inner > ul > li,
	nav > ul > .mega7 .sf-mega-inner > ul > li{
		width: 100%;
	}

	nav > ul .sf-mega-inner .description_menu_item,
	nav > ul .use_desc{
		display: none !important;
	}

	#ABdev_main_slider{
		height: 230px;
	}

	.tp-caption.incomeup_title:after{
		display: none;
	}

	.container,
	.dnd_container{
		width: 90%;
	}

	#ABdev_main_header.default,
	#ABdev_main_header.header_layout_1,
	#ABdev_main_header.header_layout_2, 
	#ABdev_main_header.header_layout_3{
		position: static !important;
	}

	.header_layout_1 #logo p:first-child{
		display: none;
	}

	.header_layout_1 .widget_search,
	.header_layout_2 .widget_search,
	.header_layout_3 .widget_search{
		display: none;
	}

	.header_layout_2 #logo p.cart_right{
		text-align: center;
		float: none;
		padding-top: 5px;
	}

	#ABdev_main_header.transparent{
		padding: 0;
	}

	#ABdev_main_header.transparent #logo{
		float: none;
		text-align: center;
	}

	#ABdev_header_spacer{
		display: none;
	}

	#ABdev_main_header{
		padding-left: 10px;
		padding-right: 10px;
	}

	#title_breadcrumbs_bar .breadcrumbs{
		text-align: left;
	}

	#title_breadcrumbs_bar .span4{
		margin-bottom: 0;
	}

	#frontpage_slider{
		max-height: none;
	}

	#ABdev_main_slider_logo{
		padding: 0 20px;
	}

	#ABdev_main_slider_text{
		font-size: 30px;
		line-height: 30px;
	}

	#ABdev_main_slider_text .bold{
		font-size: 40px;
		line-height: 40px;
	}

	.ABdev_main_slider_scroll_icon,
	.ABdev_main_slider_scroll_info{
		margin-bottom: 10px;
	}

	#ABdev_main_slider_scroll {
		bottom: 10px;
	}

	#contact_map,
	#contact_streetview{
		height: 300px;
	}

	#ABdev_sticky_header{
		height: auto;
	}

	#ABdev_sticky_header_content{
		margin-top: 0px;
	}

	.timeline_post,
	.timeline_post_first{
		width: 100%;
	}

	#timeline_posts{
		background: none;
	}

	.timeline_post_left:after,
	.timeline_post_right:after{
		display: none;
	}

	#ABdev_main_footer{
		text-align: center;
	}

	#footer_columns{
		padding-bottom: 20px;
	}

	footer #footer_copyright .footer_copyright,
	footer #footer_copyright .footer_social{
		margin-bottom: 10px;
	}

	.tagcloud a{
		float: none;
	}

	.rpwe-thumb{
		position: relative;
	}

	#ABdev_main_footer .rpwe-title{
		text-align: center;
	}

	#ABdev_main_footer .rpwe-block li{
		padding-left: 0;
		padding-right: 0;
	}

	.contact_info_widget p{
		padding-left: 0;
	}

	.contact_info_widget i{
		position: relative;
		top: 2px;
	}

	.textwidget{
		padding-right: 0;
	}

	.flickr_stream{
		text-align: center;
	}

	.flickr_stream a{
		float: none;
	}

	.flickr_stream a:nth-child(3n+0),
	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 10px;
	}

	aside.sidebar_right,
	aside.sidebar_left{
		padding-left: 0;
		padding-right: 0;
	}

	.rpwe-alignleft{
		float: none !important;
		margin-bottom: 5px !important;
	}

	#rpwe_widget-3 .rpwe-clearfix{
		padding-left: 0;
		text-align: center;
	}

	.tagcloud{
		text-align: center;
	}

	#tag_cloud-3 .tagcloud a{
		float: none;
	}

	.sidebar-widget-heading h3{
		text-align: center;
	}

	.widget_recent_comments .recentcomments{
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.portfolio_icon{
		top: 22%;
	}

	.portfolio_item_4_boxed .portfolio_icon,
	.portfolio_item_4 .portfolio_icon{
		top: 22%;
	}

	.section_body_fullwidth .portfolio_item_5 .portfolio_icon,
	.section_body_fullwidth .portfolio_item_4 .portfolio_icon{
		top: 26%;
	}

	.portfolio_item_4,
	.portfolio_item_3,
	.row.portfolio_2column .span6,
	.row.portfolio_3column .span4,
	.row.portfolio_4column .span3,
	.portfolio_item_5,
	.portfolio_item_4_boxed,
	.portfolio_item_3_boxed{
		width: 100%;
	}

	.row.portfolio_2column .span6,
	.row.portfolio_3column .span4,
	.row.portfolio_4column .span3{
		margin-left: 0;
	}

	.portfolio_4column .portfolio_inner_content{
		margin-bottom: 0;
	}

	.portfolio_single_column_item.portfolio_list_fullwidth .overlayed{
		width: 100%;
		margin: 0 0 15px 0;
	}

	.portfolio_list_fullwidth .portfolio_item_meta,
	.portfolio_single_column_item.portfolio_list_fullwidth:nth-child(2n) .portfolio_item_meta{
		padding: 15px 0;
	}

	.portfolio_item_image{
		margin-bottom: 0;
	}

	.portfolio_item_4_boxed:nth-of-type(4n),
	.portfolio_item_4_boxed:nth-of-type(3n),
	.portfolio_item_4_boxed{
		margin-right: 0;
	}

	#single_portfolio_pagination_layout2 .span12{
		margin-bottom: 0;
	}

	#page404 .big_404{
		font-size: 100px;
		line-height: 200px;
	}

	.content_with_right_sidebar{
		padding-right: 0;
	}

	.content_with_left_sidebar{
		padding-left: 0;
	}

	.comment{
		padding-left: 0;
	}

	.comment .children{
		padding-left: 80px;
	}

	.comment .avatar{
		display: none;
	}

	.comment .reply,
	.comment .edit-link{
		display: inline-block;
	}

	.post_content .post_badges{
		display: none;
	}

	#blog_pagination .prev,
	#blog_pagination .next {
		position: static;
	}

	#blog_pagination .page-numbers{
		margin-bottom: 20px;
	}

	.blog_category_index .post_main, 
	.blog_category_index .post_main{
		margin-left: 0px;
	}

	.blog_category_index_right2 .post_info, 
	.blog_category_index_left2 .post_info, 
	.blog_category_index_none2 .post_info,
	.blog_category_index_right3 .post_info, 
	.blog_category_index_left3 .post_info, 
	.blog_category_index_none3 .post_info{
		position: relative;
		top: 0;
		left: 50%;
		margin-left: -77px;
		margin-bottom: 20px;
		display: inline-block;
	}

	.blog_category_index_right2 .post_type, 
	.blog_category_index_left2 .post_type, 
	.blog_category_index_none2 .post_type,
	.blog_category_index_right3 .post_type, 
	.blog_category_index_left3 .post_type, 
	.blog_category_index_none3 .post_type{
		display: inline-block;
		text-align: center;
		float: right;
	}

	.blog_category_index_right2 .post_date, 
	.blog_category_index_left2 .post_date, 
	.blog_category_index_none2 .post_date,
	.blog_category_index_right3 .post_date, 
	.blog_category_index_left3 .post_date, 
	.blog_category_index_none3 .post_date{
		float: left;
		display: inline-block;
		margin-right: 10px;
	}

	.blog_category_index_right2 .post_main .post_main_inner_wrapper, 
	.blog_category_index_left2 .post_main .post_main_inner_wrapper, 
	.blog_category_index_none2 .post_main .post_main_inner_wrapper,
	.blog_category_index_right3 .post_main .post_main_inner_wrapper, 
	.blog_category_index_left3 .post_main .post_main_inner_wrapper, 
	.blog_category_index_none3 .post_main .post_main_inner_wrapper,
	.blog_category_index_dual .post_main .post_main_inner_wrapper,
	.grid_post .post_main_inner_wrapper{
		padding: 30px 15px 30px 15px;
	}

	.blog_category_index_right_mini .post_main img, 
	.blog_category_index_left_mini .post_main img, 
	.blog_category_index_none_mini .post_main img,
	.mini2_post img,
	.mini2_post iframe,
	.mini2_post .videoWrapper-youtube, 
	.mini2_post .videoWrapper-vimeo,
	.blog_category_index_right_mini .post_main iframe, 
	.blog_category_index_left_mini .post_main iframe, 
	.blog_category_index_none_mini .post_main iframe,
	.blog_category_index_right_mini .post_main .videoWrapper-youtube, 
	.blog_category_index_left_mini .post_main .videoWrapper-youtube, 
	.blog_category_index_none_mini .post_main .videoWrapper-youtube,
	.blog_category_index_right_mini .post_main .videoWrapper-vimeo, 
	.blog_category_index_left_mini .post_main .videoWrapper-vimeo, 
	.blog_category_index_none_mini .post_main .videoWrapper-vimeo{
		width: 100%;
		position: relative;
	}

	.blog_category_index_right_mini .has-post-thumbnail .post_main, 
	.blog_category_index_left_mini .has-post-thumbnail .post_main, 
	.blog_category_index_none_mini .has-post-thumbnail .post_main,
	.mini2_post.has-post-thumbnail .post_main_inner_wrapper{
		padding: 0 !important;
	}

	.blog_category_index_right_mini .has-post-thumbnail .post_content, 
	.blog_category_index_left_mini .has-post-thumbnail .post_content, 
	.blog_category_index_none_mini .has-post-thumbnail .post_content{
		padding-bottom: 0;
	}

	.blog_category_index_right_mini .has-post-thumbnail .post_main .wp-post-image, 
	.blog_category_index_left_mini .has-post-thumbnail .post_main .wp-post-image, 
	.blog_category_index_none_mini .has-post-thumbnail .post_main .wp-post-image,
	.mini2_post.has-post-thumbnail .post_main_inner_wrapper .wp-post-image{
		margin-bottom: 0;
	}

	.post_content .post_main{
		padding-left: 0;
	}

	.mini2_post .post_main_inner_wrapper{
		padding: 30px 15px 0 15px;
	}

	.blog_category_index_right_mini .post_main, 
	.blog_category_index_left_mini .post_main, 
	.blog_category_index_none_mini .post_main{
		padding: 10px !important;
	}

	.blog_category_index_dual .post_main .videoWrapper-vimeo, 
	.blog_category_index_dual .post_main .videoWrapper-youtube, 
	.blog_category_index_dual .post_main iframe{
		height: 100%;
	}

	.blog_category_index_right #blog_pagination .pagination, 
	.blog_category_index_left #blog_pagination .pagination, 
	.blog_category_index_none #blog_pagination .pagination{
		text-align: center;
	}

	.post_main .postmeta-above .post_meta_comments{
		float: none;
	}

	.post_meta_tags i{
		margin-left: 0 !important;
	}

	.portfolio_filter li {
		margin: 5px;
	}

	.portfolio_filter li a{
		border: 1px solid #e1e9e9;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.wpcf7 .span6:first-child{
		margin-bottom: 0;
	}

	.dnd_posts_shortcode.dnd_posts_shortcode-1{
		text-align: center;
	}

	.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_thumb{
		float: none;
	}

	.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_thumb img{
		margin-bottom: 20px;
	}

	.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_content,
	.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_content h5,
	.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_content .date_container,
	.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_content p{
		padding-left: 0;
		padding-right: 0;
	}

	.dnd_shortcode_ul{
		margin-bottom: 20px;
	}

	.dnd_shortcode_ul li{
		text-align: left;
	}

	.dnd-callout_box .dnd-button{
		margin-top: 30px;
	}

	.dnd_stats_excerpt{
		margin-bottom: 60px;
	}

	.dnd_metro_box{
		margin-bottom: 20px;
	}

	.dnd-animo{
		text-align: center;
	}

	.dnd_team_member .dnd_overlayed img{
		margin-bottom: 0;
	}

	.dnd_team_member_modal_close{
		top: 30px;
		right: 10px;
	}

	.dnd_container .rev_slider_wrapper{
		margin-bottom: 40px !important;
	}

	.dnd_pricing-table-1,
	.dnd_pricing-table-2{
		margin-bottom: 40px;
	}

	.dnd_pricing-table-1 .dnd_plan,
	.dnd_pricing-table-2 .dnd_plan{
		margin-top: 0;
	}

	.dnd_blockquote_wide{
		padding: 50px 0 0 0; 
	}

	.dnd-callout_box_style_1,
	.dnd-callout_box_style_3{
		text-align: center;
		margin-left: 30px;
		margin-right: 30px;
	}

	.dnd-callout_box_style_1 .dnd-callout_box_title,
	.dnd-callout_box_style_3 .dnd-callout_box_title{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_1 .dnd-button1,
	.dnd-callout_box_style_3 .dnd-button1{
		display: inline-block;
		text-align: center;
		float: none;
	}

	.dnd-callout_box_style_1{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_2,
	.dnd-callout_box_style_5{
		margin-left: 0;
		margin-right: 0;
	}

	.dnd-callout_box_style_3{
		padding-bottom: 64px;
		padding-left: 30px;
		padding-right: 30px;
		margin-right: 0;
		margin-left: 0;
	}

	.dnd-callout_box_style_4 .dnd-button1{
		display: inline-block;
		float: left;
		margin-top: 0;
		margin-bottom: 64px;
	}

	.dnd-callout_box_style_4 p{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_2 .dnd-button1{
		margin-bottom: 20px;
	}

	.dnd-callout_box_style_5 .dnd-icon-button {
		float: left !important;
		margin-top: 15px;
		margin-left: 0;
		margin-bottom: 60px;
	}

	.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-bottom: 1px solid #e6ebed;
		border-radius: 0;
	}

	.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li:hover a{
		border-radius: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper,
	.dnd-tabs-position-left.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper{
		margin-left: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-left.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li:hover a{
		border-radius: 5px;
	}

	.dnd-tabs-position-top.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-panel,
	.dnd-tabs-position-bottom.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-panel{
		padding: 60px 10px 25px 10px;	
	}

	.dnd-tabs-position-bottom.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper,
	.dnd-tabs-position-right.dnd-tabs-unboxed.dnd-tabs-fullwidthtabs .dnd-tabs-wrapper{
		margin-right: 0;
	}

	.dnd-tabs-position-right.dnd-tabs-boxed.dnd-tabs-fullwidthtabs .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: 0;
	}

	.dnd_service_box.dnd_service_box_round_text_aside.right_icons .dnd_icon_boxed{
		left: 0;
	}

	.dnd_service_box.dnd_service_box_round_text_aside.right_icons .dnd_service_box_header,
	.dnd_service_box.dnd_service_box_round_text_aside.right_icons p{
		text-align: left;
	}

	.dnd_service_box.dnd_service_box_round_text_aside.right_icons{
		padding-top: 13px;
		padding-left: 73px;
		padding-right: 10px;
	}

	.dnd_service_box_unboxed_round{
		padding: 0 17px 0;
	}

	.service_box_process_empty:last-child:after,
	.service_box_process_full:first-child:after,
	.service_box_process_full:after,
	.service_box_process_empty:after{
		display: none;
	}

	.dnd_stats_excerpt{
		margin-bottom: 0;
	}

	.dnd_countdown .dnd_countdown_inner{
		width: 100%;
	}

	.dnd_countdown_inner:first-of-type > .countdown, 
	.dnd_countdown_inner:first-of-type > span,
	.dnd_countdown_inner:last-of-type > .countdown, 
	.dnd_countdown_inner:last-of-type > span,
	.dnd_countdown_inner .countdown,
	.dnd_countdown_inner span{
		margin-left: auto;
		margin-right: auto;
	}

	.ABt_testimonials_wrapper.testimonials_big,
	.ABt_testimonials_wrapper_static.testimonials_big{
		padding-left: 0;
		padding-right: 0;
	}

	.ABt_testimonials_wrapper.picture_bottom .testimonial_small img, 
	.ABt_testimonials_wrapper_static.picture_bottom .testimonial_small img{
		left: 50%;
		margin-left: -130px;
	}

	.ABt_testimonials_wrapper.picture_bottom .testimonial_small .source, 
	.ABt_testimonials_wrapper_static.picture_bottom .testimonial_small .source{
		left: 50%;
		margin-left: -45px;
	}

	.ABt_testimonials_wrapper.picture_bottom .ABt_pagination, 
	.ABt_testimonials_wrapper_static.picture_bottom .ABt_pagination{
		right: 50%;
		margin-right: -55px;
		bottom: -40px;
	}

	.ABt_testimonials_wrapper.picture_bottom, 
	.ABt_testimonials_wrapper_static.picture_bottom{
		margin-bottom: 60px;
	}

	.ABss_inline_form p:first-child{
		width: 95% !important;
	}

	.big_404{
		font-size: 140px;
	}

	.column_title_left{
		text-align: center;
	}

	.list_left{
		margin-right: 10px;
	}

	.list_right{
		float: left;
	}

	.padding_left100,
	.padding_left70{
		padding-left: 0;
	}

	.padding_right100{
		padding-right: 0;
	}

	.alignleft{
		float: none;
		margin-right: 0;
	}

	.alignright{
		float: none;
		margin-left: 0;
	}

	.spacer_responsive_hide_mobile{
		display: none !important;
	}

	/*-------- Shop --------*/
	.woocommerce .products .product_loop_hover_rating, 
	.woocommerce-page .products .product_loop_hover_rating{
		height: auto;
		position: static;
		display: inline-block;
	}

	.products_loop_image_wrapper{
		border-bottom: 0;
	}

	.woocommerce .products_loop_image_wrapper .product_loop_hover_rating .stock_info p, 
	.woocommerce-page .products_loop_image_wrapper .product_loop_hover_rating .stock_info p{
		margin-bottom: 0;
	}

	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product,
	.woocommerce ul.products li.product.incomeup_products_list a img, 
	.woocommerce-page ul.products li.product.incomeup_products_list a img{
		width: 100%;
	}

	.woocommerce input.button,
	.woocommerce-page input.button,
	.woocommerce button.button,
	.woocommerce-page button.button{
		padding: 11px 35px;
	}

	.woocommerce .cart-collaterals input.checkout-button, 
	.woocommerce-page .cart-collaterals input.checkout-button{
		padding: 11px 10px !important;
	}

	.woocommerce ul.products li.product a, 
	.woocommerce-page ul.products li.product a{
		float: none;
		margin-bottom: 0;
	}

	.yith-wcwl-add-to-wishlist{
		float: right;
		margin-right: 20px;
	}

	.yith-wcwl-wishlistaddedbrowse a, 
	.yith-wcwl-wishlistexistsbrowse a,
	.yith-wcwl-wishlistaddedbrowse, 
	.yith-wcwl-wishlistexistsbrowse{
		margin-right: 0;
		margin-bottom: 0;
	}

	aside .widget.woocommerce{
		text-align: center;
	}

	aside .widget .product-categories li .count,
	.woocommerce .widget_layered_nav ul li a, 
	.woocommerce .widget_layered_nav ul li span, 
	.woocommerce-page .widget_layered_nav ul li a, 
	.woocommerce-page .widget_layered_nav ul li span,
	.woocommerce .widget_layered_nav ul small.count, 
	.woocommerce-page .widget_layered_nav ul small.count{
		float: none;
		margin-left: 0;
	}

	.woocommerce ul.products li.product.incomeup_products_list .incomeup_products_list_view, 
	.woocommerce-page ul.products li.product.incomeup_products_list .incomeup_products_list_view{
		margin-left: 0;
	}

	.woocommerce ul.products li.product.incomeup_products_list a img, 
	.woocommerce-page ul.products li.product.incomeup_products_list a img{
		border-right: none;
	}

	.woocommerce .product_badges span.new, 
	.woocommerce-page .product_badges span.new,
	.woocommerce .incomeup_products_list .product_badges span.onsale.list_view, 
	.woocommerce-page .incomeup_products_list .product_badges span.onsale.list_view{
		top: -60px;
	}

	.woocommerce .incomeup_products_list .product_badges span.onsale.list_view, 
	.woocommerce-page .incomeup_products_list .product_badges span.onsale.list_view{
		right: 5px;
		left: auto;
	}

	.woocommerce .products .incomeup_products_list_view .stock, 
	.woocommerce-page .products .incomeup_products_list_view .stock{
		float: left;
	}

	.woocommerce div.product div.incomeup_single_wish_compare .yith-wcwl-add-to-wishlist,
	.woocommerce-page div.product div.incomeup_single_wish_compare .yith-wcwl-add-to-wishlist{
		height: 60px;
	}

	.woocommerce .woocommerce-ordering select, 
	.woocommerce-page .woocommerce-ordering select{
		margin-bottom: 20px;
	}

	.woocommerce .related ul li.product, 
	.woocommerce .related ul.products li.product, 
	.woocommerce .upsells.products ul li.product, 
	.woocommerce .upsells.products ul.products li.product, 
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce-page .upsells.products ul li.product, 
	.woocommerce-page .upsells.products ul.products li.product,
	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images,
	.woocommerce #content div.product div.summary, 
	.woocommerce div.product div.summary, 
	.woocommerce-page #content div.product div.summary, 
	.woocommerce-page div.product div.summary{
		width: 100%;
	}

	.woocommerce div.product form.cart div.quantity,
	.woocommerce-page div.product form.cart div.quantity{
		margin-bottom: 20px;
	}

	.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
	.woocommerce div.product .woocommerce-tabs ul.tabs li, 
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, 
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li{
		width: 100%;
	}

	.woocommerce .col2-set .col-2, 
	.woocommerce-page .col2-set .col-2,
	.woocommerce .col2-set .col-1, 
	.woocommerce-page .col2-set .col-1{
		width: 100%;
	}

	.woocommerce .col6-set, 
	.woocommerce-page .col6-set,
	#order_review .shop_table, 
	#order_review #payment{
		width: 100%;
	}

	
	.landing-height {
		max-height: 400px !important;
	}

}

