.ab-tweet-scroller{
    border: 1px dashed #000;
    overflow: hidden;
    height: 0;
}

.ab-tweet-scroller-inner{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

.ab-tweet-item{
    text-align: center;
    padding: 20px;
}

.ab-tweet-date{
    display: block;
}

.ab-tweet-links{
    padding-top: 10px;
}

.ab-tweet-links a{
    padding: 3px 5px;
}

.ab-tweet-navigation{
    text-align: center;
}