
/******************* Background ********************/

		
	html { 
		background-color:#f7f8f8; background-image:url(../images/patterns/pattern.png); background-repeat:repeat; background-position:center; background-attachment:; -webkit-background-size:; background-size:;
	}

/********************** Fonts **********************/

 	body, button, input[type="submit"], input[type="reset"], input[type="button"],
	input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: normal;
	}
	
	#menu > ul > li > a {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: normal;
	}
	
	h1 {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h2 {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h3 {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h4 {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h5 {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}
	
	h6 {
		font-family: Raleway, Arial, Tahoma, sans-serif;
		font-weight: 300;
	}


/********************** Font sizes **********************/

/* Body */

	body {
		font-size: 14px;
				line-height: 22px;		
	}
	
	#menu > ul > li > a {	
		font-size: 14px;
	}
	
/* Headings */

	h1 { 
		font-size: 43px;
				line-height: 43px;
	}
	
	h2 { 
		font-size: 40px;
				line-height: 40px;
	}
	
	h3 {
		font-size: 35px;
				line-height: 37px;
	}
	
	h4 {
		font-size: 30px;
				line-height: 34px;
	}
	
	h5 {
		font-size: 23px;
				line-height: 28px;
	}
	
	h6 {
		font-size: 16px;
				line-height: 23px;
	}

	@media only screen and (max-width: 767px) {
		h1 { 
						font-size: 38px;
						line-height: 38px;
		}
		
		h2 { 
						font-size: 33px;
			line-height: 33px;
		}
		
		h3 { 
						font-size: 30px;
			line-height: 30px;
		}
	}