
/********************** Backgrounds **********************/

	

/************************ Colors ************************/

/* Content font */
	body {
		color: #787e87;
	}
	
/* Links color */
	a {
		color: #f94c3f;
	}
	a:hover {
		color: #ac3d35;
	}
	
/* Selections */
	*::-moz-selection {
		background-color: #f94c3f;
	}
	*::selection {
		background-color: #f94c3f;		
	}

/* Grey notes */
	.latest_posts_wrapper .desc .date, .icon_links h6, blockquote .author a, .progress_bars .bars_list li h6 .label,
	.post_meta > div span, .post_meta > div.comments a, .post_meta .category a, .post_meta .tags a, .pager a.page, .post_navigation a.post_control,
	.wp-caption .wp-caption-text, .Recent_posts ul li .desc p {
		color: #a5a5a5;
	}
	
/* Strong */
	.contact_box ul li i, .contact_box ul li.address,
	.team .desc p.subtitle, .pager a.page.active, .comment-author .fn, .widget > h3 {
		color: #733f3c;
	}

/* Text hightlight, dropcap */
	.highlight, .dropcap {
		background: #f94c3f;
		color: #ffffff;
	}

/* Buttons */
	a.button, input[type="reset"], input[type="button"] {
		background-color: #f94c3f;
		color: #ffffff;
	}
	a.button:after, a.tp-button:after, button:after, input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after {
		background: #f94c3f;
	}
	
/* Submit */
	input[type="submit"] {
		background-color: #53302e;
		color: #ffffff;
	}

/* Photo border */
	.latest_posts_wrapper .photo, .Recent_posts ul li .photo, .post_photo .photo_wrapper, .gallery .gallery-item .gallery-icon {
		background: #ffffbe;
	}
	
/* Headings font */
	h1, h1 a, h1 a:hover { color: #39464e; }
	h2, h2 a, h2 a:hover { color: #39464e; }
	h3, h3 a, h3 a:hover { color: #39464e; }
	h4, h4 a, h4 a:hover { color: #37414e; }
	h5, h5 a, h5 a:hover { color: #37414e; }
	h6, h6 a, h6 a:hover { color: #37414e; }	

/* Addons */
	#Header .addons, #Header .language > a {
		color: #aaaaaa;
	}
	
/* Social & Search */
	.social {
		background-color: #53302e;
	}
	.social li a {
		color: #c0736f !important;
	}
	.social li a:hover {
		color: #ffffff !important;
	}
	
/* Subheader */
	#Subheader {
		background-color: #f7f9f9;
	}
	#Subheader .title {
		color: #39464e;
	}
	#Subheader ul.breadcrumbs li, #Subheader ul.breadcrumbs li a { 
		color: #B2B3BA;
	}
	
/* Menu */
	#Header #menu {
		background-color: #f94c3f;
	}
	#Header .menu > li > a {
		color: #ffffff;
	}
	
	#Header .menu > li.current-menu-item > a,
	#Header .menu > li.current_page_item > a,
	#Header .menu > li.current-menu-ancestor > a,
	#Header .menu > li.current_page_ancestor > a {
		background: #f94c3f;
		color: #ffffff !important;
	}

	#Header .menu > li > a:hover,
	#Header .menu > li.hover > a {
		background: #53302e;
		color: #ffffff !important;
	}
	
	#Header .menu > li ul {
		background: #ffffff;
	}
	
	#Header .menu > li ul li a {
		color: #5f5f5f;
	}

	#Header .menu > li ul li a:hover, #Header .menu > li ul li.hover > a {
		color: #2e2e2e;
	}	
			
/* Faq & Accordion & Tabs */
	.accordion .question h5, .faq .question h5 {
		color: #23384e;
	}
	.faq .active h5, .accordion .active h5 {
		color: #f94c3f;
	}
	.accordion .active, .faq .active {
		border-color: #f94c3f;
		color: #4C6580;
	}
	
/* Tabs */
	.ui-tabs .ui-tabs-nav li a {
		color: #767676;
	}
	
	.ui-tabs .ui-tabs-nav li.ui-state-active a {
		color: #52302e; 
	}
	
	.ui-tabs .ui-tabs-nav li.ui-state-active { 
		border-color: #fb5d51;
	}
	
/* Info box */	
	.info_box {
		background: #f3f2f0;
	}

/* Latest posts */		
	.latest_posts_wrapper .desc h6 a {
		color: #53302e;
	}

/* Progress bar */
	.progress_bars .bars_list li .bar .progress {
		background-color: #f94c3f;
	}
	
/* Testimonials & Blockquote */
	.testimonials_wrapper, .blockquote:before, .blockquote:after {
		border-color: #F94C3F;
	}
	
/* Testimonials pagination */
	.owl-pagination .owl-page.active span {
		background: #53302e !important;
	}
	
/* Fancy header */
	.fancy_heading .fancy_heading_wrapper:after, .fancy_heading_wrapper.has_icon:before {
		border-color: #F94C3F;
	}
	.fancy_heading i {
		color: #733f3c;
	}
	
/* Offer */
	.offer .offer_wrapper .owl-controls .owl-pagination-wrapper {
		background-color: #53302e;
	}
	.offer .offer_wrapper .owl-controls .owl-page.active:after {
		border-left-color: #53302e;
	}
	@media only screen and (max-width: 959px) {
		.offer .offer_wrapper .owl-controls .owl-page.active {
			background: #53302e !important;
		}
	}
	
/* Quick fact */
	.quick_fact_wrapper .number {
		color: #F94C3F;
	}
	.quick_fact_wrapper .title {
		color: #53302e;
	}
	
/* Call to action */
	.call_to_action .inner-padding {
		background-color: rgba(83, 48, 46, 0.8);
	}
	.call_to_action_wrapper {
		border-color: #764441;
	}
	.call_to_action h4 {
		color: #ffffff;
	} 
	.call_to_action h4 span {
		color: #FFCDC9;
	}

/* Pricing box */
	.pricing-box .plan-header .price {
		color: #733f3c;
	}
	.pricing-box {
		border-color: #F4F4F4;
	}
	.pricing-box-featured {
		border-color: #D6EEFC;
		background: #F6FBFE;	
	}	
	
/* Portfolio page */
	.Projects_header .categories ul li.current-cat a, .Projects_header .categories ul li a:hover {
		color: #f94c3f;
	}

/* Mfn-slider */
	#mfn-slider .swiper-controls .swiper-pagination-switch {
		background: #ffffff;
	}
	#mfn-slider .swiper-controls .swiper-active-switch { 
		background: #53302E;
	}	
	
/* Sidebar  ***********************************************/
	.widget_mfn_menu ul li a {
		color: #737373;
	}
	.widget_mfn_menu ul li a:hover {
		color: #444444;
	}
	
/* Footer  ***********************************************/
	.footer_line .container {
		background: #f94c3f;
	}
	.widgets_wrapper {
		color: #797b7f;
	}
	.widgets_wrapper a {
		color: #f94c3f;
	}
	.widgets_wrapper a:hover {
		color: #ac3d35;
	}
	.widgets_wrapper h1, .widgets_wrapper h1 a, .widgets_wrapper h1 a:hover,
	.widgets_wrapper h2, .widgets_wrapper h2 a, .widgets_wrapper h2 a:hover,
	.widgets_wrapper h3, .widgets_wrapper h3 a, .widgets_wrapper h3 a:hover,
	.widgets_wrapper h4, .widgets_wrapper h4 a, .widgets_wrapper h4 a:hover,
	.widgets_wrapper h5, .widgets_wrapper h5 a, .widgets_wrapper h5 a:hover,
	.widgets_wrapper h6, .widgets_wrapper h6 a, .widgets_wrapper h6 a:hover,
	.company_box p.copy strong, .widgets_wrapper .Recent_comments ul li p a {
		color: #53302e;
	}
	.widgets_wrapper aside > h4 {
		color: #767676;
	}
	
	/* Icons */
	.widgets_wrapper i {
		color: #937a79;
	}
	
	/* Grey notes */
	.footer_menu ul li a, .widgets_wrapper .Recent_posts ul li p, .widgets_wrapper .Recent_comments ul li p, .copyright, .copyright a {
		color: #98a3ab;
	}
	
	/* Photo border */
	.widgets_wrapper .Recent_posts ul li .photo {
		background: #ffffbe;
	}	
