.custom-rating .card-title {
	display: inline-flex;
	color: #4f5163;
    font-size: 1.5rem;
}
h5 { font-size: 0.875rem; }
.custom-rating i.active { color: #ffbb44; }
.custom-rating i {
	color: #888ea8;
	vertical-align: text-top;
}
.custom-rating .card-text { color: #3232b7; }
.custom-rating .media .numeric-value { color: #4f5163; }
.custom-rating .media i {
	color: #ffbb44;
	vertical-align: baseline;
}
.custom-rating .media .progress { margin-top: 7px; }
.custom-rating .media .like-count { color: #4f5163; }
.rating .star { color: #888ea8; }
.rating:not(.static) .star:hover { color: #ffbb44; }
.button {
	border: 1px #e9ecef solid;
    color: #888ea8;
}
.button:hover { border-color: #3232b7; }
.button:active {
    background: #fff;
    color: #3b3f5c;
    box-shadow: none;
}
.input-control input:hover { border-color: #3232b7; }
.input-control input { border: 1px #e9ecef solid; }
.rating .star.on { color: #ffbb44; }
.rating .star.on.half:after { color: #ffbb44; }
.rating .star.on.half { color: #888ea8; }
.rating:not(.static):hover > .star, .rating:not(.static):hover > .star:after { color: #ffbb44; }
.rating.poor .star.on { color: #3862f5; }
.rating.regular .star.on { color: #00d1c1; }
.rating.regular .star.on.half:after { color: #00d1c1; }
.rating.regular .star.on.half { color: #888ea8; }
.rating.good .star.on.half { color: #888ea8; }
.rating.good .star.on { color: #ee3d50; }
.rating.good .star.on.half:after { color: #ee3d50; }
.rating:not(.static) .star:hover.half, .rating:not(.static) .star:hover.on.half { color: #ffbb44; }
.rating:not(.static) .star:hover.half:after, .rating:not(.static) .star:hover.on.half:after { color: #ffbb44; }






















































































































































































































