/* ======================
    Backgrounds
   ====================== */
body {
    background-color: rgb(255,255,255);background-color: rgba(255,255,255,1);}
#header-inner-wrap,
body.header-transparent #header #header-inner-wrap.no-transparent {
    background-color: rgb(255,255,255);background-color: rgba(255,255,255,1);	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
body.header-transparent #header #header-inner-wrap {
	-webkit-transition: background .25s ease, box-shadow .25s ease;
	-moz-transition: background .25s ease, box-shadow .25s ease;
	-o-transition: background .25s ease, box-shadow .25s ease;
	transition: background .25s ease, box-shadow .25s ease;
}
#content {
    background-color: rgb(255,255,255);background-color: rgba(255,255,255,1);}
#bottom-widgets {
    background-color: rgb(32,32,32);background-color: rgba(32,32,32,1);}
#footer {
    background-color: rgb(0,0,0);background-color: rgba(0,0,0,1);}
.page-title-module-custom {
	background-color: rgb(232,232,232);background-color: rgba(232,232,232,1);	padding: 32px 0px;
}
#navigation .sub-menu,
#mobile-menu, #mobile-menu ul {
	background-color: #141414;
}
.sb-slidebar {
	background-color: #141414;
}

/* ======================
    Typography
   ====================== */
body {
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #7e7e7e;
  line-height: 29px;
  letter-spacing: 0px;
  text-transform: none;    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

h1 {
	font: normal normal 47px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 68px;
  letter-spacing: 6px;
  text-transform: uppercase;}
h2 {
	font: normal normal 38px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 50px;
  letter-spacing: 6px;
  text-transform: uppercase;}
h3 {
  font: normal normal 30px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 45px;
  letter-spacing: 3px;
  text-transform: uppercase;}
h4 {
  font: normal normal 20px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: none;}
h5, #reply-title {
  font: normal normal 20px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;}
h6 {
  font: normal normal 13px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;}
#navigation {
    font: normal 600 11px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #8D8D8D;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;;
}
.thumb-title,
.full-screen-portfolio-overlay-title {
    font: normal normal 13px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;;
}
#footer {
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #868686;
  line-height: 14px;
  letter-spacing: 0px;
  text-transform: none;}
#bottom-widgets h6 {
    font: normal normal 13px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;    margin-bottom:20px;
}
#bottom-widgets {
    font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #9f9f9f;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: none;}
.sidebar-widgets h6 {
   font: normal normal 13px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;   margin-bottom:20px;
}
.sidebar-widgets {
	font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #7e7e7e;;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: none;}
#navigation .sub-menu,
#mobile-menu {
	font: normal normal 11px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #a2a2a2;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;}

#slidebar-menu {
	font: normal normal 11px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #a9a9a9;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;}
.sb-slidebar .widget {
  font: normal normal 14px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #9f9f9f;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: none;}
.sb-slidebar .widget h6 {
  font: normal normal 13px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;}
#bottom-widgets .widget ul li a, #bottom-widgets a {
	color: inherit;
}
#bottom-widgets .widget ul li a:hover, #bottom-widgets a:hover {
	color: #26cda4;
}

#mobile-menu a,
#navigation .menu > ul > li.mega > ul > li {
  border-color: #303030;
}
#slidebar-menu a {
  border-color: #303030;
}

.page-title-module-custom .page-title-custom {
  font: normal normal 20px "Open Sans","Open Sans","Arial",sans-serif; 
  color: #000000;
  line-height: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;}
.page-title-module-custom .header-breadcrumb {
  line-height: 36px;
}

.be-button {
		font-family: "Open Sans";
}

.ui-tabs .ui-tabs-nav li a,
.ui-accordion .ui-accordion-header,
.skill_name,
.be-notification, .wpcf7-response-output.wpcf7-validation-errors, .wpcf7-response-output.wpcf7-mail-sent-ok {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



/* ======================
    Layout 
   ====================== */


body #header-inner-wrap.top-animate #navigation, 
body #header-inner-wrap.top-animate .header-controls, 
body #header-inner-wrap.stuck #navigation, 
body #header-inner-wrap.stuck .header-controls {
	-webkit-transition: line-height 0.5s ease;
	-moz-transition: line-height 0.5s ease;
	-ms-transition: line-height 0.5s ease;
	-o-transition: line-height 0.5s ease;
	transition: line-height 0.5s ease;
}
	
.header-cart-controls .cart-contents {
	background: #141414;
}
.header-cart-controls .cart-contents {
	color: #ffffff;
}

.left-sidebar-page,.right-sidebar-page, .no-sidebar-page .be-section-pad:first-child, .page-template-page-940-php #content , .blog .no-sidebar-page #content-wrap, .portfolio-archives.no-sidebar-page #content-wrap {
    padding-top: 80px;
}  
.left-sidebar-page .be-section:first-child, .right-sidebar-page .be-section:first-child, .dual-sidebar-page .be-section:first-child {
    padding-top:0 !important;
}


/* ======================
    Colors 
   ====================== */


.sec-bg {
  background-color: #efefef;
}
.sec-color,
.post-meta a,
.pagination a, .pagination span, .pages_list a {
  color: #555555;
}

.sec-border {
  border: 1px solid #dedede;
}

.pricing-table li {
  border-bottom: 1px solid #dedede;
}

.separator {
  border:0;
  height:1px;
  color: #dedede;
  background-color: #dedede;
}


.alt-color,
li.ui-tabs-active h6 a,
#navigation a:hover,
#header-top-menu a:hover,
#navigation .current-menu-item > a,
#slidebar-menu .current-menu-item > a,
a,
a:visited,
.social_media_icons a:hover,
.post-title a:hover,
.fn a:hover,
a.team_icons:hover,
.recent-post-title a:hover,
.widget_nav_menu ul li.current-menu-item a,
.widget_nav_menu ul li.current-menu-item:before,
.filters .current_choice,
.woocommerce ul.cart_list li a:hover,
.woocommerce ul.product_list_widget li a:hover,
.woocommerce-page ul.cart_list li a:hover,
.woocommerce-page ul.product_list_widget li a:hover,
.woocommerce-page .product-categories li a:hover,
.woocommerce ul.products li.product .product-meta-data h3:hover,
.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover,
td.product-name a:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover,
.post-category a:hover {
    color: #26cda4;
}

.post-title a:hover {
    color: #26cda4 !important;
}

.alt-bg,
input[type="submit"],
.tagcloud a:hover,
.pagination a:hover,
.widget_tag_cloud a:hover,
#navigation .sub-menu a:hover,
.flex-direction-nav a:hover,
.pagination .current,
#navigation .sub-menu .current-menu-item > a {
    background-color: #26cda4;
    transition: 0.2s linear all;
}
.mejs-controls .mejs-time-rail .mejs-time-current ,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.woocommerce span.onsale, 
.woocommerce-page span.onsale, 
.woocommerce a.add_to_cart_button.button.product_type_simple.added,
.woocommerce-page .widget_shopping_cart_content .buttons a.button:hover,
.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce .button.alt,.woocommerce-page #respond input#submit.alt,
.woocommerce .button.alt:hover,.woocommerce-page #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button.alt#place_order:hover,
.testimonial-flex-slider .flex-control-paging li a.flex-active,
.woocommerce .widget_shopping_cart_content .button.checkout {
  background: #26cda4 !important;
}

.tagcloud a:hover,
.testimonial-flex-slider .flex-control-paging li a.flex-active,
.testimonial-flex-slider .flex-control-paging li a {
  border-color: #26cda4;
}


.thumb-bg {
  background-color: rgba(38,205,164,0.85);
}

.photostream_overlay,
.be-button {
	background-color: #26cda4;
}
.alt-bg-text-color,
input[type="submit"],
.tagcloud a:hover,
.pagination a:hover,
.widget_tag_cloud a:hover,
#navigation .sub-menu a:hover,
#navigation .sub-menu .menu-item:hover:before,
.pagination .current,
#navigation .sub-menu .current-menu-item > a,
.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus {
    color: #ffffff !important;
    transition: 0.2s linear all;
}

.be-button {
	color: #ffffff;
	transition: 0.2s linear all;
}

.portfolio-title a {
    color: inherit;
}

pre {
    background-image: -webkit-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: -moz-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: -ms-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: -o-repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    background-image: repeating-linear-gradient(top, #ffffff 0px, #ffffff 30px, #efefef 24px, #efefef 56px);
    display: block;
    line-height: 28px;
    margin-bottom: 50px;
    overflow: auto;
    padding: 0px 10px;
    border:1px solid #dedede;
}

@media only screen and (max-width : 767px ) {
    #hero-section h1 , 
    .full-screen-section-wrap h1 {
      font-size: 30px;
      line-height: 40px;
    }
    #hero-section h2,
    .full-screen-section-wrap h2 { 
      font-size: 25px;
      line-height: 35px;
    }
    #hero-section h4,
    .full-screen-section-wrap h4 {
      font-size: 16px;
      line-height: 30px;
    }
    #hero-section h5,
    .full-screen-section-wrap h5 {
      font-size: 16px;
      line-height: 30px;
    }    
}

#navigation,
.header-controls, 
.mobile-nav-controller-wrap {
	line-height: 122px;
}
body.header-transparent #header-inner-wrap #navigation,
body.header-transparent #header-inner-wrap .header-controls, 
body.header-transparent #header-inner-wrap .mobile-nav-controller-wrap {
	line-height: 78px;
}
body #header-inner-wrap.top-animate #navigation, 
body #header-inner-wrap.top-animate .header-controls, 
body #header-inner-wrap.stuck #navigation, 
body #header-inner-wrap.stuck .header-controls {
	line-height: 102px;
}


/*********************************************************************
            LOADING
*********************************************************************/
.bubblingG {
  text-align: center;
  width:50px;
  height:30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: -15px 0px 0px -24px;
  display: none;
  overflow: hidden;
}
.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 15px auto;
  background:#26cda4 !important;
  -moz-border-radius: 30px;
  -moz-animation: bubblingG 0.4s infinite alternate;
  -webkit-border-radius: 30px;
  -webkit-animation: bubblingG 0.4s infinite alternate;
  -ms-border-radius: 30px;
  -ms-animation: bubblingG 0.4s infinite alternate;
  -o-border-radius: 30px;
  -o-animation: bubblingG 0.4s infinite alternate;
  border-radius: 30px;
  animation: bubblingG 0.4s infinite alternate;
}
#bubblingG_1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
#bubblingG_2 {
  -moz-animation-delay: 0.12s;
  -webkit-animation-delay: 0.12s;
  -ms-animation-delay: 0.12s;
  -o-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
#bubblingG_3 {
  -moz-animation-delay: 0.24s;
  -webkit-animation-delay: 0.24s;
  -ms-animation-delay: 0.24s;
  -o-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
#bubblingG_1_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}
#bubblingG_2_2 {
    -moz-animation-delay: 0.12s;
    -webkit-animation-delay: 0.12s;
    -ms-animation-delay: 0.12s;
    -o-animation-delay: 0.12s;
    animation-delay: 0.12s;
}
#bubblingG_3_3 {
    -moz-animation-delay: 0.24s;
    -webkit-animation-delay: 0.24s;
    -ms-animation-delay: 0.24s;
    -o-animation-delay: 0.24s;
    animation-delay: 0.24s;
}
.page-loader {
    position: fixed;
    z-index: 10;
}
@-moz-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #26cda4;
    -moz-transform: translateY(0);
  }
  100% {
    width: 14px;
    height: 14px;
    background-color:#000000;
    -moz-transform: translateY(-13px);
  }
}
@-webkit-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #26cda4;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 14px;
    height: 14px;
    background-color:#000000;
    -webkit-transform: translateY(-13px);
  }
}
@-ms-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #26cda4;
    -ms-transform: translateY(0);
  }
  100% {
    width: 14px;
    height: 14px;
    background-color:#000000;
    -ms-transform: translateY(-13px);
  }
}
@-o-keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color: #26cda4;
    -o-transform: translateY(0);
  }
  100% {
    width: 14px;
    height: 14px;
    background-color:#000000;
    -o-transform: translateY(-13px);
  }
}
@keyframes bubblingG {
  0% {
    width: 6px;
    height: 6px;
    background-color:#3A8C35;
    transform: translateY(0);
  }
  100% {
    width: 14px;
    height: 14px;
    background-color:#000000;
    transform: translateY(-13px);
  }
}

/*  Optiopn Panel Css */
