ul#navlist li.current a, ul#navlist li a:hover, ul#navlist li a.active{
  border-top: 3px solid #7e44dd;
  color: #6e7179;
}

.sf-menu .sub-menu a:hover {
  color: #7e44dd!important;
  border: 0 !important;
}

.filter-container .mask {
  background:rgba(126,68,221,0.9);
}

.serv-icons i {
  color: #7e44dd;
  margin-top: 100px
}

.meter > span {
  background-color: #7e44dd;
  background-image: -webkit-linear-gradient(left, #7e44dd, #28dbc4);
  background-image: -moz-linear-gradient(left, #7e44dd, #28dbc4);
  background-image: -o-linear-gradient(left, #7e44dd, #28dbc4);
  background-image: linear-gradient(to right, #7e44dd, #28dbc4);
}

.love {
  background: #7e44dd;
  padding: 90px 0;
}

.love a:hover {
  background: #fff;
  color: #7e44dd;
  border:1px solid transparent;
}

.love2 {
  background: #7e44dd;
  padding: 90px 0;
}

.adv-item i {
  background: #7e44dd;
}


.filter a:hover, .filter a.active {
  color: #7e44dd;
  text-decoration: none;
}


.testimonials2 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.testimonials2 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #7e44dd;
}

.box-left a {
  color: #7e44dd;
}

.box-right a {
  color: #7e44dd;
}


.service-item-one i {
  background-color: #7e44dd;
}

.price-h {
  color: #7e44dd;
}

.special-item i {
  color: #7e44dd;
  float: left;
  margin-right: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}

.ui-slider .ui-slider-range,
.ui-slider .ui-slider-range{
  position:absolute;
  z-index:1;
  display:block;
  background:#7e44dd;
}

.tags a:hover {
  background: #7e44dd;
  color: #fff;
}

.pagenation li.active a,.pagenation li:hover a {
  color: #7e44dd;
}

.filter-container li:hover .port-text {
  background: #7e44dd;
}

.other-proj a:hover {
  color: #7e44dd;
}

.port-feats li:hover i {
  background: #7e44dd;
}

 .business li:hover i {
  background: #7e44dd;
}

#contact-form input[type="submit"] {
  background-color: #7e44dd;
}

.post-like:hover a,.post-like:hover i,.post-comments:hover a,.post-comments:hover i {
  color: #7e44dd;
}

blockquote {
  border-left: 5px solid #7e44dd;
}

blockquote span {
  color: #7e44dd !important;
}

.aside-subs input[type="submit"] {
  background: #7e44dd;
}

.tags a:hover {
  color: #fff;
  background-color: #7e44dd;
}

.post-date:hover a{
  color: #7e44dd;
}

.blog-share i:hover {
  color: #7e44dd;
}

.user-spec a {
  color: #7e44dd;
}

.leave-comment input[type="submit"] {
  background-color: #7e44dd;
  border:0;
}

#tabs li.ui-tabs-active a {
  color: #7e44dd;
  text-decoration: none;
}
#tabs li.ui-tabs-active i{
  color: #7e44dd;
}


.testimonials3 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.testimonials3 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #7e44dd;
}


.servs-item i {
  background: #fff;
  color: #7e44dd;
}

.price-box.active .price-big{
  background: #7e44dd;
}


.price-box.active .sel-plan {
  background: #7e44dd;
}

.kalter i {
  color: #7e44dd !important;
}

.active-header {
  color: #7e44dd;  
}

.price-box.active i{
  color: #7e44dd;
}


#contact-form input[type="submit"] {
  width: 180px;
  background-color: #7e44dd;
  border:0;
}

.touch i {
  display: block;
  color: #7e44dd;
}

.helpn i {
  color: #7e44dd;
}

.tabs-widget .tab-links li a:hover {
  background: #7e44dd;
  color: #fff;
}

.tabs-widget .tab-links li.active a{
    color: #7e44dd;
}

.table2 th {
  background:#7e44dd;
}

 .button-def{
  background: #7e44dd;
}

.button-def:hover {
  color: #fff;
  background: #6839b4;
}

.button-light:hover {
  color: #fff;
  background: #7e44dd;
}

.servs-item2 i {
  color: #7e44dd;
}

.html-style span {
  background: #7e44dd;
}


.html-style a {
  color: #7e44dd;
}

.bullets i {
  font-size: 14px;
  color: #7e44dd;
}

.bullets .li-circle {
  list-style: disc;
  color: #7e44dd;
  font-size: 14px;
}
.bullets .li-ol {
  list-style: decimal;
  color: #7e44dd;
  font-size: 14px;
}

.dropcaps .naked-drop span{
  font-size: 52px;
  font-family: 'Roboto';
  color: #7e44dd;
}

.dropcaps .full-drop span{
  font-size: 24px;
  font-family: 'Roboto';
  background: #7e44dd;
}

.error-p a {
  color: #7e44dd !important;
}

.big-pricing .price-box.active .price-big {
background: #7e44dd;
padding: 40px 0;
margin-top: -20px;
}

.newsletter input[type="submit"] {
  background-color: #7e44dd;
}

.flexslider .flex-next:hover {
  background: #7e44dd;
}
.flexslider .flex-prev:hover {
  background: #7e44dd;
}

.flex-control-paging li a:hover {
  opacity:0.9;
  background:#7e44dd;
}
.flex-control-paging li a.flex-active {
  background:#7e44dd;
  cursor:default;
}

.is-countdown {
  background-color: #7e44dd;
}
