.portfolio-grid-inside-wrap img {
	float: left;
}
@media only screen and (max-width: 1280px) {
	.center, .page-title, .footer, .page-wrapper > .page > .row-wrapper, .page-wrapper > .page > .fullwidthrow-bg > .row-wrapper, .page-wrapper > .portfolio > .row-wrapper, .page-wrapper > .post > .row-wrapper, .page-wrapper > .row-wrapper  { width: 940px; } 
	.single-service-inside { padding: 40px; }
	.team-member-single .team-desc-wrap { padding: 20px 10px 0; }
	h1.team-member-title { font-size: 25px; }
	h2.team-member-position { font-size: 13px; }
	.team-member-desc { padding: 5px; font-size: 14px; margin: 15px 0 15px 0; }
	.menu-header1 ul.sf-menu > li { margin: 0 15px; }
	.portfolio-dimaond-wrapper	{ margin: 250px 0 150px 51px !important; }

	

	
	.quote-icon, .twitter-post-type .twitter-icon  { font-size: 40px; }
	.post-showing-type1 .quote .quote-content { margin-left: 40px; margin-top: 0px; }
	.twitter-content { margin-left: 40px; }
	.post-showing-type1 .quote .quote-content, .post-showing-type1 .quote .quote-content p, .twitter-post-type p.tweet_text { font-size: 20px; }
	.vc_contact_info { width: 90%; margin-left: 5%; }
	.single-service-inside h2 { font-size: 22px; }
	.type-content { font-size: 52px; }
	.portfolio-square-wrapper { margin: 130px 0 50px 40px !important; }
	.portfolio-squaregrid-wrapper .thumb-big { left: -362px; top: 290px; }
	.portfolio-squaregrid-wrapper { margin: -150px 0 50px 420px !important; }
}



@media only screen and (min-width: 960px)  and (max-width: 1280px) {


.portfolio-dimaond-wrapper {
        margin: 180px 0 60px 100px !important;
 }
		
.diamond {
  display: block;
  float: left;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  background: #5c3e52;
  margin-left: 60px;
  margin-top: -41px;
  width: 145px;
  height: 145px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg); 
  transform: rotate(45deg); 
}
 
 .diamond-big {
  display: block;
  float: left;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  background: #5c3e52;
  margin-left: 72px;
  margin-top: -53px;
  width: 290px;
  height: 290px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
}

.thumb {
  position: relative;
  overflow: hidden; 
}

.thumb:after {
  content: "";
  position: absolute;
  top: -54px;
  left: -54px;
  width: 205px;
  height: 205px;
  background: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); 
  opacity: 1; 
}
  
.thumb-big {
  position: relative;
  overflow: hidden;
  left: -51px;
  top: 74px;
}

.thumb-big:after {
  content: "";
  position: absolute;
  top: -93px;
  left: -93px;
  width: 410px;
  height: 410px;
  background: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); 
  opacity: 1; 
}

.thumb-big:hover .portfolio-grid-overlay-icon, .thumb-big:hover .portfolio-grid-overlay-hover,
.thumb:hover .portfolio-grid-overlay-icon, .thumb:hover .portfolio-grid-overlay-hover  {
	opacity: 1;
} 

.thumb-big .portfolio-grid-overlay-icon, .thumb .portfolio-grid-overlay-icon  {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); 
}

.portf-item4 {
  clear: left;
  margin-left: 197px; 
}
	
.portf-item4, .portf-item5, .portf-item6 {
 top: -2px;
}
	
	

.intend {
  clear: left;
  margin-left: 299px; 
}



}





@media only screen and (max-width: 959px) {
	.center, .page-title, .footer, .page-wrapper > .page > .row-wrapper, .page-wrapper > .page > .fullwidthrow-bg > .row-wrapper, .page-wrapper > .portfolio > .row-wrapper, .page-wrapper > .post > .row-wrapper, .page-wrapper > .row-wrapper { width: 740px; } 
	.mobile-menu-show { display: block; }
	.menu-header1 { display: none; }
	.header-wrapper.header1 { position: relative; }
	div.container-wrapper { padding-top: 0 !important; }
	.next-portfolio-wrapper, .prev-portfolio-wrapper, .next-post-wrapper, .prev-post-wrapper  { background: rgba(0,0,0,0.2); }
	.portfolio-dimaond-welcome { position: relative; width: 100%;  right: auto; top: 30px; left: 0; text-align: center; }
	
	

	.single-service-inside { padding: 40px; }
	.team-member-single .team-desc-wrap { padding: 60px 10px 0; }
	h1.team-member-title { font-size: 25px; }
	h2.team-member-position { font-size: 13px; }
	.team-member-desc { padding: 5px; font-size: 14px; margin: 15px 0 20px 0; }
	.service-icon { font-size: 150px; }
	.vc_col-sm-4 .post-showing-type1 .post-title a, .vc_col-sm-4 .post-showing-type1 .post-title a span, .vc_col-sm-4  .post-showing-type1 .quote .quote-content, .vc_col-sm-4  .post-showing-type1 .quote .quote-content p, .vc_col-sm-8 .vc_col-sm-6 .post-showing-type1 .post-title a, .vc_col-sm-8 .vc_col-sm-6 .post-showing-type1 .post-title a span, .vc_col-sm-8 .vc_col-sm-6 .post-showing-type1 .quote .quote-content, .vc_col-sm-8 .vc_col-sm-6  .post-showing-type1 .quote .quote-content p { font-size: 20px; }
	.vc_col-sm-4 .twitter-post-type p.tweet_text, .vc_col-sm-8 .vc_col-sm-6 .twitter-post-type p.tweet_text { font-size: 18px; }
	.team-member-single { margin-left: 0; width: 100%; }
	
	.portf-item2, .portf-item5 { clear: left; margin-left: 52px;  }
	.portf-item4 { clear: left; margin-left: 206px;  }
	.thumb-big { left: 25px; top: -47px; }
	.portf-item4, .portf-item6 { top: 0; }
	.services-desc, .single-service-inside h2 { font-size: 18px; }
	.vc_welcome, .vc_welcome p, .testimonial-content { font-size: 22px; }
	.type-content { font-size: 32px; }
	.expand_container, .expand_sidebar { width: 100% !important; }
	.expand_sidebar { margin-top: 35px; }
	.sidebar .widget { padding: 0; }
	.sidebar-right { border: none; }
	.vc_col-sm-4.isotope-item { width: 50% !important; }
	.portfolio-squaregrid-wrapper .thumb-big { left: -72px;  top: 0px; }
	.portfolio-squaregrid-wrapper {  margin: -70px 0 50px 150px !important; }
	.portfolio-squaregrid-wrapper .portf-item5 { clear: none; }


	
}


@media only screen and (max-width: 767px) {
	.center, .page-title, .footer, .page-wrapper > .page > .row-wrapper, .page-wrapper > .page > .fullwidthrow-bg > .row-wrapper, .page-wrapper > .portfolio > .row-wrapper, .page-wrapper > .post > .row-wrapper, .page-wrapper > .row-wrapper { width: 90%; margin: 0 auto; } 
	.vc_row { margin-left: 0 !important; margin-right: 0 !important;  }
	.wpcf7 textarea.wpcf7-form-control { min-width: 100%; }
	.single-service-inside { padding: 40px; }
	.team-member-single .team-desc-wrap { padding: 20px 10px 0; }
	h1.team-member-title { font-size: 25px; }
	h2.team-member-position { font-size: 13px; }
	.team-member-desc { padding: 5px; font-size: 14px; margin: 15px 0 20px 0; }
	.service-icon { font-size: 150px; }
	.vc_col-sm-4 .post-showing-type1 .post-title a, .vc_col-sm-4 .post-showing-type1 .post-title a span, .vc_col-sm-4  .post-showing-type1 .quote .quote-content, .vc_col-sm-4  .post-showing-type1 .quote .quote-content p, .vc_col-sm-8 .vc_col-sm-6 .post-showing-type1 .post-title a, .vc_col-sm-8 .vc_col-sm-6 .post-showing-type1 .post-title a span, .vc_col-sm-8 .vc_col-sm-6 .post-showing-type1 .quote .quote-content, .vc_col-sm-8 .vc_col-sm-6  .post-showing-type1 .quote .quote-content p { font-size: 20px; }
	.vc_col-sm-4 .twitter-post-type p.tweet_text, .vc_col-sm-8 .vc_col-sm-6 .twitter-post-type p.tweet_text { font-size: 18px; }
	.team-member-single .team-half { width: auto; float: left; text-align: center; }
	.team-member-single .team-half img { float: none; }
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5,
     .vc_col-sm-6 , .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10,
    .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-4.isotope-item { width: 100% !important;  padding-left: 0 !important; padding-right: 0 !important; }
    
    .thumb { clear: both; }
    .portfolio-dimaond-wrapper { margin: 120px auto 0 !important;  width: 320px;}
    .diamond-big { margin-left: 25px !important;  }
    .diamond { margin-left: 50px !important;  margin-top: 89px !important; }
    .portfolio-dimaond-welcome h3 { font-size: 18px; }
    .vc_portfolio_details { margin-left: 0; margin-top: 40px; }
    .team-member-single { width: 310px; clear: both; float: none; margin: 0 auto 30px; }
    .vc_contact_info .vc_col-sm-4 { margin-bottom: 10px; }
    .testimonial-content { margin: 0; }
    .page-title { padding: 0; }
    .page-title-wrapper  h1 { font-size: 20px; }
    .under-footer .left, .under-footer .right { width: 100%; text-align: center; }
    .wpcf7 p { width: 100%; }
    .page-subtitle { font-size: 13px; }
    .standard-post-view .post-showing-type1 .post-title { padding: 0; }
	.standard-post-view .post-showing-type1 .post-title a, .standard-post-view  .post-showing-type1 .post-title a span { font-size: 20px !important; }
	.twitter-post-type { padding: 40px; }
	.services-top-content { padding: 60px 20px 70px; }
	.error-content1 { font-size: 100px; }
	.error-content2 { font-size: 42px; }
	.diamond-big {
	  display: block;
	  float: left;
	  color: #fff;
	  margin-left: 90px;
	  margin-top: 20px;
	  width: 220px;
	  height: 220px;
	  margin-bottom: -46px;
	}
 

	.thumb-big {
	  position: relative;
	  overflow: hidden; 
	}

	.thumb-big:after {
	  content: "";
	  position: absolute;
	  top: -54px;
	  left: -54px;
	  width: 320px;
	  height: 320px;
	  background: inherit;
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	  opacity: 1; 
	}
 
	.diamond-big p {
	  position: relative;
	  line-height: 1.2;
	  z-index: 1;
	  -webkit-transform-origin: top left;
	  -moz-transform-origin: top left;
	  transform-origin: top left;
	  -webkit-transform: rotate(-45deg) translate(-110px, 0);
	  -moz-transform: rotate(-45deg) translate(-110px, 0);
	  transform: rotate(-45deg) translate(-110px, 0);
	  color: #fff;
	  width: 220px;
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  height: 310px;
	  font-weight: 400;
	  font-size: 14px;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	}

	.portf-item6 { margin-bottom: 50px; }

	.portfolio-dimaond-welcome {
		position: relative;
		width: 100%;
		right: auto;
		top: 30px;
		left: 0;
	}
	 
	.vc_carousel-inner .vc_item {
		width: 100% !important;
		margin: 0 auto;
		text-align: center;
		clear: both;
	}
	
	.vc_carousel-slideline { width: 100% !important; } 
	
	.header-wrapper.header1 .header-inner-wrapper { display: block; }
	.logo { float: left; }
	.portfolio-square-wrapper .diamond, .portfolio-square-wrapper .diamond-big {
		margin: 0 auto 20px !important;
		float: none;
	}
	
	.portfolio-square-wrapper .thumb-big  { left: 0; top: 0; }
	.portfolio-square-wrapper {
        margin: 60px 0 50px 0 !important;
    }
    
    .portfolio-squaregrid-wrapper .diamond, .portfolio-squaregrid-wrapper .diamond-big {
		margin: 0 auto 20px !important;
		float: none;
	}
	
	.portfolio-squaregrid-wrapper .thumb-big  { left: 0; top: 0; }
	.portfolio-squaregrid-wrapper {
        margin: 60px 0 50px 0 !important;
    }

}


@media only screen and (max-width: 500px) {
.center, .page-title, .footer, .page-wrapper > .page > .row-wrapper, .page-wrapper > .page > .fullwidthrow-bg > .row-wrapper, .page-wrapper > .portfolio > .row-wrapper, .page-wrapper > .post > .row-wrapper, .page-wrapper > .row-wrapper { width: auto; margin-left: 8px; margin-right: 8px;  } 
	.diamond-big,  .diamond { width: 205px; height: 205px; }
	.vc_images_carousel { width: 300px !important; } 

}

