/* Animations */

a.btn,
.btn,
.btn:focus, 
button.button,
input[type="submit"],
.btn:hover, input[type="submit"]:hover,
.wpb_button,
.show-more-button,
.header-menu-bg,
.blog-post .more-link,
.barrel-button a,
.widget_product_categories a,
.navbar .nav > li a,
.content-block .widget_meta ul li,
.content-block .widget_archive ul li,
.content-block .widget_categories ul li,
.content-block .widget_pages ul li,
.widget ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_nav_menu a,
.navigation-paging a,
.footer-social a,
.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a,
#top-link,
body .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.st-menu-close-btn,
body .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header,
body .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a,
.portfolio-filter a,
body .wpb_content_element.wpb_tour .wpb_tabs_nav li,
body .wpb_content_element.wpb_tour .wpb_tabs_nav li a,
.header-info-text a,
header .header-right ul.header-nav a,
.content-block a,
body .st-sidebar-menu .sidebar .widget-social-follow a,
.social-icons-wrapper .fa,
.header-menu .top-menu li a,
footer a,
.mgt-post-list .mgt-post-details .mgt-post-title h5,
.mgt-icon-box.mgt-icon-background .mgt-icon-box-icon,
.button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product h2,
.widget-download-link-wrapper .widget-download-title a,
.st-sidebar-menu-close-btn,
.sidebar .widget a,
.portfolio-item-block.portfolio-item-animation-9 h4.title,
header.left-side-header .header-side-info-text a,
.header-left-menu-wrapper ul.header-left-menu li a,
.shopping-cart span {
    -webkit-transition: color 0.6s ease, background 0.6s ease, border 0.6s ease;
    transition: color 0.6s ease, background 0.6s ease, border 0.6s ease;
}
.mgt-promo-block {
    -webkit-transition: border 0.6s ease;
    transition: border 0.6s ease;
}
.mgt-promo-block .mgt-promo-block-content .mgt-promo-block-content-inside.mgt-promo-block-content-inside-show-on-hover,
.portfolio-item-block.portfolio-item-animation-5 .view-more.btn,
.mgt-images-slider .mgt-images-slider-items .mgt-images-slider-item img {
    transition: all 0.5s cubic-bezier(0.38, 0.76, 0, 0.87) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.38, 0.76, 0, 0.87) 0s;
}
body .owl-theme .owl-controls .owl-buttons div,
.post-social a,
.portfolio-navigation-prev .portfolio-navigation-image,
.portfolio-navigation-next .portfolio-navigation-image,
.container .flex-control-paging,
.portfolio-item-block .portfolio-item-bg,
body .vc_images_carousel a.vc_carousel-control.vc_left,
body .vc_images_carousel a.vc_carousel-control.vc_right,
.search-close-btn,
.header-advanced-menu-close-btn,
body .owl-theme .owl-controls .owl-buttons,
.portfolio-navigation-prev:before,
.portfolio-navigation-prev,
.portfolio-navigation-next:before,
.portfolio-navigation-next,
.mgt-promo-block .mgt-promo-block-content.mgt-hide-button .mgt-button,
.footer-sidebar.sidebar .widget li a,
.mgt-post-list .mgt-post-wrapper-icon,
.mgt-pricing-table.animation-shadow,
.mgt-pricing-table.animation-shadowzoom {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.portfolio-item-block .info {
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.portfolio-item-block .sub-title {
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s;
}
.mgt-promo-block.animated .mgt-promo-block-content,
.mgt-post-image-wrapper {
	-webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.scroll-to-top {
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
header {
	-webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
}
body.transparent-header header .col-md-12 {
	-webkit-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
.mgt-promo-block-wrapper.mgt-promo-block-shadow,
.mgt-process-wrapper.mgt-process-shadow .mgt-process-icon-wrapper,
.mgt-promo-block-wrapper.mgt-promo-block-hover {
    transition: all 0.3s ease-in-out 0s;
}
.navbar .nav > li:not(.menu-item-has-children) > a:after,
.blog-post .more-link:after,
body .st-sidebar-menu .sidebar .menu a:after {
    transition: all 500ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
    -moz-transition: all 500ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
    -webkit-transition: all 500ms cubic-bezier(0.173, 0.883, 0.3, 1.073) 0s;
}
.portfolio-item-block .portfolio-item-image {
    transition: 0.7s;
    -webkit-transition: 0.7s;
}
.shopping-cart .shopping-cart-content,
header .logo-link.logo-text,
.header-advanced-menu-fullscreen-wrapper .header-advanced-menu-fullscreen-menu ul.header-advanced-fullscreen-menu li a,
.mgt-images-slider .slick-prev,
.mgt-images-slider .slick-next,
.woocommerce div.product div.images .flex-control-thumbs li img {
    transition: opacity 0.2s ease-in 0s;
    -webkit-transition: opacity 0.2s ease-in 0s;
}
.search-fullscreen-wrapper .searchform,
ul.header-advanced-fullscreen-menu {
    animation: 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.25s normal both 1 running element_push_text_top;
    -moz-animation: 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.25s normal both 1 running -moz-element_push_text_top;
    -webkit-animation: 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.25s normal both 1 running -webkit-element_push_text_top;
}
.mgt-images-slider.mgt-images-slider-center .mgt-images-slider-items .mgt-images-slider-item img {
    -webkit-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
.effect-hover-img-color img,
.effect-hover-img-grayscale img,
.effect-hover-img-opacity img,
.effect-hover-img-opacity-invert img {
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
@keyframes element_push_text_top {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes -moz-element_push_text_top {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes -webkit-element_push_text_top {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (min-width: 768px) {
    .header-menu .top-menu li ul {
        display: block;
        opacity: 0;
        transition: opacity 0.2s ease-in 0s;
        -webkit-transition: opacity 0.2s ease-in 0s;
        visibility: hidden;
        -webkit-transform: translateZ(0);
    }
    .header-menu .top-menu li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }
	.nav .sub-menu,
	.nav .children {
		display: block;
	    margin: 0;
	    transition: opacity 0.2s ease-in 0s;
	    -webkit-transition: opacity 0.2s ease-in 0s;
		opacity: 0;
	    visibility: hidden;
	    z-index: -1;
	 	-webkit-transform: translateZ(0);
	}
	.nav li:hover > .sub-menu,
	.nav li:hover > .children {
	    display: block;
	    opacity: 1;
    	visibility: visible;
	}
	
}
