body 
	{
		margin: 0;
		color:#6B747A;
		font: 18px/1.6 'Arimo', "Helvetica Neue", Helvetica, sans-serif;	
		background: #f9f9f9 !important;
		letter-spacing:0.2px;
	}
	.nav{padding:10px 0;}
	.navbar-default
	{
		width: 100%;
		display: block;
		background-color: #fff !important;
		position: relative;
		padding: 10px;
		border-bottom:1px #e5e5e5 solid;
		border-top:4px #333 solid
	}
	.navbar{margin-bottom: 0!important;}
	.navbar-brand
	{	
		width: 220px;
		height: 23px;
		background-image: url(../images/logo.png);
		background-size: 220px;
		background-repeat: no-repeat;
		overflow: hidden;
		text-indent: -9999px;
		float: left;
		margin-top: 18px;
		margin-left:0px !important;
	}
	.header-inside
	{
		margin: 0 auto;
		padding: 10px 15px;
	}
	.navbar-default .navbar-nav>li>a
	{	
		color: #B4B4B4;
		float: left;
		padding:8px 15px !important;
		display: block;
		font-size: 15px;
		font-weight: normal;
		opacity: .8;
	}
	#menu-item-44 a 
	{
	    background-color: #7ece2e;
	    padding-left: 10px!important;
	    padding-right: 10px!important;
	    color: #fff!important;
	    border-radius: 3px;
	}
	/*.navbar-default .navbar-nav>li>a {color: rgba(119, 119, 119, 0.7)!important;}*/
	.navbar-default .navbar-nav>li>a:hover
	 {
	 	text-decoration: none;
		cursor: pointer;
		opacity: 1;
		display: block;
		color: #000;
	}
	

	/*css for banner*/
	
	#hero
	 {
	    background-color: #fff;
	    text-align: center;
	    width: 100%;
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 0px;
	}
	#heroinside
	 {
	    max-width: 1350px;
	    padding-bottom: 0px;
	    margin: 0 auto;
	    text-align: left;
	    overflow: hidden;
	}
	.herotext 
	{
	    text-align: left;
	    color: #bebebe!important;
	    width: 100%;
	    padding-top: 40px;
	    font-size: 22px;
	}
	.heroimage 
	{
	    float: right;
	    width: 50%;
	    position: relative;
	    text-align: right;
	}
	.herotext h1
	 {
	    color: #000;
	    font-family: 'Arimo', "Helvetica Neue", Helvetica, sans-serif;
	    font-size: 40px;
	    font-weight: 300;
	    margin: 0 0 2% 0;
	    line-height: 1.2;
	    display: block;
	    letter-spacing: -0.5px;
	}
	#hero .trade
	 {
	    font-size: 16px;
	    position: relative;
	    top: -18px;
	    left: 0px;
	    color: #7ece2e;
	    letter-spacing: 1px;
	}
	span.price
	 {
	    background-color: #7ece2e;
	    color: #fff;
	    padding: 3px;
	    padding-right: 5px;
	    padding-left: 5px;
	    border-radius: 4px;
	    border: 0px;
	}
	.herotext h2 
	{
    	margin-bottom: 1.5em;
    	font-size: 22px;
		line-height:1.5em
	}
	.herobuttons
	{
    	padding-top: 0px;
	}
	#hero a, #heroinside a {
    color: #fff;
    border-bottom: 1px solid #7ece2e;
	}

	.herobuttons .button 
	{
	    margin-right: 10px;
	    display: inline-block;
	    text-align: center;
		border-radius:5px
	}
	
	.herobuttons .button i {margin-left:10px}

	a.buybutton 
	{
	    background-color: #7ece2e;
	    color: white!important;
	    padding: 10px 25px;
	    border: 0px;
	    border-radius: 2px;
	}

	.button 
	{
	    font-size: 16px;
	    line-height: 26px;
	    background-color: #7ece2e;
	    color: white!important;
	    padding: 10px 15px;
	    border: 0px!important;
	    border-radius: 2px;
	    cursor: pointer;
	}
	.buybutton .ti
	 {
	    font-size: 12px;
	    margin-left: 5px;
	}
	.ti-arrow-right:before
 	{
   		 content: "\e628";
	}	

	.dropdown-menu>li>a 
	{
		color: #B4B4B4;
		border-bottom: dotted 1px #e4e4e4;
		padding: 15px 10px !important;
		
		font-weight: normal;
		font-size: 14px;
		opacity: .7;
	}
	.dropdown-menu>li>a:hover
	 {
	 	text-decoration: none;
		cursor: pointer;
		opacity: 1;
		display: block;
		color: #000;
	}

	/*css for content-wrap*/

	#content-wrap
	{
	    padding: 2% 25px;
	    max-width: 1350px;
	    margin: 0 auto;
	}
	#content
	 {
	    width: 100%;
	}
	.home #themefeatureshome
	 {
	    margin-top: -120px;
	    margin-bottom: 70px;
	}
	#themefeatures
	 {
	    padding-bottom: 20px;
	    padding-top: 70px;
	    font-size: 15px;
	    text-align: center;
	    max-width: 1350px;
	    margin: 0 auto;
	}
	.themefeature
	 {
	    width: 30%;
	    display: inline-block;
	    vertical-align: top;
	    margin-bottom: 30px;
	    text-align: left;
	    margin-right: 20px;
	}
	.themefeature .icon-design 
	{
	    background-image: url(../images/design.gif);
	    background-repeat: no-repeat;
	    background-size: 60px 60px;
	}
	.themefeature .icon-setup
	 {
	    background-image: url(../images/setup.gif);
	    background-repeat: no-repeat;
	    background-size: 60px 60px;
	}
	.themefeature .icon-support
	 {
	    background-image: url(../images/support.gif);
	    background-repeat: no-repeat;
	    background-size: 60px 60px;
	}
	.themefeature .icon
	 {
	    float: left;
	    width: 60px;
	    height: 60px;
	}
	#themefeatureshome .themefeaturetext
	 {
	    margin-left: 80px;
	    margin-top: -55px;
	    float: left;
	}
	.themefeature
	 {
	    text-align: left;
	}
	#themefeatures h3
	 {
	    font-size: 20px;
	    font-family: 'Arimo', "Helvetica Neue", Helvetica, sans-serif;
	    font-weight: 300;
		margin-top: 0;
		color:#1e1e1e

	}
	.themefeature p 
	{
	    margin-bottom: 1.6em;
	}

	.cell-container
	{
		width: 47.8%;
		margin: 15px;
	    overflow: hidden;
	    text-align: left;
	    background-color: #eee;
		padding: 10px !important;
		display: inline-block;
		margin-left:10px;

	}
	.image 
	{
		display: block;
		height: auto;
		max-width: 100%;
	}
	.image:hover{

	    opacity: 0.7;
	    -webkit-transition: all 100ms;
	    transition: all 100ms;

	}
	.label{padding:0 !important; }
	.label-text {

	    background-color: #fff;
	    padding: 18px;
	    padding-left: 15px;
	    padding-right: 7px;
	    font-size: 16px;
	    font-weight: bold;
	    text-align: left;

	}
	.text-category:hover
	 {

	    background-color: #7ece2e;
	    color: #fff;

	}
	.text-category
	 {
		margin: -7px 5px;
		background-color: #7ece2e;
		color: #fff;
		float: right;
		padding: 8px;
		padding-left: 8px;
		padding-right: 8px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 3px;

	}
	
	.text-category span {margin-left:5px; font-size:12px}
	
	.text-category .ti
	 {

	    margin-left: 6px;

	}
	.ti-new-window::before
	{

	    content: "\e732";

	}
	#mentions 
	{

	    margin-top: 30px;
	    text-align: center;
	}
	#mentions p
	 {

	    margin-bottom: 30px;
	    z-index: 999;

	}
	#featured-on
	 {

	    padding: 30px;
	    background-color: #fff;
	    font-size: 16px;
	    border-top-right-radius: 5px;
	    border-top-left-radius: 5px;

	}	
	#featured-on p
	 {

    margin-bottom: 15px;

	}
	#mentions p 
	{

	    margin-bottom: 30px;
	    z-index: 999;
	    font-size:17px;
		color: #999898;
	}
	#featured-on img
	 {

    padding: 15px;

	}
	#mentions img {

	    box-shadow: 0px;
	    border: 0px solid #DBDBDB;
	    -webkit-box-shadow: 0px 0px 0px 0px #ECECEC;
	    box-shadow: 0px 0px 0px 0px #ECECEC;
	    moz-box-shadow: 0px 0px 0px 0px #ECECEC;
	    margin-top: -15px;
	    z-index: -1;

	}
	#mentions a.join {

    background-color: #767f89;

	}
	.post-content a 
	{

	    color: #7ece2e;

	}
	a.buybutton
	 {

	    background-color: #7ece2e;
	    color: white !important;
	    padding: 10px 25px;
	    border: 0px;
	    border-radius: 2px;
		font-family: 'Arimo', sans-serif;

	}
	.post-content a 
	{

	    color: #55BEE6;

	}
	.homebutton
	 {

	    clear: both;
	    gf text-align: center;
	    margin: 0 auto;
	        margin-top: 0px;
	    padding: 15px !important;
	        padding-right: 15px;
	        padding-left: 15px;
	    padding-right: 40px !important;
	    padding-left: 40px !important;
	    margin-top: -35px;
	    display: inline-block;
	    width: 100%;

	}
	.buybutton
	 {

	    font-size: 16px;
	    line-height: 26px;

	}

	/*css for footer*/

	#footer
	 {

	    width: 100%;
	    padding: 3% 0;
	    display: block;
	    overflow: hidden;
	    background: #fff;
	    font-size: 15px;

	}
	.footer-inside
	 {

	    max-width: 1350px;
	    margin: 0 auto;
	    padding: 0 25px;

	}

	.footer-inside .widget
	 {

	    border: 0px;

	}
	.footer-inside .widget
	 {

	    width: 22%;
	    display: inline-block;
	    vertical-align: top;
	    margin-right: 2%;

	}
	.widget
	 {

	    width: 100%;
	    display: inline-block;
	    margin: 0 0 30px 0;
	        margin-right: 0px;
	    padding: 0 0 30px 0;
	    display: block;
	    border-bottom: dotted 1px #ddd;
	    border-radius: 2px;
	    background-color: #fff;
	    padding: 20px;
	}
	.widget h2
	 {

	    font-weight: bold;
	    font-size: 16px;
	    margin: 0;
	    padding: 0 0 15px 0;

	}
	.widget p
	 {
	 	color: #687A8A;
	    margin: 0 0 25px;
	}
	.trade
	 {

	    font-size: 9px;
	    position: relative;
	    top: -5px;
	    left: 0px;
	    color: #7ece2e;

	}
	.widget ul li
	 {

	    list-style-type: none;
	    margin-bottom: 10px;
	    border-bottom: 1px dotted #C1C1C1;
	    padding-bottom: 5px;

	}

	.widget ul li a
	 {

	    color: #687A8A;
	    text-decoration: none;
	    -webkit-transition: .05s ease-in;
	    transition: .05s ease-in;

	}
	.widget ul{padding-left: 0px !important;}
		.copyright a 
	{
	    color: #A7B5C1;
	}
	#footer .copyright
	 {
	    float: left;
	    display: inline-block;
	    margin: 10px 0 0 0;
	    position: relative;
	    font-size: 13px;
	    color: #A7B5C1;
	}

/*css for theme.html page */
	.post .frame
	 {
	    width: 100%;
	}
	.post:last-child
 	{
    margin-bottom: 0;
	}
	.post
	 {
	    margin: 0 0 8% 0;
	    display: inline-block;
	    width: 100%;
	    margin-top: -20px;
	    margin-bottom: -5px;
	    padding-bottom: 60px;
	    margin-top: 30px;
	    background-color: #fff;
	    padding: 30px;
	}
	.featured-image
	 {
	    width: 100%;
	}
	.featured-image img
	 {
	    max-width: 100%;
	    min-width: 100%;
	    height: auto;
	    display: block;
	    padding: 0px !important;
	    border: 0px !important;
	}

	.title-wrap
	 {
	    margin: 0 0 1% 0;
	        margin-bottom: 1%;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	    margin-bottom: -10px;
	    padding-bottom: 3%;
	}
	.entry-title
	 {
	    font-size: 26px;
	    color: #6b6b6b;
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	#content1
	 {
	    width: 72%;
	    float: left;
	}
	#content1 .entry-title a
	 {
	    color: #1e1e1e;
	}
	.post-content p {
		font-size:17px;
	    margin-bottom: 1.6em;
	    color: #6B747A;
	}
	.post-content h2
	 {
	    font-size: 26px;
	    border-bottom: dotted 2px #e6e6e6;
	    padding-bottom: 10px;
	}
	.post ul 
	{
	    margin: 0 0 1.6em -22px;
	    font-size: 17px;
	    color: #6B747A;
	}
	.post ul li
	 {
	    list-style-type: circle;
	    margin: 0 0 8px 0;
	    padding:3px 0;
	}
	#content1 .entry-title a:hover {
	    opacity: .8;
	    text-decoration: none!important;
	}
	.post-content img
	 {
	    max-width: 100%;
	    height: auto;
	    background-color: white;
	    padding: 3px;
	    border: 1px solid #DBDBDB;
	    -webkit-box-shadow: 0px 0px 8px 0px #ECECEC;
	    box-shadow: 0px 0px 8px 0px #ECECEC;
	    moz-box-shadow: 0px 0px 8px 0px #ECECEC;
	    margin: 0 auto;
	    display: block;
	}
	.noshadow {
	    padding: 0px !important;
	    border: 0px !important;
	    box-shadow: 0px 0px 0px 0px !important;
	}

	.buynow
	 {
	    text-align: center;
	    border-top: dotted 2px #e6e6e6;
	    padding-bottom: 30px;
	    padding-top: 40px;
	}
	.post a.buybutton
	 {
	    margin-right: 10px;
	    padding: 10px 15px;
	}
	.buynow p 
	{
	    margin-bottom: 0px;
	    margin-top: 25px;
	    color: #434343;
	    font-size: 17px;
	}
	.buynow span
	 {
	    border-bottom: 1px solid #7ece2e;
	}

	#sidebar
	 {
	    float: right;
	    color: #687A8A;
	    font-size: 15px;
	    width: 23%;
	    margin-top: 30px;
	}
	#sidebar .pricing
	 {
	    width: 100%;
	    background-color: white;
	    color: #929292;
	    text-align: center;
	    margin-bottom: 30px;
	    margin-right: 28px;
	    position: relative;

	}
	.pricingtop
	 {
	    background-color: #767f89;
	    height: 40px;
	    line-height: 40px;
	    color: #fff;
	}
	.price
	 {
	    height: 130px;
	    background-color: #fafafa;
	    color: #000;
	    border-left: 1px solid #dedede;
	    border-right: 1px solid #dedede;
	}
	h3.pricepoint
	 {
	    font-size: 60px;
	    padding-top: 20px;
	    color: #000;
	    margin-bottom:0px;
	    letter-spacing: -2px;
	    margin-top: 0;
	}

	.pricemeta
	 {
	    color: #767f89;
	}
	.reg
	 {
	    border: 1px solid #dedede;
	}

	.pricingfeatures li
	 {
    	padding: 10px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    border-bottom: 1px dotted #C1C1C1;
	}
	.red 
	{
	    background-color: #7ece2e;
	    color: #fff;
	    padding: 3px;
	    padding-right: 5px;
	    padding-left: 5px;
	    border-radius: 2px;
	}
	#sidebar a.buybutton
	 {
	    display: block;
	    width: 100%;
	    margin-bottom: 10px;
	    text-align: center;
	    background-color: #767f89;
	}

	#sidebar a.join
	 {
	    background-color: #7ece2e;
	}
	.themedetails
	 {
	    margin-top: 40px;
	    font-size: 14px;
	}
	.widget
	 {
	    width: 100%;
	    display: inline-block;
	    margin: 0 0 30px 0;
	    padding: 0 0 30px 0;
	    display: block;
	    border-bottom: dotted 1px #ddd;
	    border-radius: 2px;
	    background-color: #fff;
	    padding: 20px;
	}
	.widget h2
	 {
	    font-weight: bold;
	    font-size: 16px;
	    margin: 0;
	    padding: 0 0 15px 0;
	}
	.themedetails ul
	 {
	    margin-left: 0 !important;
	}
	.widget ul li
	 {
	    list-style-type: none;
	    margin-bottom: 10px;
	    border-bottom: 1px dotted #C1C1C1;
	    padding-bottom: 5px;
	}
	.themedetails li
	 {
	    list-style-type: none !important;
	    margin-bottom: 5px !important;
	    border-bottom: 1px dotted #C1C1C1;
	    padding-bottom: 5px;
	}
	.themedetails .ti
	 {
	    padding-right: 10px !important;
	}

	ol, ul
	 {
	    list-style: none;
	}
	h3.pricepoint span
	 {
	    font-size: 30px;
	    position: relative;
	    top: -20px;
	    font-weight: lighter;
	}
	.pricingfeatures.reg
	 {
	    padding-left: 0;
	}
	.themedetails .fa {
	    padding-right: 10px !important;
	}
	.pricingfeatures li:last-child
	 {
	    border-bottom: 0px dotted #C1C1C1;
	}
	.widget ul li:last-child, .widget p:last-child 
	{
	    border-bottom: none;
	    padding-bottom: 0;
	    margin-bottom: 0;
	}

	/*css for gallery*/

	.filter-button
	{
	display: block;
	padding: 8px 15px !important;
	text-decoration: none;
	color: #666;
	cursor: pointer;

	}
	.btn.btn-default.filter-button:hover
	 {
	    background: #7ece2e !important;
	    color: #fff;
	}

	.btn.btn-default.filter-button.all
	 {
	    background-color: #7ece2e !important;
	    color: white;
	}
	.btn{font-size: 16px !important; border: none !important;background: none !important;}
	.port-image
	{
	    width: 100%;
	}

	.gallery_product
	{
	    margin-bottom: 30px;
	}

 /*css for blog page */
 		.title-meta .fa{color:#b6c0c9!important;}

 	.title-meta .fa
 	 {
	    margin-left: 20px;
	    margin-right: 7px;
	    font-size: 15px;
	}

	.title-meta 
	{
	    color: #B6C0C9 !important;
	    font-size: 16px;
	    margin-bottom: 8px;
	}
	a.readmore
	 {
	    color: white !important;
	    background-color: #7ece2e;
	    font-size: 16px;
	    margin-top: 20px;
	    width: 170px;
	    text-align: center;
	    padding-bottom: 5px;
	    margin: 0 auto;
	        margin-bottom: 0px;
	    padding: 10px;
	        padding-right: 10px;
	        padding-left: 10px;
	    padding-left: 10px;
	    padding-right: 10px;
	    display: inline-block;
	    margin-bottom: -20px;
	    border: 0 !important;
	    border-radius: 2px;
	}

	.widget
	 {
	    width: 100%;
	    display: inline-block;
	    margin: 0 0 30px 0;
	    padding: 0 0 30px 0;
	    display: block;
	    border-bottom: dotted 1px #ddd;
	    border-radius: 2px;
	    background-color: #fff;
	    padding: 20px;
	}
	#searchform label
	 {
	    display: none;
	}
	#searchform
	 {
	    position: relative;
	    z-index: 5;
	    width: 100%;
	}

	#searchform input, #secondary #searchform #searchsubmit
	 {
	    height: 38px;
	    font-family: 'Arimo', "Helvetica Neue", Helvetica, sans-serif;
	}
	#s 
	{
	    width: 100%;
	    border: none;
	    padding-right: 56px;
	    padding-left: 10px;
	    background: #fff;
	        background-color: rgb(255, 255, 255);
	    color: #999;
	    border-radius: 2px;
	    -webkit-transition: .07s ease-in;
	    -moz-transition: .07s ease-in;
	    transition: .07s ease-in;
	    background-color: #f0f3f4;
	}

	#searchform input, #secondary #searchform #searchsubmit
	 {
	    height: 38px;
	    font-family: 'Arimo', "Helvetica Neue", Helvetica, sans-serif;
	}
	#searchsubmit
	 {
	    position: absolute;
	    z-index: 10;
	    right: 0;
	    top: 0;
	    padding: 0 15px;
	    border: none;
	    background-color: #7ece2e;
	    color: #fff;
	    font-size: 16px;
	    -webkit-appearance: none;
	    border-radius: 0;
	        border-top-right-radius: 0px;
	        border-bottom-right-radius: 0px;
	    border-top-right-radius: 3px;
	    border-bottom-right-radius: 3px;
	    -webkit-transition: .07s ease-in;
	    -moz-transition: .07s ease-in;
	    transition: .07s ease-in;
	}

	.widget h2
	 {
	    font-weight: bold;
	    font-size: 16px;
	    margin: 0;
	    padding: 0 0 15px 0;
	}

	.lsi-social-icons
	 {
	    margin: 0 !important;
	    padding: 0 !important;
	    list-style-type: none !important;
	    display: block !important;
	}
	.lsi-social-icons li
	 {
	    padding: 0 !important;
	    display: inline-block !important;
	    *display: inline;
	    *zoom: 1;
	    float: none !important;
	    margin: 0 8px 8px 0 !important;
	    list-style-type: none !important;
	}
	.lsi-social-icons li a
	 {
	    line-height: 1.2em;
	    text-align: center;
	    font-style: normal !important;
	    font-weight: normal !important;
	    text-transform: none !important;
	}
	.widget ul 
	{
	    padding-left: 0px !important;
	}

	.widget ul li
	 {
	    list-style-type: none;
	    margin-bottom: 10px;
	    border-bottom: 1px dotted #C1C1C1;
	    padding-bottom: 5px;
	}

	.widget ul li a
	 {
	    color: #687A8A;
	    text-decoration: none;
	    -webkit-transition: .05s ease-in;
	    transition: .05s ease-in;
	}
	.fa-facebook::before
	 {
	    content: '\e80d';
	}

	.lsi-social-icons li a 
	{
	    padding: 8px;
	    width: 1.2em;
	    line-height: 1.2em;
	    text-align: center;
	    display: block;
	    text-decoration: none !important;
	    font-style: normal !important;
	    font-weight: normal !important;
	    text-transform: none !important;
	    speak: none;
	    -moz-transition: background-color 0.2s ease-in-out 0s;
	    -webkit-transition: background-color 0.2s ease-in-out 0s;
	    transition: background-color 0.2s ease-in-out 0s;
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box;
	    box-sizing: content-box;
	}

	.icon-set-lsi_widget-2 a, .icon-set-lsi_widget-2 a:visited, .icon-set-lsi_widget-2 a:focus 
	{
	    border-radius: 2px;
	    background: #7ece2e !important;
	    color: #FFFFFF !important;
	    font-size: 20px !important;
	}

	.widget ul li:last-child, .widget p:last-child
	 {
	    border-bottom: none;
	    padding-bottom: 0;
	    margin-bottom: 0;
	}
	.widget p
	 {
	    margin: 0 0 25px;
	        margin-bottom: 25px;
	}
	#sidebar a
	 {
    color: #8C99A4;
    }

    .couponcode
     {
	    text-align: center;
	    background-color: #eee;
	    padding: 35px;
	    border-radius: 2px;
	}
	.post-content a
	 {
	    color: #7ece2e;
	}
	.post-content img
	 {
	    max-width: 100%;
	    height: auto;
	    background-color: white;
	    padding: 3px;
	    border: 1px solid #DBDBDB;
	    -webkit-box-shadow: 0px 0px 8px 0px #ECECEC;
	    box-shadow: 0px 0px 8px 0px #ECECEC;
	    moz-box-shadow: 0px 0px 8px 0px #ECECEC;
	    margin: 0 auto;
	        margin-right: auto;
	    display: block;
	}
	.aligncenter
	 {
	    text-align: center;
	}
	.callout
	 {
	    background-color: #f3f3f3;
	    padding: 20px;
	        padding-top: 20px;
	        padding-bottom: 20px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border-radius: 5px;
	}
	#toc_container
	 {
	    background: #f9f9f9;
	    border: 1px solid #aaa;
	    padding: 10px;
	    margin-bottom: 1em;
	    width: auto;
	    display: table;
	    font-size: 95%;
	}
	#toc_container p.toc_title 
	{
	    text-align: center;
	    font-weight: 700;
	    margin: 0;
	    padding: 0;
	}
	#toc_container span.toc_toggle
	 {
	    font-weight: 400;
	    font-size: 90%;
	}
	#toc_container a
	 {
	    text-decoration: none;
	    text-shadow: none;
	}
	.post-content a {
	    color: #7ece2e;
	}
	.post-content h2
	 {
	    font-size: 26px;
	    border-bottom: dotted 2px #e6e6e6;
	    padding-bottom: 10px;
	}

	a.infobutton 
	{
	    color: white !important;
	    background-color: #7ece2e;
	    font-size: 16px;
	    margin-top: 10px;
	    margin-top: 20px;
	    width: 190px;
	    text-align: center;
	    padding-bottom: 5px;
	    margin-bottom: 20px;
	    margin: 0 auto;
	        margin-bottom: 0px;
	    padding: 10px;
	        padding-right: 10px;
	        padding-left: 10px;
	    padding-left: 10px;
	    padding-right: 10px;
	    display: inline-block;
	    margin-bottom: 20px;
	    border: 0 !important;
	    border-radius: 2px;
	}
	.post-content h2
	 {
	    font-size: 26px;
	    border-bottom: dotted 2px #e6e6e6;
	    padding-bottom: 10px;
	}
	p {
    margin-bottom: 1.6em;
}
	.post-content a
	 {
	    color: #55BEE6;
	}
	.infobutton
	 {
	    text-align: center !important;
	    margin: 0 auto;
	    border: 0 !important;
	}
	a.infobutton::after, a.hostingbutton::after
	 {
	    content: "»";
	    padding-left: 5px;
	}
	a.hostingbutton
	 {
	    color: white !important;
	    background-color: #548cff;
	    font-size: 16px;
	    margin-top: 10px;
	    margin-top: 20px;
	    width: 190px;
	    text-align: center;
	    padding-bottom: 5px;
	    margin-bottom: 20px;
	    margin: 0 auto;
	        margin-bottom: 0px;
	    padding: 10px;
	        padding-right: 10px;
	        padding-left: 10px;
	    padding-left: 10px;
	    padding-right: 10px;
	    display: inline-block;
	    margin-bottom: 20px;
	    border: 0 !important;
	    border-radius: 2px;
	}


	/* css for login page */
	form, fieldset
	 {
	    margin: 0;
	    padding: 0;
	    border-style: none;
	}
	#edd_login_form fieldset, #edd_register_form fieldset
	{
	    border: none;
	}

	#edd_login_form legend, #edd_register_form legend
	 {
	    font-size: 120%;
	    margin-bottom: 1em;
	}


	#edd_login_form label, #edd_register_form label, .edd-amazon-logout a, input.edd_submit_plain {
	    cursor: pointer;
	}

	#edd_login_form .edd-input, #edd_register_form .edd-input
	 {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	input[type="text"], input[type="email"], input[type="password"] 
	{
	    color: #8A949B;
	    border: none;
	    background: #F0F3F4;
	    width: 100%;
	    padding: 10px;
	    border-radius: 3px;
	    -webkit-appearance: none;
	    -webkit-transition: .07s ease-in;
	    -moz-transition: .07s ease-in;
	    transition: .07s ease-in;
	}
	.edd-input
	 {
	    margin-bottom: 30px;
	    width: 100%;
	}
	.edd-input, .vendor-dashboard #content input[type="text"], .vendor-dashboard #content input[type="email"], .vendor-dashboard #content textarea, .vendor-dashboard #content input[type="password"], .vendor-dashboard #content input[type="url"], .vendor-dashboard #content select, #edd_profile_editor_form select, #content div.fes-form fieldset .fes-fields input[type="text"], #content div.fes-form fieldset .fes-fields input[type="password"], #content div.fes-form fieldset .fes-fields input[type="email"], #content div.fes-form fieldset .fes-fields select, #content form .fes-fields .multiselect, #content div.fes-form fieldset .fes-fields select, #content div.fes-form fieldset .fes-fields textarea, #content div.fes-form fieldset .fes-fields input[type="url"] {
	    width: 100%;
	    max-width: 100%;
	    padding: 12px 15px;
	    height: 3em;
	    -webkit-transition: .07s ease-in-out;
	    transition: .07s ease-in-out;
	    color: #4a545a;
	    border: solid 1px transparent;
	    border-radius: 3px;
	    background: #eef2f5;
	    box-shadow: none;
	    webkit-box-shadow: none;
	    -webkit-appearance: none;
	}
	.edd-input 
	{
	    margin-bottom: 30px;
	    width: 100% !important;
	    display: block !important;
	    padding: 15px !important;
	}
	input, textarea, select
	 {
	    font: 100% arial, sans-serif;
	    vertical-align: middle;
	    color: #000;
	}

	#edd-purchase-button, .edd-submit, input[type="submit"].edd-submit 
	{
	    display: inline-block;
	    padding: 6px 12px;
	    margin: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.428571429;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}
	.edd-submit
	 {
	    background-color: #7ece2e !important;
	    color: white !important;
	    padding: 12px 17px !important;
	    border: 0px;
	    border-radius: 2px;
	    font-size: 16px;
	    line-height: 26px;
	}
	input, textarea, select
	 {
	    font: 100% arial, sans-serif;
	        font-weight: normal;
	        font-size: 100%;
	        line-height: normal;
	    vertical-align: middle;
	    color: #000;
	}
	.page #comments
	 {
	    margin-top: 8%;
	}
	#comments {
	    display: inline-block;
	    width: 100%;
	    overflow: hidden;
	    margin-top: 30px;
	}

	.comments-wrap
	 {
	    width: 100%;
	}
	.commentlist
	 {
	    list-style-type: none !important;
	    counter-reset: li;
	}
	.commentlist li
	 {
	    position: relative;
	    float: left;
	    width: 100%;
	    padding: 0 0 35px 0;
	    margin: 0 0 35px 0;
	    border-bottom: dotted 1px #e6e6e6;
	    position: relative;
	    list-style: none !important;
	}
	.commentlist li
	 {
	    list-style: none !important;
	}

	.comment-block
	 {
	    padding: 0;
	}
	.comment-info
	 {
	    margin-bottom: 20px;
	    position: relative;
	    display: inline-block;
	    width: 100%;
	}
	.vcard
	 {
	    width: 100%;
	    display: inline-block;
	}
	.vcard img
	 {
	    display: inline-block;
	    width: 35px;
	    height: auto;
	    border-radius: 50px;
	}
	img {
	    border-style: none;
	}
	.comment-meta
	 {
	    display: inline-block;
	    width: 75%;
	    margin: 0 0 7px 10px;
	}
	.fn 
	{
	    float: left;
	    width: 100%;
	    font-style: normal;
	    font-size: 20px;
	    line-height: 20px;
	    margin-top: 0;
	}
	.comment-text 
	{
	    position: relative;
	    font: 17px/1.5 "Helvetica Neue", Helvetica, sans-serif;
	}	
	.comment-text p.reply 
	{
	    margin-bottom: 0;
	    display: inline-block;
	    text-align: left;
	}
	.comment-time
	 {
	    text-transform: uppercase;
	    font-size: 10px;
	    color: #C5CCD1;
	    display: inline-block;
	    float: right;
	    margin-top: 8px;
	}
	#respond
	 {
	    margin: 0 0 0 0;
	    padding: 0 0 0 0;
	}
	#respond h3
	 {
	    font-size: 36px;
	    font-weight: 300;
	    display: inline-block;
	    margin: 0 0 10px 0;
	}
	.comment-reply-title
	 {
	    font-size: 26px !important;
	    padding-bottom: 10px;
	}

	#commentform p
	{
	    width: 100%;
	}
	#respond p
	{
	    margin-bottom: 15px;
	}
	#respond p
	{
	    position: relative;
	}
	.comments .logged-in-as, .comment-notes {
	    float: left;
	    font-size: 15px;
	    color: #aaa;
	    margin-bottom: 35px !important;
	}
	#respond .comment-form-comment 
	{
	    width: 100%;
	    display: inline-block;
	}

	#respond label
	 {
	    margin: 5px 0 0 0;
	}

	#respond textarea
	 {
	    width: 100%;
	}
	textarea
	 {
	    color: #8A949B;
	    border: none;
	    background: #F0F3F4;
	    width: 100%;
	    padding: 10px;
	    border-radius: 3px;
	    -webkit-transition: .07s ease-in;
	    -moz-transition: .07s ease-in;
	    transition: .07s ease-in;
	}
	input, textarea, select
	{
	    font: 100% arial, sans-serif;
	    vertical-align: middle;
	    color: #000;
	}

/*css for checkout page*/

	img.alignleft
	{
	    margin: 5px 25px 20px 0 !important;
	}
	img.alignleft, img.alignright
	{
	    padding: 5px;
	}
	.post-content img
	{
	    max-width: 100%;
	    height: auto;
	    background-color: white;
	    padding: 3px;
	    border: 1px solid #DBDBDB;
	    -webkit-box-shadow: 0px 0px 8px 0px #ECECEC;
	    box-shadow: 0px 0px 8px 0px #ECECEC;
	    moz-box-shadow: 0px 0px 8px 0px #ECECEC;
	    margin: 0 auto;
	    display: block;
	}
	.alignleft
	 {
	    float: left;
	}
	
	#content table
	 {
	    border: solid 1px #dddddd;
	    padding: 1% 3%;
	    margin-top: 40px;
	    margin-bottom: 40px;
	    -webkit-box-shadow: 0px 0px 8px 0px #ECECEC;
	    box-shadow: 0px 0px 8px 0px #ECECEC;
	    moz-box-shadow: 0px 0px 8px 0px #ECECEC;
	}
	#edd_checkout_cart 
	{
	    text-align: left;
	    width: 100%;
	    border: none;
	    margin: 0 0 21px;
	        margin-top: 0px;
	        margin-bottom: 21px;
	    table-layout: auto;
	}
	#content table td, #content table th 
	{
	    padding: 10px;
	}
	.post-content a
	{
	    color: #7ece2e;
	}
	
legend{border-bottom: none !important;}

	/*css for plugins page*/

	#portfoliolist .portfolio
	 {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -o-box-sizing: border-box;
	    width: 31%;
	    margin: 1%;
	        margin-bottom: 1%;
	    display: none;
	    overflow: hidden;
	    text-align: left;
	    background-color: #eee;
	    margin-bottom: 20px;
	    padding: 10px;
	}

	.portfolio-wrapper
	 {
	    overflow: hidden;
	    position: relative !important;
	    cursor: pointer;
	}
	.portfolio img 
	{
	    max-width: 100%;
	    position: relative;
	    top: 0;
	    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	    border: 0px !important;
	    padding: 0px;
	    -webkit-box-shadow: 0px 0px 0px 0px #ECECEC;
	    box-shadow: 0px 0px 0px 0px #ECECEC;
	    moz-box-shadow: 0px 0px 0px 0px #ECECEC;
	}

	a.text-title
	 {
	    color: #000 !important;
	    border: 0px !important;
	}

.footer {background:#fff; overflow:hidden; padding-top:25px; color:#A7B5C1; margin-top:40px}
.copyright {text-align:center; font-size:15px}
.copyright a {padding-left:3px; padding-right:3px}















	/*-----------  Responsive ---------- */
@media only screen and (min-width: 320px) and (max-width: 479px) 
{
	.header-inside
	{
    	padding:0;
	}
	.navbar{margin-bottom: 0 !important;}
	.navbar-collapse.in
 	{
		display: inline-block !important;
	}
	.navbar-default .navbar-nav > li > a
	{
		width: 100%;
		padding: 12px 0 !important;
	}
	.navbar-default .navbar-collapse
	 {
		border-top: none !important;
	}
	.heroimage
	 {
	    float: none;
	    width: 100%;
	    text-align: center;
	}
	.hero-title
	{
		padding: 10px 0;
   		 font-size: 24px !important;
	}
	.herotext 
	{
   		 text-align: center;
	    font-size: 17px;
	}
	.herotext p 
	{
    margin-bottom: 1.2em;
	}
	#hero .trade 
	{
	    font-size: 13px;
	    position: relative;
	    top: -8px;
	    left: 0px;
	}
	.herobuttons .button
	 {
	    width: 100% !important;
	    margin-bottom: 15px !important;
	    padding: 10px !important;
	}
	.herotext{padding-top: 5px;}
	#content-wrap
	 {
	    padding: 5% 15px;
	}
	.home #themefeatureshome
	 {
	    margin-top: -70px;
	    margin-bottom: 50px;
	}
	#themefeatureshome
	{
	    padding: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	    padding-top: 20px;
	    padding-bottom: 0px;
	    margin-bottom: -40px;
	}
	#themefeatures
	 {
	    padding: 10px;
	        padding-top: 10px;
	        padding-bottom: 10px;
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.themefeature
	 {
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;
	    margin-bottom: 40px;
	    padding-right: 40px;
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.cell-container 
	{
		width: 100%;
		float: left;
		overflow: hidden;
		text-align: left;
		margin-bottom: 40px;
	}
	.footer-inside .widget
	 {
	    width: 100%;
	}
	#mentions img{width: 100%;}
	#mentions p 
	{
	    font-size: 16px;
	}
	#footer 
	{
	    padding: 8% 0;
	}
	#footer .copyright
	 {
	    margin-top: 20px;
	}
	.galleryRespo{text-align: center;}

	#content1
	 {
	    width:100%;
	}
	.title-wrap 
	{
	    padding: 5%;
	}
	.entry-title
	 {
	    font-size: 17px;
		font-weight: bold;
	}
	.post .post-content
	 {
	    padding: 0 5%;
	}
	#content1 p 
	{
	    margin-bottom: 1.2em;
	    font-size: 14px;
	}
	#sidebar 
	{
	    width: 100%;
	    float: left;
	    margin-top: 10%;
	}
	.pricing 
	{
	    width: 100%;
	    display: block;
	    vertical-align: top;
	}
	.post ul li
	 {
	    font-size: 13px;
	}
	.post a.buybutton
	 {
	    margin-right: 10px;
	    padding: 10px 15px;
	    display: block;
	    width: 100%;
	    margin-bottom: 10px;
	}
	#edd_checkout_cart .edd_cart_header_row th 
	{
	    padding:12px 0 !important;
	}
	#content table
	{
    	margin: 17px -27px !important;
    }
    legend {border-bottom: none !important; }
    .post {
    padding: 5px;
	}
	.comment-text
	 {
	    margin-right: 25px;
	}
	.title-meta
	 {
	    font-size: 13px !important;
	}
	.title-meta .fa {
	    margin-left:0px;
	    font-size: 10px !important;
	}
}
 @media only screen and (min-width: 480px) and (max-width: 767px)
{

	.header-inside
	{
    	padding:0;
	}
	.navbar{margin-bottom: 0 !important;}
	.navbar-collapse.in
 	{
		display: inline-block !important;
	}
	.navbar-default .navbar-nav > li > a
	{
		width: 100%;
		padding: 12px 0 !important;
	}
	.navbar-default .navbar-collapse
	{
		border-top: none !important;
	}
	.heroimage
	{
	    float: none;
	    width: 100%;
	    text-align: center;
	}
		.hero-title
	{
		padding: 10px 0;
   		 font-size: 24px !important;
	}
		.herotext 
	{
   		 text-align: center;
	    font-size: 17px;
	}
	.herotext p 
	{
    margin-bottom: 1.2em;
	}
	#hero .trade 
	{
	    font-size: 13px;
	    position: relative;
	    top: -8px;
	    left: 0px;
	}
		.herobuttons .button
	 {
	    width: 100% !important;
	    margin-bottom: 15px !important;
	    padding: 10px !important;
	}
	.herotext{padding-top: 5px;}
	#content-wrap
	 {
	    padding: 5% 15px;
	}
		.home #themefeatureshome
	 {
	    margin-top: -70px;
	    margin-bottom: 50px;
	}
	#themefeatureshome
	{
	    padding: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	    padding-top: 20px;
	    padding-bottom: 0px;
	    margin-bottom: -40px;
	}
	#themefeatures
	 {
	    padding: 10px;
	        padding-top: 10px;
	        padding-bottom: 10px;
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.themefeature
	 {
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;
	    margin-bottom: 40px;
	    padding-right: 40px;
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.cell-container 
	{
		width: 100%;
		float: left;
		overflow: hidden;
		text-align: left;
		margin-bottom: 40px;
	}
	.footer-inside .widget
	 {
	    width: 100%;
	}
	#mentions img{width: 100%;}
	#mentions p 
	{
	    font-size: 16px;
	}
	#footer 
	{
	    padding: 8% 0;
	}
	#footer .copyright
	 {
	    margin-top: 20px;
	}
	.galleryRespo{text-align: center;}

	#content1
	 {
	    width:100%;
	}
	.title-wrap 
	{
	    padding: 5%;
	}
	.entry-title
	 {
	    font-size: 17px;
		font-weight: bold;
	}
	.post .post-content
	 {
	    padding: 0 5%;
	}
	#content1 p 
	{
	    margin-bottom: 1.2em;
	    font-size: 14px;
	}
	#sidebar 
	{
	    width: 100%;
	    float: left;
	    margin-top: 10%;
	}
	.pricing 
	{
	    width: 100%;
	    display: block;
	    vertical-align: top;
	}
	.post ul li
	 {
	    font-size: 13px;
	}
	.post a.buybutton
	 {
	    margin-right: 10px;
	    padding: 10px 15px;
	    display: block;
	    width: 100%;
	    margin-bottom: 10px;
	}
		#edd_checkout_cart .edd_cart_header_row th 
	{
	    padding:12px 10px !important;
	}
	#content table
	{
    	margin: 17px 0px !important;
    }
     legend {border-bottom: none !important; }
    .post { padding: 5px;}

}
@media only screen and (min-width: 768px) and (max-width: 992px) 
{
	.navbar-brand{padding: 0 !important;margin-top: 5 !important;height: 30px !important;}
	.nav > li > a
	{
	 padding: 8px 12px !important;
	}
	.header-inside {
    	padding:5px 5px;

	}
	.heroimage 
	{
	    float: none;
	    width: 100%;
	    text-align: center;
	}
		.hero-title
	{
			padding: 10px 0;
   		 font-size: 24px !important;
	}
		.herotext 
	{
   		text-align: center;
	    font-size: 17px;
	}
	.herotext p
	 {
    	margin-bottom: 1.2em;
	}
	#hero .trade 
	{
	    font-size: 13px;
	    position: relative;
	    top: -8px;
	    left: 0px;
	}
	.herobuttons .button
	 {
	    width: 100% !important;
	    margin-bottom: 15px !important;
	    padding: 10px !important;
	}
	.herotext{padding-top: 5px;}
	#content-wrap
	 {
	    padding:0 15px;
	}
		.home #themefeatureshome
	 {
	    margin-top: -70px;
	    margin-bottom: 50px;
	}
	#themefeatureshome
	{
	    padding: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	    padding-top: 20px;
	    padding-bottom: 0px;
	    margin-bottom: -40px;
	}
	#themefeatures
	 {
	    padding: 10px;
	        padding-top: 10px;
	        padding-bottom: 10px;
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.themefeature
	 {
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;
	    margin-bottom: 40px;
	    padding-right: 40px;
	    margin-left: 0px;
	    margin-right: 0px;
	}
	.cell-container 
	{
		width:100%;

	}
		.footer-inside .widget
	 {
	    width: 100%;
	}
	#mentions img{width: 100%;}
	#mentions p 
	{
	    font-size: 16px;
	}
	#footer 
	{
	    padding: 8% 0;
	}
	#footer .copyright
	 {
	    margin-top: 20px;
	}
	.galleryRespo{text-align: center;}

	#content1
	 {
	    width:100%;
	}
	.title-wrap 
	{
	    padding: 5%;
	}
	.entry-title
	 {
	    font-size: 17px;
		font-weight: bold;
	}
	.post .post-content
	 {
	    padding: 0 5%;
	}
	#content1 p 
	{
	    margin-bottom: 1.2em;
	    font-size: 14px;
	}
	#sidebar 
	{
	    width: 100%;
	    float: left;
	    margin-top: 10%;
	}
	.pricing 
	{
	    width: 100%;
	    display: block;
	    vertical-align: top;
	}
	.post ul li
	 {
	    font-size: 13px;
	}
	.post a.buybutton
	 {
	    margin-right: 10px;
	    padding: 10px 15px;
	    display: block;
	    width: 100%;
	    margin-bottom: 10px;
	}

}

@media only screen and (min-width: 993px) and (max-width: 1170px) {
	.navbar-brand
	 {

	    width: 186px;
	 }

	 .herotext{padding-top: 5px;}

	 .cell-container 
	{
		width:273px;

	}

}