html,body,#container {
	background: #f0f2f6;
}

header {
	background: url(banner.jpg) repeat-x;
	padding: 70px 0;
	text-align: center;
	margin-top: -3px;
}

.logo {
	margin-bottom: 20px;
}

header p{
	font-size: 15px;
	font-family: 'Titillium Web';
	color: #fff;
	margin: 0;
}

.choose h1 {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #191b1f;
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: normal;
	font-family: 'Titillium Web';
}

.choose {
	text-align: center;
	background: #f2f4f5;
	margin: 80px 0;
}



.choose-item {
	margin-bottom: 20px;
}

.choose-item img {
	width: 100%;
}

.choose-item  p {
	font-family: 'Titillium Web';
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: #191b1f;
	margin-bottom: 0;
	margin-top: 20px;
	font-weight: 700;
}

.choose-item:hover p {
	color: #f1501a;
}

.choose-item a:hover {
	text-decoration: none;
}

footer {
	background: #0d0e11;
	padding: 20px 0;
	text-align: center;
	color: #93959d;
	font-size: 13px;
	font-family: 'Open Sans';
}

footer a {
	color: #93959d;
}

footer a:hover {
	color: #fff;
}


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(preloader.GIF); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
